<div bsModal #editDeductionModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="editDeductionModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">

        <div #modalContent class="modal-content">

            
           
                <div class="card">
                    <form *ngIf="active" #editDeductionForm="ngForm" id="frm_edit_deduction" novalidate (ngSubmit)="onType()">

                        <div class="card-header card-header-blue card-header-icon">
                            <div class="card-icon">
                                    <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
                            </div>
                            <h4 class="card-title">Edit Deduction</h4>
                          </div>
                          <br />
                          <div class="card-body ">
                            <form method="#" action="#">
                              
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                    
                                            <!-- <input matInput placeholder="Document No" [(ngModel)]="deduction.docNo" name="docNo"  type="text" disabled />
                                                                             -->
                                    
                                            <input matInput placeholder="Document No" name="docNo" [(ngModel)]="deduction.docNo" type="text" *ngIf="isAutoCode"
                                                disabled />
                                    
                                            <input matInput placeholder="Document No" name="docNo" [(ngModel)]="deduction.docNo" *ngIf="!isAutoCode" type="text" />
                                    
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field>
                                            <mat-placeholder>Document Date</mat-placeholder>
                                            <input matInput [matDatetimepicker]="datetimePicker1" [(ngModel)]="deduction.docDate" required autocomplete="true"  name="myDate">
                                            <mat-datetimepicker-toggle [for]="datetimePicker1" matSuffix ></mat-datetimepicker-toggle>
                                            <mat-datetimepicker #datetimePicker1  touchUi = "true" type="datetime" openOnFocus="true" timeInterval="5"  ></mat-datetimepicker>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6" [formGroup]="_deductionValidation">
                                        <mat-form-field >
                                            <input matInput [matDatepicker]="picker" placeholder="Deduction date" [(ngModel)]="deduction.deductionDate" name="deductionDate"  (click)="picker.open()"  formControlName="deductionDate">
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                            <mat-error>  Deduction Date Field is required </mat-error>
                                          </mat-form-field>
                                    </div>
                                    <div class="col-md-5" [formGroup]="_deductionValidation">

                                        <mat-form-field>
                                            <mat-select placeholder="Select Employee" [(ngModel)]="deduction.employeeId" name="employeeId"
                                                formControlName="employeeId">
                                                <mat-option *ngFor="let option of employee" [value]="option.id">{{option.employee_Name}}</mat-option>
                                            </mat-select>
                                            <mat-error> Employee Field is required </mat-error>
                                        </mat-form-field>

                                    </div>
                                    <div class="col-md-1 ">
                                        <div style="padding-top: 16px; cursor:pointer;">
                                            <i class="fa fa-search" aria-hidden="true" (click)="addSearchDD()"></i>
                                        </div>
                                    </div>

                                </div>

                                <div class="row" [formGroup]="_deductionValidation">
                                    <div class="col-md-6" >
                                        <mat-form-field>
                                            <mat-select placeholder="Select Deduction Type" [(ngModel)]="deduction.deductionTypeId" name="deductionType" formControlName="deductionTypeId">
                                                <!-- <mat-option value="1">Development</mat-option>
                                                <mat-option value="2">Support</mat-option> -->
                                                <mat-option *ngFor='let option of deductionType' [value]="option.id">{{ option.deductionTitle }}</mat-option>
  
                                              </mat-select>
                                              <mat-error>  Deduction Type Field is required </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6" >
                                        <mat-form-field class="example-full-width" >
                                            <input matInput placeholder="Amount" [(ngModel)]="deduction.amount" name="amount" type="number" formControlName="deductionAmount"/>
                                            <mat-error>  Deduction Amount Field is required </mat-error>
                                          </mat-form-field>
                                    </div>
                                </div>

                             
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Deduction detail" [(ngModel)]="deduction.deductionDetail" name="deductionDetail" type="text" />
                                  </mat-form-field>

                            
                            </form>
                          </div>

                          <div class="card-footer ">
                                <button mat-raised-button type="button" class="btn" (click)="close()">Close</button>
                            <button mat-raised-button type="submit" class="btn btn-fill btn-info">Submit</button>
                            
                          </div>

                    </form>                    
                </div>

           
        </div>
    </div>
</div>
<app-search-edit-employee #searchEditEmployeeDropdownModal (modalSave)="EmployeeId($event)"></app-search-edit-employee>