﻿<!-- <div class="card" [@routerTransition]>
    <div #cardBody class="body">
        <form #registerForm="ngForm" method="post" novalidate (ngSubmit)="save()">
            <h4 class="text-center">{{l("Register")}}</h4>

            <div class="form-group form-float">
                <div class="form-line">
                    <input materialInput class="form-control" autoFocus type="text" [(ngModel)]="model.name" name="Name" required maxlength="32" />
                    <label class="form-label">{{l('Name')}}</label>
                </div>
            </div>

            <div class="form-group form-float">
                <div class="form-line">
                    <input materialInput class="form-control" type="text" [(ngModel)]="model.surname" name="Surname" required maxlength="32" />
                    <label class="form-label">{{l('Surname')}}</label>
                </div>
            </div>

            <div class="form-group form-float">
                <div class="form-line">
                    <input materialInput class="form-control" type="email" [(ngModel)]="model.emailAddress" name="EmailAddress" required maxlength="255" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$" />
                    <label class="form-label">{{l('EmailAddress')}}</label>
                </div>
            </div>

            <div class="form-group form-float">
                <div class="form-line">
                    <input materialInput class="form-control" type="text" autocomplete="off" [(ngModel)]="model.userName" name="UserName" required maxlength="32" />
                    <label class="form-label">{{l('UserName')}}</label>
                </div>
            </div>

            <div class="form-group form-float">
                <div class="form-line">
                    <input materialInput class="form-control" type="password" [(ngModel)]="model.password" name="Password" required maxlength="32" />
                    <label class="form-label">{{l('Password')}}</label>
                </div>
            </div>

            <div class="form-actions">
                <button [disabled]="saving" [routerLink]="['../login']" type="button" class="btn btn-default">{{l("Back")}}</button>
                <button type="submit" class="btn btn-success" [disabled]="!registerForm.form.valid">{{l("Submit")}}</button>
            </div>

        </form>
    </div>
</div> -->


<div class="bg" style="background-image: url(/assets/images/login-back-cover.png);">

    <div class="container-fluid">
            <br />
            <div class="float-right">
                <a [routerLink]="['../login']"><button class="btn btn-outline-primary">Back to Login</button></a>
            </div>
    </div>

<div class="container" [@routerTransition]>
		
    <br /><br /><br />

    <div class="row">
        
        <div class="col-md-7">
        </div>

        <div class="col-md-5" style="background-image:url(/assets/images/login-bg.png);">  
            <br />

        <div class="col-md-12">

            <div style="background-color: #0078d7; padding: 20px;">
                <!-- <center> -->
                    <div class="center">
                        <img src="/assets/images/gluon-logo-1.png" alt="gluon-logo-1" />
                    </div>
                <!-- </center> -->
            </div>
            <br /><br />
            <div #cardBody class="col-md-12">
            
                <!-- <center> -->
                    <div class="col-md-9 float-right">
                        <strong>New Company Sign Up</strong>
                    </div>
                <!-- </center> -->
                <br /><br />
                    <form #registerForm="ngForm" method="post" novalidate (ngSubmit)="save()">

                      <div class="form-row">
                        <div class="col-md-12">
                            <!--<label for="validationCustom01">First name</label> -->
                          <input materialInput class="form-control" autoFocus type="text" [(ngModel)]="model.name" name="Name" required maxlength="32" placeholder="Name">
                          <!-- <div class="valid-feedback">
                            Looks good!
                          </div>
                          <div class="invalid-feedback">
                            Please provide a valid company name.
                          </div> -->
                        </div>
                    </div>
                    
                    <br />
                    <div class="form-row">
                        <div class="col-md-12">
                            <!--<label for="validationCustom01">First name</label> -->
                          <input placeholder="Surname" materialInput class="form-control" type="text" [(ngModel)]="model.surname" name="Surname" required maxlength="32">
                          <!-- <div class="valid-feedback">
                            Looks good!
                          </div>
                          <div class="invalid-feedback">
                            Please provide a valid company address.
                          </div>-->
                        </div> 
                    </div>

                    <br />
                    <div class="form-row">
                        <div class="col-md-12">
                            <!--<label for="validationCustom01">First name</label> -->
                          <input placeholder="Email Address" materialInput class="form-control" type="email" [(ngModel)]="model.emailAddress" name="EmailAddress" required maxlength="255" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$">
                          <!-- <div class="valid-feedback">
                            Looks good!
                          </div>
                          <div class="invalid-feedback">
                            Please provide a valid Landline number.
                          </div> -->
                        </div>
                    </div>

                    <br />
                    <div class="form-row">
                        <div class="col-md-12">
                            <!--<label for="validationCustom01">First name</label> -->
                          <input placeholder="Username"  materialInput class="form-control" type="text" autocomplete="off" [(ngModel)]="model.userName" name="UserName" required maxlength="32">
                          <!-- <div class="valid-feedback">
                            Looks good!
                          </div>
                          <div class="invalid-feedback">
                            Please provide a valid Email ID.
                          </div> -->
                        </div>
                    </div>

                    <br />
                    <div class="form-row">
                        <div class="col-md-12">
                            <!--<label for="validationCustom01">First name</label> -->
                          <input placeholder="Password" materialInput class="form-control" type="password" [(ngModel)]="model.password" name="Password" required maxlength="32">
                          <!-- <div class="valid-feedback">
                            Looks good!
                          </div>
                          <div class="invalid-feedback">
                            Please provide a valid Email ID.
                          </div> -->
                        </div>
                    </div>
                    
                    <br /><br />
                    <!-- <center> -->
                        <div class="col-md-7 float-right">
                            <button type="submit" class="btn btn-primary" [disabled]="!registerForm.form.valid">Sign Up</button>
                        </div>
                    <!-- </center> -->

<!-- 						<div class="form-group">
                      <select class="form-control" id="sel1">
                        <option>Select Database</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                      </select>
                    </div> -->
                    <br />
                    <br />
                    <br />
                
                </form>
            
            </div>
            </div>
        </div>

        <div class="col-md-3">
        </div>

    </div>

</div>

</div>
