<div bsModal #addAttendanceModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="addAttendanceModal"
  aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog">


    <div #modalContent class="modal-content">



      <div class="card">

        <div class="card-header card-header-blue card-header-icon">
          <div class="card-icon">
            <i class="fa fa-floppy-o fa-2x" aria-hidden="true"></i>
          </div>
          <h4 class="card-title">Add Attendance</h4>
        </div>
        <br />


        <form *ngIf="active" #addAttendanceForm="ngForm" id="frm_add_attendance" novalidate (ngSubmit)="onType()">


          <div class="card-body ">


            <div class="row" [formGroup]="_attendance">
              <div class="col-md-6" >
                <!-- <mat-form-field>
                  <mat-placeholder>Select Employee</mat-placeholder>
                  <mat-select class="example-full-width" [(ngModel)]="Attendance.employeeId" name="employeeId" formControlName="employeeId">
                    <mat-option *ngFor="let option of employee " [value]="option.id">{{option.employee_Name}}</mat-option>
                  </mat-select>
                  <mat-error>  Employee Name is required </mat-error>
                </mat-form-field> -->
                <mat-form-field class="example-full-width">
                  <input type="text" placeholder="Select Employee" matInput [formControl]="myControl" [matAutocomplete]="auto"
                    [(ngModel)]="empName" name="empName" formControlName="employeeId">
                  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayEmployee">
                    <mat-option *ngFor="let option of filteredOptions | async " [value]="option">
                      {{option.employee_Name}}
                    </mat-option>
                  </mat-autocomplete>
                  <mat-error> Enter Valid employee Name </mat-error>
              </mat-form-field>

              </div>
              <div class="col-md-6">
                  <!-- <input matInput [matDatepicker]="picker2" [(ngModel)]="Attendance.attendanceDate" name="attendanceDate" placeholder="Attendance date"
                    (click)="picker2.open()">
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker> -->

                  <mat-form-field>
                    <mat-placeholder>Attendance Date</mat-placeholder>
                    <input matInput [matDatetimepicker]="datetimePicker2" required autocomplete="true" [(ngModel)]="attendanceDate" name="attendanceDate" formControlName="attendanceDate">
                    <mat-datetimepicker-toggle [for]="datetimePicker2" matSuffix></mat-datetimepicker-toggle>
                    <mat-datetimepicker #datetimePicker2 touchUi="true" type="datetime" openOnFocus="true" timeInterval="5"></mat-datetimepicker>
                    <mat-error>  Attendance Date is required </mat-error>
                  </mat-form-field>
                
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <mat-form-field>
                  <mat-select placeholder="Select Attendance Type" name="attendanceType" [(ngModel)]="Attendance.attendanceType">
                    <mat-option value="Check In">Check In </mat-option>
                    <mat-option value="Check Out">Check Out</mat-option>

                  </mat-select>
                </mat-form-field>
              </div>

            </div>

            <div class="row">
              <div class="col-md-12">
                <mat-form-field class="example-full-width">
                  <textarea matInput placeholder="Comments" rows="2" [(ngModel)]="Attendance.comments" name="comments"></textarea>
                </mat-form-field>
              </div>
            </div>


          </div>

          <div class="card-footer ">
              <button mat-raised-button type="button" class="btn " (click)="close()">Close</button>
            <button mat-raised-button type="submit" class="btn btn-fill btn-info">Submit</button>


          </div>

        </form>
      </div>


    </div>
  </div>
</div>