<div bsModal #editHRConfigurationModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog"
  aria-labelledby="editHRConfigurationModal" aria-hidden="true" [config]="{backdrop: 'static'}">


  <div class="modal-dialog">

    <div #modalContent class="modal-content">



      <div class="card">
        <form *ngIf="active" #addHRConfigurationForm="ngForm" id="frm_HR_Configuration" novalidate (ngSubmit)="save()">

          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">mail_outline</i>
            </div>
            <h4 class="card-title">Edit HR Configuration</h4>
          </div>
          <br />
          <div class="card-body ">

            <div class="row">


              <div class="col-md-4">
                <mat-form-field>

                    <p>Auto Code : </p>
                
                </mat-form-field>
              </div>
              <div class="col-md-8">

                <mat-form-field>
                  <div class="togglebutton">
                   
                      <input type="checkbox" checked="" name="active" [(ngModel)]="HrConfiguration.autoCode">
                      <span class="toggle"></span>
                     
                  </div>


                </mat-form-field>

              </div>
            </div>
          </div>

          <div class="card-footer ">

            <button mat-raised-button type="button" class="btn " (click)="close()">Cancle</button>
            <button mat-raised-button type="submit" class="btn btn-fill btn-rose">Submit</button>


          </div>


        </form>
      </div>


    </div>

  </div>
</div>