<div class="main-content">
  <div class="container-fluid">
    <div class="col-md-12 mr-auto ml-auto">
      <!--      Wizard container    [formGroup]="type"    -->
      <div class="wizard-container">
        <div class="card card-wizard" data-color="blue" id="wizardProfile">
          <form  action="" method="">
            <!--        You can switch " data-color="primary" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
            <div class="card-header text-center">
              <h3 class="card-title">
                Salary Wizard
              </h3>
              <h5 class="card-description">This information will help us in generating employee's salary.</h5>
            </div>
            <div class="wizard-navigation">

              <ul class="nav nav-pills">

                <li class="nav-item">
                  <a class="nav-link active" href="#payroll1" data-toggle="tab" role="tab">
                    Payroll
                  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#company" data-toggle="tab" role="tab">
                    Company
                  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#costcenterhead" data-toggle="tab" role="tab">
                    Cost Center Head
                  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#costcenter" data-toggle="tab" role="tab">
                    Cost Center
                  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#department" data-toggle="tab" role="tab">
                    Department
                  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#deduction" data-toggle="tab" role="tab">
                    Deduction
                  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#allowance" data-toggle="tab" role="tab">
                    Allowance
                  </a>
                </li>

              </ul>

            </div>
            <div class="card-body">
              <div class="tab-content">

                <div class="tab-pane active" id="payroll1">
                  <!-- <h5 class="info-text"> Let's start with the basic information (with validation)</h5> -->
                  <div class="row">
                    <div class="col-md-3">
                      <mat-form-field>
                        <mat-select placeholder="Select Payroll" name="employee" [ngModelOptions]="{standalone: true}" [(ngModel)]="salaryWizardDataObj.payroll">
                          <mat-option value="Monthly">Monthly</mat-option>
                          <!-- <mat-option value="Daily">Daily</mat-option> -->
                          <mat-option value="Production">Production</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <div class="col-md-3">
                      <mat-form-field>
                        <input matInput [matDatepicker]="pickersalary" placeholder="Salary date" name="salaryDate" [ngModelOptions]="{standalone: true}" [(ngModel)]="salaryWizardDataObj.salaryDate"
                          (click)="pickersalary.open()">
                        <mat-datepicker-toggle matSuffix [for]="pickersalary"></mat-datepicker-toggle>
                        <mat-datepicker #pickersalary></mat-datepicker>
                      </mat-form-field>
                    </div>

                  </div>
                </div>

                <div class="tab-pane" id="company">
                  <!-- <div class="row">

                    <div class="col-md-2">
                      <a href="">
                        <i class="fa fa-building-o large-icon center" aria-hidden="true"></i>
                        <div class="center">GFC Gujrat</div>

                      </a>
                    </div>

                    <div class="col-md-2">
                      <a href="">
                        <i class="fa fa-building-o large-icon center" aria-hidden="true"></i>
                        <div class="center">GFC Sargodah</div>

                      </a>
                    </div>

                    <div class="col-md-2">
                      <a href="">
                        <i class="fa fa-building-o large-icon center" aria-hidden="true"></i>
                        <div class="center">GFC Lahore</div>

                      </a>
                    </div>

                  </div> -->

                  <div class="row">
                    <div class="col-sm-2">
                      <div class="choice" data-toggle="wizard-checkbox">
                        <input type="checkbox" name="jobb" value="Design">
                        <div class="icon">
                          <i class="fa fa-building-o large-icon center" aria-hidden="true"></i>
                        </div>
                        <h6>GFC Gujrat</h6>
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="choice" data-toggle="wizard-checkbox">
                        <input type="checkbox" name="jobb" value="Code">
                        <div class="icon">
                          <i class="fa fa-building-o large-icon center" aria-hidden="true"></i>
                        </div>
                        <h6>GFC Sargodah</h6>
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="choice" data-toggle="wizard-checkbox">
                        <input type="checkbox" name="jobb" value="Develop">
                        <div class="icon">
                          <i class="fa fa-building-o large-icon center" aria-hidden="true"></i>
                        </div>
                        <h6>GFC Lahore</h6>
                      </div>
                    </div>
                  </div>


                </div>


                <div class="tab-pane" id="costcenterhead">
                  <div class="row">


                    <!-- <div class="choice" *ngFor="let h of costCenterHeads" data-toggle="wizard-checkbox">
                        <input type="checkbox" name="jobb" value="Design{{h.id}}" id="costcenterheads{{ h.id }}">
                        <div class="icon">
                          <i class="fa fa-building-o large-icon center" aria-hidden="true"></i>
                        </div>
                        {{ h.costCenterGroup }}
                        </div> -->

                    <div *ngFor="let h of costCenterHeads" class="checkbox">

                      <div class="col-sm-3">
                        <label for="costCenterHead{{h.id}}">
                          <input type="checkbox" id="salaryCostCenterHead{{h.id}}" (change)="onCostCenterHeadToggle(h.costCenterGroup, $event)">
                          <div class="icon">
                            <i class="fa fa-building-o large-icon center" aria-hidden="true"></i>
                          </div>
                          <h6>{{h.costCenterGroup}}</h6>
                        </label>
                      </div>

                    </div>


                  </div>
                </div>
                <div class="tab-pane" id="costcenter">
                  <div class="row">
                    <div *ngFor="let c of costCenters" class="checkbox">
                        <div class="col-sm-3">
                          <label for="costCenters {{ c.id }}">
                            <input type="checkbox" name="salaryCostCenter" id="costCenters {{ c.id }}"  (change)="onCostCenterToggle(c.id, $event)" >
                            <div class="icon">
                              <i class="fa fa-building-o large-icon center" aria-hidden="true"></i>
                            </div>
                            <h6>{{c.name}}</h6>
                          </label>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="tab-pane" id="department">
                  <div class="row">
                    <div *ngFor="let d of department" class="checkbox">

                        <div class="col-sm-3">
                          <label for="department{{d.id}}">
                            <input type="checkbox"  name="salaryDepartment" id="department{{d.id}}" (change)="onDepartmentToggle(d.id, $event)" >
                            <div class="icon">
                              <i class="fa fa-building-o large-icon center" aria-hidden="true"></i>
                            </div>
                            <h6>{{d.title}}</h6>
                          </label>
                        </div>
  
                      </div>


                  </div>

                </div>

                <div class="tab-pane" id="deduction">
                  <div class="row">
                    <div class="col-md-2">
                      <div class="togglebutton">
                        <label>
                          <input type="checkbox"  name="salaryDeduction" [ngModelOptions]="{standalone: true}" [(ngModel)]="salaryWizardDataObj.SalaryDeduction">
                          <span class="toggle"></span>
                          Deduction
                        </label>
                      </div>
                    </div>

                    <div class="col-md-2">
                      <div class="togglebutton">
                        <label>
                          <input type="checkbox"  name="salaryFine" [ngModelOptions]="{standalone: true}" [(ngModel)]="salaryWizardDataObj.SalaryFine">
                          <span class="toggle"></span>
                          Fine
                        </label>
                      </div>
                    </div>

                  </div>


                </div>

                <div class="tab-pane" id="allowance">
                  <div class="row">
                    <div class="col-md-2">
                      <div class="togglebutton">
                        <label>
                          <input type="checkbox"  name="salaryAllowance" [ngModelOptions]="{standalone: true}" [(ngModel)]="salaryWizardDataObj.SalaryAllowance">
                          <span class="toggle"></span>
                          Allowances
                        </label>
                      </div>
                    </div>

                    <div class="col-md-2">
                      <div class="togglebutton">
                        <label>
                          <input type="checkbox"  name="salaryBonus" [ngModelOptions]="{standalone: true}" [(ngModel)]="salaryWizardDataObj.SalaryBonus"  >
                          <span class="toggle"></span>
                            Bonus
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="mr-auto">
                <input type="button" class="btn btn-previous btn-fill btn-default btn-wd disabled" name="previous" value="Previous">
              </div>
              <div class="ml-auto">
                <input type="button" class="btn btn-next btn-fill btn-info btn-wd" name="next" value="Next">
                <input type="button" class="btn btn-finish btn-fill btn-rose btn-wd" name="finish" value="Finish" (click)="fetchRecord()" style="display: none;">
              </div>
              <div class="clearfix"></div>
            </div>
          </form>
        </div>
      </div>
      <!-- wizard container -->
    </div>
  </div>
</div>