
<div class="main-content">
    <div class="container-fluid">
            <button mat-raised-button class="btn btn-success btn-sm" (click)="save()">Save</button>
            <button mat-raised-button class="btn btn-success btn-sm" (click)="getGeneratedSalaries()">Generated Salaries </button>
            <!-- <button mat-raised-button class="btn btn-success btn-sm" (click)="onRemoveSelected()">Delete </button> -->
            <div >
                    Page Size:
                    <select (change)="onPageSizeChanged(PageSize.value)" id="page-size" #PageSize>
                        <option value="10" selected="">10</option>
                        <option value="100">100</option>
                        <option value="500">500</option>
                        <option value="1000">1000</option>
                    </select>
            </div>
            <ag-grid-angular style="width: 100%; height: 400px;"
                class="ag-theme-balham"
                (gridReady)="onGridReady($event)"
                [columnDefs]="columnDefs"
                [enableSorting]="true"
                [enableFilter]="true"
                [floatingFilter]="true"
                [rowData]="rowData"
                [pagination]="true"
                [animateRows]="true"
                [rowSelection]="rowSelection"
                [defaultColDef]="defaultColDef" (cellValueChanged)="onCellValueChanged($event)">
            </ag-grid-angular>       

            
    </div>
    

    
</div>