<div bsModal #editCompanyInfoModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="editCompanyInfoModal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">

        <div #modalContent class="modal-content">


            <div class="card">
                <form *ngIf="active" #addDepartmentForm="ngForm" id="frm_add_pos" novalidate (ngSubmit)="save()">

                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">mail_outline</i>
                        </div>
                        <h4 class="card-title">Edit Company Information</h4>
                    </div>
                    <br />
                    <div class="card-body ">
                        <form method="#" action="#">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Code" type="Code">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Prefix" type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Name" type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Legal Name" type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Phone No" type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Email" type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Fax" type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Web Page" type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Address" type="text">
                            </mat-form-field>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-select placeholder="Single City" name="city">

                                            <!-- <mat-option *ngFor="let city of cities" [value]="city.value">
                                                                    {{ city.viewValue }}
                                                                  </mat-option> -->
                                            <mat-option value="One">One</mat-option>
                                            <mat-option value="Two">Two</mat-option>
                                            <mat-option value="Three">Three</mat-option>
                                            <mat-option value="Four">Four</mat-option>
                                            <mat-option value="Five">Five</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Sales Tax Account" type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Commercial Invoice" type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="number" min="0" max="2" placeholder="Sort Order">
                                    </mat-form-field>
                                </div>
                            </div>
                            <!-- <div class="togglebutton">
                                        <label>
                                            <input type="checkbox" checked="">
                                            <span class="toggle"></span>
                                            Active
                                        </label>
                                    </div> -->
                        </form>
                    </div>

                    <div class="card-footer ">

                        <button mat-raised-button type="submit" class="btn btn-fill btn-rose">Submit</button>
                        <button mat-raised-button type="button" class="btn " (click)="close()">Cancle</button>

                    </div>

                </form>
            </div>
            <!-- <form *ngIf="active" #editCompanyInfoForm="ngForm" id="frm_edit_company" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                        <h4 class="modal-title">
                                <span>{{l("Edit Company Info")}}</span>
                            </h4>
                            
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    
                </div>
                <div class="modal-body">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane animated fadeIn active" id="user-details">
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                                <label for="companycode" class="form-label">Company Code</label>
                                                <input id="companycode" type="text" name="companycode" [(ngModel)]="CompanyInfo.companyCode" required maxlength="32" minlength="2" class="validate form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <label for="prefix" class="form-label">Prefix</label>
                                            <input id="prefix" type="text" name="prefix" [(ngModel)]="CompanyInfo.prefix" required maxlength="32" class="validate form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
  
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <label for="companyname" class="form-label">Company Name</label>
                                            <input id="companyname" type="companyname" name="companyname" [(ngModel)]="CompanyInfo.companyName" maxlength="256" class="validate form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
  
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <label for="legalname" class="form-label">Legal Name</label>
                                            <input id="legalname" type="text" name="legalname" [(ngModel)]="CompanyInfo.legalName"  required maxlength="32" class="validate form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
  
                            <div class="row clearfix">
                                    <div class="col-sm-6">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                    <label for="phoneno" class="form-label">Phone</label>
                                                    <input id="phoneno" type="text" name="phoneno" [(ngModel)]="CompanyInfo.phone" required maxlength="32" minlength="2" class="validate form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <label for="fax" class="form-label">Fax</label>
                                                <input id="fax" type="text" name="fax" [(ngModel)]="CompanyInfo.fax"  required maxlength="32" class="validate form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                        <div class="col-sm-6">
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                        <label for="email" class="form-label">Email</label>
                                                        <input id="email" type="text" name="email" [(ngModel)]="CompanyInfo.eMail" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$" required maxlength="32" minlength="2" class="validate form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <label for="webpage" class="form-label">Web Page</label>
                                                    <input id="webpage" type="text" name="webpage" [(ngModel)]="CompanyInfo.webpage" required maxlength="32" class="validate form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                            <div class="col-sm-12">
                                                <div class="form-group form-float">
                                                    <div class="form-line">
                                                        <label for="address" class="form-label">Address</label>
                                                        <input id="address" type="text" name="address" [(ngModel)]="CompanyInfo.address" required maxlength="32" class="validate form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row clearfix">
                                                <div class="col-sm-12">
                                                    <div class="form-group form-float">
                                                        <div class="form-line">
                                                            <label for="costcenter" class="form-label">Cost Center</label>
                                                            <select name="costcenter" class="validate form-control" [(ngModel)]="CompanyInfo.costCenterId" id="costcenter" >
                                                                <option value="select">Select Cost Center</option>
                                                                <option class='' *ngFor='let option of costCenterList' [value]="option.id">{{option.name}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                    <div class="col-sm-12">
                                                        <div class="form-group form-float">
                                                            <div class="form-line">
                                                                <label for="salestaxaccount" class="form-label">Sales Tax Account</label>
                                                                <input id="salestaxaccount" type="number" name="salestaxaccount" [(ngModel)]="CompanyInfo.salesTaxAccountId" required maxlength="32" class="validate form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
  
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            
                                          <input id="commercialinvoice" type="checkbox" name="commercialinvoice" [(ngModel)]="CompanyInfo.commercialInvoice" checked class="form-control" >
                                          <label class="col-md-3" for="commercialinvoice" class="form-label">Commercial Invoice</label>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
  
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default waves-effect" (click)="close()">
                        Delete
                    </button>
                    <button [disabled]="!editCompanyInfoForm.form.valid || saving" type="submit" class="btn btn-primary waves-effect">
                        {{("Save")}}
                    </button>
                </div>
            </form> -->
        </div>
    </div>
</div>