<style>
    .tab-pane .table tbody>tr>td:first-child {
        width: auto;
    }
</style>



<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div class="card ">

                <div class="card-header card-header-blue card-header-icon">
                    <div class="card-icon">
                            <i class="fa fa-object-group fa-2x" aria-hidden="true"></i>
                    </div>
                    <h4 class="card-title">Salary Group</h4>
                </div>

                <div class="card-body ">
                    <ul class="nav nav-pills nav-pills-info" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" [class.active]="isDetail" [class.show]="isDetail" data-toggle="tab" href="#link1" role="tablist" (click)="ActiveDetail()">
                                Detail
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [class.active]="isHistory" [class.show]="isHistory" data-toggle="tab" href="#link2" role="tablist" (click)="ActiveHistory()">
                                History
                            </a>
                        </li>

                    </ul>
                    <div class="tab-content tab-space">
                        <div class="tab-pane" [class.active]="isDetail"  id="link1">

                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Salary Group" type="text" [(ngModel)]="salaryGroupMaster.salaryGroupTitle"/>
                                    </mat-form-field>
                                </div>
                                
                            </div>

                            <div class="row">


                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-select placeholder="Salary Type" type="text" name= "salaryType" [(ngModel)]="salaryGroupDetail.salaryType">
                                            <mat-option *ngFor="let option of salaryType" [value]="option.salaryExpType">{{option.salaryExpType}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-2">
                                    <mat-form-field>
                                        <mat-select placeholder="Apply Value" name="ApplyValue" [(ngModel)]="salaryGroupDetail.applyValue"> 
                                            <mat-option value="Fixed">Fixed</mat-option>
                                            <mat-option value="Percentage">Percentage</mat-option>
                                            <mat-option value="Variable">Variable</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Value" type="number" min="0" [(ngModel)]="salaryGroupDetail.value" />
                                    </mat-form-field>
                                </div>

                            </div>

                            <br>


                            <div class="row">

                                <div class="col-md-2">

                                    <div class="togglebutton">
                                        <label>
                                            <input type="checkbox" checked="" name="SalaryDeduction" [(ngModel)]="salaryGroupDetail.dedeuction">
                                            <span class="toggle"></span>
                                            Deduction
                                        </label>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="togglebutton">
                                        <label>
                                            <input type="checkbox" checked="" name="IncomeTaxExempted" [(ngModel)]="salaryGroupDetail.exempted">
                                            <span class="toggle"></span>
                                            Tax Exempted
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="togglebutton">
                                        <label>
                                            <input type="checkbox" checked="" name="active" [(ngModel)]="salaryGroupDetail.isActive">
                                            <span class="toggle"></span>
                                            Active
                                        </label>
                                    </div>
                                </div>

                            </div>

                            <br>

                            <div class="row">
                                
                                    <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                            <input matInput type="number" placeholder="Sort Order" min="1" name="sortOrder" [(ngModel)]="salaryGroupDetail.sortOrder">
                                        </mat-form-field> 
                                        
                                    </div>

                                    <div class="col-md-2">
                                            <button mat-raised-button class="btn btn-just-icon btn-round btn-info" (click)="addToGrid()">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </button>
                                    </div>
                                
                            </div>

                            


                             <div class="material-datatables">
                                    <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                          <thead>
                                              <tr>
                                                <th>{{ dataTable.headerRow[0] }}</th>
                                                <th>{{ dataTable.headerRow[1] }}</th>
                                                <th>{{ dataTable.headerRow[2] }}</th>
                                                <th>{{ dataTable.headerRow[3] }}</th>
                                                <th>{{ dataTable.headerRow[4] }}</th>
                                                <th>{{ dataTable.headerRow[5] }}</th>
                                                <th>{{ dataTable.headerRow[6] }}</th>
               
                                                <th class="disabled-sorting text-right">{{ dataTable.headerRow[7] }}</th>
                                              </tr>
                                          </thead>
                                          <tfoot>
                                              <tr>
                                                <th>{{ dataTable.footerRow[0] }}</th>
                                                <th>{{ dataTable.footerRow[1] }}</th>
                                                <th>{{ dataTable.footerRow[2] }}</th>
                                                <th>{{ dataTable.footerRow[3] }}</th>
                                                <th>{{ dataTable.footerRow[4] }}</th>
                                                <th>{{ dataTable.footerRow[5] }}</th>
                                                <th>{{ dataTable.footerRow[6] }}</th>
                                                <th class="text-right">{{ dataTable.footerRow[7] }}</th>
                                              </tr>
                                          </tfoot>
                                          <tbody>
                                              <tr *ngFor="let row of dataTable.dataRows">
                                                  <td>{{row[0]}}</td>
                                                  <td>{{row[1]}}</td>
                                                  <td>{{row[2]}}</td>
                                                  <td>{{row[3]}}</td>
                                                  <td>{{row[4]}}</td>
                                                  <td>{{row[5]}}</td>
                                                  <td>{{row[6]}}</td>
                                                  <td class="text-right">
                                                    <a class="btn btn-link btn-warning btn-just-icon edit" (click)="EditSalaryGroupDetail(row[7])" ><i class="material-icons">dvr</i></a>
                                                      <a  class="btn btn-link btn-danger btn-just-icon remove" (click)="DeleteSalaryGroupDetail(row[7])"><i class="material-icons">close</i></a>
                                                    </td>
                                              </tr>
                                          </tbody>
                                      </table>
                                  </div> 

                            <br />

                            <div class="row pull-right">
                                    <button mat-raised-button type="submit" class="btn btn-fill btn-default" (click)="reset()">Reset</button>
                                <button mat-raised-button type="submit" class="btn btn-fill btn-info" *ngIf="isSaveBtn" (click)="save()">Save</button>
                                <button mat-raised-button type="submit" class="btn btn-fill btn-info" *ngIf="isEditBtn" (click)="edit()">Update</button>
                            </div>

                        </div>



                        <div class="tab-pane" [class.active]="isHistory" id="link2">


                                <div class="material-datatables">
                                        <table id="datatables1" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                              <thead>
                                                  <tr>
                                                    <th>{{ dataTable1.headerRow[0] }}</th>
                   
                                                    <th class="disabled-sorting text-right">{{ dataTable1.headerRow[1] }}</th>
                                                  </tr>
                                              </thead>
                                              <tfoot>
                                                  <tr>
                                                    <th>{{ dataTable1.footerRow[0] }}</th>
                                                    
                                                    <th class="text-right">{{ dataTable1.footerRow[1] }}</th>
                                                  </tr>
                                              </tfoot>
                                              <tbody>
                                                  <tr *ngFor="let row of dataTable1.dataRows">
                                                      <td>{{row[0]}}</td>
                                                      
                                                      <td class="text-right">
                                                      <a class="btn btn-link btn-warning btn-just-icon edit" (click)="EditSalaryGroupMasterDetail(row[0] , row[1])" ><i class="material-icons">dvr</i></a>
                                                        <a  class="btn btn-link btn-danger btn-just-icon remove" (click)="deleteSalaryGroupMasterDetail(row[1])"><i class="material-icons">close</i></a>
                                                      </td>
                                                  </tr>
                                              </tbody>
                                          </table>
                                      </div>


                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>



<edit-salary-group #EditSalaryGroupModal (modalSave)="updateSalaryGroupDetail($event)"></edit-salary-group>