﻿
<!-- <div class="card" id="LoginArea" [@routerTransition]>
    <div #cardBody class="body">
        <form #loginForm="ngForm" id="LoginForm" method="post" novalidate (ngSubmit)="login()">
            <h4 class="text-center">{{l("LogIn")}}</h4>

            <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons">person</i>
                </span>
                <div class="form-line">
                    <input materialInput [(ngModel)]="loginService.authenticateModel.userNameOrEmailAddress" autoFocus class="form-control" type="text" autocomplete="off" placeholder="{{l('UserNameOrEmail')}}" name="userNameOrEmailAddress" required maxlength="255" />
                </div>
            </div>

            <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons">lock</i>
                </span>
                <div class="form-line">
                    <input materialInput type="password" [(ngModel)]="loginService.authenticateModel.password" class="form-control" name="password" placeholder="{{l('Password')}}" required maxlength="32">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8 p-t-5">
                    <input type="checkbox"  [(ngModel)]="loginService.rememberMe" name="rememberMe" id="rememberme" class="filled-in chk-col-pink" value="true">
                    <label for="rememberme">{{l("RememberMe")}}</label>
                </div>
                <div class="col-xs-4">
                    <button id="LoginButton" class="btn btn-block bg-pink waves-effect" type="submit">{{l("LogIn")}}</button>
                </div>
            </div>

            <div class="row m-t-15 m-b--20" *ngIf="isSelfRegistrationAllowed">
                <div class="col-xs-12">
                    <a [routerLink]="['../register']">{{l("Register")}}</a>
                </div>
            </div>
        </form>
    </div>
</div> -->


        <div class="bg" style="background-image: url(/assets/images/login-back-cover.png);">
    

            <div class="container-fluid">
                <br />
                <div class="float-right">
                    <a [routerLink]="['../register']"><button class="btn btn-outline-primary">Sign Up As New Company</button></a>
                </div>
            </div>
        
            <div class="container" [@routerTransition]>
                
                <br /><br /><br />
        
                <div class="row">
                        <div class="col-md-7"></div>
    
        
                    <div class="col-md-5 " style="background-image:url(/assets/images/login-bg.png);"> 
                        <br />
        
                    <div class="col-md-12">
        
                        <div style="background-color: #0078d7; padding: 20px;">
                            <!-- <center> -->
                                <div class="center">
                                <img src="/assets/images/gluon-logo-1.png" alt="gluon-logo-1" />
                            </div>
                            <!-- </center> -->
                        </div>
                        <br /><br />
                        <div class="col-md-12" #cardBody>
                        
                            <!-- <center> -->
                                <div class="col-md-8 float-right">
                                <strong>Business on Tips</strong>
                            </div>
                            <!-- </center> -->
                            <br /><br /><br /><br/>
                                <form #loginForm="ngForm" id="LoginForm" method="post" (ngSubmit)="login()" novalidate>
        
                                  <div class="form-row">
                                    <div class="col-md-12">
                                        <!--<label for="validationCustom01">First name</label> -->
                                      <input materialInput [(ngModel)]="loginService.authenticateModel.userNameOrEmailAddress" autoFocus class="form-control" type="text" autocomplete="off" placeholder="{{l('UserNameOrEmail')}}" name="userNameOrEmailAddress" required maxlength="255">
                                      <!-- <div class="valid-feedback">
                                        Looks good!
                                      </div>
                                      <div class="invalid-feedback">
                                        Please provide a valid username.
                                      </div> -->
                                    </div>
                                </div>
                                <br />
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <!--<label for="validationCustom01">First name</label> -->
                                      <input materialInput type="password" [(ngModel)]="loginService.authenticateModel.password" class="form-control" name="password" placeholder="{{l('Password')}}" required maxlength="32">
                                      <!-- <div class="valid-feedback">
                                        Looks good!
                                      </div>
                                      <div class="invalid-feedback">
                                        Please provide a valid password.
                                      </div> -->
                                    </div>
                                </div>
        
                                
                                <div class="float-left">        
                                <input type="checkbox"  [(ngModel)]="loginService.rememberMe" name="rememberMe" id="rememberme" class="form-control" value="true">
                                <label for="rememberme" style="padding-left: 25px;">{{l("RememberMe")}}</label>
                                </div>       
    
                                <div class="float-right">
                                    <a href="">Forgot password?</a>
                                </div>
                                
                                <br /><br />
                                <!-- <center> -->
                                        <div class="col-md-7 float-right">
                                    <button class="btn btn-primary" type="submit" id="LoginButton" >{{l("LogIn")}}</button>
                                    </div>
                                <!-- </center> -->
        
        <!-- 						<div class="form-group">
                                  <select class="form-control" id="sel1">
                                    <option>Select Database</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                  </select>
                                </div> -->
                                <br />
                                <br />
                                <br/>
                            </form>
                        </div>
                    </div>
        
                    <!-- <div class="col-md-3">
                    </div> -->
        
                </div>
    
    
                </div>
    
                <br />
    
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <!-- <div class="col-md-2">
                            <button class="btn btn-primary btn-sm" (click)="signInWithFB()">
                                <i class="fa fa-facebook-official" aria-hidden="true"></i> Signin with Facebook
                            </button>
                        </div>
                        
                        <div class="col-md-2">
                            <button class="btn btn-danger btn-sm" (click)="signInWithGoogle()">
                                <i class="fa fa-google-plus" aria-hidden="true"></i> Signin with Google+
                            </button>
                        </div>

                         <div class="col-md-2">
                            <button class="btn btn-info btn-sm" (click)="signInWithTwitter()">
                                <i class="fab fa-twitter" aria-hidden="true"></i> Signin with Twitter
                            </button>
                        </div> 
                        
                         <div class="col-md-2">
                            <button class="btn btn-primary btn-sm" (click)="signInWithLinkedIn()">
                                <i class="fab fa-linkedin"></i> Signin with LinkedIn
                            </button>
                        </div>  -->

                    <span class="fa fa-facebook" (click)="signInWithFB()"></span>
                    <span class="fa fa-twitter" (click)="signInWithTwitter()"></span>
                    <span class="fa fa-google" (click)="signInWithGoogle()"></span>
                    <span class="fa fa-linkedin" (click)="signInWithLinkedIn()"></span>
                        
                    </div>
                    </div>
    
            </div>
            </div>


    <div class="overlay"></div>

    <social #createSocialModal (modalSave)="socialMediaLogin($event)"></social>