<div bsModal #createUserLocationRightsModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="createUserLocationRightsModal" aria-hidden="true" [config]="{backdrop: 'static'}">
        <div class="modal-dialog">
    
            <div #modalContent class="modal-content">
    
             <div class="card">
                    
                    <div class="card-header card-header-blue card-header-icon">
                            <div class="card-icon">
                                <i class="fa fa-check-square-o fa-2x" aria-hidden="true"></i>
                            </div>

                            <button type="button"  class="close" (click)="close()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                            </button>

                            <h4 class="card-title">Location Rights</h4>

                          </div>


                          <br />
                          
                            <form *ngIf="active" #createUserLocationRightsForm="ngForm" id="frm_create_user" novalidate (ngSubmit)="save()">

                                    <div class="card-body ">

                                <!-- <div class="row">
                                    <div class="col-md-6" *ngFor="let location of Locations">

                                            <div class="togglebutton" >
                                                    <label>
                                                      <input type="checkbox" checked="{{setCheckedValue(location.right)}}" (change)="$event.target.checked ? location.right = true : location.right = false" >
                                                      <span class="toggle"></span>
                                                      {{location.name}}
                                                    </label>
                                            </div>
                                    </div>

                                </div> -->

                                <div class="row" *ngIf="userLocationRights">
                                    <div class="col-md-6" *ngFor="let locationRights of userLocationRights">

                                            <div class="togglebutton" >
                                                    <label>
                                                      <input type="checkbox" checked="{{setCheckedValue(locationRights.rights)}}" (change)="$event.target.checked ? locationRights.rights = true : locationRights.rights = false" >
                                                      <span class="toggle"></span>
                                                      {{locationRights.locationInfo.location_Name}}
                                                    </label>
                                            </div>
                                    </div>

                                </div>
                              
                           
                          </div>

                          <div class="card-footer ">
                           
                                <button mat-raised-button type="button"  class="btn " (click)="close()">Close</button>
                                <button mat-raised-button type="submit" class="btn btn-fill btn-info" (click)="CreateRights()" >Submit</button>

                          </div>

                        </form>

                </div>
            </div>
        </div>
    </div>
    



    <!-- <div class="modal-header">
            <h4 class="modal-title">
                    <span>{{l("Location Rights")}}</span>
                </h4>
                
        <button type="button" class="close" (click)="close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        
    </div>
    <div class="modal-body">

            <div class="row" *ngIf="userLocationRights">
                <div class="col-sm-12 ">
                    <ng-template ngFor let-locationRights [ngForOf]="userLocationRights" let-locationRightsIndex="index">
                        <div class="col-sm-12">
                            <input type="checkbox" name="rights" checked ="{{setCheckedValue(locationRights.rights)}}" value="{{locationRights.rights}}" title="{{locationRights.locationInfo.location_Name}}" class="filled-in" id="locationRights-{{locationRightsIndex}}" (change)="$event.target.checked ? locationRights.rights = true : locationRights.rights = false"  />  
                            <label for="locationRights-{{locationRightsIndex}}" title="{{locationRights.locationInfo.location_Name}}">{{locationRights.locationInfo.location_Name}}</label>
                        </div>
                    </ng-template>
                </div>
            </div>

    </div>
    <div class="modal-footer">
        <button [disabled]="saving" type="button" class="btn btn-default waves-effect" (click)="close()">
            {{l("Cancel")}}
        </button>
        <button [disabled]="(!createUserLocationRightsForm.form.valid || saving) && !userLocationRights" type="submit" class="btn btn-primary waves-effect">
            {{l("Save")}}
        </button>
    </div> -->