<div bsModal #addDesignationModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="addDesignationModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">

        <div class="modal-dialog">

            <div #modalContent class="modal-content">
     
                
              
                    <div class="card">
                        <form *ngIf="active" #addDepartmentForm="ngForm" id="frm_add_pos" novalidate (ngSubmit)="onType()">
     
                            <div class="card-header card-header-blue card-header-icon">
                                <div class="card-icon">
                                    <i class="fa fa-floppy-o fa-2x" aria-hidden="true"></i>
                                </div>
                                <h4 class="card-title">Add Designation</h4>
                              </div>
                              <br />
                              <div class="card-body ">
                                  <form role="form">
                                    <mat-form-field class="example-full-width">
                                   
                                      <!-- <input matInput placeholder="Code" type="Code" name="code" id="code" [(ngModel)]="EmployeeDesignation.code" disabled>
                                    -->
                                    <input matInput placeholder="Code" name="docNo" [(ngModel)]="EmployeeDesignation.code" type="text"  *ngIf="isAutoCode"
                                    disabled />
                  
                                    <input matInput placeholder="Code" name="docNo" [(ngModel)]="EmployeeDesignation.code"  *ngIf="!isAutoCode" type="text"  />
                               
                                   
                                    </mat-form-field>

                                    <mat-form-field class="example-full-width" [formGroup]=" _empDesigValidation">
                                      <input matInput placeholder="Title" type="text" name="title" id="code" [(ngModel)]="EmployeeDesignation.employeeDesignationName" formControlName="designationTitle">
                                      <mat-error>  Designation Title field is required </mat-error>
                                    </mat-form-field>

                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Comments" type="text" name="Comments" id="Comments" [(ngModel)]="EmployeeDesignation.comments">
                                    </mat-form-field>
                                    <div class="col-sm-12">
                                      <div class="row">
                                          <div class="col-md-3">
                                                  <div class="form-check">
                                                          <label class="form-check-label">
                                                            <input class="form-check-input" type="checkbox" checked name="Active" id="Active" [(ngModel)]="EmployeeDesignation.isActive"> Active
                                                            <span class="form-check-sign">
                                                              <span class="check"></span>
                                                            </span>
                                                          </label>
                                                        </div>
                                          </div>
                                        <div class="col-md-8">
                                          <mat-form-field class="example-full-width">
                                            <input matInput type="nu" placeholder="Sort Order" name="sortOrder" id="sortOrder" [(ngModel)]="EmployeeDesignation.sortOrder">
                                          </mat-form-field>
                                        </div>
                                      </div>
                                    </div>
  
                                    
                                  </form>
                                </div>
     
                              <div class="card-footer ">
                                  <button mat-raised-button type="button"  class="btn " (click)="close()">Close</button>
                                  <button mat-raised-button type="submit" class="btn btn-fill btn-info">Submit</button>
                                  
                                
                              </div>
     
                        </form>                    
                    </div>
     
              
            </div>
        </div>
    </div>
</div>