﻿<div *ngIf="isMultiTenancyEnabled" class="card tenant-change-component" style="margin-bottom: 3px;">
    <div class="body text-center">
        <span>
            CurrentTenant: <span  title="{{name}}"><strong>{{tenancyName}}</strong></span> <span >NotSelected</span> (<a href="javascript:void();" (click)="showChangeModal()">Change</a>)
            <!--{{l("CurrentTenant")}} {{l("NotSelected")}} {{l("Change")}} -->  <tenantChangeModal #tenantChangeModal></tenantChangeModal>    <!-- *ngIf="tenancyName" -->     <!-- *ngIf="!tenancyName" -->
        </span>
    </div>
</div>