<div bsModal #editPromotionModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="editPromotionModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">

        <div #modalContent class="modal-content">

            
           
            <div class="card">
                <form *ngIf="active" #addPromotionForm="ngForm" id="frm_add_promotion" novalidate (ngSubmit)="onType()">

                    <div class="card-header card-header-blue card-header-icon">
                        <div class="card-icon">
                                <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
                        </div>
                        <h4 class="card-title">Edit Promotion</h4>
                      </div>
                      <br />
                      <div class="card-body ">
                        <form method="#" action="#">
                          
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">


                                        <!-- <input matInput placeholder="Document No" [(ngModel)]="employeePromotion.docNo" type="text" disabled />
                                     -->
                                     <input matInput placeholder="Document No" name="docNo" [(ngModel)]="employeePromotion.docNo" type="text"  *ngIf="isAutoCode"
                                     disabled />
                 
                                     <input matInput placeholder="Document No" name="docNo" [(ngModel)]="employeePromotion.docNo"  *ngIf="!isAutoCode" type="text"  />
                                    
                                    </mat-form-field>
                                </div>

                                <div class="col-md-6">
                                    
                                      <mat-form-field>
                                        <mat-placeholder>Document Date</mat-placeholder>
                                        <input matInput [matDatetimepicker]="picker1" required autocomplete="true" [(ngModel)]="employeePromotion.docDate" name="docDate">
                                        <mat-datetimepicker-toggle [for]="picker1" matSuffix ></mat-datetimepicker-toggle>
                                        <mat-datetimepicker #picker1  touchUi = "true" type="datetime" openOnFocus="true" timeInterval="5"  ></mat-datetimepicker>
                                </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6" [formGroup]="_promotionValidation">
                                    <!-- <mat-form-field >
                                        <input matInput [matDatepicker]="picker" placeholder="Promotion date" (click)="picker.open()">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                      </mat-form-field> -->
                                      <mat-form-field>
                                        <mat-placeholder>Promotion Date</mat-placeholder>
                                        <input matInput [matDatetimepicker]="picker2" required autocomplete="true" [(ngModel)]="employeePromotion.promotionDate" name="promotionDate" formControlName="promotionDate">
                                        <mat-datetimepicker-toggle [for]="picker2" matSuffix ></mat-datetimepicker-toggle>
                                        <mat-datetimepicker #picker2  touchUi = "true" type="datetime" openOnFocus="true" timeInterval="5"  ></mat-datetimepicker>
                                        <mat-error>  Promotion Date Field is required </mat-error>
                                    </mat-form-field>

                                </div>
                                <div class="col-md-6" [formGroup]="_promotionValidation">
                                    <!-- <mat-form-field>
                                        <mat-select placeholder="Select Employee" [(ngModel)]="employeePromotion.employeeId" name="employeeId" formControlName="employeeId">
                                          <mat-option *ngFor="let option of employeeDDList" [value]="option.id">{{option.employee_Name}}</mat-option>
                                        </mat-select>
                                        <mat-error>  Employee Field is required </mat-error>
                                    </mat-form-field> -->
                                    <mat-form-field class="example-full-width">
                                        <input type="text" placeholder="Select Employee" matInput [formControl]="myControl" [matAutocomplete]="auto"
                                          [(ngModel)]="empName" name="empName" formControlName="employeeId">
                                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayEmployee">
                                          <mat-option *ngFor="let option of filteredOptions | async " [value]="option">
                                            {{option.employee_Name}}
                                          </mat-option>
                                        </mat-autocomplete>
                                        <mat-error> Enter Valid employee Name </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-select placeholder="Select Promotion Type" [(ngModel)]="employeePromotion.promotionType"  name="promotionType">
                                          <mat-option value="typeOne">Type One</mat-option>
                                          <mat-option value="typeTwo">Type Two</mat-option>
                                          <mat-option value="typeThree">Type Three</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                  </div>
                                  <div class="col-md-6" [formGroup]="_promotionValidation">
                                    <mat-form-field>
                                        <mat-select placeholder="Select Promotion From" [(ngModel)]="employeePromotion.promotionFrom"  name="promotionFrom" formControlName="promotionFrom">
                                          
                                          <mat-option *ngFor="let option of employeeDesignationDDlistFrom" [value]="option.id">{{option.employeeDesignationName}}</mat-option>
                                        </mat-select>
                                        <mat-error>  Promotion From Field is required </mat-error>
                                    </mat-form-field>
                                  </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6" [formGroup]="_promotionValidation">
                                    <mat-form-field>
                                        <mat-select placeholder="Select Promoted To" [(ngModel)]="employeePromotion.promotionTo" name="promotionTo" formControlName="promotionTo">
                                          
                                            <mat-option *ngFor="let option of employeeDesignationDDlistTo" [value]="option.id">{{option.employeeDesignationName}}</mat-option>
                                        </mat-select>
                                        <mat-error>  Promotion To Field is required </mat-error>
                                    </mat-form-field>
                                  </div>
                                  <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Detail"  [(ngModel)]="employeePromotion.detail" name="detail" type="text" />
                                      </mat-form-field>
                                  </div>
                                  
                            </div>

                           
                                                         
                          <!-- <div class="togglebutton">
                            <label>
                              <input type="checkbox" checked="">
                              <span class="toggle"></span>
                              Active
                            </label>
                          </div> -->
                        
                        </form>
                      </div>

                      <div class="card-footer ">
                          <button mat-raised-button type="button" (modalSave)="getAllRecord()" class="btn btn-fill btn-default" (click)="close()">Close</button>
                        <button mat-raised-button type="submit" (modalSave)="getAllRecord()" class="btn btn-fill btn-info">Submit</button>
                        
                      </div>

                </form>                    
            </div>

           
        </div>
    </div>
</div>