<div bsModal #addHolidayModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="addHolidayModal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">

        <div #modalContent class="modal-content">



            <div class="card">
                <form *ngIf="active" #addHolidayForm="ngForm" id="frm_add_holiday" novalidate (ngSubmit)="onType()">

                    <div class="card-header card-header-blue card-header-icon">
                        <div class="card-icon">
                                <i class="fa fa-floppy-o fa-2x" aria-hidden="true"></i>
                        </div>
                        <h4 class="card-title">Add Holiday</h4>
                    </div>
                    <br />
                    <div class="card-body ">
                        <form method="#" action="#">

                            <div class="row" [formGroup]="_holiday">
                                <div class="col-md-6">
                                    <!-- <mat-form-field>
                                        <mat-select placeholder="Select Cost Center" [(ngModel)]="Holiday.costCenterId" name="costCenter" formControlName="costCenterId" >
                                            <mat-option *ngFor="let option of costCenter" [value]="option.id">{{option.name}}</mat-option>
                                        </mat-select>
                                        <mat-error>  Cost Center is required </mat-error>
                                    </mat-form-field> -->
                                    <mat-form-field class="example-full-width">
                                        <input type="text" placeholder="Select Cost Center" matInput [formControl]="myControl" [matAutocomplete]="auto"
                                            [(ngModel)]="costCenterName" name="costCenterName" formControlName="costCenterId">
                                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayCostCenter">
                                            <mat-option *ngFor="let option of filteredOptions | async " [value]="option">
                                                {{option.name}}
                                            </mat-option>
                                        </mat-autocomplete>
                                        <mat-error> Enter Valid Cost Center Name </mat-error>
                                    </mat-form-field>

                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-select placeholder="Department" name="department" [(ngModel)]="Holiday.departmentId" formControlName="departmentId">
                                            <mat-option *ngFor="let option of department" [value]="option.id">{{option.title}}</mat-option>
                                        </mat-select>
                                        <mat-error>  Department Name is required </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row" [formGroup]="_holiday">
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-select placeholder="Designation" name="employeeDesignation" [(ngModel)]="Holiday.employeeDesignationId" formControlName="employeeDesignationId">
                                            <mat-option *ngFor="let option of employeeDesignation " [value]="option.id">{{option.employeeDesignationName}}</mat-option>
                                        </mat-select>
                                        <mat-error>  Employee Designation is required </mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-select placeholder="Leave Type" name="leaveType" [(ngModel)]="Holiday.leaveTypeId" formControlName="leaveTypeId">
                                            <mat-option *ngFor="let option of leaveType" [value]="option.id">{{option.leaveTypeName}}</mat-option>
                                        </mat-select>
                                        <mat-error>  Leave Type Name is required </mat-error>
                                    </mat-form-field>
                                </div>

                            </div>

                            <div class="row" [formGroup]="_holiday">
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-placeholder>Start Date</mat-placeholder>
                                        <input matInput [matDatetimepicker]="datetimePicker1" required autocomplete="true" [(ngModel)]="holidayStartDate" name="holidayStartDate" formControlName="holidayStartDate">
                                        <mat-datetimepicker-toggle [for]="datetimePicker1" matSuffix></mat-datetimepicker-toggle>
                                        <mat-datetimepicker #datetimePicker1 touchUi="true" type="datetime" openOnFocus="true" timeInterval="5"></mat-datetimepicker>
                                        <mat-error>  Hoiday Start date is required </mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-placeholder>End Date</mat-placeholder>
                                        <input matInput [matDatetimepicker]="datetimePicker2" required autocomplete="true" [(ngModel)]="holidayEndDate" name="holidayEndDate" formControlName="holidayEndDate">
                                        <mat-datetimepicker-toggle [for]="datetimePicker2" matSuffix></mat-datetimepicker-toggle>
                                        <mat-datetimepicker #datetimePicker2 touchUi="true" type="datetime" openOnFocus="true" timeInterval="5"></mat-datetimepicker>
                                        <mat-error>  Holiday End date is required </mat-error>
                                    </mat-form-field>
                                </div>

                            </div>

                            <div class="row">
                                <mat-form-field class="example-full-width" >
                                    <!--<input matInput placeholder="Holiday Detail" type="text" [(ngModel)]="Holiday.holidayDetail" name="holidayDetail"/>-->
                                    <textarea rows="3" matInput class="form-control" placeholder = "Holiday Detail" name="holidayDetail" [(ngModel)]="Holiday.holidayDetail"  ></textarea>
                                </mat-form-field>
                            </div>

                            
                              <div class="togglebutton">
                                <label>
                                  <input type="checkbox" checked [(ngModel)]="isActive" name="isActive" >
                                  <span class="toggle"></span>
                                  Active
                                </label>
                              </div> 

                        </form>
                    </div>

                    <div class="card-footer ">
                        <button mat-raised-button type="submit" class="btn" (click)="close()">Close</button>
                        <button mat-raised-button type="submit" class="btn btn-fill btn-info">Submit</button>
                        
                    </div>

                </form>
            </div>


        </div>
    </div>
</div>