<div bsModal #editEmployeeExitModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="editEmployeeExitModal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">

        <div #modalContent class="modal-content">



            <div class="card">


                <div class="card-header card-header-rose card-header-icon">
                    <div class="card-icon">
                            <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
                    </div>
                    <h4 class="card-title">Edit Employee Exit</h4>
                </div>
                <br />

                <form *ngIf="active" #editEmployeeExitForm="ngForm"  id="frm_edit_EmployeeExit"  novalidate (ngSubmit) = "onType()" >


                    <div class="card-body ">
                        <!--  <form method="#" action="#">-->

                        <div class="row">
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">
<!--                                     
                                    <input matInput placeholder="Document No" [(ngModel)]="employeeExit.documentNo" type="text" name="documentNo"  disabled/>
                                     -->
                                     <input matInput placeholder="document No" name="docNo" [(ngModel)]="employeeExit.documentNo" type="text"  *ngIf="isAutoCode"
                                     disabled />
                   
                                     <input matInput placeholder="document No " name="docNo" [(ngModel)]="employeeExit.documentNo"  *ngIf="!isAutoCode" type="text"  />
                                

                                </mat-form-field>
                            </div>

                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                    <mat-placeholder>Document Date</mat-placeholder>
                                    <input matInput [matDatetimepicker]="datetimePicker1" required autocomplete="true" [(ngModel)]="documentDate" name="documentDate">
                                    <mat-datetimepicker-toggle [for]="datetimePicker1" matSuffix></mat-datetimepicker-toggle>
                                    <mat-datetimepicker #datetimePicker1 touchUi="true" type="datetime" openOnFocus="true" timeInterval="5" ></mat-datetimepicker>

                                </mat-form-field>
                            </div>

                            <div class="col-md-4" [formGroup]="_empExt">
                                <mat-form-field class="example-full-width">
                                    <mat-placeholder>EmployeeExit Date</mat-placeholder>
                                    <input matInput [matDatetimepicker]="datetimePicker2" required autocomplete="true" [(ngModel)]="EmployeeExitDate" name="employeeExitDate" formControlName="employeeExitDate">
                                    <mat-datetimepicker-toggle [for]="datetimePicker2" matSuffix></mat-datetimepicker-toggle>
                                    <mat-datetimepicker #datetimePicker2 touchUi="true" type="datetime" openOnFocus="true" timeInterval="5"></mat-datetimepicker>
                                    <mat-error>  Employee Exit Date is required </mat-error>
                                </mat-form-field>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-6" [formGroup]="_empExt">
                                
                                <!-- 
                                    <mat-placeholder>Select Employee</mat-placeholder>
                                    <mat-select class="example-full-width" [(ngModel)]="employeeExit.employeeId" name="employeeId">
                                        <mat-option *ngFor="let option of employee " [value]="option.id">{{option.employee_Name}}</mat-option>
                                    </mat-select> -->
                                    <mat-form-field class="example-full-width">
                                        <input type="text" placeholder="Select Employee" matInput [formControl]="myControl" [matAutocomplete]="auto"
                                          [(ngModel)]="empName" name="empName" formControlName="employeeId">
                                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayEmployee">
                                          <mat-option *ngFor="let option of filteredOptions | async " [value]="option">
                                            {{option.employee_Name}}
                                          </mat-option>
                                        </mat-autocomplete>
                                        <mat-error> Enter Valid employee Name </mat-error>
                                    </mat-form-field>


                                
                            </div>
                            <div class="col-md-6">
                                <mat-form-field>
                                    <mat-select placeholder="Select Exit Type" name="ExitType" [(ngModel)]="employeeExit.exit_Type">
                                        <mat-option value="Voluntarily">Voluntarily</mat-option>
                                        <mat-option value="Involuntarily">Involuntarily</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>

                       

                        <div class="row">
                            <div class="col-md-12">
                                <mat-form-field>

                                    <textarea rows="3" matInput class="form-control" placeholder="Detail" name="details" [(ngModel)]="employeeExit.details"></textarea>

                                </mat-form-field>
                            </div>

                        </div>



                        <!-- <div class="togglebutton">
                               
                            
                            </form>-->
                    </div>

                    <div class="card-footer ">
                            <button mat-raised-button type="submit" class="btn btn-fill btn-default" (click)="close()">Close</button>
                        <button mat-raised-button type="submit" class="btn btn-fill btn-info">Submit</button>
                    </div>

                </form>
            </div>


        </div>
    </div>
</div>