﻿<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                  <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">assignment</i>
                    </div>
                    <h4 class="card-title">Tenant</h4>
                  </div>
                  <div class="card-body">
                    <div class="toolbar">
                        <!--        Here you can write extra buttons/actions for the toolbar              -->
                        <button mat-raised-button class="btn btn-success btn-sm" (click)="createTenant()">Add New</button>
                    </div>
                    <div class="material-datatables">
                      <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                            <thead>
                                <tr>
                                  <th>{{ dataTable.headerRow[0] }}</th>
                                  <th>{{ dataTable.headerRow[1] }}</th>
                                  <th>{{ dataTable.headerRow[2] }}</th>
                                  <th class="disabled-sorting text-right">{{ dataTable.headerRow[3] }}</th>
                                </tr>
                            </thead>
                            <!-- <tfoot>
                                <tr>
                                  <th>{{ dataTable.footerRow[0] }}</th>
                                  <th>{{ dataTable.footerRow[1] }}</th>
                                  <th>{{ dataTable.footerRow[2] }}</th>
                                  <th>{{ dataTable.footerRow[3] }}</th>
                                  <th>{{ dataTable.footerRow[4] }}</th>
                                  <th>{{ dataTable.footerRow[5] }}</th>
                                  <th class="text-right">{{ dataTable.footerRow[6] }}</th>
                                </tr>
                            </tfoot> -->
                            <tbody>
                                <tr *ngFor="let row of dataTable.dataRows">
                                    <td>{{row[0]}}</td>
                                    <td>{{row[1]}}</td>
                                    <td>{{row[2]}}</td>
                                    <td class="text-right">
                                      <a class="btn btn-link btn-warning btn-just-icon edit" (click)="editTenant(row[3])" ><i class="material-icons">dvr</i></a>
                                      <a class="btn btn-link btn-danger btn-just-icon remove" (click)="delete(row[3])"><i class="material-icons">close</i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                    <!-- end content-->
                </div>
                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
        </div>
        <!-- end row -->
    </div>
</div>

<!-- POPUP -->





<!-- <div class="row clearfix" [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header">
                <h2>
                    {{l("Tenants")}}
                </h2>
                <ul class="header-dropdown m-r--5">
                    <i class="fa fa-spin fa-spinner" *ngIf="isTableLoading"></i>
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);" class=" waves-effect waves-block()" (click)="refresh();"><i class="material-icons">refresh</i>Refresh</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">

                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>{{l("TenancyName")}}</th>
                            <th>{{l("Name")}}</th>
                            <th>
                                <div style="text-align:center">{{l('IsActive')}}</div>
                            </th>
                            <th *ngIf="IsEdit || IsDelete">{{l('Actions')}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let tenant of tenants | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: pageNumber, totalItems: totalItems }">
                            <td>{{tenant.tenancyName}}</td>
                            <td>{{tenant.name}}</td>
                            <td align="center">
                                <i class="material-icons" *ngIf="tenant.isActive" style="color:green;">check_box</i>
                                <i class="material-icons" *ngIf="!tenant.isActive" style="color:red;">indeterminate_check_box</i>
                            </td>
                            <td class="dropdown" *ngIf="IsEdit || IsDelete">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">menu</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);" class="waves-effect waves-block" (click)="editTenant(tenant)" *ngIf="IsEdit"><i class="material-icons">create</i>Edit</a></li>
                                    <li><a href="javascript:void(0);" class="waves-effect waves-block" (click)="delete(tenant)" *ngIf="IsDelete"><i class="material-icons">delete_sweep</i>Delete</a></li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="text-align: center;" *ngIf="totalItems > pageSize">
                    <pagination-controls (pageChange)="getDataPage($event)" id="server"></pagination-controls>
                </div>
                <button type="button" data-toggle="modal" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" (click)="createTenant()" *ngIf="IsCreate">
                    <i class="material-icons">add</i>
                </button>
            </div>
        </div>
    </div>
</div> -->

<create-tenant-modal #createTenantModal ></create-tenant-modal>
<edit-tenant-modal #editTenantModal ></edit-tenant-modal>
