<div bsModal #editFineTypeModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="EditFineTypeModal"
  aria-hidden="true" [config]="{backdrop: 'static'}">


  <div class="modal-dialog">

    <div #modalContent class="modal-content">



      <div class="card">
        <form *ngIf="active" #editFineTypeForm="ngForm" id="frm_fine_Type" novalidate (ngSubmit)="onType()">

          <div class="card-header card-header-blue card-header-icon">
            <div class="card-icon">
                <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
            </div>
            <h4 class="card-title">Edit Fine type</h4>
          </div>
          <br />
          <div class="card-body ">
            <form method="#" action="#">
              <div class="row " [formGroup]="_fineTypeValidation">
                <div class="col-md-6" >
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Fine Type" type="text"  name="fineType" id="fineType" [(ngModel)]="fineType.fintTitle" formControlName="fineTitle">
                    <mat-error>Fine Type Field is required</mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Fine Amount" type="text" name="fineAmount" id="fineAmount" [(ngModel)]="fineType.fineAmmount" formControlName="fineAmount">
                    <mat-error>Fine Amount Field is required</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Detail" type="text" name="detail" id="detail" [(ngModel)]="fineType.fineDetail">
              </mat-form-field>
            </form>
          </div>

          <div class="card-footer ">

            <button mat-raised-button type="button" class="btn " (click)="close()">Close</button>
            <button mat-raised-button type="submit" class="btn btn-fill btn-info">Submit</button>


          </div>

        </form>
      </div>


    </div>

  </div>
</div>