<div bsModal #EditSalaryExpenseTypeModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="EditSalaryExpenseTypeModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">

        <div #modalContent class="modal-content">

            <div class="card">
                
                    <div class="card-header card-header-blue card-header-icon">
                            <div class="card-icon">
                                    <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
                            </div>

                            <button type="button"  class="close" (click)="close()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                            </button>

                            <h4 class="card-title">Edit Salary Group</h4>

                    </div>


                          <br />
                          
                            <form *ngIf="active" #EditSalaryExpenseTypeForm="ngForm" id="frm_add_company" novalidate (ngSubmit)="save()">
                             
                              <div class="card-body ">

                                <mat-form-field class="example-full-width">
                                <input matInput placeholder="Salary Type" type="text" name="name" [(ngModel)]="salaryExpenseType.salaryExpType">
                              </mat-form-field>

                                <mat-form-field>
                                    <mat-select placeholder="Apply Value" name="applyvalue" [(ngModel)]="salaryExpenseType.applyValue">
                                      <mat-option *ngFor="let applyValue of applyValues" [value]="applyValue.value">
                                        {{ applyValue.viewValue }}
                                      </mat-option>
                                    </mat-select>
                                </mat-form-field>


                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Value" type="number" name="Value" [(ngModel)]="salaryExpenseType.value"  min="0">
                              </mat-form-field>

                              <mat-form-field class="example-full-width">
                                    <input matInput type="number" placeholder="Sort Order" min="1" name="sortOrder" [(ngModel)]="salaryExpenseType.sortOrder">
                                </mat-form-field>            
                              

                                <div class="row">
                                    <div class="col-md-4">

                                            <div class="togglebutton">
                                                    <label>
                                                      <input type="checkbox" checked="" [(ngModel)]="salaryExpenseType.salaryDeduction" name="SalaryDeduction">
                                                      <span class="toggle"></span>
                                                      Deduction
                                                    </label>
                                            </div>
                                    </div>

                                    <div class="col-md-5">
                                            <div class="togglebutton">
                                                    <label>
                                                      <input type="checkbox" checked="" [(ngModel)]="salaryExpenseType.incomeTaxExempted" name="IncomeTaxExempted">
                                                      <span class="toggle"></span>
                                                      Tax Exempted
                                                    </label>
                                                </div>
                                    </div>
                                    <div class="col-md-3">
                                            <div class="togglebutton">
                                                    <label>
                                                      <input type="checkbox" checked="" name="active" [(ngModel)]="salaryExpenseType.isActive">
                                                      <span class="toggle"></span>
                                                      Active
                                                    </label>
                                            </div>
                                    </div>

                                </div>
                              
                            
                          </div>

                          <div class="card-footer ">
                            <!-- <div class="row">
                              <div class="col-md-12" > -->
                                <button mat-raised-button type="button"  class="btn " (click)="close()">Close</button>
                                <button mat-raised-button type="submit" class="btn btn-fill btn-info">Submit</button>
                            <!-- </div>
                            </div> -->
                          </div>

                        </form>

            </div>

        </div>
    </div>
</div>








<!-- <div class="modal-header">
        <h4 class="modal-title">
                <span>Edit Expense Type</span>
        </h4>
            
    <button type="button" class="close" (click)="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    
</div>
<div class="modal-body">

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane animated fadeIn active" id="user-details">

            <div class="row clearfix">
                <div class="col-sm-6">
                    <div class="form-group form-float">
                        <div class="form-line">
                                <label for="name" class="form-label">Salary Type</label>
                                <input id="name" type="text" name="name" [(ngModel)]="salaryExpenseType.salaryExpType"  required maxlength="32" minlength="2" class="validate form-control">
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label for="applyvalue" class="form-label">Apply Value</label>
                               
                                <select name="costcenter" class="validate form-control" [(ngModel)]="salaryExpenseType.applyValue" id="applyvalue" >
                                    
                                    <option class='' [value]="'Fixed'">Fixed</option>
                                    <option class='' [value]="'Percentage'">Percentage</option>
                                    <option class='' [value]="'Variable'">Variable</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <label for="Value" class="form-label">Value</label>
                            <input id="Value" type="number" name="Value" [(ngModel)]="salaryExpenseType.value" required maxlength="32" class="validate form-control" min="0">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-sm-12">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <label for="sortorder" class="form-label">Sort Order</label>
                            <input id="sortorder" type="number" name="sortorder" [(ngModel)]="salaryExpenseType.sortOrder" required maxlength="32" class="validate form-control" min="1">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                    <div class="col-sm-6">
                            <div class="form-group form-float">
                                <div class="form-line">
                                        <input id="outwardgatepass" type="checkbox" [(ngModel)]="salaryExpenseType.salaryDeduction" name="outwardgatepass"  checked class="form-control" />
                                        <label for="outwardgatepass" class="form-label">Deduction</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                            <input id="outwardgatepass" type="checkbox" [(ngModel)]="salaryExpenseType.incomeTaxExempted" name="outwardgatepass"  checked class="form-control" />
                                            <label for="outwardgatepass" class="form-label">Income Tax Exempted</label>
                                    </div>
                                </div>
                            </div>
                    <div class="col-sm-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="active" type="checkbox" name="active" [(ngModel)]="salaryExpenseType.isActive"   checked class="form-control" />
                                <label for="active" class="form-label">Active</label>   
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button [disabled]="saving" type="button" class="btn btn-default waves-effect" (click)="close()">
        Cancel
    </button>
    <button [disabled]="!EditSalaryExpenseTypeForm.form.valid || saving" type="submit" class="btn btn-primary waves-effect">
        Save
    </button>
</div> -->







<!-- <div class="col-sm-12">
        <div class="row">
            <div class="col-md-4">
                    <div class="form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" type="checkbox" value=""> Deduction
                              <span class="form-check-sign">
                                <span class="check"></span>
                              </span>
                            </label>
                    </div>
            </div>

            <div class="col-md-8">
                <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value=""> Income Tax Exempted
                          <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                        </label>
                </div>
            </div>

            </div>
      </div>

      <div class="row">
            <div class="col-sm-10">
              <div class="row">
                <div class="col-md-5">
                  <mat-form-field class="example-full-width">
                    <input matInput type="number" placeholder="Sort Order" min="1">
                  </mat-form-field>
                </div>
              </div>
            </div>
       </div>
     
        <div class="togglebutton">
            <label>
              <input type="checkbox" checked="">
              <span class="toggle"></span>
              Active
            </label>
        </div> -->