<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Company Information</h4>
          </div>
          <div class="card-body">
            <div class="toolbar">
              <!--        Here you can write extra buttons/actions for the toolbar              -->
              <button mat-raised-button class="btn btn-success btn-sm" (click)="AddCompany()">Add New</button>
            </div>
            <div class="material-datatables">
              <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                <thead>
                  <tr>
                    <th>{{ dataTable.headerRow[0] }}</th>
                    <th>{{ dataTable.headerRow[1] }}</th>
                    <th>{{ dataTable.headerRow[2] }}</th>
                    <th>{{ dataTable.headerRow[3] }}</th>
                    <th>{{ dataTable.headerRow[4] }}</th>
                    <th>{{ dataTable.headerRow[5] }}</th>
                    <th>{{ dataTable.headerRow[6] }}</th>
                    <th>{{ dataTable.headerRow[7] }}</th>
                    <th>{{ dataTable.headerRow[8] }}</th>
                    <th>{{ dataTable.headerRow[9] }}</th>
                    <th>{{ dataTable.headerRow[10] }}</th>
                    <th>{{ dataTable.headerRow[11] }}</th>
                    <th class="disabled-sorting text-right">{{ dataTable.headerRow[12] }}</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>{{ dataTable.footerRow[0] }}</th>
                    <th>{{ dataTable.footerRow[1] }}</th>
                    <th>{{ dataTable.footerRow[2] }}</th>
                    <th>{{ dataTable.footerRow[3] }}</th>
                    <th>{{ dataTable.footerRow[4] }}</th>
                    <th>{{ dataTable.footerRow[5] }}</th>
                    <th>{{ dataTable.footerRow[6] }}</th>
                    <th>{{ dataTable.footerRow[7] }}</th>
                    <th>{{ dataTable.footerRow[8] }}</th>
                    <th>{{ dataTable.footerRow[9] }}</th>
                    <th>{{ dataTable.footerRow[10] }}</th>
                    <th>{{ dataTable.footerRow[11] }}</th>
                    <th class="text-right">{{ dataTable.footerRow[12] }}</th>
                  </tr>
                </tfoot>
                <tbody>
                  <tr *ngFor="let row of dataTable.dataRows">
                    <td>{{row[0]}}</td>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                    <td>{{row[3]}}</td>
                    <td>{{row[4]}}</td>
                    <td>{{row[5]}}</td>
                    <td>{{row[6]}}</td>
                    <td>{{row[7]}}</td>
                    <td>{{row[8]}}</td>
                    <td>{{row[9]}}</td>
                    <td>{{row[10]}}</td>
                    <td>{{row[11]}}</td>
                    <td class="td-actions text-right">
                      <button mat-raised-button type="button" class="btn btn-info {{row[12]}}" (click)="EditCompany()">
                        <i class="material-icons">person</i>
                      </button>
                      <button mat-raised-button type="button" class="btn btn-success {{row[12]}}" (click)="EditSalaryType()">
                        <i class="material-icons">edit</i>
                      </button>
                      <!-- <button mat-raised-button type="button" class="btn btn-danger {{row[12]}}">
                        <i class="material-icons">close</i>
                      </button> -->
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- end content-->
        </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
    </div>
    <!-- end row -->
  </div>
</div>


<add-company-info #addCompanyInfoModal ></add-company-info>
<app-edit-company-info #editCompanyInfoModal ></app-edit-company-info>