﻿<!-- <div class="bg" style="background-image: url(/assets/img/login-back-cover.png);">

    <div class="container-fluid">
            <br />
            <div class="float-right">
                <a [routerLink]="['../login']"><button class="btn btn-outline-primary">Back to Login</button></a>
            </div>
    </div>

<div class="container" [@routerTransition]>
		
    <br /><br /><br />

    <div class="row">
        
        <div class="col-md-7">
        </div>

        <div class="col-md-5" style="background-image:url(/assets/img/login-bg.png);">  
            <br />

        <div class="col-md-12">

            <div style="background-color: #0078d7; padding: 20px;">
               
                    <div class="center">
                        <img src="/assets/img/gluon-logo-1.png" alt="gluon-logo-1" />
                    </div>
                
            </div>
            <br /><br />
            <div #cardBody class="col-md-12">
            
               
                    <div class="col-md-9 float-right">
                        <strong>New Company Sign Up</strong>
                    </div>
                
                <br /><br />
                    <form #registerForm="ngForm" method="post" novalidate (ngSubmit)="save()">

                      <div class="form-row">
                        <div class="col-md-12">
                            
                          <input materialInput class="form-control" autoFocus type="text" [(ngModel)]="model.name" name="Name" required maxlength="32" placeholder="Name">
                         
                        </div>
                    </div>
                    
                    <br />
                    <div class="form-row">
                        <div class="col-md-12">
                            
                          <input placeholder="Surname" materialInput class="form-control" type="text" [(ngModel)]="model.surname" name="Surname" required maxlength="32">
                          
                        </div> 
                    </div>

                    <br />
                    <div class="form-row">
                        <div class="col-md-12">
                            
                          <input placeholder="Email Address" materialInput class="form-control" type="email" [(ngModel)]="model.emailAddress" name="EmailAddress" required maxlength="255" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$">
                          
                        </div>
                    </div>

                    <br />
                    <div class="form-row">
                        <div class="col-md-12">
                            
                          <input placeholder="Username"  materialInput class="form-control" type="text" autocomplete="off" [(ngModel)]="model.userName" name="UserName" required maxlength="32">
                       
                        </div>
                    </div>

                    <br />
                    <div class="form-row">
                        <div class="col-md-12">
                            
                          <input placeholder="Password" materialInput class="form-control" type="password" [(ngModel)]="model.password" name="Password" required maxlength="32">
                          
                        </div>
                    </div>
                    
                    <br /><br />
                   
                        <div class="col-md-7 float-right">
                            <button type="submit" class="btn btn-primary" [disabled]="!registerForm.form.valid">Sign Up</button>
                        </div>
                    


                    <br />
                    <br />
                    <br />
                
                </form>
            
            </div>
            </div>
        </div>

        <div class="col-md-3">
        </div>

    </div>

</div>

</div> -->




<div class="wrapper wrapper-full-page">
    <div class="page-header register-page header-filter" filter-color="black" style="background-image: url('./assets/img/login-back-cover.png'); background-size: cover; background-position: top center;">
      <div class="container">
        <div class="row">
          <div class="col-md-10 ml-auto mr-auto">
            <div class="card card-signup">
              <h2 class="card-title text-center">Register</h2>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-5 ml-auto">
                    <div class="info info-horizontal">
                      <div class="icon icon-rose">
                        <i class="material-icons">timeline</i>
                      </div>
                      <div class="description">
                        <h4 class="info-title">Marketing</h4>
                        <p class="description">
                          We've created the marketing campaign of the website. It was a very interesting collaboration.
                        </p>
                      </div>
                    </div>
                    <div class="info info-horizontal">
                      <div class="icon icon-primary">
                        <i class="material-icons">code</i>
                      </div>
                      <div class="description">
                        <h4 class="info-title">Fully Coded in HTML5</h4>
                        <p class="description">
                          We've developed the website with HTML5 and CSS3. The client has access to the code using GitHub.
                        </p>
                      </div>
                    </div>
                    <div class="info info-horizontal">
                      <div class="icon icon-info">
                        <i class="material-icons">group</i>
                      </div>
                      <div class="description">
                        <h4 class="info-title">Built Audience</h4>
                        <p class="description">
                          There is also a Fully Customizable CMS Admin Dashboard for this product.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5 mr-auto">
                    <div class="social text-center">
                      <button mat-raised-button class="btn btn-just-icon btn-round btn-twitter">
                        <i class="fa fa-twitter"></i>
                      </button>
                      <button mat-raised-button class="btn btn-just-icon btn-round btn-google">
                        <i class="fa fa-google-plus"></i>
                      </button>
                      <button mat-raised-button class="btn btn-just-icon btn-round btn-facebook">
                        <i class="fa fa-facebook"> </i>
                      </button>
                      <button mat-raised-button class="btn btn-just-icon btn-round btn-twitter">
                        <i class="fa fa-linkedin"> </i>
                      </button>
                      <!-- <h4 class="mt-3"> or be classical </h4> -->
                    </div>
                    <form class="form" #registerForm="ngForm" method="post" novalidate (ngSubmit)="save()">
                      <div class="form-group has-default">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">face</i>
                            </span>
                          </div>
                          <input type="text" class="form-control" [(ngModel)]="model.name" name="Name" placeholder="Name...">
                        </div>
                      </div>
                      <div class="form-group has-default">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">face</i>
                            </span>
                          </div>
                          <input type="text" class="form-control" [(ngModel)]="model.surname" name="Surname" placeholder="Surname...">
                        </div>
                      </div>

                      <div class="form-group has-default">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">mail</i>
                            </span>
                          </div>
                          <input type="text" class="form-control" placeholder="Email..." [(ngModel)]="model.emailAddress" name="EmailAddress">
                        </div>
                      </div>


                      <div class="form-group has-default">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="material-icons">face</i>
                              </span>
                            </div>
                            <input type="text" class="form-control" [(ngModel)]="model.userName" name="UserName" placeholder="UserName...">
                          </div>
                        </div>

                      <div class="form-group has-default">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">lock_outline</i>
                            </span>
                          </div>
                          <input type="password" placeholder="Password..." [(ngModel)]="model.password" name="Password" class="form-control">
                        </div>
                      </div>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="" checked="">
                          <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                          I agree to the
                          <a href="#something">terms and conditions</a>.
                        </label>
                      </div>
                      <div class="text-center">
                        <!-- <a href="#pablo" class="btn btn-primary btn-round mt-4">Get Started</a -->
                        <button type="submit" class="btn btn-primary btn-round mt-4" [disabled]="!registerForm.form.valid">Get Started</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer ">
        <div class="container">
          <nav class="pull-left">
            <ul>
             
              <li>
                <a href="https://softbeats.net/about-us">
                  About Us
                </a>
              </li>
              <li>
                <a href="http://softbeats.net/blog/">
                  Blog
                </a>
              </li>
             
            </ul>
          </nav>
          <div class="copyright pull-right">
            &copy;
              {{test | date: 'yyyy'}}, made with <i class="material-icons">favorite</i> by
            <a href="https://www.softbeats.net" target="_blank">Softbeats</a>.
          </div>
        </div>
      </footer>
    </div>
  </div>
  
