<div bsModal #addBonusTypeModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="addBonusTypeModal"
  aria-hidden="true" [config]="{backdrop: 'static'}">


  <div class="modal-dialog">

    <div #modalContent class="modal-content">



      <div class="card">
        <form *ngIf="active" #addBonusTypeForm="ngForm" id="frm_Bonus_Type" novalidate (ngSubmit)="onType()">

          <div class="card-header card-header-blue card-header-icon">
            <div class="card-icon">
              <i class="fa fa-floppy-o fa-2x" aria-hidden="true"></i>
            </div>
            <h4 class="card-title">Add Bonus type</h4>
          </div>
          <br />
          <div class="card-body ">
            <form role="form">
              <div class="row">
                <div class="col-md-6" [formGroup]="_bonusType">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Bonus Type" type="text" name="bonusType" id="bonusType" [(ngModel)]="BonusType.bonusTitle" formControlName="bonusTitle">
                    <mat-error>  Bonus Type Field is required </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-6" >
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Bonus Percentage" type="text" name="bonuspercentage" id="bonuspercentage" [(ngModel)]="BonusType.bonusPercentage" >
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">


                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="SortOrder" type="text" name="sortOrder" id="sortOrder" [(ngModel)]="BonusType.sortOrder">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Detail" type="text" name="bonusDetail" id="bonusDetail" [(ngModel)]="BonusType.bonusDetail">
                  </mat-form-field>
                </div>
              </div>

            </form>
          </div>

          <div class="card-footer ">

            <button mat-raised-button type="button" class="btn " (click)="close()">Close</button>
            <button mat-raised-button type="submit" class="btn btn-fill btn-info">Submit</button>


          </div>

        </form>
      </div>


    </div>

  </div>
</div>