<div bsModal #editUserModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="editUserModal" aria-hidden="true" [config]="{backdrop: 'static'}">
        <div class="modal-dialog">
    
            <div #modalContent class="modal-content">

                    <div class="card">
                  
                        <div class="card-header card-header-blue card-header-icon">
                                <div class="card-icon">
                                    <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
                                </div>
            
                                <button type="button"  class="close" (click)="close()" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                </button>
            
                                <h4 class="card-title">Edit User</h4>
            
                              </div>
            
            
                              <br />
                              
                                <form *ngIf="active" #editUserForm="ngForm" id="frm_edit_user" novalidate (ngSubmit)="save()">
            
                                        <div class="card-body ">

                                        <ul class="nav nav-pills nav-pills-warning" role="tablist">
                                          <li class="nav-item">
                                            <a class="nav-link active" data-toggle="tab" href="#link5" role="tablist">
                                                User Details
                                            </a>
                                          </li>
                                          <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#link6" role="tablist">
                                                User Roles
                                            </a>
                                          </li>
                                        </ul>
            
                                        <div class="tab-content tab-space">
                                          
                                          <div class="tab-pane active" id="link5">
                                               
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Username" name="UserName" [(ngModel)]="user.userName" type="text">
                                            </mat-form-field>
            
                                            <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Name" name="Name" [(ngModel)]="user.name" type="text">
                                            </mat-form-field>
            
                                            <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Surname" name="Surname" [(ngModel)]="user.surname" type="text">
                                            </mat-form-field>
            
                                            <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Email" name="EmailAddress" [(ngModel)]="user.emailAddress" type="email">
                                            </mat-form-field>

                                            <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Password" name="Password" [(ngModel)]="user.password" type="password">
                                            </mat-form-field>
            
                                            <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Confirm Password" type="password" id="confirmpassword" name="ConfirmPassword" equalTo="#password" data-msg-equalto="Please enter the same password again.">
                                            </mat-form-field>
            
                                            <!-- <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Password" type="password">
                                            </mat-form-field>
            
                                            <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Confirm Password" type="password" id="confirmpassword" name="ConfirmPassword" equalTo="#password" data-msg-equalto="Please enter the same password again.">
                                            </mat-form-field> -->
            
                                           
                                            <div class="togglebutton">
                                                <label>
                                                    <input type="checkbox" checked="" name="IsActive" [(ngModel)]="user.isActive">
                                                    <span class="toggle"></span>
                                                        IsActive
                                                </label>
                                            </div>
                                            
            
                                          </div>
                                          
                                          
                                          
                                          
                                          
                                          <div class="tab-pane" id="link6">
                                            
                                                <div class="row">
                                                        <div class="col-md-6" *ngFor="let role of roles">
                    
                                                                <div class="togglebutton" >
                                                                        <label>
                                                                          <input type="checkbox" name="role" value="{{role.normalizedName}}" checked="{{userInRole(role,user)}}" >
                                                                          <span class="toggle"></span>
                                                                          {{role.name}}
                                                                        </label>
                                                                </div>
                                                        </div>
                    
                                                </div>
                                          
                                          </div>
            
                                        </div>
                                  
                                
                              </div>
            
                              <div class="card-footer ">
                               
                                    <button mat-raised-button type="button"  class="btn " (click)="close()">Close</button>
                                    <button mat-raised-button type="submit" class="btn btn-fill btn-info">Submit</button>

                              </div>

                            </form>

                </div>

            </div>
        </div>
    </div>







    <!-- <div class="modal-header">
            <button type="button" class="close" (click)="close()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">
                <span>{{l("EditUser")}}</span>
            </h4>
        </div>
        <div class="modal-body">
            <ul class="nav nav-tabs tab-nav-right" role="tablist">
                <li role="presentation" class="active"><a href="#edit-user-details" data-toggle="tab">User Details</a></li>
                <li role="presentation"><a href="#edit-user-roles" data-toggle="tab">User Roles</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane animated fadeIn active" id="edit-user-details">

                    <div class="row clearfix" style="margin-top:10px;">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="username" type="text" name="UserName" [(ngModel)]="user.userName" required maxlength="32" minlength="2" class="validate form-control">
                                    <label for="username" class="form-label">{{l("UserName")}}</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="name" type="text" name="Name" [(ngModel)]="user.name" required maxlength="32" class="validate form-control">
                                    <label for="name" class="form-label">{{l("Name")}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="surname" type="text" name="Surname" [(ngModel)]="user.surname" required maxlength="32" class="validate form-control">
                                    <label for="surname" class="form-label">{{l("Surname")}}</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="email" type="email" name="EmailAddress" [(ngModel)]="user.emailAddress" maxlength="256" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$" class="validate form-control">
                                    <label for="email" class="form-label">{{l("EmailAddress")}}</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="">
                                    <input id="isactive" type="checkbox" name="IsActive" [(ngModel)]="user.isActive" checked class="form-control" />
                                    <label for="isactive" class="form-label">{{l("IsActive")}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane animated fadeIn" id="edit-user-roles">
                    <div class="row">
                        <div class="col-sm-12 ">
                            <ng-template ngFor let-role [ngForOf]="roles" let-roleIndex="index">
                                <div class="col-sm-6">
                                    <input type="checkbox" name="role" value="{{role.normalizedName}}" title="{{role.description}}" class="filled-in" id="role-{{roleIndex}}" checked="{{userInRole(role,user)}}" />
                                    <label for="role-{{roleIndex}}" title="{{role.displayName}}">{{role.name}}</label>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button [disabled]="saving" type="button" class="btn btn-default waves-effect" (click)="close()">
                {{l("Cancel")}}
            </button>
            <button [disabled]="!editUserForm.form.valid" type="submit" class="btn btn-primary waves-effect">
                {{l("Save")}}
            </button>
        </div> -->