<div bsModal #createUserAccountRightsModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog"
    aria-labelledby="createUserAccountRightsModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg" >

        <div #modalContent class="modal-content">
            <div class="card">

                <div class="card-header card-header-blue card-header-icon">
                    <div class="card-icon">
                        <i class="fa fa-check-square-o fa-2x" aria-hidden="true"></i>
                    </div>

                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <h4 class="card-title">Account Rights</h4>

                </div>


                <br />

                <form *ngIf="active" #createUserAccountRightsForm="ngForm" id="frm_create_user" novalidate (ngSubmit)="save()">

                    <div class="card-body ">
                        <!-- <div class="row">
                            <div class="col-md-6" *ngFor="let account of Accounts">

                                <div class="togglebutton">
                                    <label>
                                        <input type="checkbox" checked="{{setCheckedValue(account.right)}}" (change)="$event.target.checked ? account.right = true : account.right = false">
                                        <span class="toggle"></span>
                                        {{account.name}}
                                    </label>
                                </div>
                            </div>

                        </div> -->


                        <div class="row" *ngIf="userAccountRights">
                            <div class="col-md-6" *ngFor="let accountRights of userAccountRights">

                                <div class="togglebutton">
                                    <label>
                                        <input type="checkbox" checked="{{setCheckedValue(accountRights.rights)}}" (change)="$event.target.checked ? accountRights.rights = true : accountRights.rights = false">
                                        <span class="toggle"></span>
                                        {{accountRights.chartOfAccountSubSubDetail.detailTitle}}
                                    </label>
                                </div>
                            </div>

                        </div>

                        <br>

                    </div>

                    <div class="card-footer ">
                       
                                <button mat-raised-button type="button" class="btn " (click)="close()">Close</button>
                                <button mat-raised-button type="submit" class="btn btn-fill btn-info"  (click)="CreateRights()">Submit</button>

                    </div>

                </form>
            </div>
        </div>
    </div>
</div>






<!-- <div class="modal-header">
            <h4 class="modal-title">
                    <span>{{l("Bank Accounts Rights")}}</span>
                </h4>
                
        <button type="button" class="close" (click)="close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        
    </div>
    <div class="modal-body">

            <div class="row" *ngIf="userAccountRights">
                <div class="col-sm-12 ">
                    <ng-template ngFor let-accountRights [ngForOf]="userAccountRights" let-accountRightsIndex="index">
                        <div class="col-sm-12">
                            <input type="checkbox" name="rights" checked ="{{setCheckedValue(accountRights.rights)}}" value="{{accountRights.rights}}" title="{{accountRights.chartOfAccountSubSubDetail.detailTitle}}" class="filled-in" id="accountRights-{{accountRightsIndex}}" (change)="$event.target.checked ? accountRights.rights = true : accountRights.rights = false"  />  
                            <label for="accountRights-{{accountRightsIndex}}" title="{{accountRights.chartOfAccountSubSubDetail.detailTitle}}">{{accountRights.chartOfAccountSubSubDetail.detailTitle}}</label>
                        </div>
                    </ng-template>
                </div>
            </div>

    </div>
    <div class="modal-footer">
        <button [disabled]="saving" type="button" class="btn btn-default waves-effect" (click)="close()">
            {{l("Cancel")}}
        </button>
        <button [disabled]="(!createUserAccountRightsForm.form.valid || saving) && !userAccountRights" type="submit" class="btn btn-primary waves-effect">
            {{l("Save")}}
        </button>
    </div> -->