﻿<div bsModal #editRoleModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="edidtRoleModal" aria-hidden="true" [config]="{backdrop: 'static'}"  style="overflow-y: scroll;">
    <div class="modal-dialog">

        <div #modalContent class="modal-content">

            <form *ngIf="active" #editRoleForm="ngForm" id="frm_edit_role" novalidate (ngSubmit)="save()">

                <div class="modal-header">
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        <span>{{l("EditRole")}} <span *ngIf="role.isStatic"> (<span style="color:red">static</span>)</span></span>
                    </h4>
                </div>
                <div class="modal-body">

                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="rolename" [disabled]="role.isStatic" type="text" name="RoleName" [(ngModel)]="role.name" required maxlength="32" minlength="2" class="validate form-control">
                                    <label for="rolename" class="form-label">{{l("RoleName")}}</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="displayname" type="text" name="DisplayName" [(ngModel)]="role.displayName" required maxlength="32" minlength="2" class="validate form-control">
                                    <label for="displayname" class="form-label">{{l("DisplayName")}}</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <textarea id="role-description" name="Description" [(ngModel)]="role.description" class="validate form-control"></textarea>
                                    <label for="role-description" class="form-label">Role Description</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <h4>Permissions</h4>

                            <div id="data" name="permission" #jstreearea>
                                <ul *ngFor="let v of rootnode">
                                    <li id='{{v.value}}'>
                                        {{v.name}}
                                        <ul *ngFor="let v1 of v.children">

                                            <li *ngIf="checkPermission(v1.value)" data-jstree='{ "selected" :true, "opened" : true }' id='{{v1.value}}'>{{v1.name}}</li>
                                            <li *ngIf="!checkPermission(v1.value)" data-jstree='{ "selected" :false}' id='{{v1.value}}'>{{v1.name}}</li>
                                         
                                        </ul>
                                    </li>
                                </ul>

                            </div>
                            <!--<ng-template ngFor let-permission [ngForOf]="permissions.items" let-permissionIndex="index">
        <div class="col-sm-6">
            <input [disabled]="role.isStatic" type="checkbox" name="permission" value="{{permission.name}}" class="filled-in" id="permission-{{permissionIndex}}" checked="{{checkPermission(permission.name)}}" />
            <label for="permission-{{permissionIndex}}">{{permission.displayName}}</label>
        </div>
    </ng-template>-->
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default waves-effect" (click)="close()">
                        {{l("Cancel")}}
                    </button>
                    <button [disabled]="!editRoleForm.form.valid || saving" type="submit" class="btn btn-primary waves-effect">
                        {{l("Save")}}
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>

<!--Modal FOr Confirmation-->
<div bsModal #confirmModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="createRoleModal" aria-hidden="true" [config]="{backdrop: 'static'}">
        <div class="modal-dialog">
    
            <div #modalContent class="modal-content">
    
            
    
                    <div class="modal-header">
                        <button type="button" class="close" (click)="close()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">
                            <span>Attention </span>
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                       Warning! Changing this can revoke/grant user access to the system under role {{role.name}} 
                                    </div>
                                </div>
                            </div>
                        </div>
     </div>
    
                    <div class="modal-footer">
                        <button  type="button" class="btn btn-default waves-effect" (click)="cancel()">
                            {{l("Cancel")}}
                        </button>
                        <button  (click)="OpenModal()" class="btn btn-primary waves-effect">
                            Confirm
                        </button>
                    </div>
    
            </div>
        </div>
    </div>