<div bsModal #AddChartOfAccountSubSubMainModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog"
    aria-labelledby="AddChartOfAccountSubSubMainModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">

        <div #modalContent class="modal-content">



            <div class="card">
                <form *ngIf="active" #addDepartmentForm="ngForm" id="frm_add_pos" novalidate (ngSubmit)="save()">

                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">mail_outline</i>
                        </div>
                        <h4 class="card-title">Add Sub Sub Main</h4>
                    </div>
                    <br />
                    <div class="card-body ">
                        <form method="#" action="#">
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <mat-select placeholder="Sub Main Account Type" name="subSubMain">
                                            <!-- <mat-option *ngFor="let city of cities" [value]="city.value">
                                                {{ city.viewValue }}
                                              </mat-option> -->
                                            <mat-option value="Sub One">Sub One</mat-option>
                                            <mat-option value="Sub Two">Sub Two</mat-option>
                                            <mat-option value="Sub Three">Sub Three</mat-option>
                                            <mat-option value="Sub Four">Sub Four</mat-option>
                                            <mat-option value="Sub Five">Sub Five</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Sub Sub Code" type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Sub Sub Title" type="text">
                                    </mat-form-field>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Sub Sub Type" type="text">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field>
                                        <mat-select placeholder="BS Note" name="subSubMain">
                                            <!-- <mat-option *ngFor="let city of cities" [value]="city.value">
                                                {{ city.viewValue }}
                                              </mat-option> -->
                                            <mat-option value="BS One">BS One</mat-option>
                                            <mat-option value="BS Two">BS Two</mat-option>
                                            <mat-option value="BS Three">BS Three</mat-option>
                                            <mat-option value="BS Four">BS Four</mat-option>
                                            <mat-option value="BS Five">BS Five</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field>
                                        <mat-select placeholder="PL Note" name="subSubMain">
                                            <!-- <mat-option *ngFor="let city of cities" [value]="city.value">
                                                    {{ city.viewValue }}
                                                  </mat-option> -->
                                            <mat-option value="PL One">PL One</mat-option>
                                            <mat-option value="PL Two">PL Two</mat-option>
                                            <mat-option value="PL Three">PL Three</mat-option>
                                            <mat-option value="PL Four">PL Four</mat-option>
                                            <mat-option value="PL Five">PL Five</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                        <mat-form-field>
                                                <mat-select placeholder="Company" name="subSubMain">
                                                    <!-- <mat-option *ngFor="let city of cities" [value]="city.value">
                                                        {{ city.viewValue }}
                                                      </mat-option> -->
                                                    <mat-option value="Company One">Company One</mat-option>
                                                    <mat-option value="Company Two">Company Two</mat-option>
                                                    <mat-option value="Company Three">Company Three</mat-option>
                                                    <mat-option value="Company Four">Company Four</mat-option>
                                                    <mat-option value="Company Five">Company Five</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="card-footer ">

                        <button mat-raised-button type="submit" class="btn btn-fill btn-rose">Submit</button>
                        <button mat-raised-button type="button" class="btn " (click)="close()">Cancle</button>

                    </div>

                </form>
            </div>












            <!-- ///////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->

            <!-- <form *ngIf="active" #SubSubMainModal="ngForm" id="frm_add_company" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>Add Sub Sub Account</span>
                    </h4>

                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="modal-body">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane animated fadeIn active" id="user-details">
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <label for="chart_Of_Account_Type" class="form-label">Sub Type</label>
                                            <select name="chart_Of_Account_Type" [(ngModel)]="coaSubSubAccount.subMainId" class="form-control" id="chart_Of_Account_Type"
                                                (change)="onChartSubChange()">
                                                <option value="select">Select type</option>
                                                <option *ngFor='let option of CoASubMainDDList' [value]="option.id">{{ option.sub_title }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <label for="Code" class="form-label">Sub Sub Code</label>
                                            <input id="Code" type="text" name="Code" [(ngModel)]="coaSubSubAccount.sub_sub_code" required maxlength="32" class="validate form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <label for="mainTitle" class="form-label">Sub Sub Title</label>
                                            <input id="mainTitle" type="text" name="mainTitle" [(ngModel)]="coaSubSubAccount.sub_sub_title" required maxlength="32" class="validate form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <label for="mainTitle" class="form-label">Sub Sub Type</label>
                                            <input id="mainTitle" type="text" name="mainTitle" [(ngModel)]="coaSubSubAccount.sub_sub_type" required maxlength="32" class="validate form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <label for="bsNoteid" class="form-label">BS Note</label>
                                            
                                            <select name="bsNoteid" [(ngModel)]="coaSubSubAccount.bsNoteId" class="form-control" id="bsNoteid">
                                                <option value="select">Select type</option>
                                                <option *ngFor='let bsnote of bsNoteDDList' [value]="bsnote.id">{{ bsnote.note_Title }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <label for="plNoteId" class="form-label">PL Note</label>
                                            
                                            <select name="plNoteId" [(ngModel)]="coaSubSubAccount.plNoteId" class="form-control" id="plNoteId">
                                                <option value="select">Select type</option>
                                                <option *ngFor='let plnote of plNoteDDList' [value]="plnote.id">{{ plnote.note_Title }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <label for="bsNoteid" class="form-label">Company</label>
                                            
                                            <select name="comId" [(ngModel)]="coaSubSubAccount.companyId" class="form-control" id="comId">
                                                <option value="select">Select type</option>
                                                <option *ngFor='let compList of companyDDList' [value]="compList.id">{{ compList.companyName }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default waves-effect" (click)="close()">
                        Cancel
                    </button>
                    <button [disabled]="!SubSubMainModal.form.valid || saving" type="submit" class="btn btn-primary waves-effect">
                        Save
                    </button>
                </div>
            </form> -->
        </div>
    </div>
</div>