<div bsModal #editLeaveRequestModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="editLeaveRequestModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">

        <div #modalContent class="modal-content">

            
           
            <div class="card">
                <form *ngIf="active" #editLeaveRequestForm="ngForm" id="frm_edit_leave_request" novalidate (ngSubmit)="onType()">

                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">
                                <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
                        </div>
                        <h4 class="card-title">Edit Leave Request</h4>
                    </div>
                    <br />
                    <div class="card-body ">
                        <form method="#" action="#">

                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">

                                        <!-- <input matInput placeholder="Document No" name="docNo" [(ngModel)]="leaveRequest.docNo" type="text" disabled />
                                     -->
                                     <input matInput placeholder="Document No" name="docNo" [(ngModel)]="leaveRequest.docNo" type="text"  *ngIf="isAutoCode"
                                     disabled />
                 
                                   <input matInput placeholder="Document No" name="docNo" [(ngModel)]="leaveRequest.docNo"  *ngIf="!isAutoCode" type="text"  />
                                




                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <input matInput [matDatepicker]="picker" placeholder="Document date" name="docDate" [(ngModel)]="leaveRequest.docDate" (click)="picker.open()">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Application No" name="applicationNo" [(ngModel)]="leaveRequest.applicationNo" type="text" />
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-4" >
                                    <mat-form-field class="example-full-width">
                                        <!-- <input matInput placeholder="Application date" name="applicationDate" [(ngModel)]="leaveRequest.applicationDate" type="text" /> -->
                                        <input matInput [matDatepicker]="picker4" placeholder="Application date" name="applicationDate" [(ngModel)]="leaveRequest.applicationDate" (click)="picker4.open()">
                                        <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                                        <mat-datepicker #picker4></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4" [formGroup]="_leaveRequestValidation">
                                    <!-- <mat-form-field>
                                        <mat-select placeholder="Select Employee" [(ngModel)]="leaveRequest.employeeId" name="employee" formControlName="employeeId">
                                            <mat-option *ngFor="let option of employeeDDList" [value]="option.id">{{option.employee_Name}}</mat-option>
                                        </mat-select>
                                        <mat-error>  Employee  Field is required </mat-error>
                                    </mat-form-field> -->
                                    <mat-form-field class="example-full-width">
                                        <input type="text" placeholder="Select Employee" matInput [formControl]="myControl" [matAutocomplete]="auto"
                                          [(ngModel)]="empName" name="empName" formControlName="employeeId">
                                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayEmployee">
                                          <mat-option *ngFor="let option of filteredOptions | async " [value]="option">
                                            {{option.employee_Name}}
                                          </mat-option>
                                        </mat-autocomplete>
                                        <mat-error> Enter Valid employee Name </mat-error>
                                    </mat-form-field>

                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Alternate contact number" name="alternateContactNo" [(ngModel)]="leaveRequest.alternateContactNo" type="text" />
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4" [formGroup]="_leaveRequestValidation">
                                    <mat-form-field>
                                        <mat-select placeholder="Select Leave Type" [(ngModel)]="leaveRequest.leaveTypeId" name="leaveType" formControlName="leaveTypeId">
                                            
                                            <mat-option *ngFor= "let option of leaveTypeDDList" [value]="option.id">{{option.leaveTypeName}}</mat-option>
                                        </mat-select>
                                        <mat-error>  Leave Type Field is required </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <mat-select placeholder="Select Leave Duration" [(ngModel)]="leaveRequest.duration" name="duration">
                                            <mat-option value="Full">Full</mat-option>
                                            <mat-option value="Half">Half</mat-option>
                                            <mat-option value="Hourly">Hourly</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4" [formGroup]="_leaveRequestValidation">
                                    <mat-form-field class="example-full-width">
                                        <input matInput [matDatepicker]="picker1" placeholder="From date" name="fromDate" [(ngModel)]="leaveRequest.fromDate" (click)="picker1.open()" formControlName="leaveFromDate">
                                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                        <mat-datepicker #picker1></mat-datepicker>
                                        <mat-error>  From Date Field is required </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4" [formGroup]="_leaveRequestValidation">
                                    <mat-form-field class="example-full-width">
                                        <input matInput [matDatepicker]="picker2" placeholder="To date" name="toDate" [(ngModel)]="leaveRequest.toDate" (click)="picker2.open()" formControlName="leaveToDate">
                                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                        <mat-datepicker #picker2></mat-datepicker>
                                        <mat-error>  To Date Field is required </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Reason" name="reason" [(ngModel)]="leaveRequest.reason" type="text" />
                                    </mat-form-field>
                                </div>
                            </div>
                            <!-- <div class="row">

                                </div> -->
                            <!-- <div class="togglebutton">
                                <label>
                                  <input type="checkbox" checked="">
                                  <span class="toggle"></span>
                                  Active
                                </label>
                              </div> -->
                        </form>
                    </div>
                    <div class="card-footer ">
                        <button mat-raised-button type="button" class="btn btn-fill btn-default" (click)="close()">Close</button>
                        <button mat-raised-button type="submit" class="btn btn-fill btn-info">Submit</button>
                        
                    </div>
                </form>
            </div>

           
        </div>
    </div>
</div>