<style>
    .tab-pane .table tbody>tr>td:first-child {
        width: auto;
    }
</style>



<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-blue card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-money fa-2x" aria-hidden="true"></i>
                        </div>
                        <h4 class="card-title">Attendance Setup</h4>
                    </div>

                    <div class="card-body ">
                        <ul class="nav nav-pills nav-pills-info" role="tablist">
                            <li class="nav-item">
                                    <!-- [class.show]="isDetail" -->
                                    <!-- [class.active]="isDetail" -->
                                    <!-- (click)="ActiveDetail()" -->
                                <a class="nav-link "   data-toggle="tab"
                                    href="#link1" role="tablist" >
                                    Detail
                                </a>
                            </li>
                            <li class="nav-item">
                                    <!-- [class.active]="isHistory" [class.show]="isHistory" (click)="ActiveHistory()" -->
                                <a class="nav-link"  data-toggle="tab"
                                    href="#link2" role="tablist" >
                                    History
                                </a>
                            </li>

                        </ul>
                        <div class="tab-content tab-space">
                                <!-- [class.active]="isDetail" -->
                            <div class="tab-pane"  id="link1">

                                <div class="row">

                                    <div class="col-md-2">
                                        <mat-form-field>
                                            <mat-select placeholder="Attendance Status" [(ngModel)]="Attendance.status"
                                                name="attendancestatus">
                                                <mat-option *ngFor="let option of attendaceTypes" [value]="option.id">
                                                    {{option.status}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>


                                    <div class="col-md-2">

                                        <mat-form-field>
                                            <mat-placeholder>Start Date</mat-placeholder>
                                            <input matInput [matDatetimepicker]="datetimePicker" required autocomplete="true"
                                                [(ngModel)]="toDate" name="toDate">
                                            <mat-datetimepicker-toggle [for]="datetimePicker" matSuffix></mat-datetimepicker-toggle>
                                            <mat-datetimepicker #datetimePicker touchUi="true" type="datetime"
                                                openOnFocus="true" timeInterval="5"></mat-datetimepicker>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-2">


                                        <mat-form-field>
                                            <mat-placeholder>To Date</mat-placeholder>
                                            <input matInput [matDatetimepicker]="datetimePicker1" required autocomplete="true"
                                                [(ngModel)]="fromDate" name="fromDate" (ngModelChange)="getDays($event)">
                                            <mat-datetimepicker-toggle [for]="datetimePicker1" matSuffix></mat-datetimepicker-toggle>
                                            <mat-datetimepicker #datetimePicker1 touchUi="true" type="datetime"
                                                openOnFocus="true" timeInterval="5"></mat-datetimepicker>
                                        </mat-form-field>
                                    </div>



                                    <div class="col-md-2">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Total Days" type="number" [(ngModel)]="totalDays"
                                                name="totaldays" disabled />
                                        </mat-form-field>
                                    </div>

                                </div>

                                <div class="row">

                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Remarks" [(ngModel)]="Attendance.comments"
                                                type="text" name="remarks" />
                                        </mat-form-field>
                                    </div>



                                </div>

                                <div class="row">

                                    <div class="col-md-2">
                                        Apply To
                                    </div>

                                    <div class="col-md-2">


                                        <mat-radio-group>
                                            <mat-radio-button [(ngModel)]="IsEmployee" name="employeeRadioButton"
                                                (change)="OnEmployeeToggleChange()" value="1">All Employees</mat-radio-button>
                                            <mat-radio-button [(ngModel)]="departments" name="departmentRadioButton"
                                             (change)="OnDepartmentToggleChange()" value="2">Department Wise</mat-radio-button>
                                            <mat-radio-button [(ngModel)]="designations" name="designationRadioButton" 
                                            (change)="OnDesignationToggleChange()" value="3">Designation Wise</mat-radio-button>
                                                <mat-radio-button [(ngModel)]="selectedEmployees" name="selectedEmployeeRadioButton"
                                                 (change)="OnSelectedEmployeeToggleChange()" value="4">Employee Wise</mat-radio-button>
                                        </mat-radio-group>


                                    </div>

                                    <div class="col-md-2">
                                        <mat-form-field *ngIf="!IsEmployee">

                                            <mat-select *ngIf="IsDepartment" placeholder="Select Options" multiple #dept 
                                                [formControl]="toppings"  [(ngModel)]="selectedDepartments" >
                                                <!-- <mat-select-trigger>
                                              {{toppings.value ? toppings.value[0] : ''}}
                                              <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
                                                (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
                                              </span>
                                            </mat-select-trigger> -->
                                                <mat-option *ngFor="let option of allDepartment" [value]="option.id">{{option.title}}</mat-option>
                                            </mat-select>
                                            <mat-select *ngIf="IsDesignation" placeholder="Select Designation" multiple #desig
                                                [formControl]="toppings"  [(ngModel)]="selectedDesignation" >
                                                <!-- <mat-select-trigger>
                                              {{toppings.value ? toppings.value[0] : ''}}
                                              <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
                                                (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
                                              </span>
                                            </mat-select-trigger> -->
                                                <mat-option *ngFor="let option of allDesignation" [value]="option.id">{{option.employeeDesignationName}}</mat-option>
                                            </mat-select>


                                            <mat-select *ngIf="IsSelectedEmployees" placeholder="Select Employees" multiple #selectedEmp
                                            [formControl]="toppings"  >
                                            <!-- <mat-select-trigger>
                                          {{toppings.value ? toppings.value[0] : ''}}
                                          <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
                                            (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
                                          </span>
                                        </mat-select-trigger> -->
                                            <mat-option *ngFor="let option of selectedEmployees" [value]="option.id">{{option.employee_Name}}</mat-option>
                                        </mat-select>


                                        </mat-form-field>

                                    </div>
                                </div>

                                <!-- <div class="material-datatables">
                                <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>{{ dataTable.headerRow[0] }}</th>
                                            <th>{{ dataTable.headerRow[1] }}</th>
                                            <th>{{ dataTable.headerRow[2] }}</th>
                                            <th>{{ dataTable.headerRow[3] }}</th>
                                            <th>{{ dataTable.headerRow[4] }}</th>
                                            <th>{{ dataTable.headerRow[5] }}</th>
                                            <th class="disabled-sorting text-right">{{ dataTable.headerRow[6] }}</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>{{ dataTable.footerRow[0] }}</th>
                                            <th>{{ dataTable.footerRow[1] }}</th>
                                            <th>{{ dataTable.footerRow[2] }}</th>
                                            <th>{{ dataTable.footerRow[3] }}</th>
                                            <th>{{ dataTable.footerRow[4] }}</th>
                                            <th>{{ dataTable.footerRow[5] }}</th>
                                            <th class="text-right">{{ dataTable.footerRow[6] }}</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr *ngFor="let row of dataTable.dataRows">
                                            <td>{{row[0]}}</td>
                                            <td>{{row[1]}}</td>
                                            <td>{{row[2]}}</td>
                                            <td>{{row[3]}}</td>
                                            <td>{{row[4]}}</td>
                                            <td>{{row[5]}}</td>
                                            <td class="text-right">



                                                <a class="btn btn-link btn-warning btn-just-icon edit" (click)="EditTaxSlabDetail(row[6])">
                                                    <i class="material-icons">dvr</i>
                                                </a>

                                                <a class="btn btn-link btn-danger btn-just-icon remove" (click)="DeleteTaxSlabDetail(row[6])">
                                                    <i class="material-icons">close</i>
                                                </a>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> -->

                                <br />

                                <div class="row pull-right">
                                    <!-- <button mat-raised-button type="submit" class="btn btn-fill btn-default" (click)="reset()">Save</button> -->
                                    <button mat-raised-button type="submit" class="btn btn-fill btn-info" (click)="save()">Save</button>
                                    <!-- <button mat-raised-button type="submit" class="btn btn-fill btn-info" *ngIf="isEditBtn" (click)="edit()">Update</button> -->
                                </div>

                            </div>



                            <!-- [class.active]="isHistory" -->
                            <div class="tab-pane"  id="link2">

                                <div class="material-datatables">
                                   
                                    <table id="datatables1" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                      <thead>
                                          <tr>
                                            <th>{{ dataTable1.headerRow[0] }}</th>
                                            <th>{{ dataTable1.headerRow[1] }}</th>
                                            <th>{{ dataTable1.headerRow[2] }}</th>
                                            <th>{{ dataTable1.headerRow[3] }}</th>
                                            <th>{{ dataTable1.headerRow[4] }}</th>
           
                                            <th class="disabled-sorting text-right">{{ dataTable1.headerRow[5] }}</th>
                                          </tr>
                                      </thead>
                                      <tfoot>
                                          <tr>
                                            <th>{{ dataTable1.footerRow[0] }}</th>
                                            <th>{{ dataTable1.headerRow[1] }}</th>
                                            <th>{{ dataTable1.headerRow[2] }}</th>
                                            <th>{{ dataTable1.headerRow[3] }}</th>
                                            <th>{{ dataTable1.headerRow[4] }}</th>
                                            
                                            <th class="text-right">{{ dataTable1.footerRow[5] }}</th>
                                          </tr>
                                      </tfoot>
                                      <tbody>
                                          <tr *ngFor="let row of dataTable1.dataRows">
                                              <td>{{row[0]}}</td>
                                              <td>{{row[1]}}</td>
                                              <td>{{row[2]}}</td>
                                              <td>{{row[3]}}</td>
                                              <td>{{row[4]}}</td>
                                              
                                              <td class="text-right">
                                              <a class="btn btn-link btn-warning btn-just-icon edit" (click)="EditTaxSlabMasterDetail(row[5])" ><i class="material-icons">dvr</i></a>
                                                <a  class="btn btn-link btn-danger btn-just-icon remove" (click)="deleteTaxSlabMasterDetail(row[5])"><i class="material-icons">close</i></a>
                                              </td>
                                          </tr>
                                      </tbody>
                                  </table>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- POPUP -->

    <!-- <edit-tax-slab #editTaxSlabModal (modalSave)="updateSalaryGroupDetail($event)"></edit-tax-slab> -->