<style>
    .tab-pane .table tbody>tr>td:first-child {
        width: auto;
    }
</style>



<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div class="card ">

                        <div class="card-header card-header-blue card-header-icon">
                                <div class="card-icon">
                                        <i class="fa fa-money" aria-hidden="true"></i>
                                </div>
                                <h4 class="card-title">Salary</h4>
                              </div>

                <div class="card-body ">
                    <ul class="nav nav-pills nav-pills-info" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" [class.active]="isDetail" [class.show]="isDetail" data-toggle="tab" href="#link1" role="tablist" (click)="ActiveDetail()">
                                Detail
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [class.active]="isHistory" [class.show]="isHistory" data-toggle="tab" href="#link2" role="tablist" (click)="ActiveHistory()">
                                History
                            </a>
                        </li>

                    </ul>
                    <div class="tab-content tab-space">
                        <div class="tab-pane" [class.active]="isDetail" id="link1">

                            <div class="row">



                                <div class="col-md-3">

                                    <mat-form-field>
                                        <mat-select placeholder="Employee" [(ngModel)]="salaryMaster.employeeId" name="employeeId">
                                            <mat-option *ngFor="let option of employee" [value]="option.id">{{option.employee_Name}}</mat-option>
                                        </mat-select>
                                        <mat-error> Employee Field is required </mat-error>
                                    </mat-form-field>

                                </div>
                                <div class="col-md-1 ">
                                    <div style="padding-top: 16px; cursor:pointer;">
                                        <i class="fa fa-search" aria-hidden="true" (click)="addSearchDD()"></i>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Annual Gross Salary" type="number" [(ngModel)]="salaryMaster.annualGrossSalary"/>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-2">

                                    <mat-form-field>
                                            <mat-select placeholder="Select Salary Group" name="salaryGroup" [(ngModel)]="salaryMaster.salaryGroupMasterId" (ngModelChange)="onChange($event)">  
                                              <mat-option *ngFor="let salaryGroup of salaryGroupDropDown" [value]="salaryGroup.id">
                                                {{ salaryGroup.salaryGroupTitle }}
                                              </mat-option>
                                            </mat-select>
                                    </mat-form-field>

                                </div>

                            </div>

                            <div class="material-datatables">
                                <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                      <thead>
                                          <tr>
                                            <th>{{ dataTable.headerRow[0] }}</th>
                                            <th>{{ dataTable.headerRow[1] }}</th>
           
                                            <th class="disabled-sorting text-right">{{ dataTable.headerRow[2] }}</th>
                                          </tr>
                                      </thead>
                                      <tfoot>
                                          <tr>
                                            <th>{{ dataTable.footerRow[0] }}</th>
                                            <th>{{ dataTable.footerRow[1] }}</th>
                                            <th class="text-right">{{ dataTable.footerRow[2] }}</th>
                                          </tr>
                                      </tfoot>
                                      <tbody>
                                          <tr *ngFor="let row of dataTable.dataRows">
                                              <td>{{row[0]}}</td>
                                              <td>{{row[1]}}</td>
                                              <td class="text-right">
                                                <a class="btn btn-link btn-warning btn-just-icon edit" (click)="EditSalaryItem(row[2])" ><i class="material-icons">dvr</i></a>
                                                  <a  class="btn btn-link btn-danger btn-just-icon remove" (click)="DeleteSalaryItem(row[2])"><i class="material-icons">close</i></a>
                                                </td>
                                          </tr>
                                      </tbody>
                                  </table>
                              </div> 
                            <br />

                            <div class="row pull-right">
                                <button mat-raised-button type="submit" class="btn btn-fill btn-default" (click)="reset()">Reset</button>
                                <button mat-raised-button type="submit" class="btn btn-fill btn-info" *ngIf="isSaveBtn" (click)="save()">Save</button>
                                <button mat-raised-button type="submit" class="btn btn-fill btn-info" *ngIf="isEditBtn" (click)="edit()">Update</button>
                            </div>

                        </div>



                        <div class="tab-pane" [class.active]="isHistory" id="link2">

                            <div class="material-datatables">
                                <table id="datatables1" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                      <thead>
                                          <tr>
                                            <th>{{ dataTable1.headerRow[0] }}</th>
                                            <th>{{ dataTable1.headerRow[1] }}</th>
                                            <th>{{ dataTable1.headerRow[2] }}</th>
           
                                            <th class="disabled-sorting text-right">{{ dataTable1.headerRow[3] }}</th>
                                          </tr>
                                      </thead>
                                      <tfoot>
                                          <tr>
                                            <th>{{ dataTable1.footerRow[0] }}</th>
                                            <th>{{ dataTable1.headerRow[1] }}</th>
                                            <th>{{ dataTable1.headerRow[2] }}</th>
                                            
                                            <th class="text-right">{{ dataTable1.footerRow[3] }}</th>
                                          </tr>
                                      </tfoot>
                                      <tbody>
                                          <tr *ngFor="let row of dataTable1.dataRows">
                                              <td>{{row[0]}}</td>
                                              <td>{{row[1]}}</td>
                                              <td>{{row[2]}}</td>
                                              
                                              <td class="text-right">
                                              <a class="btn btn-link btn-warning btn-just-icon edit" (click)="EditSalaryMasterDetail(row[3])" ><i class="material-icons">dvr</i></a>
                                                <a  class="btn btn-link btn-danger btn-just-icon remove" (click)="deleteSalaryMasterDetail(row[3])"><i class="material-icons">close</i></a>
                                              </td>
                                          </tr>
                                      </tbody>
                                  </table>
                              </div>

                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<!-- POPUP -->

<edit-salary-item #editSalaryItemModal (modalSave)="updateSalaryDetail($event)"></edit-salary-item>
<app-search-employee #searchEmployeeDropdownModal (modalSave)="EmployeeId($event)"></app-search-employee>