<div bsModal #createEditCostCenterModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="createEditCostCenterModal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">

        <div #modalContent class="modal-content">

            <div class="card">
                <form *ngIf="active" #addDepartmentForm="ngForm" id="frm_add_pos" novalidate (ngSubmit)="save()">

                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">mail_outline</i>
                        </div>
                        <h4 class="card-title">Add Cost Center</h4>
                    </div>
                    <br />
                    <div class="card-body ">
                        <form method="#" action="#">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Code" type="Code">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Name" type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Cost Center Group" type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Sort Order" type="number" min="0" max="2" minlength="1" maxlength="2">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="LC DOCID" type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <!-- <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Email" type="text">
                                            </mat-form-field> -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="togglebutton">
                                        <label>
                                            <input type="checkbox" checked="">
                                            <span class="toggle"></span>
                                            Active
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="togglebutton">
                                        <label>
                                            <input type="checkbox" checked="">
                                            <span class="toggle"></span>
                                            Outward gatepass
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="togglebutton">
                                        <label>
                                            <input type="checkbox" checked="">
                                            <span class="toggle"></span>
                                            IsLogical
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="togglebutton">
                                        <label>
                                            <input type="checkbox" checked="">
                                            <span class="toggle"></span>
                                            Day Shift
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4"></div>
                                <div class="col-md-4"></div>
                            </div>
                        </form>
                    </div>

                    <div class="card-footer ">

                        <button mat-raised-button type="submit" class="btn btn-fill btn-rose">Submit</button>
                        <button mat-raised-button type="button" class="btn " (click)="close()">Cancle</button>

                    </div>

                </form>
            </div>

            <!-- <form *ngIf="active" #createEditCostCenterForm="ngForm" id="frm_add_company" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>{{l("Edit Cost Center")}}</span>
                    </h4>

                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="modal-body">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane animated fadeIn active" id="user-details">
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <label for="name" class="form-label">Name</label>
                                            <input id="name" type="text" name="name" [(ngModel)]="costCenter.name" required maxlength="32" minlength="2" class="validate form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <label for="Code" class="form-label">Code</label>
                                            <input id="Code" type="text" name="Code" [(ngModel)]="costCenter.code" required maxlength="32" class="validate form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <label for="head" class="form-label">Cost Center Group</label>
                                            <input id="head" type="head" name="head" [(ngModel)]="costCenter.costCenterGroup" maxlength="256" class="validate form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <label for="sortorder" class="form-label">Sort Order</label>
                                            <input id="sortorder" type="text" name="sortorder" [(ngModel)]="costCenter.sortOrder" required maxlength="32" class="validate form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <label for="lcdocid" class="form-label">LC DocId</label>
                                            <input id="lcdocid" type="text" name="lcdocid" [(ngModel)]="costCenter.lcDocId" required maxlength="32" class="validate form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input id="active" type="checkbox" name="active" [(ngModel)]="costCenter.isActive" checked class="form-control" />
                                            <label for="active" class="form-label">Active</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input id="outwardgatepass" type="checkbox" [(ngModel)]="costCenter.outwardGatepass" name="outwardgatepass" checked class="form-control"
                                            />
                                            <label for="outwardgatepass" class="form-label">Outward Gatepass</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input id="logical" type="checkbox" name="logical" [(ngModel)]="costCenter.isLogical" checked class="form-control" />
                                            <label for="logical" class="form-label">Logical</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input id="shift" type="checkbox" name="shift" [(ngModel)]="costCenter.dayShift" checked class="form-control" />
                                            <label for="shift" class="form-label">Day/Night Shift</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default waves-effect" (click)="close()">
                        {{l("Cancel")}}
                    </button>
                    <button [disabled]="!createUserForm.form.valid || saving" type="submit" class="btn btn-primary waves-effect">
                        Save
                    </button>
                </div>
            </form> -->
        </div>
    </div>
</div>