<div bsModal #addAllowanceModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="addAllowanceModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">

        <div #modalContent class="modal-content">

            
           
                <div class="card">

                        <div class="card-header card-header-blue card-header-icon">
                            <div class="card-icon">
                                <i class="fa fa-floppy-o fa-2x" aria-hidden="true"></i>
                            </div>

                            <button type="button"  class="close" (click)="close()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                            </button>

                            <h4 class="card-title">Add Allowance</h4>
                          </div>
                          <br />

                          <form *ngIf="active" #addAllowanceForm="ngForm" id="frm_add_allowance" novalidate (ngSubmit)="onType()">
                          
                          <div class="card-body ">
                              
                                <div class="row">
                                    
                                    <!-- <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Document No" type="text" [(ngModel)]="allowance.docNo" name="docNo" disabled />
                                          </mat-form-field>
                                    </div> -->

                                    <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                                            
                                              <input matInput placeholder="Document No" name="docNo" [(ngModel)]="allowance.docNo" type="text" *ngIf="isAutoCode"
                                                disabled />
                                            
                                              <input matInput placeholder="Document No" name="docNo" [(ngModel)]="allowance.docNo" *ngIf="!isAutoCode" type="text" />
                                            
                                            </mat-form-field>
                                     </div>



                                    <div class="col-md-6">

                                            <mat-form-field>
                                                    <mat-placeholder>Document Date</mat-placeholder>
                                                    <input matInput [matDatetimepicker]="datetimePicker" required autocomplete="true" [(ngModel)]="docDate" name="myDate"> 
                                                    <mat-datetimepicker-toggle [for]="datetimePicker" matSuffix ></mat-datetimepicker-toggle>
                                                    <mat-datetimepicker #datetimePicker  touchUi = "true" type="datetime" openOnFocus="true" timeInterval="5"  ></mat-datetimepicker>                                     
                                            </mat-form-field>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">

                                            <mat-form-field>
                                                    <mat-placeholder>Allowance date</mat-placeholder>
                                                    <input matInput [matDatetimepicker]="datetimePicker1" required autocomplete="true" [(ngModel)]="allowanceDate" name="allowanceDate"> 
                                                    <mat-datetimepicker-toggle [for]="datetimePicker1" matSuffix ></mat-datetimepicker-toggle>
                                                    <mat-datetimepicker #datetimePicker1  touchUi = "true" type="datetime" openOnFocus="true" timeInterval="5"  ></mat-datetimepicker>                                     
                                            </mat-form-field>

                                    </div>
                                    <div class="col-md-5" [formGroup]="_allowanceValidation">

                                        <mat-form-field>
                                            <mat-select placeholder="Select Employee" [(ngModel)]="allowance.employeeId" name="employeeId"
                                                formControlName="employeeId">
                                                <mat-option *ngFor="let option of employee" [value]="option.id">{{option.employee_Name}}</mat-option>
                                            </mat-select>
                                            <mat-error> Employee Field is required </mat-error>
                                        </mat-form-field>

                                    </div>
                                    <div class="col-md-1 ">
                                        <div style="padding-top: 16px; cursor:pointer;">
                                            <i class="fa fa-search" aria-hidden="true" (click)="addSearchDD()"></i>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-6" [formGroup]="_allowanceValidation">

                                        <mat-form-field>
                                            <mat-select placeholder="Allowance Type" name="allowanceTypeId" [(ngModel)]="allowance.allowanceTypeId" formControlName="allowanceTypeId">   
                                              <mat-option *ngFor="let allowanceType of allowanceTypeDropDown" [value]="allowanceType.id">
                                                {{ allowanceType.allowanceTitle }}
                                              </mat-option>
                                            </mat-select>
                                            <mat-error>  Allowance Type is required </mat-error>
                                        </mat-form-field>

                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Amount" type="text" name="amount" [(ngModel)]="allowance.amount" />
                                          </mat-form-field>
                                    </div>
                                </div>

                                  <mat-form-field class="example-full-width">
                                        <textarea rows="2" matInput class="form-control" name="detail" placeholder = "Detail" (change)="doTextareaValueChange($event)" id="detail"></textarea>

                                </mat-form-field>  

                          </div>

                          <div class="card-footer ">
                            <button mat-raised-button type="submit" class="btn" (click)="close()">Close</button>
                            <button mat-raised-button type="submit" class="btn btn-fill btn-info">Submit</button>
                          </div>

                    </form>                    
                </div>

           
        </div>
    </div>
</div>
<app-search-employee #searchEmployeeDropdownModal (modalSave)="EmployeeId($event)"></app-search-employee>