<div bsModal #editTransferModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="editTransferModal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">

        <div #modalContent class="modal-content">



            <div class="card">


                <div class="card-header card-header-blue card-header-icon">
                    <div class="card-icon">
                            <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
                    </div>
                    <h4 class="card-title">Edit Transfer</h4>
                </div>
                <br />

                <form *ngIf="active" #editTransferForm="ngForm" id="frm_edit_Transfer" novalidate (ngSubmit)="onType()">


                    <div class="card-body ">
                        <!--  <form method="#" action="#">-->

                        <div class="row">
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                               
                                    <!-- <input matInput placeholder="Document No" [(ngModel)]="Transfer.documentNo" type="text" name="documentNo"  disabled/> -->
                                    <input matInput placeholder="Document No" name="docNo" [(ngModel)]="Transfer.documentNo" type="text"  *ngIf="isAutoCode"
                                    disabled />
                
                                    <input matInput placeholder="Document No" name="docNo" [(ngModel)]="Transfer.documentNo"  *ngIf="!isAutoCode" type="text"  />
                                   
                               
                                </mat-form-field>
                            </div>

                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                    <mat-placeholder>Document Date</mat-placeholder>
                                    <input matInput [matDatetimepicker]="datetimePicker1" required autocomplete="true" [(ngModel)]="documentDate" name="documentDate">
                                    <mat-datetimepicker-toggle [for]="datetimePicker1" matSuffix></mat-datetimepicker-toggle>
                                    <mat-datetimepicker #datetimePicker1 touchUi="true" type="datetime" openOnFocus="true" timeInterval="5"></mat-datetimepicker>

                                </mat-form-field>
                            </div>

                            <div class="col-md-4" [formGroup]="_trans">
                                <mat-form-field class="example-full-width">
                                    <mat-placeholder>Transfer Date</mat-placeholder>
                                    <input matInput [matDatetimepicker]="datetimePicker2" required autocomplete="true" [(ngModel)]="transferDate" name="transferDate" formControlName="transferDate">
                                    <mat-datetimepicker-toggle [for]="datetimePicker2" matSuffix></mat-datetimepicker-toggle>
                                    <mat-datetimepicker #datetimePicker2 touchUi="true" type="datetime" openOnFocus="true" timeInterval="5"></mat-datetimepicker>
                                    <mat-error>  Transfer Date is required  </mat-error>
                                </mat-form-field>
                            </div>




                        </div>

                        <div class="row" >
                            <div class="col-md-6" [formGroup]="_trans">
                                <!-- <mat-form-field>

                                    <mat-placeholder>Select Employee</mat-placeholder>
                                    <mat-select class="example-full-width" [(ngModel)]="Transfer.employeeId" name="employeeId" formControlName="employeeId">
                                        <mat-option *ngFor="let option of employee " [value]="option.id">{{option.employee_Name}}</mat-option>
                                    </mat-select>
                                    <mat-error>  Employee Name is required  </mat-error>
                                </mat-form-field> -->

                                <mat-form-field class="example-full-width">
                                    <input type="text" placeholder="Select Employee" matInput [formControl]="myControl" [matAutocomplete]="auto"
                                      [(ngModel)]="empName" name="empName" formControlName="employeeId">
                                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayEmployee">
                                      <mat-option *ngFor="let option of filteredOptions | async " [value]="option">
                                        {{option.employee_Name}}
                                      </mat-option>
                                    </mat-autocomplete>
                                    <mat-error> Enter Valid employee Name </mat-error>
                                </mat-form-field>


                            </div>
                            <div class="col-md-6">
                                <mat-form-field>
                                    <mat-select placeholder="Select Transfer Type" name="transferType" [(ngModel)]="Transfer.transferType">
                                        <mat-option value="Development Transfer">Development Transfer</mat-option>
                                        <mat-option value="Shift Transfer">Shift Transfer</mat-option>
                                        <mat-option value="Replacement Transfer">Replacement Transfer</mat-option>
                                    </mat-select>
                                   
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row" [formGroup]="_trans">
                            <div class="col-md-6">
                                <mat-form-field>
                                    <mat-placeholder>Select Transfer From</mat-placeholder>
                                    <mat-select class="example-full-width" [(ngModel)]="Transfer.transferFromId" name="transferFrom" formControlName="transferFrom">
                                        <mat-option *ngFor="let option of department " [value]="option.id">{{option.title}}</mat-option>
                                    </mat-select>
                                    <mat-error>  Transfer From field is required  </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field>
                                    <mat-placeholder>Select Transfer To</mat-placeholder>
                                    <mat-select class="example-full-width" [(ngModel)]="Transfer.transferToId" name="transferTo" formControlName="transferTo">
                                        <mat-option *ngFor="let option of department " [value]="option.id">{{option.title}}</mat-option>
                                    </mat-select>
                                    <mat-error>  Transfer To field is required  </mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <mat-form-field>

                                    <textarea rows="3" matInput class="form-control" name="detail" placeholder="Detail" name="detail" [(ngModel)]="Transfer.detail"></textarea>

                                </mat-form-field>
                            </div>

                        </div>



                        <!-- <div class="togglebutton">
                               
                            
                            </form>-->
                    </div>

                    <div class="card-footer ">
                            <button mat-raised-button type="submit" class="btn" (click)="close()">Close</button>
                        <button mat-raised-button type="submit" class="btn btn-fill btn-info">Submit</button>

                    </div>

                </form>
            </div>


        </div>
    </div>
</div>