<div bsModal #addStateModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog"
  aria-labelledby="addStateModal" aria-hidden="true" [config]="{backdrop: 'static'}">


  <div class="modal-dialog">

    <div #modalContent class="modal-content">



      <div class="card">



        <div class="card-header card-header-blue card-header-icon">
          <div class="card-icon">
            <i class="material-icons">mail_outline</i>
          </div>
          <h4 class="card-title">Add State</h4>
        </div>
        <br />
        <form *ngIf="active" #addStateForm="ngForm" id="frm_Add_Type" (ngSubmit)="onType()">

          <!-- <form [formGroup]="type" class="form-horizontal">
           -->
          <div class="card-body ">

            <div class="row">
              <div class="col-md-4" [formGroup]="type">


                <mat-form-field class="example-full-width">
                  <input type="text" placeholder="Select Country" matInput [formControl]="myControl" [matAutocomplete]="auto"
                    [(ngModel)]="countryName" name="countryName" formControlName="countryName">
                  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayCountry">
                    <mat-option *ngFor="let option of filteredOptions | async " [value]="option">
                      {{option.name}}
                    </mat-option>
                  </mat-autocomplete>
                  <mat-error> Enter Valid Country Name </mat-error>
                </mat-form-field>

                <!-- formControlName="countryId"  [(ngModel)]="cName" name="cName"   [formGroup]="type"

                 <mat-form-field class="example-full-width">
                  <input type="text" placeholder="Select Country" aria-label="text" matInput [formControl]="myControl" [(ngModel)]="State.countryId" name="CountryID"
                    [matAutocomplete]="auto" >
                  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayCountry">
                    <mat-option *ngFor="let option of filteredOptions | async " [value]="option">
                      {{option.name}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>  -->


                <!-- <mat-form-field>
                  <mat-placeholder>Select Country</mat-placeholder>
                  <mat-select class="example-full-width" [(ngModel)]="State.countryId" name="CountryID" formControlName="CountryID" >
                    <mat-option *ngFor="let option of Country" [value]="option.id">{{option.name}}</mat-option>
                  </mat-select>
                  <mat-error> <strong> Please Select Country</strong>  </mat-error>
                </mat-form-field>   -->


              </div>


              <div class="col-md-4" [formGroup]="type">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="State Name" type="text" [(ngModel)]="State.state_Name" name="State_name"
                    formControlName="state_Name">
                  <mat-error> <strong> State name is required</strong> </mat-error>
                </mat-form-field>

              </div>

              <div class="col-md-4">

                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Sort Order" type="number" [(ngModel)]="State.sortOrder" name="sortOrder">
                  <!--                  
                  <mat-error> <strong> Sort Order is required</strong>  </mat-error>
                 -->
                </mat-form-field>
              </div>
            </div>

            <div class="row">


              <div class="col-md-12">

                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Comments" type="text" [(ngModel)]="State.comments" name="comments">
                </mat-form-field>
              </div>
            </div>

            <div class="row">

              <div class="togglebutton">
                <label>
                  <input type="checkbox" checked="" [(ngModel)]="isActive" name="isActive">
                  <span class="toggle"></span>
                  Active
                </label>
              </div>
            </div>

          </div>
          <div class="card-footer ">
            <button mat-raised-button type="button" class="btn " (click)="close()">Cancle</button>
            <button mat-raised-button type="submit" class="btn btn-fill btn-info">Submit</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>