<div bsModal #editItemTypeModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="editItemTypeModal"
  aria-hidden="true" [config]="{backdrop: 'static'}">


  <div class="modal-dialog">

    <div #modalContent class="modal-content">



      <div class="card">



        <div class="card-header card-header-rose card-header-icon">
          <div class="card-icon">
              <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
          </div>
          <h4 class="card-title">Edit ItemType</h4>
        </div>
        <br />
        <form *ngIf="active" #editItemTypeForm="ngForm" id="frm_edit_Type" novalidate (ngSubmit)="onType()">


          <div class="card-body ">

            <div class="row">
              <div class="col-md-4">
                <mat-form-field class="example-full-width" >

                  <!-- <input matInput placeholder="Code" type="text" [(ngModel)]="itemType.code" name="code" disabled>
                -->
                <input matInput placeholder="Code" name="code" [(ngModel)]="itemType.code" type="text"  *ngIf="isAutoCode"
                disabled />

                <input matInput placeholder="Code" name="code" [(ngModel)]="itemType.code"  *ngIf="!isAutoCode" type="text"  />
                
               </mat-form-field>
              </div>

              <div class="col-md-4"  [formGroup]="_item">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Name" type="text" [(ngModel)]="itemType.name" name="name" formControlName="itemName">
                  <mat-error>  Item Type Name is required </mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-4">

                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Sort Order" type="number" [(ngModel)]="itemType.sortOrder" name="sortOrder">
                </mat-form-field>
              </div>
            </div>

            <div class="row">


              <div class="col-md-12">

                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Remarks" type="text" [(ngModel)]="itemType.remarks" name="remarks">
                </mat-form-field>
              </div>
            </div>


          </div>
          <div class="card-footer ">
            <button mat-raised-button type="button" class="btn " (click)="close()">Close</button>
            <button mat-raised-button type="submit" class="btn btn-fill btn-info">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>