<style>
    .tab-pane .table tbody>tr>td:first-child {
        width: auto;
    }
</style>



<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-blue card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-money fa-2x" aria-hidden="true"></i>
                        </div>
                        <h4 class="card-title">Gratuity</h4>
                    </div>



                    <div class="card-body ">

                        <div class="card-body ">
                            <ul class="nav nav-pills nav-pills-info" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active show" data-toggle="tab" href="#link1" role="tablist">
                                        Detail </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#link2" role="tablist">
                                        History </a>
                                </li>

                            </ul>
                            <div class="tab-content tab-space">

                                <div class="tab-pane active show" id="link1">

                                    <div class="row">
                                        <div class="col-md-3">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Document No" type="text" [(ngModel)]=" gratuityMasterData.doc_No" name="doc_No" />
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-3">
                                            <mat-form-field>
                                                <mat-placeholder>Document Date</mat-placeholder>
                                                <input matInput [matDatetimepicker]="datetimePicker1" required
                                                    autocomplete="true"  [(ngModel)]=" gratuityMasterData.date" name="date">
                                                <mat-datetimepicker-toggle [for]="datetimePicker1" matSuffix></mat-datetimepicker-toggle>
                                                <mat-datetimepicker #datetimePicker1 touchUi="true" type="datetime"
                                                    openOnFocus="true" timeInterval="5"></mat-datetimepicker>
                                            </mat-form-field>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-3">
                                            <mat-form-field>
                                                <mat-select  #costCenterHead placeholder="Select Cost Center Head" multiple name="CostCenterHead"
                                                    (selectionChange)="CostCenterHead($event ,costCenterHead.id)">
                                                    <mat-option *ngFor="let option of resultCost" [value]="option.id">{{
                                                        option.costCenterGroup}}</mat-option>

                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-3">
                                            <mat-form-field>
                                                <mat-select  #costCenter placeholder="Select Cost Center" multiple name="CostCenter"
                                                    (selectionChange)="CostCenterId($event ,costCenter.value)">
                                                    <mat-option *ngFor="let option of CostCenterName" [value]="option.id">{{
                                                        option.name}}</mat-option>

                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-3">
                                            <mat-form-field>
                                                <mat-select #dept placeholder="Select Department" multiple name="department"
                                                    (selectionChange)="DepartmentId($event ,dept.value)">
                                                    <mat-option *ngFor="let option of DepartmentName" [value]="option.id">{{
                                                        option.title}}</mat-option>

                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-3">
                                            <mat-form-field>
                                                <mat-select #emp placeholder="Select Employee" multiple name="employee"
                                                     (selectionChange)="EmployeesId($event ,emp.value)">
                                                    <mat-option *ngFor="let option of empSelected" [value]="option.id">{{
                                                        option.employee_Name}}</mat-option>

                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                    </div>

                                    <div class="material-datatables">
                                        <table id="datatables" class="table table-striped table-no-bordered table-hover"
                                            cellspacing="0" width="100%" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>{{ dataTable.headerRow[0] }}</th>
                                                    <th>{{ dataTable.headerRow[1] }}</th>
                                                    <th>{{ dataTable.headerRow[2] }}</th>
                                                    <th>{{ dataTable.headerRow[3] }}</th>
                                                    <th>{{ dataTable.headerRow[4] }}</th>
                                                    <th>{{ dataTable.headerRow[5] }}</th>
                                                    <th>{{ dataTable.headerRow[6] }}</th>
                                                    <!-- <th class="disabled-sorting text-right">{{ dataTable.headerRow[7] }}</th> -->
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th>{{ dataTable.footerRow[0] }}</th>
                                                    <th>{{ dataTable.footerRow[1] }}</th>
                                                    <th>{{ dataTable.footerRow[2] }}</th>
                                                    <th>{{ dataTable.footerRow[3] }}</th>
                                                    <th>{{ dataTable.footerRow[4] }}</th>
                                                    <th>{{ dataTable.footerRow[5] }}</th>
                                                    <th>{{ dataTable.footerRow[6] }}</th>
                                                    <!-- <th class="text-right">{{ dataTable.footerRow[7] }}</th> -->
                                                </tr>
                                            </tfoot>
                                            <tbody>
                                                <tr *ngFor="let row of dataTable.dataRows">
                                                    <td>{{row[0]}}</td>
                                                    <td>{{row[1]}}</td>
                                                    <td>{{row[2]}}</td>
                                                    <td>{{row[3]}}</td>
                                                    <td>{{row[4]}}</td>
                                                    <td>{{row[5]}}</td>
                                                    <td>{{row[6]}}</td>

                                                    <!-- <td class="text-right">

                                          <a href="#" class="btn btn-link btn-warning btn-just-icon edit"><i class="material-icons">dvr</i></a>
                                          <a href="#" class="btn btn-link btn-danger btn-just-icon remove"><i class="material-icons">close</i></a>
                                        </td> -->
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="card-footer text-right">
                                        <button mat-raised-button type="submit" class="btn btn-fill btn-info"
                                         (click)="save()">Save</button>


                                    </div>

                                </div>

                                <div class="tab-pane" id="link2">

                                    <div class="row">

                                        <div class="col-md-3">
                                            <mat-form-field>
                                                <mat-placeholder>Document Date</mat-placeholder>
                                                <input matInput [matDatetimepicker]="datetimePicker2" required
                                                    autocomplete="true"  name="fromDate">
                                                <mat-datetimepicker-toggle [for]="datetimePicker2" matSuffix></mat-datetimepicker-toggle>
                                                <mat-datetimepicker #datetimePicker2 touchUi="true" type="datetime"
                                                    openOnFocus="true" timeInterval="5"></mat-datetimepicker>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-3">
                                            <mat-form-field>
                                                <mat-select placeholder="Select Cost Center Head" name="CostCenterHead">
                                                    <mat-option *ngFor="let option of resultCost" [value]="option.id">{{
                                                        option.costCenterGroup}}</mat-option>

                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-3">
                                            <mat-form-field>
                                                <mat-select placeholder="Select Cost Center" name="CostCenter">
                                                    <mat-option *ngFor="let option of CostCenterName" [value]="option.id">{{
                                                        option.name}}</mat-option>

                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-3">
                                            <mat-form-field>
                                                <mat-select placeholder="Select Department" name="department">
                                                    <mat-option *ngFor="let option of DepartmentName" [value]="option.id">{{
                                                        option.title}}</mat-option>

                                                </mat-select>
                                            </mat-form-field>
                                        </div>


                                    </div>

                                    <div class="material-datatables">
                                        <table id="datatables" class="table table-striped table-no-bordered table-hover"
                                            cellspacing="0" width="100%" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>{{ dataTable.headerRow[0] }}</th>
                                                    <th>{{ dataTable.headerRow[1] }}</th>
                                                    <th>{{ dataTable.headerRow[2] }}</th>
                                                    <th>{{ dataTable.headerRow[3] }}</th>
                                                    <th>{{ dataTable.headerRow[4] }}</th>
                                                    <th>{{ dataTable.headerRow[5] }}</th>
                                                    <th>{{ dataTable.headerRow[6] }}</th>
                                                    <!-- <th class="disabled-sorting text-right">{{ dataTable.headerRow[7] }}</th> -->
                                                </tr>
                                            </thead>
                                            <!-- <tfoot>
                                                                      <tr>
                                                                        <th>{{ dataTable.footerRow[0] }}</th>
                                                                        <th>{{ dataTable.footerRow[1] }}</th>
                                                                        <th>{{ dataTable.footerRow[2] }}</th>
                                                                        <th>{{ dataTable.footerRow[3] }}</th>
                                                                        <th>{{ dataTable.footerRow[4] }}</th>
                                                                        <th>{{ dataTable.footerRow[5] }}</th>
                                                                        <th>{{ dataTable.footerRow[6] }}</th>
                                                                         <th class="text-right">{{ dataTable.footerRow[7] }}</th> 
                                                                      </tr>
                                                                  </tfoot> -->
                                            <tbody>
                                                <tr *ngFor="let row of dataTable.dataRows">
                                                    <td>{{row[0]}}</td>
                                                    <td>{{row[1]}}</td>
                                                    <td>{{row[2]}}</td>
                                                    <td>{{row[3]}}</td>
                                                    <td>{{row[4]}}</td>
                                                    <td>{{row[5]}}</td>
                                                    <td>{{row[6]}}</td>

                                                    <!-- <td class="text-right">
                                  
                                                                            <a href="#" class="btn btn-link btn-warning btn-just-icon edit"><i class="material-icons">dvr</i></a>
                                                                            <a href="#" class="btn btn-link btn-danger btn-just-icon remove"><i class="material-icons">close</i></a>
                                                                          </td> -->
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
    <!-- POPUP -->