<div bsModal #editTaxSlabModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="editTaxSlabModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">

        <div #modalContent class="modal-content">

            
           
                <div class="card">
                    <form *ngIf="active" #editTaxSlabForm="ngForm" id="frm_edit_tax_slab" novalidate (ngSubmit)="save()">

                        <div class="card-header card-header-blue card-header-icon">
                            <div class="card-icon">
                                    <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
                            </div>
                            <h4 class="card-title">Edit Tax Slab</h4>
                          </div>
                          <br />
                          <div class="card-body ">
                              
                             
                                <div class="row">

                                        <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Value From" type="number" name="valueFrom" [(ngModel)]="editData.valueFrom" on-focusout="doCalculation()"/>
                                            </mat-form-field>
                                        </div>
        
                                        <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Value To" type="number" name="valueTo" [(ngModel)]="editData.valueTo" on-focusout="doCalculation()"/>
                                            </mat-form-field>
                                        </div>
        
                                    </div>

                                    <div class="row">

                                            <div class="col-md-6">
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="Tax Percentage" type="number" min="1" name="taxPercentage" [(ngModel)]="editData.taxPercentage" />
                                                    </mat-form-field>
                                                </div>

                                                <div class="col-md-6">
                                                        <mat-form-field class="example-full-width">
                                                            <input matInput placeholder="Fixed Value" type="number" name="fixed" [(ngModel)]="editData.fixed" />
                                                        </mat-form-field>
                                                    </div>

                                    </div>
        
                                    <div class="row">
                                        <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Applicable Value" type="number" name="applicableAmount" [(ngModel)]="editData.applicableAmount" [readonly]="true"/>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Per Month Value" type="number" name="valuePerMonth" [(ngModel)]="editData.valuePerMonth" [readonly]="true"/>
                                            </mat-form-field>
                                        </div>
        
                                    </div>
                               
                            
                          </div>

                          <div class="card-footer ">
                             <button mat-raised-button type="submit" class="btn btn-fill btn-default" (click)="close()">Close</button>  
                            <button mat-raised-button type="submit" class="btn btn-fill btn-info">Submit</button>
                           
                          </div>

                    </form>                    
                </div>

           
        </div>
    </div>
</div>