<div bsModal #editProvinceModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="editProvinceModal"
  aria-hidden="true" [config]="{backdrop: 'static'}">


  <div class="modal-dialog">

    <div #modalContent class="modal-content">



      <div class="card">



        <div class="card-header card-header-rose card-header-icon">
          <div class="card-icon">
              <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
          </div>
          <h4 class="card-title">Edit Province</h4>
        </div>
        <br />
        <form *ngIf="active" #editProvinceForm="ngForm" id="frm_edit_Type" novalidate (ngSubmit)="onType()">


          <div class="card-body ">

            <div class="row"  [formGroup]="_province">

              <div class="col-md-6">

                  <!-- <mat-form-field>
                      <mat-placeholder>Select Country</mat-placeholder>
                      <mat-select class="example-full-width" [(ngModel)]="Province.countryId" name="CountryID" formControlName="countryId"> 
                          <mat-option *ngFor="let option of Country " [value]="option.id">{{option.name}}</mat-option>
                      </mat-select>
                      <mat-error>  Country Name is required </mat-error>
                  </mat-form-field> -->
                  <mat-form-field class="example-full-width">
                    <input type="text" placeholder="Select Country" matInput [formControl]="myControl" [matAutocomplete]="auto"
                      [(ngModel)]="countryName" name="countryName" formControlName="countryId">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayCountry">
                      <mat-option *ngFor="let option of filteredOptions | async " [value]="option">
                        {{option.name}}
                      </mat-option>
                    </mat-autocomplete>
                    <mat-error> Enter Valid Country Name </mat-error>
                </mat-form-field>

              </div>


              <div class="col-md-6">
                <mat-form-field class="example-full-width" >
                  
                  <input matInput placeholder="Province Name" type="text" [(ngModel)]="Province.name" name="name" formControlName="provinceName" >
                  <mat-error>  Province Name is required </mat-error>
                </mat-form-field>
              </div>
            
            </div>

          </div>
          <div class="card-footer ">
            <button mat-raised-button type="button" class="btn " (click)="close()">Close</button>
            <button mat-raised-button type="submit" class="btn btn-fill btn-info">Submit</button>
          </div>
         
        </form>
        
      </div>
    </div>
  </div>
</div>