<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-cogs fa-2x" aria-hidden="true"></i>
                        </div>
                        <h4 class="card-title">Production Rate</h4>
                    </div>
                    <div class="card-body">
                        <div class="toolbar">
                            <!--        Here you can write extra buttons/actions for the toolbar              -->
                            <button mat-raised-button class="btn btn-success btn-sm" (click)="AddProductionRate()">Add New</button>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <mat-placeholder>Select Item Type</mat-placeholder>
                                        <mat-select #ItemTypeTemplate class="example-full-width" name="itemType">
                                            <mat-option *ngFor="let option of itemType" [value]="option.id">{{option.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <mat-placeholder>Select Category</mat-placeholder>
                                        <mat-select #CategoryTemplate class="example-full-width" name="Category">
                                            <mat-option *ngFor="let option of category" [value]="option.id">{{option.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <mat-placeholder>Select SubCategory</mat-placeholder>
                                        <mat-select #SubCategoryTemplate class="example-full-width" name="subCategory">
                                            <mat-option *ngFor="let option of subCategory" [value]="option.id">{{option.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="toolbar col-md-2 pull-right">
                                    <button mat-raised-button class="btn btn-success btn-sm" (click)="showFilteredProductionRate()">Show</button>
                                    <button mat-raised-button class="btn btn-success btn-sm" (click)="advanceSearch()">Advance Search</button>
                                </div>
                            </div>
                            <div *ngIf = "IsAdvanceSearch">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <mat-form-field>
                                                <input matInput #fromDate [matDatepicker]="picker" placeholder="From" name="fromDate">
                                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                <mat-datepicker #picker></mat-datepicker>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-3">
                                            <mat-form-field>
                                                <input matInput #toDate [matDatepicker]="picker1" placeholder="To" name="toDate">
                                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                                <mat-datepicker #picker1></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-3">
                                            <mat-form-field>
                                                <mat-placeholder>Select Item</mat-placeholder>
                                                <mat-select #ItemTemplate class="example-full-width" name="item">
                                                    <mat-option *ngFor="let option of item" [value]="option.id">{{option.name}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="toolbar col-md-2 pull-right">
                                                <button mat-raised-button class="btn btn-success btn-sm" (click)="showAdvanceSearch()">Show</button>
                                            </div>
                                    </div>
                                </div>
                        </div>
                        <div class="material-datatables">
                            <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>{{ dataTable.headerRow[0] }}</th>
                                        <th>{{ dataTable.headerRow[1] }}</th>
                                        <th>{{ dataTable.headerRow[2] }}</th>
                                        <th class="disabled-sorting text-right">{{ dataTable.headerRow[4] }}</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>{{ dataTable.footerRow[0] }}</th>
                                        <th>{{ dataTable.footerRow[1] }}</th>
                                        <th>{{ dataTable.footerRow[2] }}</th>
                                        <th class="text-right">{{ dataTable.footerRow[4] }}</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr *ngFor="let row of dataTable.dataRows">
                                        <td>{{row[0]}}</td>
                                        <td>{{row[1]}}</td>
                                        <td>{{row[2]}}</td>
                                        <td class="text-right">
                                            <!-- <a  class="btn btn-link btn-info btn-just-icon like"><i class="material-icons">favorite</i></a>
                                        <a  class="btn btn-link btn-warning btn-just-icon edit" (click)="editItem(row[4])"><i class="material-icons">dvr</i></a>-->

                                            <a class="btn btn-link btn-warning btn-just-icon edit" (click)="editProductionRate(row[3])">
                                                <i class="material-icons">dvr</i>
                                            </a>
                                            <a class="btn btn-link btn-danger btn-just-icon remove" (click)="delete(row[3])">
                                                <i class="material-icons">close</i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- end content-->
                </div>
                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
        </div>
        <!-- end row -->
    </div>
</div>


<app-add-production-rate-new #addProductionRateModal (modalSave)="getAllProductionRate()"></app-add-production-rate-new>
<app-edit-production-rate-new #editProductionRateModal (modalSave)="getAllProductionRate()"></app-edit-production-rate-new>
