<div bsModal #EditLocationInfoModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="EditLocationInfoModal" aria-hidden="true" [config]="{backdrop: 'static'}">
        <div class="modal-dialog">
    
            <div #modalContent class="modal-content">
    
                <div class="card">
                    <form *ngIf="active" #addDepartmentForm="ngForm" id="frm_add_pos" novalidate (ngSubmit)="save()">
    
                        <div class="card-header card-header-rose card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">mail_outline</i>
                            </div>
                            <h4 class="card-title">Edit Locatoin Information</h4>
                        </div>
                        <br />
                        <div class="card-body ">
                            <form method="#" action="#">
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Code" name="code" [(ngModel)]="locationInfo.location_Code"  type="text">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Name" name="name"  [(ngModel)]="locationInfo.location_Name" type="text">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Phone No" name="phoneNo" [(ngModel)]="locationInfo.location_Phone" type="text">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Fax" name="fax" [(ngModel)]="locationInfo.location_Fax" type="text">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="URL" name="url" [(ngModel)]="locationInfo.location_Url" type="text">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Type" name="type" [(ngModel)]="locationInfo.location_Type" type="text">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Address" name="address" [(ngModel)]="locationInfo.location_Address" type="text">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Mobil Number" name="mobileNo" [(ngModel)]="locationInfo.mobile_No" type="text">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Comments" name="comments" [(ngModel)]="locationInfo.comments" type="text">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Sort Order" name="sortOrder" [(ngModel)]="locationInfo.sort_Order" type="text">
                                        </mat-form-field>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="togglebutton">
                                            <label>
                                                <input type="checkbox" name="allowMinus" [(ngModel)]="locationInfo.allowMinusStock"  checked="">
                                                <span class="toggle"></span>
                                                Minus Stock
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="togglebutton">
                                            <label>
                                                <input type="checkbox" checked="" name="active" [(ngModel)]="locationInfo.isActive" >
                                                <span class="toggle"></span>
                                                Active
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="togglebutton">
                                            <label>
                                                <input type="checkbox" name="selectAll" checked="">
                                                <span class="toggle"></span>
                                                Select All
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="togglebutton">
                                            <label>
                                                <input type="checkbox" checked="" name="restrictedItems" [(ngModel)]="locationInfo.restrictedItems">
                                                <span class="toggle"></span>
                                                Restricted Items
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                
                            </form>
                        </div>
    
                        <div class="card-footer ">
    
                            <button mat-raised-button type="submit" class="btn btn-fill btn-rose">Submit</button>
                            <button mat-raised-button type="button" class="btn " (click)="close()">Cancle</button>
    
                        </div>
    
                    </form>
                </div>
            </div>
        </div>
    </div>