<div bsModal #editRepairRateModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="editRepairRateModal" aria-hidden="true" [config]="{backdrop: 'static'}">
        <div class="modal-dialog">
    
            <div #modalContent class="modal-content">
    
                
               
                    <div class="card">
                        <form *ngIf="active" #editRepairRateForm="ngForm" id="frm_edit_repair_rate" novalidate (ngSubmit)="save()">
    
                            <div class="card-header card-header-blue card-header-icon">
                                <div class="card-icon">
                                    <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
                                </div>
                                <h4 class="card-title">Edit Rate</h4>
                              </div>
                              <br />
                              <div class="card-body ">
                                <form method="#" action="#">
                                  
                                    <div class="row">
                                        <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Rate" type="text" name="salaryType" [(ngModel)]="editData.rate"/>
                                              </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                                <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="Repair Rate" type="text" name="salaryType" [(ngModel)]="editData.repairRate" />
                                                      </mat-form-field>
                                        </div>
                                    </div>
                                </form>
                              </div>
    
                              <div class="card-footer ">
                                <button mat-raised-button type="submit" class="btn btn-fill btn-default" (click)="close()">Close</button>  
                                <button mat-raised-button type="submit" class="btn btn-fill btn-info">Submit</button>
                                
                              </div>
    
                        </form>                    
                    </div>               
            </div>
        </div>
    </div>