<div bsModal #editRoleModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="edidtRoleModal" aria-hidden="true" [config]="{backdrop: 'static'}"  style="overflow-y: scroll;">
        <div class="modal-dialog">
    
            <div #modalContent class="modal-content">
    
                    <div class="card">
    
                        <div class="card-header card-header-blue card-header-icon">
                                <div class="card-icon">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>

                                </div>

                                <button type="button"  class="close" (click)="close()" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                </button>

                                <h4 class="card-title">Edit Role</h4>

                        </div>


                              <br />
                              
                                <form *ngIf="active" #editRoleForm="ngForm" id="frm_edit_role" novalidate (ngSubmit)="save()">
                                  
                                        <div class="card-body ">

                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Role Name" name="RoleName" [(ngModel)]="role.name" type="text">
                                  </mat-form-field>

                                  <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Display Name" name="DisplayName" [(ngModel)]="role.displayName" type="text">
                                  </mat-form-field>

                                  <mat-form-field class="example-full-width">
                                    <textarea rows="2" matInput class="form-control" name="Description" [(ngModel)]="role.description" placeholder = "Description"  id="description"></textarea>
                                  </mat-form-field>
                                  
                                  <div class="row">
                                    <div class="col-sm-12">
                                            <h4>Permissions</h4>

                                            <div id="data" name="permission" #jstreearea>
                                                <ul *ngFor="let v of rootnode">
                                                    <li id='{{v.value}}'>
                                                        {{v.name}}
                                                        <ul *ngFor="let v1 of v.children">
                
                                                            <li *ngIf="checkPermission(v1.value)" data-jstree='{ "selected" :true, "opened" : false }' id='{{v1.value}}'>{{v1.name}}</li>
                                                            <li *ngIf="!checkPermission(v1.value)" data-jstree='{ "selected" :false}' id='{{v1.value}}'>{{v1.name}}</li>
                                                         
                                                        </ul>
                                                    </li>
                                                </ul>
                
                                            </div>
                                            
                                    </div>
                                </div>
                                  
                                
                              </div>

                              <div class="card-footer ">
                                <div class="row">
                                  <div class="col-md-12" >
                                    <button mat-raised-button type="button"  class="btn " (click)="close()">Close</button>
                                    <button mat-raised-button type="submit" class="btn btn-fill btn-info">Submit</button>
                                </div>
                                </div>
                              </div> 

                            </form>

                </div>
            </div>
        </div>
    </div>
    




    <!--Modal FOr Confirmation-->
    <div bsModal #confirmModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="createRoleModal" aria-hidden="true" [config]="{backdrop: 'static'}">
            <div class="modal-dialog">
        
                <div #modalContent class="modal-content">
        
                
                        <div class="card-header card-header-rose card-header-icon">
                                <div class="card-icon">
                                  <i class="material-icons">mail_outline</i>
                                </div>

                                <button type="button"  class="close" (click)="close()" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                </button>

                                <h4 class="card-title">Attention</h4>

                        </div>
        
                        

                        <div class="modal-body">
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                           Warning! Changing this can revoke/grant user access to the system under role <!--{{role.name}}--> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer ">
                              
                                    <button mat-raised-button type="button"  class="btn " (click)="cancel()">Cancle</button>
                                    <button mat-raised-button type="submit" class="btn btn-fill btn-rose" (click)="OpenModal()">Confirm</button>
                        </div> 
        
                </div>
            </div>
        </div>






    <!-- <div class="modal-header">
            <button type="button" class="close" (click)="close()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">
                <span>{{l("EditRole")}} <span *ngIf="role.isStatic"> (<span style="color:red">static</span>)</span></span>
            </h4>
        </div>
        <div class="modal-body">

            <div class="row clearfix">
                <div class="col-sm-12">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input id="rolename" [disabled]="role.isStatic" type="text" name="RoleName" [(ngModel)]="role.name" required maxlength="32" minlength="2" class="validate form-control">
                            <label for="rolename" class="form-label">{{l("RoleName")}}</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-sm-12">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input id="displayname" type="text" name="DisplayName" [(ngModel)]="role.displayName" required maxlength="32" minlength="2" class="validate form-control">
                            <label for="displayname" class="form-label">{{l("DisplayName")}}</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <textarea id="role-description" name="Description" [(ngModel)]="role.description" class="validate form-control"></textarea>
                            <label for="role-description" class="form-label">Role Description</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-sm-12">
                    <h4>Permissions</h4>

                    <div id="data" name="permission" #jstreearea>
                        <ul *ngFor="let v of rootnode">
                            <li id='{{v.value}}'>
                                {{v.name}}
                                <ul *ngFor="let v1 of v.children">

                                    <li *ngIf="checkPermission(v1.value)" data-jstree='{ "selected" :true, "opened" : true }' id='{{v1.value}}'>{{v1.name}}</li>
                                    <li *ngIf="!checkPermission(v1.value)" data-jstree='{ "selected" :false}' id='{{v1.value}}'>{{v1.name}}</li>
                                 
                                </ul>
                            </li>
                        </ul>

                    </div>
                    
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button [disabled]="saving" type="button" class="btn btn-default waves-effect" (click)="close()">
                {{l("Cancel")}}
            </button>
            <button [disabled]="!editRoleForm.form.valid || saving" type="submit" class="btn btn-primary waves-effect">
                {{l("Save")}}
            </button>
        </div> -->