<div bsModal #addTerritoryModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog"
  aria-labelledby="addTerritoryModal" aria-hidden="true" [config]="{backdrop: 'static'}">


  <div class="modal-dialog">

    <div #modalContent class="modal-content">



      <div class="card">



        <div class="card-header card-header-blue card-header-icon">
          <div class="card-icon">
              <i class="fa fa-floppy-o fa-2x" aria-hidden="true"></i>
          </div>
          <h4 class="card-title">Add Territory</h4>
        </div>
        <br />
        <form *ngIf="active" #addTerritoryForm="ngForm" id="frm_Add_Type" novalidate (ngSubmit)="onType()">


          <div class="card-body ">

            <div class="row">
              <div class="col-md-4" >
                <!-- <mat-form-field>
                  <mat-placeholder>Select City </mat-placeholder>
                  <mat-select class="example-full-width" [(ngModel)]="Territory.cityId" name="cityId" formControlName="cityId">
                    <mat-option *ngFor="let option of City" [value]="option.id">{{option.cityName}}</mat-option>
                  </mat-select>
                  <mat-error>  City Name is required </mat-error>    [formGroup]="_territory"  formControlName="cityName"
                </mat-form-field> -->

                <mat-form-field class="example-full-width">
                  <input type="text" placeholder="Select City" matInput [formControl]="myControl" [matAutocomplete]="auto"
                  [(ngModel)]="cityName" name="cityName" >
                  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayCity">
                    <mat-option *ngFor="let option of filteredOptions | async " [value]="option">
                      {{option.cityName}}
                    </mat-option>
                  </mat-autocomplete>
                  <mat-error> Enter Valid City Name </mat-error>
                </mat-form-field>

              </div>

              <div class="col-md-4"  [formGroup]="_territory">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Territory Name" type="text" [(ngModel)]="Territory.territoryName" name="territoryName" formControlName="territoryName">
                  <mat-error>  Territory Name is required </mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-4">

                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Sort Order" type="number" [(ngModel)]="Territory.sortOrder" name="sortOrder">
                </mat-form-field>
              </div>
            </div>

            <div class="row">


              <div class="col-md-12">

                <mat-form-field class="example-full-width">
<!--                   
                  <input matInput placeholder="Comments" type="text" [(ngModel)]="Territory.comments" name="comments">
                   -->
                  <textarea rows="2" matInput class="form-control" placeholder="Comments" [(ngModel)]="Territory.comments" name="comments"></textarea>
                </mat-form-field>
              </div>
            </div>

            <div class="row">

              <div class="togglebutton">
                <label>
                  <input type="checkbox" checked="" [(ngModel)]="isActive" name="isActive">
                  <span class="toggle"></span>
                  Active
                </label>
              </div>
            </div>

          </div>
          <div class="card-footer ">
            <button mat-raised-button type="button" class="btn " (click)="close()">Close</button>
            <button mat-raised-button type="submit" class="btn btn-fill btn-info">Submit</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>