<div bsModal #addOvertimeModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog"
  aria-labelledby="addOvertimeModal" aria-hidden="true" [config]="{backdrop: 'static'}">


  <div class="modal-dialog">

    <div #modalContent class="modal-content">



      <div class="card">



        <div class="card-header card-header-blue card-header-icon">
          <div class="card-icon">
            <i class="material-icons">mail_outline</i>
          </div>
          <h4 class="card-title">Add Overtime</h4>
        </div>
        <br />
        <form *ngIf="active" #addOvertimeForm="ngForm" id="frm_Add_Type" novalidate (ngSubmit)="onType()">


          <div class="card-body ">
            <div class="row">


              <div class="col-md-6" [formGroup]="_overTimeValidation">
                <mat-form-field>
                  <mat-placeholder>Select Employee</mat-placeholder>
                  <mat-select class="example-full-width" [(ngModel)]="overTime.employeeId" name="employeeId" formControlName="employeeId">
                    <mat-option *ngFor="let option of employee" [value]="option.id">{{option.employee_Name}}</mat-option>
                  </mat-select>
                  <mat-error>  Employee Field is required </mat-error>
                </mat-form-field>
              </div>


              <div class="col-md-6" [formGroup]="_overTimeValidation">
                <mat-form-field>
                  <mat-placeholder>Select Department</mat-placeholder>
                  <mat-select class="example-full-width" [(ngModel)]="overTime.departmentId" name="departmentName" formControlName="departmentId">
                    <mat-option *ngFor="let option of department" [value]="option.id">{{option.title}}</mat-option>
                  </mat-select>
                  <mat-error>  Department Field is required </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">

              <div class="col-md-4" [formGroup]="_overTimeValidation">
                <mat-form-field>
                  <mat-placeholder>Select Cost Center</mat-placeholder>
                  <mat-select class="example-full-width" [(ngModel)]="overTime.costCenterId" name="costCenterName" formControlName="costCenterId">
                    <mat-option *ngFor="let option of costCenter" [value]="option.id">{{option.name}}</mat-option>
                  </mat-select>
                  <mat-error>  Cost Center Field is required </mat-error>
                </mat-form-field>
              </div>


              <!-- <div class="col-md-4" [formGroup]="_overTimeValidation">
                <mat-form-field>
                  <input matInput [matDatepicker]="picker" placeholder="Over Time Date" name="OvertimeMonth"
                    [(ngModel)]="overTime.overTimeMonth" (click)="picker.open()" formControlName="overTimeMonth">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-error>  Over Time  Field is required </mat-error>
                </mat-form-field>
              </div> -->

              
              <div class="col-md-4" [formGroup]="_overTimeValidation">
                <mat-form-field>
                  <mat-placeholder>Over Time Date</mat-placeholder>
                  <input matInput [matDatetimepicker]="datetimePicker2" required autocomplete="true" placeholder="Over Time Date"
                    name="OverTimeMonth" [(ngModel)]="overTime.overTimeDate" formControlName="overTimeMonth" >
                  <mat-datetimepicker-toggle [for]="datetimePicker2" matSuffix></mat-datetimepicker-toggle>
                  <mat-datetimepicker #datetimePicker2 touchUi="true" type="datetime" openOnFocus="true" timeInterval="5"></mat-datetimepicker>
                  <mat-error> Over Time Date Field is required </mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="OverTime Hours" type="number" [(ngModel)]="overTime.overTimerHour" name="overTimeHour">
                </mat-form-field>
              </div>


            </div>

          </div>
          <div class="card-footer ">
            <button mat-raised-button type="button" class="btn " (click)="close()">Cancle</button>
            <button mat-raised-button type="submit" class="btn btn-fill btn-info">Submit</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>