<div bsModal #editQuantityModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog"
    aria-labelledby="editQuantityModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">

        <div #modalContent class="modal-content">



            <div class="card">
                <form *ngIf="active" #editQuantityForm="ngForm" id="frm_edit_quantity" novalidate (ngSubmit)="save()">

                    <div class="card-header card-header-blue card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
                        </div>
                        <h4 class="card-title">Edit Quantity</h4>
                    </div>
                    <br />
                    <div class="card-body ">

                        <div class="row">
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Quantity" type="number" [(ngModel)]="editData.quantity"
                                        name="quantity" />
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Extra Quantity" type="number" [(ngModel)]="editData.extraQuantity"
                                        name="extraQuantity" />
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Repair Quantity" type="number" [(ngModel)]="editData.repairQuantity"
                                        name="RepairQuantity" />
                                </mat-form-field>
                            </div>
                        </div>

                    </div>

                    <div class="card-footer ">
                        <button mat-raised-button type="submit" class="btn btn-fill btn-default" (click)="close()">Close</button>
                        <button mat-raised-button type="submit" class="btn btn-fill btn-info">Submit</button>

                    </div>

                </form>
            </div>


        </div>
    </div>
</div>