<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                  <div class="card-header card-header-blue card-header-icon">
                    <div class="card-icon">
                            <i class="fa fa-list-ul fa-2x" aria-hidden="true"></i>
                    </div>
                    <h4 class="card-title">Employee List</h4>
                  </div>
                  <div class="card-body"  >
                    <div class="toolbar">
                        <!--        Here you can write extra buttons/actions for the toolbar              -->
                        <button mat-raised-button class="btn btn-success btn-sm" (click)="addEmployee()">Add New</button>
                    </div>
                    <div class="material-datatables">
                      <table id="datatables" class="table table-striped table-no-bordered table-hover table-responsive compact nowrap " cellspacing="0" width="100%" style="width:100%">
                            <thead> 
                                <tr>
                                  <th>{{ dataTable.headerRow[0] }}</th>
                                  <th>{{ dataTable.headerRow[1] }}</th>
                                  <th>{{ dataTable.headerRow[2] }}</th>
                                  <th>{{ dataTable.headerRow[3] }}</th>
                                  <th>{{ dataTable.headerRow[4] }}</th>
                                  <th>{{ dataTable.headerRow[5] }}</th>
                                  <th>{{ dataTable.headerRow[6] }}</th>
                                  <th>{{ dataTable.headerRow[7] }}</th>
                                  <th>{{ dataTable.headerRow[8] }}</th>
                                  <th>{{ dataTable.headerRow[9] }}</th>
                                  <th>{{ dataTable.headerRow[10] }}</th>
                                  <th>{{ dataTable.headerRow[11] }}</th>
                                  <th>{{ dataTable.headerRow[12] }}</th>
                                  <th>{{ dataTable.headerRow[13] }}</th>
                                  <th>{{ dataTable.headerRow[14] }}</th>
                                  <th>{{ dataTable.headerRow[15] }}</th>
                                  <th>{{ dataTable.headerRow[16] }}</th>
                                  <th>{{ dataTable.headerRow[17] }}</th>
                                  <th>{{ dataTable.headerRow[18] }}</th>
                                  <th>{{ dataTable.headerRow[19] }}</th>
                                  <th>{{ dataTable.headerRow[20] }}</th>
                                  <th>{{ dataTable.headerRow[21] }}</th>
                                  <th>{{ dataTable.headerRow[22] }}</th>
                                  <th>{{ dataTable.headerRow[23] }}</th>
                                  <th>{{ dataTable.headerRow[24] }}</th>
                                  <th>{{ dataTable.headerRow[25] }}</th>
                                  <th>{{ dataTable.headerRow[26] }}</th>
                                  <th>{{ dataTable.headerRow[27] }}</th>
                                  <th>{{ dataTable.headerRow[28] }}</th>
                                  <th>{{ dataTable.headerRow[29] }}</th>
                                  <th>{{ dataTable.headerRow[30] }}</th>
                                  <th>{{ dataTable.headerRow[31] }}</th>
                                  <th>{{ dataTable.headerRow[32] }}</th>
                                  <th>{{ dataTable.headerRow[33] }}</th>
                                  <th>{{ dataTable.headerRow[34] }}</th>
                                  <th>{{ dataTable.headerRow[35] }}</th>
                                  <th>{{ dataTable.headerRow[36] }}</th>
                                  <th>{{ dataTable.headerRow[37] }}</th>
                                  <th>{{ dataTable.headerRow[38] }}</th>
                                  <th>{{ dataTable.headerRow[39] }}</th>
                                  <th>{{ dataTable.headerRow[40] }}</th>
                                  <th>{{ dataTable.headerRow[41] }}</th>
                                  <th>{{ dataTable.headerRow[42] }}</th>
                                  <th>{{ dataTable.headerRow[43] }}</th>
                                  <th>{{ dataTable.headerRow[44] }}</th>
                                  <th>{{ dataTable.headerRow[45] }}</th>
                                  <th>{{ dataTable.headerRow[46] }}</th>
                                  <th>{{ dataTable.headerRow[47] }}</th>
                                  <th>{{ dataTable.headerRow[48] }}</th>
                                  <th>{{ dataTable.headerRow[49] }}</th>
                                  <th>{{ dataTable.headerRow[50] }}</th>
                                  <th>{{ dataTable.headerRow[51] }}</th>
                                  <th>{{ dataTable.headerRow[52] }}</th>
                                  <th>{{ dataTable.headerRow[53] }}</th>
                                  <th>{{ dataTable.headerRow[54] }}</th>
                                  <th>{{ dataTable.headerRow[55] }}</th>
                                  <th>{{ dataTable.headerRow[56] }}</th>
                                  <th>{{ dataTable.headerRow[57] }}</th>
                                  <th>{{ dataTable.headerRow[58] }}</th>
                                  <th class="disabled-sorting text-right">{{ dataTable.headerRow[59] }}</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr   >
                                        <!-- <th>{{ dataTable.footerRow[0] }}</th>
                                        <th>{{ dataTable.footerRow[1] }}</th>
                                        <th>{{ dataTable.footerRow[2] }}</th>
                                        <th>{{ dataTable.footerRow[3] }}</th>
                                        <th>{{ dataTable.footerRow[4] }}</th>
                                        <th>{{ dataTable.footerRow[5] }}</th>
                                        <th>{{ dataTable.footerRow[6] }}</th>
                                        <th>{{ dataTable.footerRow[7] }}</th>
                                        <th>{{ dataTable.footerRow[8] }}</th>
                                        <th>{{ dataTable.footerRow[9] }}</th>
                                        <th>{{ dataTable.footerRow[10] }}</th>
                                        <th>{{ dataTable.footerRow[11] }}</th>
                                        <th>{{ dataTable.footerRow[12] }}</th>
                                        <th>{{ dataTable.footerRow[13] }}</th>
                                        <th>{{ dataTable.footerRow[14] }}</th>
                                        <th>{{ dataTable.footerRow[15] }}</th>
                                        <th>{{ dataTable.footerRow[16] }}</th>
                                        <th>{{ dataTable.footerRow[17] }}</th>
                                        <th>{{ dataTable.footerRow[18] }}</th>
                                        <th>{{ dataTable.footerRow[19] }}</th>
                                        <th>{{ dataTable.footerRow[20] }}</th>
                                        <th>{{ dataTable.footerRow[21] }}</th>
                                        <th>{{ dataTable.footerRow[22] }}</th>
                                        <th>{{ dataTable.footerRow[23] }}</th>
                                        <th>{{ dataTable.footerRow[24] }}</th>
                                        <th>{{ dataTable.footerRow[25] }}</th>
                                        <th>{{ dataTable.footerRow[26] }}</th>
                                        <th>{{ dataTable.footerRow[27] }}</th>
                                        <th>{{ dataTable.footerRow[28] }}</th>
                                        <th>{{ dataTable.footerRow[29] }}</th>
                                        <th>{{ dataTable.footerRow[30] }}</th>
                                        <th>{{ dataTable.footerRow[31] }}</th>
                                        <th>{{ dataTable.footerRow[32] }}</th>
                                        <th>{{ dataTable.footerRow[33] }}</th>
                                        <th>{{ dataTable.footerRow[34] }}</th>
                                        <th>{{ dataTable.footerRow[35] }}</th>
                                        <th>{{ dataTable.footerRow[36] }}</th>
                                        <th>{{ dataTable.footerRow[37] }}</th>
                                        <th>{{ dataTable.footerRow[38] }}</th>
                                        <th>{{ dataTable.footerRow[39] }}</th>
                                        <th>{{ dataTable.footerRow[40] }}</th>
                                        <th>{{ dataTable.footerRow[41] }}</th>
                                        <th>{{ dataTable.footerRow[42] }}</th>
                                        <th>{{ dataTable.footerRow[43] }}</th>
                                        <th>{{ dataTable.footerRow[44] }}</th>
                                        <th>{{ dataTable.footerRow[45] }}</th>
                                        <th>{{ dataTable.footerRow[46] }}</th>
                                        <th>{{ dataTable.footerRow[47] }}</th>
                                        <th>{{ dataTable.footerRow[48] }}</th>
                                        <th>{{ dataTable.footerRow[49] }}</th>
                                        <th>{{ dataTable.footerRow[50] }}</th>
                                        <th>{{ dataTable.footerRow[51] }}</th>
                                        <th>{{ dataTable.footerRow[52] }}</th>
                                        <th>{{ dataTable.footerRow[53] }}</th>
                                        <th>{{ dataTable.footerRow[54] }}</th>
                                        <th>{{ dataTable.footerRow[55] }}</th>
                                        <th>{{ dataTable.footerRow[56] }}</th>
                                        <th>{{ dataTable.footerRow[57] }}</th>
                                        <th>{{ dataTable.footerRow[58] }}</th>
                                        <th>{{ dataTable.footerRow[59] }}</th> -->
                                        
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr *ngFor="let row of dataTable.dataRows">
                                    <td>{{ row[0] }}</td>
                                  <td>{{ row[1] }}</td>
                                  <td>{{ row[2] }}</td>
                                  <td>{{ row[3] }}</td>
                                  <td>{{ row[4] }}</td>
                                  <td>{{ row[5] }}</td>
                                  <td>{{ row[6] }}</td>
                                  <td>{{ row[7] }}</td>
                                  <td>{{ row[8] }}</td>
                                  <td>{{ row[9] }}</td>
                                  <td>{{ row[10] }}</td>
                                  <td>{{ row[11] }}</td>
                                  <td>{{ row[12] }}</td>
                                  <td>{{ row[13] }}</td>
                                  <td>{{ row[14] }}</td>
                                  <td>{{ row[15] }}</td>
                                  <td>{{ row[16] }}</td>
                                  <td>{{ row[17] }}</td>
                                  <td>{{ row[18] }}</td>
                                  <td>{{ row[19] }}</td>
                                  <td>{{ row[20] }}</td>
                                  <td>{{ row[21] }}</td>
                                  <td>{{ row[22] }}</td>
                                  <td>{{ row[23] }}</td>
                                  <td>{{ row[24] }}</td>
                                  <td>{{ row[25] }}</td>
                                  <td>{{ row[26] }}</td>
                                  <td>{{ row[27] }}</td>
                                  <td>{{ row[28] }}</td>
                                  <td>{{ row[29] }}</td>
                                  <td>{{ row[30] }}</td>
                                  <td>{{ row[31] }}</td>
                                  <td>{{ row[32] }}</td>
                                  <td>{{ row[33] }}</td>
                                  <td>{{ row[34] }}</td>
                                  <td>{{ row[35] }}</td>
                                  <td>{{ row[36] }}</td>
                                  <td>{{ row[37] }}</td>
                                  <td>{{ row[38] }}</td>
                                  <td>{{ row[39] }}</td>
                                  <td>{{ row[40] }}</td>
                                  <td>{{ row[41] }}</td>
                                  <td>{{ row[42] }}</td>
                                  <td>{{ row[43] }}</td>
                                  <td>{{ row[44] }}</td>
                                  <td>{{ row[45] }}</td>
                                  <td>{{ row[46] }}</td>
                                  <td>{{ row[47] }}</td>
                                  <td>{{ row[48] }}</td>
                                  <td>{{ row[49] }}</td>
                                  <td>{{ row[50] }}</td>
                                  <td>{{ row[51] }}</td>
                                  <td>{{ row[52] }}</td>
                                  <td>{{ row[53] }}</td>
                                  <td>{{ row[54] }}</td>
                                  <td>{{ row[55] }}</td>
                                  <td>{{ row[56] }}</td>
                                  <td>{{ row[57] }}</td>
                                  <td>{{ row[58] }}</td>
                                  <td>{{ row[59] }}</td>
                                  
                                  
                                    <td class="text-right">
                                      <a class="btn btn-link btn-warning btn-just-icon" (click)="editEmployee(row[60])" ><i class="material-icons">dvr</i></a>
                                      <a class="btn btn-link btn-danger btn-just-icon remove" (click)="delete(row[60])"><i class="material-icons">close</i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--  -->
                    <!-- end content-->
                </div>
                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
        </div>
        <!-- end row -->
    </div>
</div>

<!-- POPUP -->

