<div bsModal #searchEditEmployeeDropdownModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
 aria-labelledby="searchEditEmployeeDropdownModal" aria-hidden="true" [config]="{backdrop: 'static'}">


 <div class="modal-dialog modal-lg">

   <div #modalContent class="modal-content">



     <div class="card">



       <div class="card-header card-header-blue card-header-icon">
         <div class="card-icon">
           <i class="fa fa-floppy-o fa-2x" aria-hidden="true"></i>
         </div>
         <h4 class="card-title">Select Employee</h4>
       </div>
       <br />



       <div class="card-body ">
         <div class="material-datatables">

           <table id="datatablesss" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%"
             style="width:100%">


             <thead>
               <tr>
                 <th></th>
                 <th>{{ dataTable.headerRow[0] }}</th>
                 <th>{{ dataTable.headerRow[1] }}</th>
                 <th>{{ dataTable.headerRow[2] }}</th>
                 <th>{{ dataTable.headerRow[3] }}</th>
                 <th>{{ dataTable.headerRow[4] }}</th>
                 <th>{{ dataTable.headerRow[5] }}</th>




               </tr>
             </thead>
             <tfoot>
               <tr>
                 <!--
                       <th>{{ dataTable.footerRow[0] }}</th>
                       <th>{{ dataTable.footerRow[1] }}</th>
                       <th class="text-right">{{ dataTable.footerRow[2] }}</th> -->
               </tr>
             </tfoot>
             <tbody>
               <tr *ngFor="let row of dataTable.dataRows">

                 <td>
                   <mat-radio-button value="{{row[6]}} " #EmployeeId (change)="Data(EmployeeId.value)">
                   </mat-radio-button>
                 </td>

                 <td>{{row[0]}}</td>
                 <td>{{row[1]}}</td>
                 <td>{{row[2]}}</td>
                 <td>{{row[3]}}</td>
                 <td>{{row[4]}}</td>
                 <td>{{row[5]}}</td>



               </tr>
             </tbody>
           </table>

         </div>

       </div>
       <div class="card-footer ">
         <button mat-raised-button type="button" class="btn " (click)="close()">Close</button>

       </div>



     </div>
   </div>
 </div>
</div>