<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="toolbar">
                <!--        Here you can write extra buttons/actions for the toolbar              -->
                <button *ngIf="isUsersList" mat-raised-button class="btn btn-info btn-sm" (click)="createUser()">Create User</button>
                <button *ngIf="isRolesList" mat-raised-button class="btn btn-info btn-sm" (click)="createRole()">Create Role</button>
            </div>
        </div>
        <div class="row">

            <div class="col-md-3" style="padding-top: 31px;">
                <div class="card ">

                    <div class="card-body ">

                        <ul class="nav nav-pills nav-pills-info" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#link1" role="tablist" (click)="displayUserBtn()">
                                    Users
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#link2" role="tablist" (click)="displayRoleBtn()">
                                    Roles
                                </a>
                            </li>

                        </ul>
                        <div class="tab-content tab-space">
                            <div class="tab-pane active" id="link1">

                                <div *ngFor="let user of userData" (click)="showUserDetails(user.id)">
                                    <div style="cursor: pointer;">
                                        <h4>
                                            {{user.name}}

                                        </h4>
                                        <span>{{user.username}}</span>
                                    </div>
                                    <br />
                                </div>
                                <!-- <div style="cursor: pointer;">
                                    <h4>AbuBakar</h4>
                                    <span>Project Supervisor</span>
                                </div>
                                <br />
                                <div style="cursor: pointer;">
                                    <h4>Saad</h4>
                                    <span>Software Engineer</span>
                                </div>
                                <br /> -->
                                <!--<div style="cursor: pointer;">
                                        <h4>Mohsin</h4>
                                        <span>UI/UX Designer</span>
                                    </div>
                                    <br />
                                    <div style="cursor: pointer;">
                                        <h4>Waqar Raza</h4>
                                        <span>CTO</span>
                                    </div>
                                    <br />
                                    <div style="cursor: pointer;">
                                        <h4>M. Ameen</h4>
                                        <span>Team Lead</span>
                                    </div>
                                    <br />
                                    <div style="cursor: pointer;">
                                        <h4>Ayesha</h4>
                                        <span>Software Engineer</span>
                                    </div> -->
                            </div>

                            <div class="tab-pane" id="link2">

                                <div *ngFor="let role of roles" (click)="showRoleDetails(role.id)">
                                    <div style="cursor: pointer;">
                                        <h4>
                                            {{role.displayName}}

                                        </h4>
                                    </div>
                                    <br />
                                </div>

                                <!-- <div style="cursor: pointer;">
                                    <h4>Admin</h4>
                                </div>

                                <br>

                                <div style="cursor: pointer;">
                                    <h4>Client</h4>
                                </div> -->

                            </div>

                        </div>
                    </div>

                </div>

            </div>

            <div class="col-md-6" *ngIf="isUsersList">


                <div class="card card-profile" *ngIf="isUsersList && userInfo && userData">
                    <div class="card-avatar" style="cursor: pointer;">
                        <a>
                            <abbr title="Change User Image">
                                <img class="img" src="assets/profilepicture/{{specificUserMediaContent.imageUrl}}" alt="user-icon-lg"
                                    (click)="openUserImgForm(userInfo.id)" />
                            </abbr>
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray">{{userInfo.userName}}</h6>
                        <h4 class="card-title">
                            {{userInfo.name}}
                            <a (click)="editUser(userInfo)" class="btn btn-link btn-warning btn-just-icon edit">
                                <i class="material-icons">create</i>
                            </a>
                        </h4>
                        <br />
                        <div class="card-description">

                            <div class="row">

                                <div class="col-md-3">
                                    <h4 class="pull-left">Username</h4>
                                </div>
                                <div class="col-md-9">
                                    <h4 class="card-title pull-left">{{userInfo.userName}}</h4>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-3">
                                    <h4 class="pull-left">Surname</h4>
                                </div>
                                <div class="col-md-9">
                                    <h4 class="card-title pull-left">{{userInfo.surname}}</h4>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-3">
                                    <h4 class="pull-left">Email</h4>
                                </div>
                                <div class="col-md-9">
                                    <h4 class="card-title pull-left">{{userInfo.emailAddress}}</h4>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-3">
                                    <h4 class="pull-left">Active</h4>
                                </div>
                                <div class="col-md-9">
                                    <h4 class="card-title pull-left">{{userInfo.isActive}}</h4>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-3">
                                    <h4 class="pull-left">FullName</h4>
                                </div>
                                <div class="col-md-9">
                                    <h4 class="card-title pull-left">{{userInfo.fullName}}</h4>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-3">
                                    <h4 class="pull-left">Last Login</h4>
                                </div>
                                <div class="col-md-9">
                                    <h4 class="card-title pull-left">{{userInfo.lastLoginTime}}</h4>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-3">
                                    <h4 class="pull-left">Creation Time</h4>
                                </div>
                                <div class="col-md-9">
                                    <h4 class="card-title pull-left">{{userInfo.creationTime}}</h4>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <h3>Roles</h3>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3" *ngFor="let roleName of roleNames">
                                    <h4 class="pull-left">{{roleName}}</h4>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <!-- <div class="card card-profile">
                                <div class="card-avatar" style="cursor: pointer;">
                                  <a>
                                    <abbr title="Change User Image"><img class="img" src="./assets/img/faces/card-profile1-square.jpg" alt="user-icon-lg" (click)="openUserImgForm(1)"/></abbr>
                                  </a>
                                </div>
                                <div class="card-body">
                                  <h6 class="card-category text-gray">UI / UX Designer</h6>
                                  <h4 class="card-title">
                                      Mohsin B. Rasheed
                                      <a (click)="editUser(userInfo)" class="btn btn-link btn-warning btn-just-icon edit" >
                                            <i class="material-icons">create</i></a>
                                    </h4>
                                    <br />
                                  <div class="card-description">
                                       
                                    <div class="row">
                                           
                                        <div class="col-md-3">
                                            <h4 class="pull-left">Username</h4>
                                        </div>
                                        <div class="col-md-9">
                                            <h4 class="card-title pull-left">M.Rasheed</h4>
                                        </div>

                                    </div>

                                    <div class="row">
                                           
                                            <div class="col-md-3">
                                                <h4 class="pull-left">Surname</h4>
                                            </div>
                                            <div class="col-md-9">
                                                <h4 class="card-title pull-left">Saad</h4>
                                            </div>

                                        </div>

                                        <div class="row">
                                           
                                                <div class="col-md-3">
                                                    <h4 class="pull-left">Email</h4>
                                                </div>
                                                <div class="col-md-9">
                                                    <h4 class="card-title pull-left">mohsin@softbeats.net</h4>
                                                </div>
    
                                            </div>

                                            <div class="row">
                                               
                                                    <div class="col-md-3">
                                                        <h4 class="pull-left">Active</h4>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <h4 class="card-title pull-left">Yes</h4>
                                                    </div>
        
                                            </div>

                                            <div class="row">
                                           
                                                    <div class="col-md-3">
                                                        <h4 class="pull-left">FullName</h4>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <h4 class="card-title pull-left">Saad Afzaal</h4>
                                                    </div>
        
                                            </div>

                                            <div class="row">
                                           
                                                    <div class="col-md-3">
                                                        <h4 class="pull-left">Last Login</h4>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <h4 class="card-title pull-left">23 August 2018</h4>
                                                    </div>
        
                                            </div>

                                            <div class="row">
                                           
                                                    <div class="col-md-3">
                                                        <h4 class="pull-left">Creation Time</h4>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <h4 class="card-title pull-left">14 August 2018</h4>
                                                    </div>
        
                                            </div>


                                            <div class="row">
                                                    <div class="col-md-4">
                                                        <h3 class="pull-left">Roles</h3>
                                                    </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-3">
                                                    <h4 class="pull-left">Admin</h4>
                                                </div>
                                                <div class="col-md-3">
                                                        <h4 class="pull-left">User</h4>
                                                    </div>
                                                    <div class="col-md-3">
                                                            <h4 class="pull-left">Client</h4>
                                                        </div>
                                                        <div class="col-md-3">
                                                                <h4 class="pull-left">Writer</h4>
                                                    </div>
                                            </div> -->


                <!-- <div class="row">
                                                <div class="col-md-4">
                                                    <h3>Permissions</h3>
                                                </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <h4 class="pull-left">Group Rights</h4>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="pull-left">Cashier, Accounts, HR Manager</div>
                                            </div>
                                        </div>

                                        <div class="row">
                                                <div class="col-md-4">
                                                    <h4 class="pull-left">Additional Access</h4>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="pull-left">Sales, Inventory, Attendance (+3)</div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                    <div class="col-md-4">
                                                        <h4 class="pull-left">Restriction</h4>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="pull-left">Data Export, CRM, Profit and Loss (+3)</div>
                                                    </div>
                                                </div> -->

                <!-- </div> 
                                </div>
                              </div>  -->

            </div>








            <div class="col-md-6" *ngIf="isRolesList">



                <div class="card card-profile" *ngIf="isRolesList && roleInfo">

                    <div class="card-body">

                        <h4 class="card-title">
                            Role Info
                            <a (click)="editRole(roleInfo)" class="btn btn-link btn-warning btn-just-icon edit">
                                <i class="material-icons">create</i>
                            </a>
                        </h4>
                        <br />
                        <div class="card-description">

                            <div class="row">

                                <div class="col-md-3">
                                    <h4 class="pull-left">Name</h4>
                                </div>
                                <div class="col-md-9">
                                    <h4 class="card-title pull-left">{{roleInfo.name}}</h4>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-3">
                                    <h4 class="pull-left">Description</h4>
                                </div>
                                <div class="col-md-9">
                                    <h4 class="card-title pull-left">{{roleInfo.description}}</h4>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <h3>Permissions</h3>
                                </div>

                                <div class="row">

                                    <div id="data" #jstreearea>
                                        <ul *ngFor="let v of rootnode">
                                            <li id='{{v.value}}'>
                                                {{v.name}}
                                                <ul *ngFor="let v1 of v.children">

                                                    <li *ngIf="checkPermission(v1.value)" data-jstree='{ "selected" :true, "opened" : true }' id='{{v1.value}}'>{{v1.name}}</li>
                                                    <li *ngIf="!checkPermission(v1.value)" data-jstree='{ "selected" :false}' id='{{v1.value}}'>{{v1.name}}</li>

                                                </ul>
                                            </li>
                                        </ul>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <!-- <div class="card card-profile">
                    <div class="card-body">

                        <h4 class="card-title">
                            Role Info
                            <a (click)="editRole(roleInfo)" class="btn btn-link btn-warning btn-just-icon edit">
                                <i class="material-icons">create</i>
                            </a>
                        </h4>
                        <br />
                        <div class="card-description">


                            <div class="row">

                                <div class="col-md-3">
                                    <h4 class="pull-left">Name</h4>
                                </div>
                                <div class="col-md-9">
                                    <h4 class="card-title pull-left">Admin</h4>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-3">
                                    <h4 class="pull-left">Description</h4>
                                </div>
                                <div class="col-md-9">
                                    <h4 class="card-title pull-left">This is Admin Role</h4>
                                </div>

                            </div>


                            <div class="row">
                                <div class="col-md-4">
                                    <h3>Permissions</h3>
                                </div>
                            </div>

                        </div>
                    </div>
                </div> -->

            </div>










            <div class="col-md-3" style="padding-top: 31px;">
                <div class="card ">
                    <div class="card-body ">
                        <h4>Company</h4>
                        <span *ngIf="userInfo" style="cursor:pointer;">
                            <span *ngFor="let company of companyRights" (click)="userCompanyRights()" class="badge badge-info">{{company}}</span>
                        </span>
                        <br />
                        <br />

                        <h4>Cost Center</h4>
                        <span *ngIf="userInfo" style="cursor:pointer;">
                            <span *ngFor="let costcenter of costcenterRights" (click)="userCostCenterRights()" class="badge badge-info">{{costcenter}}</span>
                        </span>
                        <br />
                        <br />

                        <h4>Bank Accounts</h4>
                        <span *ngIf="userInfo" style="cursor:pointer;">
                            <span *ngFor="let account of accountRights" (click)="userAccountRights()" class="badge badge-info">{{account}}</span>
                        </span>
                        <br />
                        <br />

                        <h4>Iventory Location</h4>
                        <span *ngIf="userInfo" style="cursor:pointer;">
                            <span class="badge badge-info" *ngFor="let location of locationRights" (click)="userLocationRights()">{{location}}</span>
                        </span>
                        <br />
                        <br />

                        <h4>Voucher Types</h4>
                        <span *ngIf="userInfo" style="cursor:pointer;">
                            <span class="badge badge-info" *ngFor="let voucherType of voucherTypeRights" (click)="userVoucherTypeRights()">{{voucherType}}</span>
                        </span>
                        <br />
                        <br />

                        <h4>Point Of Sale</h4>
                        <span style="cursor:pointer;">
                            <span class="badge badge-info">All Point Of Sales</span>
                        </span>
                        <br />
                        <br />

                    </div>
                </div>
            </div>










            <!-- <div class="col-md-3" style="padding-top: 31px;">
                        <div class="card ">
                            <div class="card-body ">
                        <h4>Company</h4>
                        <span style="cursor:pointer;">
                        <span class="badge badge-info">All Companies</span>
                        </span>
                        <br /><br />

                        <h4>Cost Center</h4>
                        <span style="cursor:pointer;">
                        <span class="badge badge-info">All Cost Centers</span>
                        </span>
                        <br /><br />

                        <h4>Chart Of Accounts</h4>
                        <span style="cursor:pointer;">
                        <span class="badge badge-info">All Accounts</span>
                        </span>
                        <br /><br />

                        <h4>Cash Accounts</h4>
                        <span style="cursor:pointer;">
                        <span class="badge badge-info">All Cash Accounts</span>
                        </span>
                        <br /><br />

                        <h4>Bank Accounts</h4>
                        <span style="cursor:pointer;">
                        <span class="badge badge-info">Bank Alfalah</span><span class="badge badge-info">Meezan Bank</span>
                        </span>
                        <br /><br />

                        <h4>Iventory Location</h4>
                        <span style="cursor:pointer;">
                        <span class="badge badge-info">Johar Town</span><span class="badge badge-info">Township</span>
                        <span class="badge badge-info">Karachi WH</span><span class="badge badge-info">+2</span>
                        </span>
                        <br /><br />

                        <h4>Point Of Sale</h4>
                        <span style="cursor:pointer;">
                        <span class="badge badge-info">All Point Of Sales</span>
                        </span>
                        <br /><br />

                            </div>
                        </div>
                    </div>  -->

        </div>
    </div>
</div>



<user-account-rights #useraccountrightsModal (modalSave)="getUserRolePermissions()"></user-account-rights>

<user-company-rights #usercompanyrightsModal (modalSave)="getUserRolePermissions()"></user-company-rights>

<user-costcenter-rights #usercostcenterrightsModal (modalSave)="getUserRolePermissions()"></user-costcenter-rights>

<user-location-rights #userlocationrightsModal (modalSave)="getUserRolePermissions()"></user-location-rights>

<user-vouchertype-rights #uservouchertyperightsModal (modalSave)="getUserRolePermissions()"></user-vouchertype-rights>

<user-img-modal #userimgModal (modalSave)="getUserRolePermissions()"></user-img-modal>

<add-user #createUserModal (modalSave)="getUserRolePermissions()"></add-user>

<edit-user-modal #editUserModal (modalSave)="getUserRolePermissions()"></edit-user-modal>

<add-role-modal #createRoleModal (modalSave)="getUserRolePermissions()"></add-role-modal>

<edit-role-modal #editRoleModal (modalSave)="getUserRolePermissions()"></edit-role-modal>
