<div bsModal #editGroupModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="editGroupModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">

        <div #modalContent class="modal-content">

            
           
                <div class="card">
                    <form *ngIf="active" #editGroupForm="ngForm" id="frm_edit_group" novalidate (ngSubmit)="save()">

                        <div class="card-header card-header-blue card-header-icon">
                            <div class="card-icon">
                                <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
                            </div>
                            <h4 class="card-title">Edit Group</h4>
                          </div>
                          <br />
                          <div class="card-body ">
                            <form method="#" action="#">
                              
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Employee Name" disabled type="text" name = "name" [(ngModel)]="editData.name"/>
                                          </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Designation" disabled type="text" name="designation" [(ngModel)]="editData.designation" />
                                          </mat-form-field>
                                    </div>
                                </div>

                                <div class="row">
                                    
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Department" disabled type="text" name="department"[(ngModel)]="editData.department" />
                                          </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Ratio" type="text" name="ratio" [(ngModel)]="editData.ratio"/>
                                          </mat-form-field>
                                    </div>

                                </div>
                            
                            </form>
                          </div>

                          <div class="card-footer ">
                             <button mat-raised-button type="submit" class="btn btn-fill btn-default" (click)="close()">Close</button> 
                            <button mat-raised-button type="submit" class="btn btn-fill btn-info">Submit</button>
                            
                          </div>

                    </form>                    
                </div>

           
        </div>
    </div>
</div>