<div bsModal #createUserModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="createUserModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">

        <div #modalContent class="modal-content">

            <div class="card">
              
                <div class="card-header card-header-blue card-header-icon">
                    <div class="card-icon">
                        <i class="fa fa-user-plus fa-2x" aria-hidden="true"></i>
                    </div>

                    <button type="button"  class="close" (click)="close()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                    </button>

                    <h4 class="card-title">Add User</h4>

                  </div>


                  <br />
                  
                    <form *ngIf="active" #createUserForm="ngForm" id="frm_create_user" novalidate (ngSubmit)="save()">

                            <div class="card-body ">

                            <ul class="nav nav-pills nav-pills-info" role="tablist">
                              <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#link3" role="tablist">
                                    User Details
                                </a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#link4" role="tablist">
                                    User Roles
                                </a>
                              </li>
                            </ul>

                            <div class="tab-content tab-space">
                              
                              <div class="tab-pane active" id="link3">
                                   
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Username" name="UserName" [(ngModel)]="user.userName" type="text">
                                </mat-form-field>

                                <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Name" name="Name" [(ngModel)]="user.name" type="text">
                                </mat-form-field>

                                <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Surname" name="Surname" [(ngModel)]="user.surname" type="text">
                                </mat-form-field>

                                <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Email" name="EmailAddress" [(ngModel)]="user.emailAddress" type="email">
                                </mat-form-field>

                                <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Password" name="Password" [(ngModel)]="user.password" type="password">
                                </mat-form-field>

                                <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Confirm Password" type="password" [(ngModel)]="user.confirmPassword" id="confirmpassword" name="ConfirmPassword" equalTo="#password" data-msg-equalto="Please enter the same password again.">
                                </mat-form-field>

                               
                                <div class="togglebutton">
                                    <label>
                                        <input type="checkbox" name="IsActive" [(ngModel)]="user.isActive" checked="">
                                        <span class="toggle"></span>
                                            IsActive
                                    </label>
                                </div>
                                

                              </div>
                              
                              
                              
                              
                              
                              <div class="tab-pane" id="link4">
                                
                                    <div class="row">
                                            <div class="col-md-6" *ngFor="let role of roles">
        
                                                    <div class="togglebutton" >
                                                            <label>
                                                              <input type="checkbox" name="role" value="{{role.normalizedName}}" checked="checked" >
                                                              <span class="toggle"></span>
                                                              {{role.name}}
                                                            </label>
                                                    </div>
                                            </div>
        
                                    </div>
                              
                              </div>

                            </div>
                      
                    
                  </div>

                  <div class="card-footer ">
                        <button mat-raised-button type="button"  class="btn " (click)="close()">Close</button>
                        <button mat-raised-button type="submit" class="btn btn-fill btn-info">Submit</button>
                  </div>

                </form>

            </div>

        </div>
    </div>
</div>






<!-- <div class="modal-header">
    <h4 class="modal-title">
            <span>{{l("CreateNewUser")}}</span>
        </h4>
        
<button type="button" class="close" (click)="close()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
</button>

</div>
<div class="modal-body">

 <ul class="nav nav-tabs tab-nav-right" role="tablist">
    <li role="presentation" class="active"><a href="#user-details" data-toggle="tab">User Details</a></li>
    <li role="presentation"><a href="#user-roles" data-toggle="tab">User Roles</a></li>
</ul> 
<div class="tab-content">
    <div role="tabpanel" class="tab-pane animated fadeIn active" id="user-details">

        <div class="row clearfix" style="margin-top:10px;">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <label for="username" class="form-label">{{l("UserName")}}</label>
                        <input id="username" type="text" name="UserName" [(ngModel)]="user.userName" required maxlength="32" minlength="2" class="validate form-control">
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-sm-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <label for="name" class="form-label">{{l("Name")}}</label>
                        <input id="name" type="text" name="Name" [(ngModel)]="user.name" required maxlength="32" class="validate form-control">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <label for="surname" class="form-label">{{l("Surname")}}</label>
                        <input id="surname" type="text" name="Surname" [(ngModel)]="user.surname" required maxlength="32" class="validate form-control">
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <label for="email" class="form-label">{{l("EmailAddress")}}</label>
                        <input id="email" type="email" name="EmailAddress" [(ngModel)]="user.emailAddress" maxlength="256" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$" class="validate form-control">
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <label for="password" class="form-label">{{l("Password")}}</label>
                        <input id="password" type="password" name="Password" [(ngModel)]="user.password" required maxlength="32" class="validate form-control">
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <label for="confirmpassword" class="form-label">{{l("ConfirmPassword")}}</label>
                        <input id="confirmpassword" type="password" name="ConfirmPassword" class="validate form-control" [(ngModel)]="user.confirmPassword" equalTo="#password" data-msg-equalto="Please enter the same password again." required maxlength="32">
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="">
                        <input id="isactive" type="checkbox" name="IsActive" [(ngModel)]="user.isActive" checked class="form-control" />
                        <label for="isactive" class="form-label">{{l("IsActive")}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div role="tabpanel" class="tab-pane animated fadeIn" id="user-roles">
        <div class="row">
            <div class="col-sm-12 ">
                <ng-template ngFor let-role [ngForOf]="roles" let-roleIndex="index">
                    <div class="col-sm-6">
                        <input type="checkbox" name="role" value="{{role.normalizedName}}" title="{{role.description}}" class="filled-in" id="role-{{roleIndex}}" checked="checked" />
                        <label for="role-{{roleIndex}}" title="{{role.displayName}}">{{role.name}}</label>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>

</div>
<div class="modal-footer">
<button [disabled]="saving" type="button" class="btn btn-default waves-effect" (click)="close()">
    {{l("Cancel")}}
</button>
<button [disabled]="!createUserForm.form.valid || saving" type="submit" class="btn btn-primary waves-effect">
    {{l("Save")}}
</button>
</div> -->