<div bsModal #addTaxSlabModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="addTaxSlabModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">

        <div #modalContent class="modal-content">

            
           
                <div class="card">
                    <form *ngIf="active" #addTaxSlabForm="ngForm" id="frm_add_tax_slab" novalidate (ngSubmit)="save()">

                        <div class="card-header card-header-blue card-header-icon">
                            <div class="card-icon">
                                    <i class="fa fa-floppy-o fa-2x" aria-hidden="true"></i>
                            </div>
                            <h4 class="card-title">Add Tax Slab</h4>
                          </div>
                          <br />
                          <div class="card-body ">
                            <form method="#" action="#">
                              
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Code" type="text" />
                                          </mat-form-field>
                                    </div>

                                    <div class="col-md-6">
                                        <mat-form-field>
                                            <mat-select placeholder="Select Tax Type" name="employee">
                                              <mat-option value="city value">T1</mat-option>
                                              <mat-option value="city value">T2</mat-option>
                                              <mat-option value="city value">T3</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Date from" type="text" />
                                          </mat-form-field>
                                      </div>
                                      <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Date to" type="text" />
                                          </mat-form-field>
                                      </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Value from" type="text" />
                                          </mat-form-field>
                                      </div>
                                      <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Value to" type="text" />
                                          </mat-form-field>
                                      </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Tax percentage" type="text" />
                                          </mat-form-field>
                                      </div>
                                      <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Fixed" type="text" />
                                          </mat-form-field>
                                      </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Applicable value" type="text" />
                                          </mat-form-field>
                                      </div>
                                      <div class="col-md-4">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Per month value" type="text" />
                                          </mat-form-field>
                                      </div>
                                      <div class="col-md-4">
                                        <button mat-raised-button class="btn btn-success btn-sm" >Add</button>
                                      </div>
                                </div>

                               
                                                             
                              <!-- <div class="togglebutton">
                                <label>
                                  <input type="checkbox" checked="">
                                  <span class="toggle"></span>
                                  Active
                                </label>
                              </div> -->
                            
                            </form>
                            
                               

                          </div>

                          <div class="card-footer ">
                              <button mat-raised-button type="submit" class="btn btn-fill btn-default" (click)="close()">Close</button>
                            <button mat-raised-button type="submit" class="btn btn-fill btn-info">Submit</button>
                            
                          </div>

                    </form>                    
                </div>

           
        </div>
    </div>
</div>