

<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">assignment</i>
                  </div>
                  <h4 class="card-title">Chart Of Account Sub Sub Main</h4>
                </div>
                <div class="card-body">
                  <div class="toolbar">
                      <!--        Here you can write extra buttons/actions for the toolbar              -->
                      <button mat-raised-button class="btn btn-success btn-sm" (click)="AddChartOfAccountSubSubMain()">Add New</button>
                  </div>
                  <div class="material-datatables">
                    <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                          <thead>
                              <tr>
                                <th>{{ dataTable.headerRow[0] }}</th>
                                <th>{{ dataTable.headerRow[1] }}</th>
                                <th>{{ dataTable.headerRow[2] }}</th>
                                <th>{{ dataTable.headerRow[3] }}</th>
                                <th>{{ dataTable.headerRow[4] }}</th>
                                <th>{{ dataTable.headerRow[5] }}</th>
                                <th>{{ dataTable.headerRow[6] }}</th>
                                <th class="disabled-sorting text-right">{{ dataTable.headerRow[7] }}</th>
                              </tr>
                          </thead>
                          <tfoot>
                              <tr>
                                <th>{{ dataTable.footerRow[0] }}</th>
                                <th>{{ dataTable.footerRow[1] }}</th>
                                <th>{{ dataTable.footerRow[2] }}</th>
                                <th>{{ dataTable.footerRow[3] }}</th>
                                <th>{{ dataTable.footerRow[4] }}</th>
                                <th>{{ dataTable.footerRow[5] }}</th>
                                <th>{{ dataTable.footerRow[6] }}</th>
                                <th class="text-right">{{ dataTable.footerRow[7] }}</th>
                              </tr>
                          </tfoot>
                          <tbody>
                              <tr *ngFor="let row of dataTable.dataRows">
                                  <td>{{row[0]}}</td>
                                  <td>{{row[1]}}</td>
                                  <td>{{row[2]}}</td>
                                  <td>{{row[3]}}</td>
                                  <td>{{row[4]}}</td>
                                  <td>{{row[5]}}</td>
                                  <td>{{row[6]}}</td>
                                  <td class="text-right">
                                    <a href="#" class="btn btn-link btn-warning btn-just-icon edit" (click)="EditChartOfAccountSubSubMain()" ><i class="material-icons">dvr</i></a>
                                    <a href="#" class="btn btn-link btn-danger btn-just-icon remove"><i class="material-icons">close</i></a>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
                  <!-- end content-->
              </div>
              <!--  end card  -->
          </div>
          <!-- end col-md-12 -->
      </div>
      <!-- end row -->
  </div>
</div>


<!-- /////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
<!-- <div class="wrapper">       
  <div class="container">
    <br />
                      <div class="col-md-3">
                       <div class="row">
                              <h4>Chart Of Account Sub Main</h4>
                              <div class="pull-right">
                                  <i class="fa fa-plus-circle fa-2x" aria-hidden="true" (click)="AddChartOfAccountSubSubMain()" style="cursor: pointer;"></i>
                              </div>
                          </div>
                          <br /><br />
               </div>
           
               <div>           
               <table class="table table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" >
                      <thead>
                        <tr>
                          <th>Sub A/C</th>
                          <th>Sub Sub Code</th>
                          <th>Sub Sub Title</th>
                          <th>Sub Sub Type</th>
                          <th>PL Note</th>
                          <th>BS Note</th>
                          <th>Company</th>
                          <th *ngIf="IsEdit || IsDelete">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let tenant of result | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: pageNumber, totalItems: totalItems }">     
                          <td>{{tenant.chartOfAccountSubMain.sub_title}}</td>
                          <td>{{tenant.sub_sub_code}}</td>
                          <td>{{tenant.sub_sub_title}}</td>
                          <td>{{tenant.sub_sub_type}}</td>
                          <td>{{tenant.plNote.note_Title}}</td>
                          <td>{{tenant.glNote.note_Title}}</td>
                          <td>{{tenant.companyInfo.companyName}}</td>
                          <td>
                              <a href="javascript:void(0);" class="waves-effect waves-block" (click)="EditChartOfAccountSubSubMain(tenant)" *ngIf="IsEdit"><img src="./assets/images/edit.png"></a>
                              <a href="javascript:void(0);" class="waves-effect waves-block" (click)="delete(tenant)" *ngIf="IsDelete"><img src="./assets/images/del.png"></a>

                          </td> 
                        </tr>
                      </tbody>
                    </table>
                  </div>
  </div>
</div> -->

<!-- ADD COST CENTER POPUP -->
<app-add-chart-account-sub-sub-main #AddChartOfAccountSubSubMainModal></app-add-chart-account-sub-sub-main>

<!-- EDIT COST CENTER POPUP -->
<app-edit-chart-account-sub-sub-main #EditChartOfAccountSubSubMainModal></app-edit-chart-account-sub-sub-main>


