<div bsModal #editProductionRateModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog"
  aria-labelledby="editProductionRateModal" aria-hidden="true" [config]="{backdrop: 'static'}">

  <div class="modal-dialog">

    <div #modalContent class="modal-content">
      <div class="card">

        <div class="card-header card-header-rose card-header-icon">
          <div class="card-icon">
              <i class="fa fa-floppy-o fa-2x" aria-hidden="true"></i>
          </div>
          <h4 class="card-title">Edit Production Rate</h4>
        </div>
        <br />
        <form *ngIf="active" #editProductionRateForm="ngForm" id="frm_Production_Rate" novalidate (ngSubmit)="onType()">

          <div class="card-body ">

            <div class="row"  [formGroup]="_productionRate">
              <div class="col-md-6">
                <mat-form-field>
                  <mat-placeholder>Select Item</mat-placeholder>
                    <mat-select class="example-full-width" [(ngModel)]="productionRate.itemId" name="itemId" formControlName="itemId">
                        <mat-option *ngFor="let option of item" [value]="option.id">{{option.name}}</mat-option>
                    </mat-select>
                    <mat-error>  Item Type Name is required </mat-error>
                </mat-form-field>
              </div>

            </div>

            <div class="row"  [formGroup]="_productionRate">
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Rate" name="rate" [(ngModel)]="productionRate.rate" type="rate" formControlName="rate">
              </mat-form-field>
              </div>

              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Repair Rate" name="repairRate" [(ngModel)]="productionRate.repairRate" type="repairRate" formControlName="repairRate">
              </mat-form-field>
              </div>
            </div>

          </div>
          <div class="card-footer ">

            <button mat-raised-button type="button" class="btn " (click)="close()">Close</button>
            <button mat-raised-button type="submit" class="btn btn-fill btn-info">Submit</button>


          </div>
        </form>
      </div>



    </div>


  </div>

</div>