<div bsModal #editTerminationModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="editTerminationModal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">

        <div #modalContent class="modal-content">



            <div class="card">
                <form *ngIf="active" #editTerminationForm="ngForm" id="frm_edit_termination" novalidate (ngSubmit)="onType()">

                    <div class="card-header card-header-blue card-header-icon">
                        <div class="card-icon">
                                <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
                        </div>
                        <h4 class="card-title">Edit Termination</h4>
                    </div>
                    <br />
                    <div class="card-body ">
                        <form method="#" action="#">

                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <!-- <input matInput placeholder="Document No" type="text" /> -->
                                        <!-- <input matInput placeholder="Document No" name="docNo" [(ngModel)]="Termination.documentNo" type="text" disabled /> -->
                                        <input matInput placeholder="Document No" name="docNo" [(ngModel)]="Termination.documentNo" type="text"  *ngIf="isAutoCode"
                                        disabled />
                 
                                        <input matInput placeholder="Document No" name="docNo" [(ngModel)]="Termination.documentNo"  *ngIf="!isAutoCode" type="text"  />


                                    </mat-form-field>
                                </div>

                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <!-- <input matInput placeholder="Document Date" type="text" /> -->
                                        <input matInput [matDatepicker]="picker1" [(ngModel)]="Termination.documentDate" name="documentDate" placeholder="Document date"
                                            (click)="picker1.open()">
                                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                        <mat-datepicker #picker1></mat-datepicker>

                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6" [formGroup]="_term">
                                    <mat-form-field>
                                        <!-- <input matInput [matDatepicker]="picker" placeholder="Termination date" (click)="picker.open()">
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>-->
                                        <input matInput [matDatepicker]="picker" [(ngModel)]="Termination.terminationDate" name="terminationDate" placeholder="Termination date"
                                            (click)="picker.open()" formControlName="terminationDate">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                        <mat-error> <strong> Termination Date</strong> is required  </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-5"  [formGroup]="_term">

                                    <mat-form-field>
                                        <mat-select placeholder="Select Employee" [(ngModel)]="Termination.employeeId" name="employeeId"
                                            formControlName="employeeId">
                                            <mat-option *ngFor="let option of employee" [value]="option.id">{{option.employee_Name}}</mat-option>
                                        </mat-select>
                                        <mat-error> Employee Field is required </mat-error>
                                    </mat-form-field>

                                </div>
                                <div class="col-md-1 ">
                                    <div style="padding-top: 16px; cursor:pointer;">
                                        <i class="fa fa-search" aria-hidden="true" (click)="addSearchDD()"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <!-- <input matInput placeholder="Notice Date" type="text" /> -->
                                        <input matInput [matDatepicker]="picker2" [(ngModel)]="Termination.noticeDate" name="noticeDate" placeholder="Notice date"
                                            (click)="picker2.open()">
                                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                        <mat-datepicker #picker2></mat-datepicker>
                                    </mat-form-field>

                                </div>
                                <div class="col-md-6" [formGroup]="_term">
                                    <mat-form-field>
                                        <mat-select placeholder="Select Termination Type" name="terminationtype" [(ngModel)]="Termination.terminationType" formControlName="terminationType">
                                            <mat-option value="Voluntary">Voluntary</mat-option>
                                            <mat-option value="Involuntary">Involuntary</mat-option>         
                                          </mat-select>
                                          <mat-error> <strong> Termination Type</strong> is required  </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width" >
                                        <input matInput placeholder="Detail" [(ngModel)]="Termination.detail" name="detail" type="text" />
                                    </mat-form-field>
                                </div>

                            </div>



                            <!-- <div class="togglebutton">
                                <label>
                                  <input type="checkbox" checked="">
                                  <span class="toggle"></span>
                                  Active
                                </label>
                              </div> -->

                        </form>
                    </div>

                    <div class="card-footer ">
                        <button mat-raised-button type="submit" class="btn " (click)="close()">Close</button>
                        <button mat-raised-button type="submit" class="btn btn-fill btn-info">Submit</button>
                       
                    </div>

                </form>
            </div>


        </div>
    </div>
</div>

<app-search-edit-employee #searchEditEmployeeDropdownModal (modalSave)="EmployeeId($event)"></app-search-edit-employee>