<div bsModal #AddChartOfAccountMainModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog"
    aria-labelledby="AddChartOfAccountMainModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">

        <div #modalContent class="modal-content">

            <div class="card">
                <form *ngIf="active" #addDepartmentForm="ngForm" id="frm_add_pos" novalidate (ngSubmit)="save()">

                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">mail_outline</i>
                        </div>
                        <h4 class="card-title">Add Chart Of Account Main</h4>
                    </div>
                    <br />
                    <div class="card-body ">
                        <form method="#" action="#">
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <mat-select placeholder="Single City" name="city">
                                            <!-- <mat-option *ngFor="let city of cities" [value]="city.value">
                                                    {{ city.viewValue }}
                                                  </mat-option> -->
                                            <mat-option value="Assets">Assets</mat-option>
                                            <mat-option value="Liability">Liability</mat-option>
                                            <mat-option value="Capital">Capital</mat-option>
                                            <mat-option value="Income">Income</mat-option>
                                            <mat-option value="Expense">Expense</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Code" type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Main Title" type="text">
                                        </mat-form-field>
                                    </div>
                            </div>
                        </form>
                    </div>

                    <div class="card-footer ">

                        <button mat-raised-button type="submit" class="btn btn-fill btn-rose">Submit</button>
                        <button mat-raised-button type="button" class="btn " (click)="close()">Cancle</button>

                    </div>

                </form>
            </div>
        </div>
    </div>
</div>