<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-blue card-header-icon">
                  <div class="card-icon">
                    <i class="fa fa-wpforms fa-2x" aria-hidden="true"></i>
                  </div>
                  <h4 class="card-title">Category</h4>
                </div>
                  <div class="card-body">
                      <div class="toolbar">
                          <!--        Here you can write extra buttons/actions for the toolbar              -->
                          <button mat-raised-button class="btn btn-success btn-sm" (click)="AddCategory()">Add New</button>
                      </div>
                      <div class="material-datatables">
                        <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                              <thead>
                                  <tr>
                                    <th>{{ dataTable.headerRow[0] }}</th>
                                    <th>{{ dataTable.headerRow[1] }}</th>
                                    <th>{{ dataTable.headerRow[2] }}</th>
                                    <th>{{ dataTable.headerRow[3] }}</th>
                                    <th class="disabled-sorting text-right">{{ dataTable.headerRow[4] }}</th>
                                  </tr>
                              </thead>
                              <tfoot>
                                  <tr>
                                    <th>{{ dataTable.footerRow[0] }}</th>
                                    <th>{{ dataTable.footerRow[1] }}</th>
                                    <th>{{ dataTable.footerRow[2] }}</th>
                                    <th>{{ dataTable.footerRow[3] }}</th>
                                    <th class="text-right">{{ dataTable.footerRow[4] }}</th>
                                  </tr>
                              </tfoot>
                              <tbody>
                                  <tr *ngFor="let row of dataTable.dataRows">
                                      <td>{{row[0]}}</td>
                                      <td>{{row[1]}}</td>
                                      <td>{{row[2]}}</td>
                                      <td>{{row[3]}}</td>
                                      <td class="text-right">
                                       <!-- <a  class="btn btn-link btn-info btn-just-icon like"><i class="material-icons">favorite</i></a>-->
                                        <a  (click)="EditCategory(row[4])" class="btn btn-link btn-warning btn-just-icon edit"><i class="material-icons">dvr</i></a>
                                        <a  class="btn btn-link btn-danger btn-just-icon remove" (click)="delete(row[4])"><i class="material-icons">close</i></a>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
                  <!-- end content-->
              </div>
              <!--  end card  -->
          </div>
          <!-- end col-md-12 -->
      </div>
      <!-- end row -->
  </div>
</div>


<add-category #addCategoryModal (modalSave)="getAllCategories()"></add-category>
<edit-category #editCategoryModal (modalSave)="getAllCategories()"></edit-category>
