<!-- <div class="main-content">
    <div class="container-fluid">
      <div class="col-md-12 mr-auto ml-auto">
        
        <div class="wizard-container">
          <div class="card card-wizard" data-color="blue" id="wizardProfile">
            <form  action="" method="">
  
              
             <div class="card-header text-center">
                <h3 class="card-title">
                  Employee Registration Wizard
                </h3>
                <h5 class="card-description">This information will let us know more about you.</h5>
              </div>
              <div class="wizard-navigation">
                <ul class="nav nav-pills">
                  <li class="nav-item">
                    <a class="nav-link active" href="#personal" data-toggle="tab" role="tab">
                      Personal
                    </a>
                  </li>
  
                  <li class="nav-item">
                    <a class="nav-link" href="#pay" data-toggle="tab" role="tab">
                      Payroll
                    </a>
                  </li>
  
                  <li class="nav-item">
                    <a class="nav-link" href="#official" data-toggle="tab" role="tab">
                      Official
                    </a>
                  </li>
  
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content">
  
                  <div class="tab-pane active" id="personal">
                    
                    <div id="accordion" role="tablist">
                      <div class="card-collapse">
                        <div class="card-header" role="tab" id="headingOne">
  
                          <div class="row">
                            <h5 class="mb-0">
  
                              Personal Information
  
                            </h5>
                          </div>
  
                        </div>
  
                        <div class="card-body">
  
                          <div class="row justify-content-center">
                           
  
                            <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                              <div class="fileinput-new thumbnail img-circle">
                                <img src="assets/profilepicture/{{employeeRecord.employeePicture}}" alt="...">
                              </div>
                              <div class="fileinput-preview fileinput-exists thumbnail img-circle"></div>
                              <div>
                                <span class="btn btn-round btn-rose btn-file">
                                  <span class="fileinput-new">Add Photo</span>
                                  <span class="fileinput-exists">Change</span>
                                  <input type="file" #userPic>
                                </span>
                                <br />
                                <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i
                                    class="fa fa-times"></i> Remove</a>
                              </div>
                            </div>
  
  
                          </div>
  
                          <div class="row">
  
                            <div class="col-md-3">
                              <mat-form-field class="example-full-width">
                                <input matInput type="text" [ngModelOptions]="{standalone: true}" name="employeeCode"
                                  [(ngModel)]="employeeRecord.employee_Code" placeholder="Employee Code" disabled>
                              </mat-form-field>
                            </div>
  
                            <div class="col-md-3" [formGroup]="_employeeWizardValidation">
                              <mat-form-field class="example-full-width">
                               
                                <input matInput type="text" name="employeeName" [(ngModel)]="employeeRecord.employee_Name"
                                  placeholder="Employee Name" formControlName="employeeName">
  
  
                                <mat-error>Employee Name Field is required</mat-error>
                              </mat-form-field>
                            </div>
  
                            <div class="col-md-3">
                              <mat-form-field class="example-full-width">
                                <input matInput type="text" [ngModelOptions]="{standalone: true}" name="fatherName"
                                  [(ngModel)]="employeeRecord.father_Name" placeholder="Father/Husband Name">
                              </mat-form-field>
                            </div>
  
                            <div class="col-md-3">
  
                              <mat-form-field>
                                <mat-select placeholder="Gender" [(ngModel)]="employeeRecord.gender" name="gender">
                                  <mat-option value="Male">Male</mat-option>
                                  <mat-option value="Female">Female</mat-option>
                                  <mat-option value="Other">Other</mat-option>
                                </mat-select>
                              </mat-form-field>
  
                            </div>
  
                          </div>
  
                          <div class="row">
  
                            <div class="col-md-3">
                              <mat-form-field>
                                <mat-select placeholder="Religion" [(ngModel)]="employeeRecord.religion" name="religion">
                                  <mat-option value="ISLAM">ISLAM</mat-option>
                                  <mat-option value="CHRISTAN">CHRISTAN</mat-option>
                                  <mat-option value="HINDU">HINDU</mat-option>
                                  <mat-option value="SIKH">SIKH</mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
  
                            <div class="col-md-3">
                              <mat-form-field>
                                <input matInput [matDatepicker]="picker" [ngModelOptions]="{standalone: true}" name="dob"
                                  [(ngModel)]="employeeRecord.dob" placeholder="Date of birth" (click)="picker.open()">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                              </mat-form-field>
                            </div>
  
                            <div class="col-md-3">
                              <mat-form-field>
                                <mat-select placeholder="Martial Status" [(ngModel)]="employeeRecord.martial_Status" name="martial_status">
                                  <mat-option value="Single">Single</mat-option>
                                  <mat-option value="Married">Married</mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
  
                            <div class="col-md-3" [formGroup]="_employeeWizardValidation">
                              <mat-form-field class="example-full-width">
  
  
                                <input matInput type="text" [(ngModel)]="employeeRecord.nic" name="cnicNumber"
                                  placeholder="CNIC Number" formControlName="CNIC">
  
                                <mat-error>CNIC Field is required</mat-error>
                              </mat-form-field>
                            </div>
  
                          </div>
  
                          <div class="row">
  
                            <div class="col-md-3">
                              <mat-form-field>
                                <input matInput [matDatepicker]="picker1" [(ngModel)]="employeeRecord.cnicExpiryDate"
                                  [ngModelOptions]="{standalone: true}" name="cnicExpiryDate" placeholder="CNIC Expiry Date"
                                  (click)="picker1.open()">
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                              </mat-form-field>
                            </div>
  
                            <div class="col-md-3">
                              <mat-form-field class="example-full-width">
                                <input matInput type="text" [(ngModel)]="employeeRecord.niC_Place" [ngModelOptions]="{standalone: true}"
                                  name="nicPlace" placeholder="CNIC Place">
                              </mat-form-field>
                            </div>
  
                            <div class="col-md-3">
                              <mat-form-field>
                                <mat-select placeholder="Qualification" [(ngModel)]="employeeRecord.qualification" name="qualification">
                                  <mat-option value="MS/MPhill">MS/M.Phill</mat-option>
                                  <mat-option value="BS">BS (Hons)</mat-option>
                                  <mat-option value="Graduation">Graduation (2 years)</mat-option>
                                  <mat-option value="Inter">Intermediate</mat-option>
                                  <mat-option value="Matric">Matric</mat-option>
                                  <mat-option value="Middle">Middle</mat-option>
                                  <mat-option value="Primary">Primary</mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
  
                            <div class="col-md-3" [formGroup]="_employeeWizardValidation">
                              <mat-form-field>
  
                                
                                <mat-select placeholder="Cost Center" [(ngModel)]="employeeRecord.costCenterId" name="costcenter"
                                  formControlName="costCenterId">
                                  <mat-option *ngFor="let option of costCenterDDList" [value]="option.id">{{option.name}}</mat-option>
                                </mat-select>
                                <mat-error>Cost Center Field is required</mat-error>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
  
                      </div>
  
  
                      <div class="row">
                        <h5 class="mb-0">
                          Contact Information
                        </h5>
                      </div>
  
                      <div class="row">
  
                        <div class="col-md-3">
                          <mat-form-field class="example-full-width">
                            <input matInput type="text" [ngModelOptions]="{standalone: true}" name="phoneNo" [(ngModel)]="employeeRecord.phone"
                              placeholder="Landline Number">
                          </mat-form-field>
                        </div>
  
                        <div class="col-md-9">
                          <mat-form-field class="example-full-width">
                            <input matInput type="text" [ngModelOptions]="{standalone: true}" name="mailingAddress"
                              [(ngModel)]="employeeRecord.mailingAddress" placeholder="Mailing Address">
                          </mat-form-field>
                        </div>
  
                      </div>
  
                      <div class="row">
  
                        <div class="col-md-3">
                          <mat-form-field class="example-full-width">
                            <input matInput type="text" [ngModelOptions]="{standalone: true}" name="cellPhone"
                              [(ngModel)]="employeeRecord.mobile" placeholder="Cellphone Number">
                          </mat-form-field>
                        </div>
  
                        <div class="col-md-9">
                          <mat-form-field class="example-full-width">
                            <input matInput type="text" [ngModelOptions]="{standalone: true}" name="permanentAddress"
                              [(ngModel)]="employeeRecord.address" placeholder="Permanent Address">
                          </mat-form-field>
                        </div>
  
                      </div>
  
                      <div class="row">
  
                        <div class="col-md-3" [formGroup]="_employeeWizardValidation">
                          <mat-form-field>
  
                            <mat-select placeholder="Select State" [(ngModel)]="employeeRecord.stateId" name="state"
                              formControlName="stateId">
                            <mat-option *ngFor="let option of stateDDList" [value]="option.id">{{option.state_Name}}</mat-option>
                            </mat-select>
                            <mat-error>State Field is required</mat-error>
                          </mat-form-field>
                        </div>
  
                        <div class="col-md-3" [formGroup]="_employeeWizardValidation">
                          <mat-form-field>
                        
                            <mat-select placeholder="Select Region" [(ngModel)]="employeeRecord.regionId" name="region"
                              formControlName="regionId">
                              <mat-option *ngFor="let option of regionDDList" [value]="option.id">{{option.regionName}}</mat-option>
                            </mat-select>
                            <mat-error>Region Field is required</mat-error>
                          </mat-form-field>
                        </div>
  
                        <div class="col-md-3" [formGroup]="_employeeWizardValidation">
                          <mat-form-field>
                           
                            <mat-select placeholder="Select Zone" [(ngModel)]="employeeRecord.zoneId" name="zone"
                              formControlName="zoneId">
                              <mat-option *ngFor="let option of zoneDDList" [value]="option.id">{{option.zoneName}}</mat-option>
                            </mat-select>
                            <mat-error>Zone Field is required</mat-error>
                          </mat-form-field>
                        </div>
  
                        <div class="col-md-3" [formGroup]="_employeeWizardValidation">
                          <mat-form-field>
  
                           
                            <mat-select placeholder="Select Belt" [(ngModel)]="employeeRecord.beltId" name="belt"
                              formControlName="beltId">
                              <mat-option *ngFor="let option of beltDDList" [value]="option.id">{{option.belt_Name}}</mat-option>
                            </mat-select>
                            <mat-error>Belt Field is required</mat-error>
                          </mat-form-field>
                        </div>
  
                      </div>
  
                      <div class="row">
                        <div class="col-md-3" [formGroup]="_employeeWizardValidation">
                          <mat-form-field>
                           
                            <mat-select placeholder="Select City Name" [(ngModel)]="employeeRecord.cityId" name="city"
                              formControlName="cityId">
  
                              <mat-option *ngFor="let option of cityDDList" [value]="option.id">{{option.cityName}}</mat-option>
                            </mat-select>
                            <mat-error>City Field is required</mat-error>
                          </mat-form-field>
                        </div>
                      </div>
  
                      <div class="row">
  
                        <div class="col-md-3">
                          <mat-form-field class="example-full-width">
                            <input matInput type="text" [ngModelOptions]="{standalone: true}" name="Emergency No"
                              [(ngModel)]="employeeRecord.emergency_No" placeholder="Emergency Contact Number">
                          </mat-form-field>
                        </div>
  
                        <div class="col-md-3">
                          <mat-form-field class="example-full-width">
                            <input matInput type="text" [ngModelOptions]="{standalone: true}" name="passportNo"
                              [(ngModel)]="employeeRecord.passport_No" placeholder="Passport Number">
                          </mat-form-field>
                        </div>
  
                        <div class="col-md-3">
                          <mat-form-field class="example-full-width">
                            <input matInput type="text" [ngModelOptions]="{standalone: true}" name="insuranceNo"
                              [(ngModel)]="employeeRecord.insurance_No" placeholder="Insurance Number">
                          </mat-form-field>
                        </div>
  
                        <div class="col-md-3">
                          <mat-form-field class="example-full-width">
                            <input matInput type="text" [ngModelOptions]="{standalone: true}" name="email" [(ngModel)]="employeeRecord.email"
                              placeholder="Email ID">
                          </mat-form-field>
                        </div>
  
                      </div>
  
  
  
                    </div>
  
                  </div>
  
                  <div class="tab-pane" id="pay">
  
                    <div class="row">
                      <h5 class="mb-0">
  
                        Account Information
                      </h5>
                    </div>
  
                    <div id="collapseAccount" class="collapse show" role="tabpanel" aria-labelledby="headingAccount"
                      data-parent="#accordion" style="">
                      <div class="card-body">
  
                        <div class="row">
  
                          <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                              <input matInput type="text" [ngModelOptions]="{standalone: true}" name="bankAccountName"
                                [(ngModel)]="employeeRecord.bank_Ac_Name" placeholder="Bank Name">
                            </mat-form-field>
                          </div>
  
                          <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                              <input matInput type="text" [ngModelOptions]="{standalone: true}" name="iBan" [(ngModel)]="employeeRecord.iban"
                                placeholder="IBAN">
                            </mat-form-field>
                          </div>
  
                          <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                              <input matInput type="text" [(ngModel)]="employeeRecord.accountName" [ngModelOptions]="{standalone: true}"
                                name="accountName" placeholder="Account Name">
                            </mat-form-field>
                          </div>
  
                          <div class="col-md-3">
                            <mat-form-field>
                              <mat-select placeholder="Account Type" [(ngModel)]="employeeRecord.accountType" name="accounttype">
                                <mat-option value="Current_Account">Current Account</mat-option>
                                <mat-option value="Saving_Account">Saving Account</mat-option>
                                <mat-option value="P/L_Account">P/L Account</mat-option>
                                <mat-option value="Salary_Account">Salary Account</mat-option>
                                <mat-option value="Basic_Banking_Account">Basic Banking Account</mat-option>
                                <mat-option value="Fixed_Deposit_Account">Fixed Deposit Account</mat-option>
                                <mat-option value="Other">Other</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
  
                        </div>
  
                        <div class="row">
  
                          <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                              <input matInput type="text" [ngModelOptions]="{standalone: true}" name="ntn" [(ngModel)]="employeeRecord.ntn"
                                placeholder="NTN Number">
                            </mat-form-field>
                          </div>
  
                          <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                              <input matInput type="text" [ngModelOptions]="{standalone: true}" name="accountNo"
                                [(ngModel)]="employeeRecord.bankAccount_No" placeholder="Account Number">
                            </mat-form-field>
                          </div>
  
                        </div>
  
                      </div>
                    </div>
  
  
                    <div class="row">
                      <h5 class="mb-0">
                        Social Security Information
                      </h5>
                    </div>
  
  
  
                    <div class="row">
  
                      <div class="col-md-3">
                        <mat-form-field class="example-full-width">
                          <input matInput type="text" [ngModelOptions]="{standalone: true}" name="eobi" [(ngModel)]="employeeRecord.eobiNo"
                            placeholder="EOBI Number">
                        </mat-form-field>
                      </div>
  
                      <div class="col-md-3">
                        <mat-form-field class="example-full-width">
                          <input matInput type="text" [ngModelOptions]="{standalone: true}" name="pessiNo" [(ngModel)]="employeeRecord.pessiNo"
                            placeholder="PESSI Number">
                        </mat-form-field>
                      </div>
  
                      <div class="col-md-3">
                        <mat-form-field class="example-full-width">
                          <input matInput type="text" [ngModelOptions]="{standalone: true}" name="SSNo" [(ngModel)]="employeeRecord.social_Security_No"
                            placeholder="SS Number">
                        </mat-form-field>
                      </div>
  
                    </div>
  
  
  
  
                  </div>
  
  
                  <div class="tab-pane" id="official">
  
  
  
                    <div class="row">
                      <h5 class="mb-0">
  
                        Official Information
                      </h5>
                    </div>
  
                    <div class="row">
                      <div class="col-md-3">
  
                        <mat-form-field>
                          <input matInput [matDatepicker]="joining" [(ngModel)]="employeeRecord.joiningDate"
                            [ngModelOptions]="{standalone: true}" name="joiningDate" placeholder="Joining Date" (click)="joining.open()">
                          <mat-datepicker-toggle matSuffix [for]="joining"></mat-datepicker-toggle>
                          <mat-datepicker #joining></mat-datepicker>
                        </mat-form-field>
  
                      </div>
  
                      <div class="col-md-3">
  
                        <mat-form-field>
                          <input matInput [matDatepicker]="confirmation" [ngModelOptions]="{standalone: true}" name="confirmDate"
                            [(ngModel)]="employeeRecord.confirmationDate" placeholder="Confirmation Date" (click)="confirmation.open()">
                          <mat-datepicker-toggle matSuffix [for]="confirmation"></mat-datepicker-toggle>
                          <mat-datepicker #confirmation></mat-datepicker>
                        </mat-form-field>
  
                      </div>
  
                      <div class="col-md-3">
  
                        <mat-form-field>
                          <input matInput [matDatepicker]="attendance" [ngModelOptions]="{standalone: true}" name="attendanceDate"
                            [(ngModel)]="employeeRecord.attendanceDate" placeholder="Attendance Date" (click)="attendance.open()">
                          <mat-datepicker-toggle matSuffix [for]="attendance"></mat-datepicker-toggle>
                          <mat-datepicker #attendance></mat-datepicker>
                        </mat-form-field>
  
                      </div>
  
                      <div class="col-md-3">
  
                        <mat-form-field>
                          <input matInput [matDatepicker]="contract" [ngModelOptions]="{standalone: true}" name="contractDate"
                            [(ngModel)]="employeeRecord.contractDate" placeholder="Contract Date" (click)="contract.open()">
                          <mat-datepicker-toggle matSuffix [for]="contract"></mat-datepicker-toggle>
                          <mat-datepicker #contract></mat-datepicker>
                        </mat-form-field>
  
                      </div>
  
  
  
                    </div>
  
                    <div class="row">
  
                      <div class="col-md-3">
                        <mat-form-field>
                          <input matInput [matDatepicker]="contractend" [ngModelOptions]="{standalone: true}" name="contractEndDate"
                            [(ngModel)]="employeeRecord.contractEndingDate" placeholder="Contract End Date" (click)="contractend.open()">
                          <mat-datepicker-toggle matSuffix [for]="contract"></mat-datepicker-toggle>
                          <mat-datepicker #contractend></mat-datepicker>
                        </mat-form-field>
                      </div>
  
                      <div class="col-md-3">
  
                        <mat-form-field>
                          <input matInput [matDatepicker]="leaving" [ngModelOptions]="{standalone: true}" name="leavingDate"
                            [(ngModel)]="employeeRecord.leaving_date" placeholder="Leaving Date" (click)="leaving.open()">
                          <mat-datepicker-toggle matSuffix [for]="leaving"></mat-datepicker-toggle>
                          <mat-datepicker #leaving></mat-datepicker>
                        </mat-form-field>
  
                      </div>
  
                      <div class="col-md-3" [formGroup]="_employeeWizardValidation">
                        <mat-form-field>
  
                          <mat-select placeholder="Department" [(ngModel)]="employeeRecord.dept_ID" name="department"
                            formControlName="departmentId">
                            <mat-option *ngFor="let option of departmentDDList" [value]="option.id">{{option.title}}</mat-option>
                          </mat-select>
                          <mat-error>Department Field is required</mat-error>
                        </mat-form-field>
                      </div>
  
                      <div class="col-md-3" [formGroup]="_employeeWizardValidation">
                        <mat-form-field>
  
                          <mat-select placeholder="Designation" [(ngModel)]="employeeRecord.desig_ID" name="designation"
                            formControlName="designationId">
                            <mat-option *ngFor="let option of designationDDList" [value]="option.id">{{option.employeeDesignationName}}</mat-option>
                          </mat-select>
                          <mat-error>Designation Field is required</mat-error>
                        </mat-form-field>
                      </div>
  
  
  
                    </div>
  
                    <div class="row">
                      <div class="col-md-3">
                        <mat-form-field>
                          <mat-select placeholder="Shift Group" [(ngModel)]="employeeRecord.shiftgroupId" name="shiftgroup">
                            <mat-option value="Morning">Morning</mat-option>
                            <mat-option value="Evening">Evening</mat-option>
                            <mat-option value="Night">Night</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
  
                      <div class="col-md-3">
                        <mat-form-field>
                          <mat-select placeholder="Payroll Division" [(ngModel)]="employeeRecord.payRoll_Division"
                            [ngModelOptions]="{standalone: true}" name="payrolDivision">
                            <mat-option value="Monthly">Monthly</mat-option>
                            <mat-option value="Daily">Daily</mat-option>
                            <mat-option value="Production">Production</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
  
                      <div class="col-md-3" [formGroup]="_employeeWizardValidation">
                        <mat-form-field>
  
                         
                          <mat-select placeholder="Job Type" [(ngModel)]="employeeRecord.jobTypeId" name="jobtype"
                            formControlName="jobTypeId">
                            
                            <mat-option *ngFor="let option of jobTypeDDList" [value]="option.id">{{option.jobTypeTitle}}</mat-option>
                          </mat-select>
                          <mat-error>Job Type Field is required</mat-error>
                        </mat-form-field>
  
                      
                      </div>
  
  
                      <div class="col-md-3">
                        <mat-form-field class="example-full-width">
                          <input matInput type="text" [ngModelOptions]="{standalone: true}" name="anyDetail" [(ngModel)]="employeeRecord.anyDetail"
                            placeholder="Any Details">
                        </mat-form-field>
                      </div>
  
                    </div>
  
                    <div class="row">
  
                      <div class="col-md-3">
                        <div class="togglebutton">
                          <label>
                            <input type="checkbox" checked="" [ngModelOptions]="{standalone: true}" name="salesPerson"
                              [(ngModel)]="employeeRecord.salesPerson">
                            <span class="toggle"></span>
                            Sales Person
                          </label>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="togglebutton">
                          <label>
                            <input type="checkbox" checked="" [ngModelOptions]="{standalone: true}" name="sOPerson"
                              [(ngModel)]="employeeRecord.sale_Order_Person">
                            <span class="toggle"></span>
                            SO Person
                          </label>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="togglebutton">
                          <label>
                            <input type="checkbox" [checked]="employeeRecord.isDailyWages" [ngModelOptions]="{standalone: true}"
                              name="isDailyWage" [(ngModel)]="employeeRecord.isDailyWages">
                            <span class="toggle"></span>
                            Daily Wages
                          </label>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="togglebutton">
                          <label>
                            <input type="checkbox" checked="" [ngModelOptions]="{standalone: true}" name="active"
                              [(ngModel)]="employeeRecord.isActive">
                            <span class="toggle"></span>
                            Active
                          </label>
                        </div>
                      </div>
  
                    </div>
  
                    <div class="row">
                      <div class="col-md-3">
                        <mat-form-field class="example-full-width">
                          <input matInput type="text" [ngModelOptions]="{standalone: true}" name="alerNateEmpNo"
                            [(ngModel)]="employeeRecord.alternameEmpNo" placeholder="Alternate Employee Code">
                        </mat-form-field>
                      </div>
                      <div class="col-md-3">
                        <mat-form-field>
                          <mat-select placeholder="Employee Type" [(ngModel)]="employeeRecord.employeeTypeId" name="employeetype">
                            <mat-option value="Contract">Contract</mat-option>
                            <mat-option value="Daily_Basis">Daily Basis</mat-option>
                            <mat-option value="Weekly">Weekly</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
  
                      <div class="col-md-3">
                        <mat-form-field>
                          <mat-select placeholder="Relation" [(ngModel)]="employeeRecord.relation" name="relation">
                            <mat-option value="Relation_One">Relation One</mat-option>
                            <mat-option value="Relation_Two">Relation Two</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
  
                      <div class="col-md-3" [formGroup]="_employeeWizardValidation">
                        <mat-form-field>
                         
                          <mat-select placeholder="Ref Employee" [(ngModel)]="employeeRecord.refEmployeeId" name="referredEmployeeId"
                            formControlName="referredEmployeeId">
                            
                            <mat-option *ngFor="let option of refEmployeeDDlist" [value]="option.id">
                              {{option.employee_Name}}
                            </mat-option>
                          </mat-select>
                          <mat-error>Ref Employee Field is required</mat-error>
                        </mat-form-field>
                      </div>
  
                    </div>
  
  
  
  
                    <div class="row">
                      <h5 class="mb-0">
                        Other Information
                      </h5>
                    </div>
  
  
                    <div class="row">
                      <div class="col-md-3">
                        <mat-form-field class="example-full-width">
                          <input matInput type="text" [ngModelOptions]="{standalone: true}" name="familyCode" [(ngModel)]="employeeRecord.family_Code"
                            placeholder="Family Code">
                        </mat-form-field>
                      </div>
  
                      <div class="col-md-3">
                        <mat-form-field class="example-full-width">
                          <input matInput type="text" [ngModelOptions]="{standalone: true}" name="idMark" [(ngModel)]="employeeRecord.iD_Remark"
                            placeholder="ID Mark">
                        </mat-form-field>
                      </div>
  
                      <div class="col-md-3">
                        <mat-form-field>
                          <mat-select placeholder="Domicile" name="domicile" [(ngModel)]="employeeRecord.domicile">
                            <mat-option value="Lahore">Lahore</mat-option>
                            <mat-option value="Karachi">Karachi</mat-option>
                            <mat-option value="Islamabad">Islamabad</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
  
                      <div class="col-md-3">
                        <mat-form-field>
                          <mat-select placeholder="Blood Group" [(ngModel)]="employeeRecord.blood_Group" name="blood-group">
                            <mat-option value="A+">A+</mat-option>
                            <mat-option value="AB+">AB+</mat-option>
                            <mat-option value="A-">A-</mat-option>
                            <mat-option value="AB-">AB-</mat-option>
                            <mat-option value="B+">B+</mat-option>
                            <mat-option value="B-">B-</mat-option>
                            <mat-option value="O+">O+</mat-option>
                            <mat-option value="O-">O-</mat-option>
  
                          </mat-select>
                        </mat-form-field>
                      </div>
  
                    </div>
  
                    <div class="row">
                      <div class="col-md-3">
                        <mat-form-field class="example-full-width">
                          <input matInput type="text" [ngModelOptions]="{standalone: true}" name="reference" [(ngModel)]="employeeRecord.reference"
                            placeholder="Reference">
                        </mat-form-field>
                      </div>
                      
                    </div>
  
  
  
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="mr-auto">
                  <input type="button" class="btn btn-previous btn-fill btn-default btn-wd disabled" name="previous"
                    value="Previous">
                </div>
                <div class="ml-auto">
                  <input type="button" class="btn btn-next btn-fill btn-info btn-wd" name="next" value="Next">
                  <input type="button" class="btn btn-finish btn-fill btn-rose btn-wd" name="finish" value="Finish"
                    (click)="onType()" style="display: none;">
                </div>
                <div class="clearfix"></div>
              </div>
            </form>
          </div>
        </div>
    
      </div>
    </div>
  </div> -->

  <div class="main-content">
      <div class="container-fluid">
        <div class="col-md-12 mr-auto ml-auto">
          <!--      Wizard container        -->
          <div class="wizard-container">
            <div class="card card-wizard" data-color="blue" id="wizardProfile">
              <form [formGroup]="type" action="" method="">
                <!--        You can switch " data-color="primary" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
                <div class="card-header text-center">
                  <h3 class="card-title">
                    Employee Registration Wizard
                  </h3>
                  <h5 class="card-description">This information will let us know more about you.</h5>
                </div>
                <div class="wizard-navigation">
                  <ul class="nav nav-pills">
                    <li class="nav-item">
                      <a class="nav-link active" href="#personal" data-toggle="tab" role="tab">
                        Personal
                      </a>
                    </li>
    
                    <li class="nav-item">
                      <a class="nav-link" href="#pay" data-toggle="tab" role="tab">
                        Payroll
                      </a>
                    </li>
    
                    <li class="nav-item">
                      <a class="nav-link" href="#official" data-toggle="tab" role="tab">
                        Official
                      </a>
                    </li>
    
                  </ul>
                </div>
                <div class="card-body">
                  <div class="tab-content">
    
                    <div class="tab-pane active" id="personal">
                      <!-- <h5 class="info-text"> Let's start with the basic information (with validation)</h5> -->
    
                      <div id="accordion" role="tablist">
                        <div class="card-collapse">
                          <div class="card-header" role="tab" id="headingOne">
                            
                            <div class="row">
                            <h5 class="mb-0">
                                
                                Personal Information
    
                            </h5>
                          </div>
    
                          </div>
                         
                            <div class="card-body">
    
                              <div class="row justify-content-center">
                                <!-- <div class="picture-container">
                                  <div class="picture">
                                    <img src="./assets/img/default-avatar.png" class="picture-src" id="wizardPicturePreview" title="" />
                                    <input type="file" id="wizard-picture" #userPic>
                                  </div>
                                  <h6 class="description">Choose Picture</h6>
                                </div> -->
                              
                                <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                    <div class="fileinput-new thumbnail img-circle"  >
                                        <img src="assets/profilepicture/{{employeeRecord.employeePicture}}" alt="...">
                                    </div>
                                    <div class="fileinput-preview fileinput-exists thumbnail img-circle"  ></div>
                                    <div>
                                        <span class="btn btn-round btn-rose btn-file">
                                            <span class="fileinput-new">Add Photo</span>
                                            <span class="fileinput-exists">Change</span>
                                            <input type="file" #userPic>
                                        </span>
                                        <br />
                                        <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                                    </div>
                                </div>
                              
                              
                              </div>
    
                              <div class="row">
    
                                <div class="col-md-3">
                                  <mat-form-field class="example-full-width">

                                    <!-- <input matInput type="text" [ngModelOptions]="{standalone: true}"  name="employeeCode" [(ngModel)]="employeeRecord.employee_Code" placeholder="Employee Code"> -->
                                    <input matInput placeholder="Employee Code" name="docNo" [ngModelOptions]="{standalone: true}" [(ngModel)]="employeeRecord.employee_Code" type="text"  *ngIf="isAutoCode"
                                    disabled />
                  
                                    <input matInput placeholder="Employee Code"  [ngModelOptions]="{standalone: true}" name="docNo" [(ngModel)]="employeeRecord.employee_Code"  *ngIf="!isAutoCode" type="text"  />



                                  </mat-form-field>
                                </div>
    
                                <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput type="text" [ngModelOptions]="{standalone: true}"  name="employeeName" [(ngModel)]="employeeRecord.employee_Name" placeholder="Employee Name">
                                  </mat-form-field>
                                </div>
    
                                <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput type="text" [ngModelOptions]="{standalone: true}"  name="fatherName" [(ngModel)]="employeeRecord.father_Name" placeholder="Father/Husband Name">
                                  </mat-form-field>
                                </div>
    
                                <div class="col-md-3">
    
                                  <mat-form-field>
                                    <mat-select placeholder="Gender" [(ngModel)]="employeeRecord.gender"   name="gender">
                                      <mat-option value="Male">Male</mat-option>
                                      <mat-option value="Female">Female</mat-option>
                                      <mat-option value="Other">Other</mat-option>
                                    </mat-select>
                                  </mat-form-field>
    
                                </div>
    
                              </div>
    
                              <div class="row">
    
                                <div class="col-md-3">
                                  <mat-form-field>
                                    <mat-select placeholder="Religion" [(ngModel)]="employeeRecord.religion"  name="religion">
                                      <mat-option value="ISLAM">ISLAM</mat-option>
                                      <mat-option value="CHRISTAN">CHRISTAN</mat-option>
                                      <mat-option value="HINDU">HINDU</mat-option>
                                      <mat-option value="SIKH">SIKH</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </div>
    
                                <div class="col-md-3">
                                  <mat-form-field>
                                    <input matInput [matDatepicker]="picker" [ngModelOptions]="{standalone: true}"  name="dob" [(ngModel)]="employeeRecord.dob" placeholder="Date of birth" (click)="picker.open()">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                  </mat-form-field>
                                </div>
    
                                <div class="col-md-3">
                                  <mat-form-field>
                                    <mat-select placeholder="Martial Status" [(ngModel)]="employeeRecord.martial_Status"  name="martial_status">
                                      <mat-option value="Single">Single</mat-option>
                                      <mat-option value="Married">Married</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </div>
    
                                <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput type="text" [(ngModel)]="employeeRecord.nic" [ngModelOptions]="{standalone: true}"  name="cnicNumber" placeholder="CNIC Number">
                                  </mat-form-field>
                                </div>
    
                              </div>
    
                              <div class="row">
    
                                <div class="col-md-3">
                                  <mat-form-field>
                                    <input matInput [matDatepicker]="picker1" [(ngModel)]="employeeRecord.cnicExpiryDate" [ngModelOptions]="{standalone: true}"  name="cnicExpiryDate" placeholder="CNIC Expiry Date"
                                      (click)="picker1.open()">
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                  </mat-form-field>
                                </div>
    
                                <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput type="text" [(ngModel)]="employeeRecord.niC_Place" [ngModelOptions]="{standalone: true}"  name="nicPlace" placeholder="CNIC Place">
                                  </mat-form-field>
                                </div>
    
                                <div class="col-md-3">
                                  <mat-form-field>
                                    <mat-select placeholder="Qualification" [(ngModel)]="employeeRecord.qualification"  name="qualification">
                                      <mat-option value="MS/MPhill">MS/M.Phill</mat-option>
                                      <mat-option value="BS">BS (Hons)</mat-option>
                                      <mat-option value="Graduation">Graduation (2 years)</mat-option>
                                      <mat-option value="Inter">Intermediate</mat-option>
                                      <mat-option value="Matric">Matric</mat-option>
                                      <mat-option value="Middle">Middle</mat-option>
                                      <mat-option value="Primary">Primary</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </div>
    
                                <div class="col-md-3">
                                  <mat-form-field>
                                    <mat-select placeholder="Cost Center" [(ngModel)]="employeeRecord.costCenterId" [ngModelOptions]="{standalone: true}" name="costcenter">
                                        <!-- <mat-option [value]="0" >Select Any Value</mat-option> -->
                                      <mat-option *ngFor="let option of costCenterDDList" [value]="option.id">{{option.name}}</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </div>
                              </div>
                            </div>
    
                        </div>
    
                            
                            <div class="row">
                            <h5 class="mb-0">
                                Contact Information
                            </h5>
                          </div>
    
                              <div class="row">
    
                                <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput type="text" [ngModelOptions]="{standalone: true}"  name="phoneNo" [(ngModel)]="employeeRecord.phone" placeholder="Landline Number">
                                  </mat-form-field>
                                </div>
    
                                <div class="col-md-9">
                                  <mat-form-field class="example-full-width">
                                    <input matInput type="text" [ngModelOptions]="{standalone: true}"  name="mailingAddress" [(ngModel)]="employeeRecord.mailingAddress" placeholder="Mailing Address">
                                  </mat-form-field>
                                </div>
    
                              </div>
    
                              <div class="row">
    
                                <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput type="text" [ngModelOptions]="{standalone: true}"  name="cellPhone" [(ngModel)]="employeeRecord.mobile" placeholder="Cellphone Number">
                                  </mat-form-field>
                                </div>
    
                                <div class="col-md-9">
                                  <mat-form-field class="example-full-width">
                                    <input matInput type="text" [ngModelOptions]="{standalone: true}"  name="permanentAddress" [(ngModel)]="employeeRecord.address" placeholder="Permanent Address">
                                  </mat-form-field>
                                </div>
    
                              </div>
    
                              <div class="row">
    
                                <div class="col-md-3">
                                  <mat-form-field>
                                    <mat-select placeholder="Select State" [(ngModel)]="employeeRecord.stateId" [ngModelOptions]="{standalone: true}"   name="state">
                                      <mat-option *ngFor="let option of stateDDList" [value]="option.id">{{option.state_Name}}</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </div>
    
                                <div class="col-md-3">
                                  <mat-form-field>
                                    <mat-select placeholder="Select Region" [(ngModel)]="employeeRecord.regionId" #e (selectionChange) = "RegionWithState(e.value)" [ngModelOptions]="{standalone: true}"   name="region">
                     
                                      <mat-option *ngFor="let option of regionDDList" [value]="option.id">{{option.regionName}}</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </div>
    
                                <div class="col-md-3">
                                  <mat-form-field>
                                    <mat-select placeholder="Select Zone" [(ngModel)]="employeeRecord.zoneId" #i (selectionChange)="ZoneWithRegion(i.value)" [ngModelOptions]="{standalone: true}"   name="zone">
                                
                                      <mat-option *ngFor="let option of zoneDDList" [value]="option.id">{{option.zoneName}}</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </div>
    
                                <div class="col-md-3">
                                  <mat-form-field>
                                    <mat-select placeholder="Select Belt" [(ngModel)]="employeeRecord.beltId" #j (selectionChange) ="BeltWithZone(j.value)"  [ngModelOptions]="{standalone: true}"   name="belt">
                               
                                      <mat-option *ngFor="let option of beltDDList" [value]="option.id">{{option.belt_Name}}</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </div>
    
                              </div>
    
                              <div class="row">
                                <div class="col-md-3">
                                  <mat-form-field>
                                    <mat-select placeholder="Select City Name" [(ngModel)]="employeeRecord.cityId" [ngModelOptions]="{standalone: true}"   name="city">
                                      
                                      <mat-option *ngFor="let option of cityDDList" [value]="option.id">{{option.cityName}}</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </div>
                              </div>
    
                              <div class="row">
    
                                <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput type="text" [ngModelOptions]="{standalone: true}"  name="Emergency No" [(ngModel)]="employeeRecord.emergency_No" placeholder="Emergency Contact Number">
                                  </mat-form-field>
                                </div>
    
                                <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput type="text" [ngModelOptions]="{standalone: true}"  name="passportNo" [(ngModel)]="employeeRecord.passport_No" placeholder="Passport Number">
                                  </mat-form-field>
                                </div>
    
                                <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput type="text" [ngModelOptions]="{standalone: true}"  name="insuranceNo" [(ngModel)]="employeeRecord.insurance_No" placeholder="Insurance Number">
                                  </mat-form-field>
                                </div>
    
                                <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput type="text" [ngModelOptions]="{standalone: true}"  name="email" [(ngModel)]="employeeRecord.email" placeholder="Email ID">
                                  </mat-form-field>
                                </div>
    
                              </div>
    
    
    
                      </div>
    
                    </div>
    
                    <div class="tab-pane" id="pay">
    
                        <div class="row">
                            <h5 class="mb-0">
                             
                                Account Information
                            </h5>
                          </div>
    
                          <div id="collapseAccount" class="collapse show" role="tabpanel" aria-labelledby="headingAccount" data-parent="#accordion"
                            >
                            <div class="card-body">
    
                              <div class="row">
    
                                <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput type="text" [ngModelOptions]="{standalone: true}"  name="bankAccountName" [(ngModel)]="employeeRecord.bank_Ac_Name" placeholder="Bank Name">
                                  </mat-form-field>
                                </div>
    
                                <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput type="text" [ngModelOptions]="{standalone: true}"  name="iBan" [(ngModel)]="employeeRecord.iban" placeholder="IBAN">
                                  </mat-form-field>
                                </div>
    
                                <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput type="text" [(ngModel)]="employeeRecord.accountName" [ngModelOptions]="{standalone: true}"  name="accountName" placeholder="Account Name">
                                  </mat-form-field>
                                </div>
    
                                <div class="col-md-3">
                                  <mat-form-field>
                                    <mat-select placeholder="Account Type" [(ngModel)]="employeeRecord.accountType"  name="accounttype">
                                      <mat-option value="Current_Account">Current Account</mat-option>
                                      <mat-option value="Saving_Account">Saving Account</mat-option>
                                      <mat-option value="P/L_Account">P/L Account</mat-option>
                                      <mat-option value="Salary_Account">Salary Account</mat-option>
                                      <mat-option value="Basic_Banking_Account">Basic Banking Account</mat-option>
                                      <mat-option value="Fixed_Deposit_Account">Fixed Deposit Account</mat-option>
                                      <mat-option value="Other">Other</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </div>
    
                              </div>
    
                              <div class="row">
    
                                <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput type="text" [ngModelOptions]="{standalone: true}"  name="ntn" [(ngModel)]="employeeRecord.ntn" placeholder="NTN Number">
                                  </mat-form-field>
                                </div>
    
                                <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput type="text" [ngModelOptions]="{standalone: true}"  name="accountNo" [(ngModel)]="employeeRecord.bankAccount_No" placeholder="Account Number">
                                  </mat-form-field>
                                </div>


                                <div class="col-md-3">

                                    <mat-form-field>
                                        <input matInput [matDatepicker]="graduity" [(ngModel)]="employeeRecord.graduityDate" [ngModelOptions]="{standalone: true}"  name="graduityDate" placeholder="GraduityDate"
                                          (click)="graduity.open()">
                                        <mat-datepicker-toggle matSuffix [for]="graduity"></mat-datepicker-toggle>
                                        <mat-datepicker #graduity></mat-datepicker>
                                    </mat-form-field>

                                </div>
    
                              </div>
    
                            </div>
                          </div>
      
                       
                         <div class="row">
                            <h5 class="mb-0">
                                Social Security Information
                            </h5>
                          </div>
                        
                         
    
                              <div class="row">
    
                                <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput type="text" [ngModelOptions]="{standalone: true}"  name="eobi" [(ngModel)]="employeeRecord.eobiNo" placeholder="EOBI Number">
                                  </mat-form-field>
                                </div>
    
                                <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput type="text" [ngModelOptions]="{standalone: true}"  name="pessiNo" [(ngModel)]="employeeRecord.pessiNo" placeholder="PESSI Number">
                                  </mat-form-field>
                                </div>
    
                                <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput type="text" [ngModelOptions]="{standalone: true}"  name="SSNo" [(ngModel)]="employeeRecord.social_Security_No" placeholder="SS Number">
                                  </mat-form-field>
                                </div>
    
                              </div>
    
                          
                        
    
                    </div>
    
    
                    <div class="tab-pane" id="official">
    
                     
                      
                         <div class="row">
                            <h5 class="mb-0">
                              
                              Official Information
                            </h5>
                          </div>
                          
                              <div class="row">
                                <div class="col-md-3">
    
                                  <mat-form-field>
                                    <input matInput [matDatepicker]="joining" [(ngModel)]="employeeRecord.joiningDate" [ngModelOptions]="{standalone: true}"  name="joiningDate" placeholder="Joining Date"
                                      (click)="joining.open()">
                                    <mat-datepicker-toggle matSuffix [for]="joining"></mat-datepicker-toggle>
                                    <mat-datepicker #joining></mat-datepicker>
                                  </mat-form-field>
    
                                </div>
    
                                <div class="col-md-3">
    
                                  <mat-form-field>
                                    <input matInput [matDatepicker]="confirmation" [ngModelOptions]="{standalone: true}"  name="confirmDate" [(ngModel)]="employeeRecord.confirmationDate" placeholder="Confirmation Date"
                                      (click)="confirmation.open()">
                                    <mat-datepicker-toggle matSuffix [for]="confirmation"></mat-datepicker-toggle>
                                    <mat-datepicker #confirmation></mat-datepicker>
                                  </mat-form-field>
    
                                </div>
    
                                <div class="col-md-3">
    
                                  <mat-form-field>
                                    <input matInput [matDatepicker]="attendance" [ngModelOptions]="{standalone: true}"  name="attendanceDate" [(ngModel)]="employeeRecord.attendanceDate" placeholder="Attendance Date"
                                      (click)="attendance.open()">
                                    <mat-datepicker-toggle matSuffix [for]="attendance"></mat-datepicker-toggle>
                                    <mat-datepicker #attendance></mat-datepicker>
                                  </mat-form-field>
    
                                </div>
    
                                <div class="col-md-3">
    
                                  <mat-form-field>
                                    <input matInput [matDatepicker]="contract" [ngModelOptions]="{standalone: true}"  name="contractDate" [(ngModel)]="employeeRecord.contractDate" placeholder="Contract Date"
                                      (click)="contract.open()">
                                    <mat-datepicker-toggle matSuffix [for]="contract"></mat-datepicker-toggle>
                                    <mat-datepicker #contract></mat-datepicker>
                                  </mat-form-field>
    
                                </div>
    
    
    
                              </div>
    
                              <div class="row">
    
                                <div class="col-md-3">
                                  <mat-form-field>
                                    <input matInput [matDatepicker]="contractend" [ngModelOptions]="{standalone: true}"  name="contractEndDate" [(ngModel)]="employeeRecord.contractEndingDate" placeholder="Contract End Date"
                                      (click)="contractend.open()">
                                    <mat-datepicker-toggle matSuffix [for]="contract"></mat-datepicker-toggle>
                                    <mat-datepicker #contractend></mat-datepicker>
                                  </mat-form-field>
                                </div>
    
                                <div class="col-md-3">
    
                                  <mat-form-field>
                                    <input matInput [matDatepicker]="leaving" [ngModelOptions]="{standalone: true}"  name="leavingDate" [(ngModel)]="employeeRecord.leaving_date" placeholder="Leaving Date"
                                      (click)="leaving.open()">
                                    <mat-datepicker-toggle matSuffix [for]="leaving"></mat-datepicker-toggle>
                                    <mat-datepicker #leaving></mat-datepicker>
                                  </mat-form-field>
    
                                </div>
    
                                <div class="col-md-3">
                                  <mat-form-field>
                                    <mat-select placeholder="Department" [(ngModel)]="employeeRecord.dept_ID" [ngModelOptions]="{standalone: true}"  name="department">
                                      <mat-option *ngFor="let option of departmentDDList" [value]="option.id">{{option.title}}</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </div>
    
                                <div class="col-md-3">
                                  <mat-form-field>
                                    <mat-select placeholder="Designation" [(ngModel)]="employeeRecord.desig_ID" [ngModelOptions]="{standalone: true}"  name="designation">
                                      <mat-option *ngFor="let option of designationDDList" [value]="option.id">{{option.employeeDesignationName}}</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </div>
    
    
    
                              </div>
    
                              <div class="row">
                                <div class="col-md-3">
                                  <mat-form-field>
                                    <mat-select placeholder="Shift Group" [(ngModel)]="employeeRecord.shiftgroupId"  name="shiftgroup">
                                      <mat-option value="Morning">Morning</mat-option>
                                      <mat-option value="Evening">Evening</mat-option>
                                      <mat-option value="Night">Night</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </div>
    
                                <div class="col-md-3">
                                  <mat-form-field>
                                    <mat-select placeholder="Payroll Division" [(ngModel)]="employeeRecord.payRoll_Division" [ngModelOptions]="{standalone: true}" name="payrolDivision">
                                      <mat-option value="Monthly">Monthly</mat-option>
                                      <mat-option value="Daily">Daily</mat-option>
                                      <mat-option value="Production">Production</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </div>
    
                                <div class="col-md-3">
                                  <mat-form-field>
                                    <mat-select placeholder="Job Type" [(ngModel)]="employeeRecord.jobTypeId" [ngModelOptions]="{standalone: true}"   name="jobtype" required #jobtype="ngModel">
                                      <!-- <mat-option value="Morning">Contract</mat-option>
                                                <mat-option value="Evening">Daily Basis</mat-option> -->
                                      <mat-option *ngFor="let option of jobTypeDDList" [value]="option.id">{{option.jobTypeTitle}}</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                  <div class="alert alert-danger" *ngIf="jobtype.touched && !jobtype.valid">Please Specify the Job Type</div>
                                </div>
                                
    
                                <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput type="text" [ngModelOptions]="{standalone: true}"  name="anyDetail" [(ngModel)]="employeeRecord.anyDetail" placeholder="Any Details">
                                  </mat-form-field>
                                </div>
    
                              </div>
    
                              <div class="row">
    
                                <div class="col-md-3">
                                  <div class="togglebutton">
                                    <label>
                                      <input type="checkbox" checked="" [ngModelOptions]="{standalone: true}"  name="salesPerson" [(ngModel)]="employeeRecord.salesPerson">
                                      <span class="toggle"></span>
                                      Sales Person
                                    </label>
                                  </div>
                                </div>
                                <div class="col-md-3">
                                  <div class="togglebutton">
                                    <label>
                                      <input type="checkbox" checked="" [ngModelOptions]="{standalone: true}"  name="sOPerson" [(ngModel)]="employeeRecord.sale_Order_Person">
                                      <span class="toggle"></span>
                                      SO Person
                                    </label>
                                  </div>
                                </div>
                                <div class="col-md-3">
                                  <div class="togglebutton">
                                    <label>
                                      <input type="checkbox" [checked]="employeeRecord.isDailyWages" [ngModelOptions]="{standalone: true}"  name="isDailyWage" [(ngModel)]="employeeRecord.isDailyWages">
                                      <span class="toggle"></span>
                                      Daily Wages
                                    </label>
                                  </div>
                                </div>
                                <div class="col-md-3">
                                  <div class="togglebutton">
                                    <label>
                                      <input type="checkbox" checked [ngModelOptions]="{standalone: true}"  name="active" [(ngModel)]="employeeRecord.isActive">
                                      <span class="toggle"></span>
                                      Active
                                    </label>
                                  </div>
                                </div>
    
                              </div>
    
                              <div class="row">
                                <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput type="text" [ngModelOptions]="{standalone: true}"  name="alerNateEmpNo" [(ngModel)]="employeeRecord.alternameEmpNo" placeholder="Alternate Employee Code">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                  <mat-form-field>
                                    <mat-select placeholder="Employee Type" [(ngModel)]="employeeRecord.employeeTypeId"  name="employeetype">
                                      <mat-option value="Contract">Contract</mat-option>
                                      <mat-option value="Daily_Basis">Daily Basis</mat-option>
                                      <mat-option value="Weekly">Weekly</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </div>
    
                                <div class="col-md-3">
                                  <mat-form-field>
                                    <mat-select placeholder="Relation" [(ngModel)]="employeeRecord.relation"   name="relation">
                                      <mat-option value="Relation_One">Relation One</mat-option>
                                      <mat-option value="Relation_Two">Relation Two</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </div>
    
                                <div class="col-md-3">
                                  <mat-form-field>
                                    <mat-select placeholder="Ref Employee" [(ngModel)]="employeeRecord.refEmployeeId" [ngModelOptions]="{standalone: true}"   name="refemployee">
                                      <!-- <mat-option [value]="0" >Select Any Value</mat-option> -->
                                      <mat-option *ngFor="let option of refEmployeeDDlist" [value]="option.id">
                                        {{option.employee_Name}}
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </div>
    
                              </div>
    
                            
                       
                          
                          <div class="row">
                              <h5 class="mb-0">
                                  Other Information
                                </h5>
                          </div>
    
                          
                              <div class="row">
                                <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput type="text" [ngModelOptions]="{standalone: true}"  name="familyCode" [(ngModel)]="employeeRecord.family_Code" placeholder="Family Code">
                                  </mat-form-field>
                                </div>
    
                                <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput type="text" [ngModelOptions]="{standalone: true}"  name="idMark" [(ngModel)]="employeeRecord.iD_Remark" placeholder="ID Mark">
                                  </mat-form-field>
                                </div>
    
                                <div class="col-md-3">
                                  <mat-form-field>
                                    <mat-select placeholder="Domicile"  name="domicile" [(ngModel)]="employeeRecord.domicile">
                                      <mat-option value="Lahore">Lahore</mat-option>
                                      <mat-option value="Karachi">Karachi</mat-option>
                                      <mat-option value="Islamabad">Islamabad</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </div>
    
                                <div class="col-md-3">
                                  <mat-form-field>
                                    <mat-select placeholder="Blood Group" [(ngModel)]="employeeRecord.blood_Group"  name="blood-group">
                                      <mat-option value="A+">A+</mat-option>
                                      <mat-option value="AB+">AB+</mat-option>
                                      <mat-option value="A-">A-</mat-option>
                                      <mat-option value="AB-">AB-</mat-option>
                                      <mat-option value="B+">B+</mat-option>
                                      <mat-option value="B-">B-</mat-option>
                                      <mat-option value="O+">O+</mat-option>
                                      <mat-option value="O-">O-</mat-option>
    
                                    </mat-select>
                                  </mat-form-field>
                                </div>
    
                              </div>
    
                              <div class="row">
                                <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput type="text" [ngModelOptions]="{standalone: true}"  name="reference" [(ngModel)]="employeeRecord.reference" placeholder="Reference">
                                  </mat-form-field>
                                </div>
                                <!-- <div class="col-md-3">
                                          <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                              <div class="fileinput-new thumbnail">
                                                  <img src="./assets/img/image_placeholder.jpg" alt="...">
                                              </div>
                                              <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                              <div>
                                                  <span class="btn btn-rose btn-file">
                                                      <span class="fileinput-new">Any Attachments</span>
                                                      <span class="fileinput-exists">Change</span>
                                                      <input type="file" [ngModelOptions]="{standalone: true}"  name="..." />
                                                  </span>
                                                  <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                                              </div>
                                          </div>
                                      </div> -->
                              </div>
    
    
                        
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="mr-auto">
                    <input type="button" class="btn btn-previous btn-fill btn-default btn-wd disabled"  name="previous" value="Previous">
                  </div>
                  <div class="ml-auto">
                    <input type="button" class="btn btn-next btn-fill btn-info btn-wd"  name="next" value="Next">
                    <input type="button" class="btn btn-finish btn-fill btn-rose btn-wd"  name="finish" value="Finish" (click)="save()" style="display: none;">
                  </div>
                  <div class="clearfix"></div>
                </div>
              </form>
            </div>
          </div>
          <!-- wizard container -->
        </div>
      </div>
    </div>