<div bsModal #createUserVoucherTypeRightsModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="createUserVoucherTypeRightsModal" aria-hidden="true" [config]="{backdrop: 'static'}">
        <div class="modal-dialog">
    
            <div #modalContent class="modal-content">
    
                <div class="card">
                
                    <div class="card-header card-header-blue card-header-icon">
                            <div class="card-icon">
                                <i class="fa fa-check-square-o fa-2x" aria-hidden="true"></i>
                            </div>

                            <button type="button"  class="close" (click)="close()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                            </button>

                            <h4 class="card-title">Voucher Type Rights</h4>

                          </div>


                          <br />
                          
                            <form *ngIf="active" #createUserVoucherTypeRightsForm="ngForm" id="frm_create_user" novalidate (ngSubmit)="save()">

                                    <div class="card-body ">

                                <!-- <div class="row">
                                    <div class="col-md-6" *ngFor="let voucherType of voucherTypes">

                                            <div class="togglebutton" >
                                                    <label>
                                                      <input type="checkbox" checked="{{setCheckedValue(voucherType.right)}}" (change)="$event.target.checked ? voucherType.right = true : voucherType.right = false" >
                                                      <span class="toggle"></span>
                                                      {{voucherType.name}}
                                                    </label>
                                            </div>
                                    </div>

                                </div> -->


                                <div class="row" *ngIf="userVoucherTypeRights">
                                    <div class="col-md-6" *ngFor="let voucherTypeRights of userVoucherTypeRights">

                                            <div class="togglebutton" >
                                                    <label>
                                                      <input type="checkbox" checked="{{setCheckedValue(voucherTypeRights.rights)}}" (change)="$event.target.checked ? voucherTypeRights.rights = true : voucherTypeRights.rights = false" >
                                                      <span class="toggle"></span>
                                                      {{voucherTypeRights.voucherType.voucher_type}}
                                                    </label>
                                            </div>
                                    </div>

                                </div>
                              
                           
                          </div>

                          <div class="card-footer ">
                           
                                <button mat-raised-button type="button"  class="btn " (click)="close()">Close</button>
                                <button mat-raised-button type="submit" class="btn btn-fill btn-info"  (click)="CreateRights()">Submit</button>

                          </div>

                        </form>

                </div>
            </div>
        </div>
    </div>





    <!-- <div class="modal-header">
            <h4 class="modal-title">
                    <span>{{l("Voucher Types Rights")}}</span>
                </h4>
                
        <button type="button" class="close" (click)="close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        
    </div>
    <div class="modal-body">

            <div class="row" *ngIf="userVoucherTypeRights">
                <div class="col-sm-12 ">
                    <ng-template ngFor let-voucherTypeRights [ngForOf]="userVoucherTypeRights" let-voucherTypeRightsIndex="index">
                        <div class="col-sm-12">
                            <input type="checkbox" name="rights" checked ="{{setCheckedValue(voucherTypeRights.rights)}}" value="{{voucherTypeRights.rights}}" title="{{voucherTypeRights.voucherType.voucher_type}}" class="filled-in" id="voucherTypeRights-{{voucherTypeRightsIndex}}" (change)="$event.target.checked ? voucherTypeRights.rights = true : voucherTypeRights.rights = false"  />  
                            <label for="voucherTypeRights-{{voucherTypeRightsIndex}}" title="{{voucherTypeRights.voucherType.voucher_type}}">{{voucherTypeRights.voucherType.voucher_type}}</label>
                        </div>
                    </ng-template>
                </div>
            </div>

    </div>
    <div class="modal-footer">
        <button [disabled]="saving" type="button" class="btn btn-default waves-effect" (click)="close()">
            {{l("Cancel")}}
        </button>
        <button [disabled]="(!createUserVoucherTypeRightsForm.form.valid || saving) && !userVoucherTypeRights" type="submit" class="btn btn-primary waves-effect">
            {{l("Save")}}
        </button>
    </div>
     -->