<div bsModal #addAchievementModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog"
  aria-labelledby="addAchievementModal" aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog">

    <div #modalContent class="modal-content">



      <div class="card">
        <div class="card-header card-header-blue card-header-icon">
          <div class="card-icon">
            <i class="fa fa-floppy-o fa-2x" aria-hidden="true"></i>
          </div>
          <h4 class="card-title">Add Achievement</h4>
        </div>
        <br />

        <form *ngIf="active" #addAchievementForm="ngForm" id="frm_add_Achievement" novalidate (ngSubmit)="onType()">
          <div class="card-body ">
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="example-full-width">

                  <input matInput placeholder="Document No" name="docNo" [(ngModel)]="Achievement.documentNo" type="text"  *ngIf="isAutoCode"
                    disabled />

                    <input matInput placeholder="Document No" name="docNo" [(ngModel)]="Achievement.documentNo"  *ngIf="!isAutoCode" type="text"  />
               
                </mat-form-field>
              </div>

              <div class="col-md-6">
                <mat-form-field>
                  <!--<input matInput  placeholder="Document Date" type="text" (click)="picker.open()" />  -->
                  <!--<input matInput [matDatepicker]="picker1" [(ngModel)]="Achievement.documentDate" name="documentDate" placeholder="Document date"
                    (click)="picker1.open()">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1 touchUi="true" type="datetime" openOnFocus="true" timeInterval="5"></mat-datepicker>
                </mat-form-field>-->


                  <mat-placeholder>Document Date</mat-placeholder>
                  <input matInput [matDatetimepicker]="datetimePicker1" required autocomplete="true" [(ngModel)]="documentDate"
                    name="documentDate">
                  <mat-datetimepicker-toggle [for]="datetimePicker1" matSuffix></mat-datetimepicker-toggle>
                  <mat-datetimepicker #datetimePicker1 touchUi="true" type="datetime" openOnFocus="true" timeInterval="5"></mat-datetimepicker>

                </mat-form-field>


              </div>
            </div>

            <div class="row">
              <div class="col-md-3" [formGroup]="_achve">

                <mat-form-field>
                    <mat-select placeholder="Select Employee" [(ngModel)]="Achievement.employeeId" name="employeeId"
                        formControlName="employeeId">
                        <mat-option *ngFor="let option of employee" [value]="option.id">{{option.employee_Name}}</mat-option>
                    </mat-select>
                    <mat-error> Employee Field is required </mat-error>
                </mat-form-field>

            </div>
            <div class="col-md-1 ">
                <div style="padding-top: 16px; cursor:pointer;">
                    <i class="fa fa-search" aria-hidden="true" (click)="addSearchDD()"></i>
                </div>
            </div>
              <div class="col-md-4" [formGroup]="_achve">
                <mat-form-field class="example-full-width">
                  <!-- 
                  <input matInput [matDatepicker]="picker2" [(ngModel)]="Achievement.noticeDate" name="noticeDate" placeholder="Notice date"
                    (click)="picker2.open()">
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker> -->

                  <mat-placeholder>Achievement Date</mat-placeholder>
                  <input matInput [matDatetimepicker]="datetimePicker3" required autocomplete="true" [(ngModel)]="AchievementDate"
                    name="achivementDate" formControlName="achievementDate">
                  <mat-datetimepicker-toggle [for]="datetimePicker3" matSuffix></mat-datetimepicker-toggle>
                  <mat-datetimepicker #datetimePicker3 touchUi="true" type="datetime" openOnFocus="true" timeInterval="5"></mat-datetimepicker>

                  <mat-error> Achievement Date is required</mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-4">
                <mat-form-field>


                  <mat-select placeholder="Select Achievement Type" name="achievementType" [(ngModel)]="Achievement.achievementType">
                    <mat-option value="Years of Service Award">Years of Service Award</mat-option>
                    <mat-option value="Promotion">Promotion</mat-option>
                    <mat-option value="Project Completion">Project Completion</mat-option>
                    <mat-option value="Gold Stars">Gold Stars</mat-option>

                  </mat-select>

                </mat-form-field>
              </div>


            </div>


            <div class="row">

              <div class="col-md-12">
                <mat-form-field class="example-full-width">
                  <!--<input matInput placeholder="Detail" [(ngModel)]="Achievement.AchievementReason" name="detail" type="text" />
                  -->
                  <textarea rows="3" matInput class="form-control" name="detail" placeholder="Detail" name="detail"
                    [(ngModel)]="Achievement.achievementDetail"></textarea>
                </mat-form-field>
              </div>

            </div>


          </div>

          <div class="card-footer ">
            <button mat-raised-button type="submit" class="btn" (click)="close()">Close</button>
            <button mat-raised-button type="submit" class="btn btn-fill btn-info">Submit</button>

          </div>

        </form>
      </div>


    </div>
  </div>
</div>

<app-search-employee #searchEmployeeDropdownModal (modalSave)="EmployeeId($event)"></app-search-employee>