<div bsModal #createSocialModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="createSocialModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">
        
                <div #modalContent class="modal-content">
        
                    <div class="card">
                        
                            <div class="card-header card-header-rose card-header-icon">
                                    <div class="card-icon">
                                      <i class="material-icons">mail_outline</i>
                                    </div>
    
                                    <button type="button"  class="close" (click)="close()" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                    </button>
    
                                    <h4 class="card-title">Social Media Login</h4>
    
                            </div>
    
    
                                  <br />
                                 
                                    <form *ngIf="active" #createUserForm="ngForm" id="frm_create_user" novalidate (ngSubmit)="save()">
                                 
                                            <div class="card-body ">

                            
                                        <mat-form-field class="example-full-width" *ngIf="isESignin">
                                                <input matInput placeholder="Email" [(ngModel)]="socialMediaUser.Email" name="email" type="email" [readonly]="isERead">      
                                            </mat-form-field>

                                    

     
                                    <mat-error *ngIf="isESignup">
                                            Email is <strong>required</strong> for Signup
                                        </mat-error>   
    
                                    
                                      
    
                                    <mat-form-field class="example-full-width" *ngIf="isUSignin">
                                        <input matInput placeholder="Username" [(ngModel)]="socialMediaUser.Username" name="username" type="text" [readonly]="isURead">
                                    </mat-form-field>

                                    <mat-error *ngIf="isUSignup">
                                            Username is <strong>required</strong> for Signup
                                    </mat-error>

    
                                      <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Password" [(ngModel)]="socialMediaUser.Password" name="password" type="password" >
                                      </mat-form-field>

                                      <mat-error *ngIf="isESignup || isUSignup">
                                            Password is <strong>required</strong> for Signup
                                    </mat-error>
                                      
                                   
                                  </div>
    
                                  <div class="card-footer ">
                                    <div class="row">
                                      <div class="col-md-12" >
                                        <button mat-raised-button type="button"  class="btn " (click)="close()">Cancle</button>
                                        <button mat-raised-button type="submit" class="btn btn-fill btn-rose" (click)="socialMediaLogin()"> {{btnText}}</button>
                                    </div>
                                    </div>
                                  </div>
                                  
                                </form>

                    </div>

                </div>
            </div>
        </div>
        






        <!-- <div class="modal-header">
                <h4 class="modal-title">
                       
                        <span>Social Media Login</span>
                    </h4>
                    
            <button type="button" class="close" (click)="close()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            
        </div>
        <div class="modal-body">

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane animated fadeIn active" id="user-details">

                    <div class="row clearfix" style="margin-top:10px;" *ngIf="isESignin">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                   
                                    <label for="Email ID" class="form-label">Email ID</label>
                                    <input id="emailID" type="text" name="EmailID" [(ngModel)]="socialMediaUser.Email" required maxlength="32" minlength="2" class="validate form-control" [readonly]="isERead">
                                    <div *ngIf="isESignup" class="alert alert-warning">Email is Require for Signup</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix" style="margin-top:10px;" *ngIf="isUSignin">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                   
                                    <label for="Username" class="form-label">Username</label>
                                    <input id="username" type="text" name="username" [(ngModel)]="socialMediaUser.Username" required maxlength="32" minlength="2" class="validate form-control" [readonly]="isURead">
                                    <div *ngIf="isUSignup" class="alert alert-warning">Username is Require for Signup</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <label for="password" class="form-label">Password</label>
                                    <input id="password" type="password" name="Password" [(ngModel)]="socialMediaUser.Password" required maxlength="32" class="validate form-control">
                                    <div *ngIf="isESignup || isUSignup" class="alert alert-warning">Password is Require for Signup</div>
                                </div>
                            </div>
                        </div>
                      
                    </div>

                
                </div>

              
            </div>

        </div>
        <div class="modal-footer">
            <button [disabled]="saving" type="button" class="btn btn-default waves-effect" (click)="close()">
                Cancel
            </button>
            <button [disabled]="!createUserForm.form.valid || saving" type="submit" class="btn btn-primary waves-effect" (click)="socialMediaLogin()">
                {{btnText}}
            </button>
        </div> -->