<div bsModal #addCostCenterModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog"
  aria-labelledby="addCostCenterModal" aria-hidden="true" [config]="{backdrop: 'static'}">


  <div class="modal-dialog">

    <div #modalContent class="modal-content">



      <div class="card">



        <div class="card-header card-header-rose card-header-icon">
          <div class="card-icon">
            <i class="material-icons">mail_outline</i>
          </div>
          <h4 class="card-title">Add CostCenter</h4>
        </div>
        <br />
        <form *ngIf="active" #addCostCenterForm="ngForm" id="frm_Add_Type" novalidate (ngSubmit)="onType()">


          <div class="card-body ">

            <div class="row">
              <div class="col-md-4">
                <mat-form-field class="example-full-width">

                  <!-- <input matInput placeholder="Code" type="text" [(ngModel)]="costCenter.code" name="code" disabled>
                   -->
                   <input matInput placeholder="Document No" name="docNo" [(ngModel)]="costCenter.code" type="text"  *ngIf="isAutoCode"
                   disabled />
 
                   <input matInput placeholder="Document No" name="docNo" [(ngModel)]="costCenter.code"  *ngIf="!isAutoCode" type="text"  />
              


                </mat-form-field>


              </div>

              <div class="col-md-4">
                <mat-form-field class="example-full-width" [formGroup]="_costCenterValidation">
                  <input matInput placeholder=" Name" type="text" [(ngModel)]="costCenter.name" name="name" formControlName="costCenterName">
                                   
                  <mat-error>  Costcenter Name Field is required </mat-error>
                 
                </mat-form-field>
              </div>

              <div class="col-md-4">

                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Sort Order" type="number" [(ngModel)]="costCenter.sortOrder" name="sortOrder">
                </mat-form-field>
              </div>
            </div>

            <div class="row">


              <div class="col-md-12" [formGroup]="_costCenterValidation">

                <mat-form-field class="example-full-width">
                  <input type="text" placeholder="Cost Center Group" aria-label="Assignee" matInput [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]="costCenter.costCenterGroup" name="costCenterGroup" formControlName="costCenterGp">
                  <mat-autocomplete #auto="matAutocomplete" >
                    <mat-option *ngFor="let option of filteredOptions | async " [value]="option">
                      {{option}}
                    </mat-option>
                  </mat-autocomplete>
                  <mat-error>  Cost Center Group Field is required </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row">

              <div class="col-md-6 togglebutton">
                <label>
                  <input type="checkbox" checked [(ngModel)]="isActive" name="isActive">
                  <span class="toggle"></span>
                  Active
                </label>
              </div>

              <div class="col-md-6 togglebutton">
                <label>
                  <input type="checkbox" checked="" [(ngModel)]="costCenter.isLogical" name="isLogical">
                  <span class="toggle"></span>
                  Logical
                </label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 togglebutton">
                <label>
                  <input type="checkbox" checked="" [(ngModel)]="costCenter.outwardGatepass" name="OutwardGatepass">
                  <span class="toggle"></span>
                  OutwardGatepass
                </label>
              </div>

              <div class="col-md-6 togglebutton">
                <label>
                  <input type="checkbox" checked="" [(ngModel)]="costCenter.dayShift" name="dayShift">
                  <span class="toggle"></span>
                  DayShift
                </label>
              </div>

            </div>

          </div>
          <div class="card-footer ">
            <button mat-raised-button type="button" class="btn " (click)="close()">Cancle</button>
            <button mat-raised-button type="submit" class="btn btn-fill btn-rose">Submit</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>