<!-- <div class="wrapper">       
  <div class="container">
    <br />
                      <div class="col-md-3">
                       <div class="row">
                              <h4>Chart Of Account Sub Sub Detail</h4>
                              <div class="pull-right">
                                  <i class="fa fa-plus-circle fa-2x" aria-hidden="true" (click)="AddChartOfAccountSubSubDetail()" style="cursor: pointer;"></i>
                              </div>
                          </div>
                          <br /><br />
               </div>
           
               <div>           
               <table class="table table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" >
                      <thead>
                        <tr>
                          <th>Sub Sub Main</th>
                          <th>Detial Code</th>
                          <th>Detail Title</th>
                          <th>Sort Order</th>
                          <th>Opening Balance</th>
                          <th>Access Level</th>
                          <th *ngIf="IsEdit || IsDelete">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let tenant of result | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: pageNumber, totalItems: totalItems }">     
                          <td>{{tenant.chartOfAccountSubSubMain.sub_sub_title}}</td>
                          <td>{{tenant.detailCode}}</td>
                          <td>{{tenant.detailTitle}}</td>
                          <td>{{tenant.sortOrder}}</td>
                          <td>{{tenant.openingBalance}}</td>
                          <td>{{tenant.accessLevel}}</td>
                          <td>
                              <a href="javascript:void(0);" class="waves-effect waves-block" (click)="EditChartOfAccountSubSubMain(tenant)" *ngIf="IsEdit"><img src="./assets/images/edit.png"></a>
                              <a href="javascript:void(0);" class="waves-effect waves-block" (click)="delete(tenant)" *ngIf="IsDelete"><img src="./assets/images/del.png"></a>
                          </td> 
                        </tr>
                      </tbody>
                    </table>
                  </div>
  </div>
</div>


<app-add-chart-account-sub-sub-detail #addChartAccountSubSubDetailModal (modalSave)="refresh()"></app-add-chart-account-sub-sub-detail>


<app-edit-chart-account-sub-sub-detail #editChartAccountSubSubDetailModal (modalSave)="refresh()"></app-edit-chart-account-sub-sub-detail>

 -->
