<div bsModal #addItemModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog"
  aria-labelledby="addItemModal" aria-hidden="true" [config]="{backdrop: 'static'}">

  <div class="modal-dialog">

    <div #modalContent class="modal-content">
      <div class="card">

        <div class="card-header card-header-rose card-header-icon">
          <div class="card-icon">
            <i class="fa fa-floppy-o fa-2x" aria-hidden="true"></i>
          </div>
          <h4 class="card-title">Add Item</h4>
        </div>
        <br />
        <form *ngIf="active" #addItemForm="ngForm" id="frm_Item_Type" novalidate (ngSubmit)="onType()">

          <div class="card-body ">


            <div class="row" [formGroup]="_item">

              <div class="col-md-5">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Code" type="text" [(ngModel)]="item.itemCode" name="code" formControlName="itemCode">
                  <mat-error> Item Code is required </mat-error>
                </mat-form-field>

              </div>


              <div class="col-md-5">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Name" type="text" [(ngModel)]="item.name" name="name" formControlName="itemName">
                  <mat-error> Item Name is required </mat-error>
                </mat-form-field>

              </div>

            </div>

            <div class="row" [formGroup]="_item">
              
              
              
              
              
              <div class="col-md-5">
                <mat-form-field>
                  <mat-placeholder>Select ItemType</mat-placeholder>
                  <mat-select class="example-full-width" [(ngModel)]="item.itemTypeId" name="itemType" formControlName="itemTypeId">
                    <mat-option *ngFor="let option of itemType" [value]="option.id">{{option.name}}</mat-option>
                  </mat-select>
                  <mat-error> Item Type Name is required </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-1">

                <div style="padding-top: 16px; cursor:pointer;">
                  <i class="fa fa-search" aria-hidden="true" (click)="addSearchDD()"></i>
                </div>
              </div>


              <div class="col-md-5">
                <mat-form-field>
                  <mat-select placeholder="Category" name="Category" [(ngModel)]="item.categoryId" name="category"
                    formControlName="categoryId">
                    <mat-option *ngFor="let option of category " [value]="option.id">{{option.name}}</mat-option>
                  </mat-select>
                  <mat-error> Category Name is required </mat-error>
                </mat-form-field>
              </div>
              <!--Smart Search-->
              <div class="col-md-1">

                <div style="padding-top: 16px; cursor:pointer;">
                  <i class="fa fa-search" aria-hidden="true" (click)="addCategoryDD()"></i>
                </div>
              </div>

              
            </div>
            <!-- <div class="row">
              
                <div class="col-md-4">
                    <a (click)="addCategoryDD()" style="cursor: pointer;">Smart Search</a>
                </div>
                <div class="col-md-6">
                    <a (click)="addSubCategoryDD()" style="cursor: pointer; padding-left: 73px">Smart Search</a>
                </div>
              </div> -->
            <div class="row" [formGroup]="_item">
              

              <div class="col-md-5">
                <mat-form-field>
                  <mat-select placeholder="Sub Category" name="SubCategory" [(ngModel)]="item.subCategoryId"
                    formControlName="subCategoryId">
                    <mat-option *ngFor="let option of subCategory " [value]="option.id">{{option.name}}</mat-option>
                  </mat-select>
                  <mat-error> Sub Category Name is required </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-1">

                <div style="padding-top: 16px; cursor:pointer;">
                  <i class="fa fa-search" aria-hidden="true" (click)="addSubCategoryDD()"></i>
                </div>
              </div>
              <!-- <div class="col-md-1"><i class="fa fa-search" aria-hidden="true"></i></div> -->
            </div>

          </div>
          <div class="card-footer ">

            <button mat-raised-button type="button" class="btn " (click)="close()">Close</button>
            <button mat-raised-button type="submit" class="btn btn-fill btn-info">Submit</button>


          </div>
        </form>
      </div>



    </div>


  </div>

</div>
<!--Smart Search-->
<app-search-item-type #searchDropdownModal (modalSave)="ItemTypeId($event)"></app-search-item-type>
<app-search-category #searchCategoryDropdownModal (modalSave)="CategoryId($event)"></app-search-category>
<app-search-sub-category #searchSubCategoryDropdownModal (modalSave)="SubCategoryId($event)"></app-search-sub-category>