<style>
    .tab-pane .table tbody>tr>td:first-child {
        width: auto;
    }
</style>



<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                  <div class="card-header card-header-blue card-header-icon">
                    <div class="card-icon">
                            <i class="fa fa-money fa-2x" aria-hidden="true"></i>
                    </div>
                    <h4 class="card-title">Tax Slab</h4>
                </div>

                <div class="card-body ">
                    <ul class="nav nav-pills nav-pills-info" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link " [class.active]="isDetail" [class.show]="isDetail" data-toggle="tab" href="#link1" role="tablist" (click)="ActiveDetail()">
                                Detail
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [class.active]="isHistory" [class.show]="isHistory" data-toggle="tab" href="#link2" role="tablist" (click)="ActiveHistory()">
                                History
                            </a>
                        </li>

                    </ul>
                    <div class="tab-content tab-space">
                        <div class="tab-pane" [class.active]="isDetail" id="link1">

                            <div class="row">

                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">

                                        <!-- <input matInput placeholder="Code" type="text" name="code" [(ngModel)]="taxSlabMaster.code"/>
                                     -->
                                     <input matInput placeholder="Code" name="docNo" [(ngModel)]="taxSlabMaster.code" type="text"  *ngIf="isAutoCode"
                                     disabled />
                   
                                     <input matInput placeholder="Code" name="docNo" [(ngModel)]="taxSlabMaster.code"  *ngIf="!isAutoCode" type="text"  />

                                    </mat-form-field>
                                </div>

                                <div class="col-md-2">
                                    <mat-form-field>
                                        <mat-select placeholder="Select Tax Type" name="TaxType" [(ngModel)]="taxSlabMaster.taxType">
                                            <mat-option value="GeneralSalesTax">General Sales Tax</mat-option>
                                            <mat-option value="WithHoldingTax">With Holding Tax</mat-option>
                                            <mat-option value="IncomeTax">Income Tax</mat-option>
                                            <mat-option value="IncomeTaxOnSalary">Income Tax on Salary</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-2">


                                        <mat-form-field>
                                                <mat-placeholder>From Date</mat-placeholder>
                                                <input matInput [matDatetimepicker]="datetimePicker1" required autocomplete="true" [(ngModel)]="taxSlabMaster.fromDate" name="fromDate"> 
                                                <mat-datetimepicker-toggle [for]="datetimePicker1" matSuffix ></mat-datetimepicker-toggle>
                                                <mat-datetimepicker #datetimePicker1  touchUi = "true" type="datetime" openOnFocus="true" timeInterval="5"  ></mat-datetimepicker>                                     
                                        </mat-form-field>
                                </div>

                                <div class="col-md-2">

                                        <mat-form-field>
                                                <mat-placeholder>To Date</mat-placeholder>
                                                <input matInput [matDatetimepicker]="datetimePicker" required autocomplete="true" [(ngModel)]="taxSlabMaster.toDate" name="toDate"> 
                                                <mat-datetimepicker-toggle [for]="datetimePicker" matSuffix ></mat-datetimepicker-toggle>
                                                <mat-datetimepicker #datetimePicker  touchUi = "true" type="datetime" openOnFocus="true" timeInterval="5"  ></mat-datetimepicker>                                     
                                        </mat-form-field>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Value From" type="number" name="valueFrom" [(ngModel)]="taxSlabDetail.valueFrom"  on-focusout="doCalculation()"/>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Value To" type="number" name="valueTo" [(ngModel)]="taxSlabDetail.valueTo" on-focusout="doCalculation()"/>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Tax Percentage" type="number" min="1" name="taxPercentage" [(ngModel)]="taxSlabDetail.taxPercentage" />
                                    </mat-form-field>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Fixed Value" type="number" name="fixed" [(ngModel)]="taxSlabDetail.fixed" />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Applicable Value" type="number" name="applicableAmount" [(ngModel)]="taxSlabDetail.applicableAmount" [readonly]="true"/>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Per Month Value" type="number" name="valuePerMonth" [(ngModel)]="taxSlabDetail.valuePerMonth" [readonly]="true" />
                                    </mat-form-field>
                                </div>

                                <div class="col-md-2">
                                    <button mat-raised-button class="btn btn-just-icon btn-round btn-info" (click)="addToGrid()">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </button>
                                </div>

                            </div>


                            <!-- <div class="material-datatables">
                                <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>{{ dataTable.headerRow[0] }}</th>
                                            <th>{{ dataTable.headerRow[1] }}</th>
                                            <th>{{ dataTable.headerRow[2] }}</th>
                                            <th>{{ dataTable.headerRow[3] }}</th>
                                            <th>{{ dataTable.headerRow[4] }}</th>
                                            <th>{{ dataTable.headerRow[5] }}</th>
                                            <th class="disabled-sorting text-right">{{ dataTable.headerRow[6] }}</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>{{ dataTable.footerRow[0] }}</th>
                                            <th>{{ dataTable.footerRow[1] }}</th>
                                            <th>{{ dataTable.footerRow[2] }}</th>
                                            <th>{{ dataTable.footerRow[3] }}</th>
                                            <th>{{ dataTable.footerRow[4] }}</th>
                                            <th>{{ dataTable.footerRow[5] }}</th>
                                            <th class="text-right">{{ dataTable.footerRow[6] }}</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr *ngFor="let row of dataTable.dataRows">
                                            <td>{{row[0]}}</td>
                                            <td>{{row[1]}}</td>
                                            <td>{{row[2]}}</td>
                                            <td>{{row[3]}}</td>
                                            <td>{{row[4]}}</td>
                                            <td>{{row[5]}}</td>
                                            <td class="text-right">



                                                <a class="btn btn-link btn-warning btn-just-icon edit" (click)="EditTaxSlabDetail(row[6])">
                                                    <i class="material-icons">dvr</i>
                                                </a>

                                                <a class="btn btn-link btn-danger btn-just-icon remove" (click)="DeleteTaxSlabDetail(row[6])">
                                                    <i class="material-icons">close</i>
                                                </a>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>   -->

                        
                           <div class="main-content">
                                <div class="container-fluid">
                                       
                                        <button mat-raised-button type="submit" class="btn btn-fill btn-info" (click)="ResetControls()">Reset</button>
                                        <button mat-raised-button class="btn btn-success btn-info" (click)="onRemoveSelected()">Delete </button>
                                        <button mat-raised-button type="submit" class="btn btn-fill btn-info" *ngIf="isSaveBtn" (click)="saveData()">Save</button>
                                        <button mat-raised-button type="submit" class="btn btn-fill btn-info" *ngIf="isEditBtn" (click)="updateData()">Update</button>

                                        <div >
                                                Page Size:
                                                <select (change)="onPageSizeChanged(PageSize.value)" id="page-size" #PageSize>
                                                    <option value="10" selected="">10</option>
                                                    <option value="100">100</option>
                                                    <option value="500">500</option>
                                                    <option value="1000">1000</option>
                                                </select>
                                        </div>
                                        <ag-grid-angular style="width: 100%; height: 400px;"
                                            class="ag-theme-balham"
                                            (gridReady)="onGridReady($event)"
                                            (cellValueChanged)="onCellValueChanged($event)"
                                            [columnDefs]="columnDefs"
                                            [enableSorting]="true"
                                            [enableFilter]="true"
                                            [floatingFilter]="true"
                                            [rowData]="rowData"
                                            [pagination]="true"
                                            [animateRows]="true"
                                            [rowSelection]="rowSelection"
                                            [defaultColDef]="defaultColDef">
                                        </ag-grid-angular>       
                            
                                        
                                </div>
                                
                            
                                
                            </div> 



                            <br />

                            <div class="row pull-right">
                                <button mat-raised-button type="submit" class="btn btn-fill btn-default" (click)="ResetControls()">Reset</button>
                                <button mat-raised-button type="submit" class="btn btn-fill btn-info" *ngIf="isSaveBtn" (click)="save()">Save</button>
                                <button mat-raised-button type="submit" class="btn btn-fill btn-info" *ngIf="isEditBtn" (click)="edit()">Update</button>
                            </div>

                        </div>



                        <div class="tab-pane" [class.active]="isHistory" id="link2">

                            <div class="material-datatables">
                                <table id="datatables1" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                      <thead>
                                          <tr>
                                            <th>{{ dataTable1.headerRow[0] }}</th>
                                            <th>{{ dataTable1.headerRow[1] }}</th>
                                            <th>{{ dataTable1.headerRow[2] }}</th>
                                            <th>{{ dataTable1.headerRow[3] }}</th>
           
                                            <th class="disabled-sorting text-right">{{ dataTable1.headerRow[4] }}</th>
                                          </tr>
                                      </thead>
                                      <tfoot>
                                          <tr>
                                            <th>{{ dataTable1.footerRow[0] }}</th>
                                            <th>{{ dataTable1.headerRow[1] }}</th>
                                            <th>{{ dataTable1.headerRow[2] }}</th>
                                            <th>{{ dataTable1.headerRow[3] }}</th>
                                            
                                            <th class="text-right">{{ dataTable1.footerRow[4] }}</th>
                                          </tr>
                                      </tfoot>
                                      <tbody>
                                          <tr *ngFor="let row of dataTable1.dataRows">
                                              <td>{{row[0]}}</td>
                                              <td>{{row[1]}}</td>
                                              <td>{{row[2]}}</td>
                                              <td>{{row[3]}}</td>
                                              
                                              <td class="text-right">
                                              <a class="btn btn-link btn-warning btn-just-icon edit" (click)="EditTaxSlabMasterDetail(row[4])" ><i class="material-icons">dvr</i></a>
                                                <a  class="btn btn-link btn-danger btn-just-icon remove" (click)="deleteTaxSlabMasterDetail(row[4])"><i class="material-icons">close</i></a>
                                              </td>
                                          </tr>
                                      </tbody>
                                  </table>
                              </div>

                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<!-- POPUP -->

<!-- <edit-tax-slab #editTaxSlabModal (modalSave)="updateSalaryGroupDetail($event)"></edit-tax-slab> -->