<div bsModal #addProductionRateModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog"
  aria-labelledby="addProductionRateModal" aria-hidden="true" [config]="{backdrop: 'static'}">

  <div class="modal-dialog">

    <div #modalContent class="modal-content">
      <div class="card">

        <div class="card-header card-header-rose card-header-icon">
          <div class="card-icon">
            <i class="fa fa-floppy-o fa-2x" aria-hidden="true"></i>
          </div>
          <h4 class="card-title">Add Production Rate</h4>
        </div>
        <br />
        <form *ngIf="active" #addProductionRateForm="ngForm" id="frm_Production_Rate" novalidate (ngSubmit)="onType()">

          <div class="card-body ">

            <div class="row">
              <div class="col-md-5" [formGroup]="_productionRate">
                <mat-form-field>
                  <mat-placeholder>Select Item</mat-placeholder>
                  <mat-select class="example-full-width" [(ngModel)]="productionRate.itemId" name="itemId"
                    formControlName="itemId">
                    <mat-option *ngFor="let option of item" [value]="option.id">{{option.name}}</mat-option>
                  </mat-select>
                  <mat-error> Item Type Name is required </mat-error>
                </mat-form-field>

                <div class="col-md-1 ">
                  <div style="padding-top: 16px; cursor:pointer;">
                    <i class="fa fa-search" aria-hidden="true" (click)="addSearchDD()"></i>
                  </div>
                </div>
              </div>

              <div class="col-md-6">

                <mat-form-field>
                  <mat-placeholder>Production Rate Date</mat-placeholder>
                  <input matInput [matDatetimepicker]="datetimePicker1" [(ngModel)]="productionRate.productionRateDate"
                    name="productionRateDate">
                  <mat-datetimepicker-toggle [for]="datetimePicker1" matSuffix></mat-datetimepicker-toggle>
                  <mat-datetimepicker #datetimePicker1 touchUi="true" type="datetime" openOnFocus="true" timeInterval="5"></mat-datetimepicker>

                </mat-form-field>


              </div>




            </div>

            <div class="row" [formGroup]="_productionRate">
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Rate" name="rate" [(ngModel)]="productionRate.rate" type="rate"
                    formControlName="rate">
                </mat-form-field>
              </div>

              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Repair Rate" name="repairRate" [(ngModel)]="productionRate.repairRate"
                    type="repairRate" formControlName="repairRate">
                </mat-form-field>
              </div>
            </div>

          </div>
          <div class="card-footer ">

            <button mat-raised-button type="button" class="btn " (click)="close()">Close</button>
            <button mat-raised-button type="submit" class="btn btn-fill btn-info">Submit</button>


          </div>
        </form>
      </div>



    </div>


  </div>

</div>
<app-search-item #searchItemDropdownModal (modalSave)="ItemId($event)"></app-search-item>