<div bsModal #editAllowanceTypeModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="editAllowanceTypeModal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">

        <div class="modal-dialog">

            <div #modalContent class="modal-content">



                <div class="card">
                    <form *ngIf="active" #addAllowanceTypeForm="ngForm" id="frm_Alowance_Type" novalidate (ngSubmit)="onType()">

                        <div class="card-header card-header-blue card-header-icon">
                            <div class="card-icon">
                                <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
                            </div>
                            <h4 class="card-title">Edit Allowance Type</h4>
                        </div>
                        <br />
                        <div class="card-body ">
                            <form role="form">
                                <div class="row">
                                    <div class="col-md-6" [formGroup]="_allowanceType">
                                            <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Allowance Type" type="text" type="text" name="allowanceTtype" id="allowanceTtype" [(ngModel)]="AllowanceType.allowanceTitle" formControlName="allowanceTitle">
                                                    <mat-error>Allowance Title is required </mat-error>
                                            </mat-form-field>
                                    </div>

                                    <div class="col-md-6" [formGroup]="_allowanceType">
                                            <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Allowance Amount" type="text" name="allowanceAmmount" id="allowanceAmmount" [(ngModel)]="AllowanceType.allowanceAmmount" formControlName="allowanceAmount">
                                                    <mat-error>Allowance Amount is required </mat-error>
                                            </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Sort Order" type="text" name="sortorder" id="sortorder" [(ngModel)]="AllowanceType.sortOrder">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Detail" type="text" name="detail" id="detail" [(ngModel)]="AllowanceType.allowanceDetail">
                                </mat-form-field>
                            </form>
                        </div>

                        <div class="card-footer ">

                            <button mat-raised-button type="button" class="btn " (click)="close()">Close</button>
                            <button mat-raised-button type="submit" class="btn btn-fill btn-info">Submit</button>


                        </div>

                    </form>
                </div>


            </div>
        </div>
    </div>
</div>