<div bsModal #editSalaryGroupModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="editLeaveQuotaModal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">

        <div #modalContent class="modal-content">



            <div class="card">
                <form *ngIf="active" #editSalaryGroupForm="ngForm" id="frm_edit_leave_quota" novalidate (ngSubmit)="save()">

                    <div class="card-header card-header-blue card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">mail_outline</i>
                        </div>
                        <h4 class="card-title">Edit Salary Group Details</h4>
                    </div>
                    <br />
                    <div class="card-body ">

                        <div class="row">


                            <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Salary Type" type="text" name="salaryType" [(ngModel)]="editData.salaryType" />
                                </mat-form-field>
                            </div>

                            <div class="col-md-6">
                                <mat-form-field>
                                    <mat-select placeholder="Apply Value" name="ApplyValue" name="applyValue" [(ngModel)]="editData.applyValue">
                                        <mat-option value="Fixed">Fixed</mat-option>
                                        <mat-option value="Percentage">Percentage</mat-option>
                                        <mat-option value="Variable">Variable</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Value" type="number" min="0" name="value" [(ngModel)]="editData.value" />
                                </mat-form-field>
                            </div>

                            <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="number" placeholder="Sort Order" min="1" name="sortOrder" [(ngModel)]="editData.sortOrder">
                                </mat-form-field>
                            </div>

                        </div>

                        <br>


                        <div class="row">

                            <div class="col-md-6">

                                <div class="togglebutton">
                                    <label>
                                        <input type="checkbox" checked="" name="SalaryDeduction" [(ngModel)]="editData.dedeuction">
                                        <span class="toggle"></span>
                                        Deduction
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="togglebutton">
                                    <label>
                                        <input type="checkbox" checked="" name="IncomeTaxExempted" [(ngModel)]="editData.exempted">
                                        <span class="toggle"></span>
                                        Tax Exempted
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="togglebutton">
                                    <label>
                                        <input type="checkbox" checked="" name="active" [(ngModel)]="editData.isActive">
                                        <span class="toggle"></span>
                                        Active
                                    </label>
                                </div>

                            </div>
                        </div>

                        <br>
                    </div>

                    <div class="card-footer ">
                        <button mat-raised-button type="submit" class="btn btn-fill btn-default" (click)="close()">Close</button>
                        <button mat-raised-button type="submit" class="btn btn-fill btn-info">Submit</button>

                    </div>

                </form>
            </div>


        </div>
    </div>
</div>