<div bsModal #editOvertimeConfigurationModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog"
  aria-labelledby="editOvertimeConfigurationModal" aria-hidden="true" [config]="{backdrop: 'static'}">


  <div class="modal-dialog">

    <div #modalContent class="modal-content">



      <div class="card">
        <form *ngIf="active" #addOvertimeConfigurationForm="ngForm" id="frm_Overtime_Configuration" novalidate (ngSubmit)="save()">

          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">mail_outline</i>
            </div>
            <h4 class="card-title">Edit Overtime Configuration</h4>
          </div>
          <br />
          <div class="card-body ">
            <form role="form">
              <div class="row">
                <div class="col-md-6">
                  <!-- <mat-form-field class="example-full-width">
                    <input matInput placeholder="Working Days"  name="workingDays" id="workingDays" [(ngModel)]="overtimeConfiguration.workingDays">
                  </mat-form-field> -->
                  <mat-form-field>
                    
                      <!-- <mat-checkbox class="example-margin" [(ngModel)]="overtimeConfiguration.workingDays">Disabled</mat-checkbox> -->
                     
                      <mat-select multiple [(ngModel)]="savedDays" name="savedDays">
                        <mat-option *ngFor="let option of weekDays" [value]="option">{{ option }}</mat-option>
                      </mat-select>
                  </mat-form-field>


                </div>

                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Working Hours" type="number" name="workingHours" id="workingHours" [(ngModel)]="overtimeConfiguration.workinghours">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">


                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Regular Day Hour Rate" type="number" name="regularDayHourRate" id="regularDayHourRate" [(ngModel)]="overtimeConfiguration.regularDayHourRate">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Off day Hour Rate" type="number" name="offDayHourRate" id="offDayHourRate" [(ngModel)]="overtimeConfiguration.offDayHourRate">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="togglebutton">
                  <label>
                    <input type="checkbox" checked="" name="defaultWorkingDays" [(ngModel)]="overtimeConfiguration.defaultWorkingDays">
                    <span class="toggle"></span>
                    Default Working Days
                  </label>
                </div>
              </div>




            </form>
          </div>

          <div class="card-footer ">

            <button mat-raised-button type="button" class="btn " (click)="close()">Cancle</button>
            <button mat-raised-button type="submit" class="btn btn-fill btn-rose">Submit</button>


          </div>

        </form>
      </div>


    </div>

  </div>
</div>