<div bsModal #addResignationModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="addResignationModal"
  aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog">

    <div #modalContent class="modal-content">



      <div class="card">
        <div class="card-header card-header-rose card-header-icon">
          <div class="card-icon">
              <i class="fa fa-floppy-o fa-2x" aria-hidden="true"></i>
          </div>
          <h4 class="card-title">Add Resignation</h4>
        </div>
        <br />
        

        <form *ngIf="active" #addResignationForm="ngForm" id="frm_add_resignation" novalidate (ngSubmit)="onType()">
          <div class="card-body ">
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="example-full-width">

                  <!-- <input matInput placeholder="Document No" name="docNo" [(ngModel)]="Resignation.documentNo" type="text" disabled /> -->
                  
                  <input matInput placeholder="Document No" name="docNo" [(ngModel)]="Resignation.documentNo" type="text"  *ngIf="isAutoCode"
                                     disabled />
                 
                   <input matInput placeholder="Document No" name="docNo" [(ngModel)]="Resignation.documentNo"  *ngIf="!isAutoCode" type="text"  />
                
                </mat-form-field>
              </div>

              <div class="col-md-6">
                <mat-form-field>
                  <!--<input matInput  placeholder="Document Date" type="text" (click)="picker.open()" />  -->
                  <!--<input matInput [matDatepicker]="picker1" [(ngModel)]="Resignation.documentDate" name="documentDate" placeholder="Document date"
                    (click)="picker1.open()">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1 touchUi="true" type="datetime" openOnFocus="true" timeInterval="5"></mat-datepicker>
                </mat-form-field>-->

                
                  <mat-placeholder>Document Date</mat-placeholder>
                  <input matInput [matDatetimepicker]="datetimePicker1" required autocomplete="true" [(ngModel)]="documentDate" name="documentDate"> 
                  <mat-datetimepicker-toggle [for]="datetimePicker1" matSuffix ></mat-datetimepicker-toggle>
                  <mat-datetimepicker #datetimePicker1  touchUi = "true" type="datetime" openOnFocus="true" timeInterval="5"  ></mat-datetimepicker>                                     
          
                  </mat-form-field>


              </div>
            </div>

            <div class="row">
              <div class="col-md-3" [formGroup]="_resign">

                <mat-form-field>
                    <mat-select placeholder="Select Employee" [(ngModel)]="Resignation.employeeId" name="employeeId"
                        formControlName="employeeId">
                        <mat-option *ngFor="let option of employee" [value]="option.id">{{option.employee_Name}}</mat-option>
                    </mat-select>
                    <mat-error> Employee Field is required </mat-error>
                </mat-form-field>

            </div>
            <div class="col-md-1 ">
                <div style="padding-top: 16px; cursor:pointer;">
                    <i class="fa fa-search" aria-hidden="true" (click)="addSearchDD()"></i>
                </div>
            </div>
              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <!-- 
                  <input matInput [matDatepicker]="picker2" [(ngModel)]="Resignation.noticeDate" name="noticeDate" placeholder="Notice date"
                    (click)="picker2.open()">
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker> -->


                  <mat-placeholder>Notice Date</mat-placeholder>
                  <input matInput [matDatetimepicker]="datetimePicker2" required autocomplete="true" [(ngModel)]="noticeDate" name="noticeDate"> 
                  <mat-datetimepicker-toggle [for]="datetimePicker2" matSuffix ></mat-datetimepicker-toggle>
                  <mat-datetimepicker #datetimePicker2  touchUi = "true" type="datetime" openOnFocus="true" timeInterval="5"  ></mat-datetimepicker>                                     
          
                  





                </mat-form-field>
              </div>

              <div class="col-md-4" [formGroup]="_resign">
                <mat-form-field class="example-full-width">
                  <!--  

                  <input matInput [matDatepicker]="picker3" [(ngModel)]="Resignation.resignationDate" name="ResignDate" placeholder="Resignation date"
                    (click)="picker3.open()">
                  <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                  <mat-datepicker #picker3></mat-datepicker>-->

                  <mat-placeholder>Resignation Date</mat-placeholder>
                  <input matInput [matDatetimepicker]="datetimePicker3" required autocomplete="true" [(ngModel)]="resignationDate" name="resignDateDate" formControlName="resignationDate"> 
                  <mat-datetimepicker-toggle [for]="datetimePicker3" matSuffix ></mat-datetimepicker-toggle>
                  <mat-datetimepicker #datetimePicker3  touchUi = "true" type="datetime" openOnFocus="true" timeInterval="5"  ></mat-datetimepicker>  
                  <mat-error>  Resignation Date is required </mat-error>

                </mat-form-field>
              </div>


            </div>


            <div class="row">

              <div class="col-md-12">
                <mat-form-field class="example-full-width">
                  <!--<input matInput placeholder="Detail" [(ngModel)]="Resignation.resignationReason" name="detail" type="text" />
                  -->
                  <textarea rows="3" matInput class="form-control" name="detail" placeholder = "Detail" name="detail" [(ngModel)]="Resignation.resignationReason"  ></textarea>
                </mat-form-field>
              </div>

            </div>

          </div>

          <div class="card-footer ">
            <button mat-raised-button type="submit" class="btn" (click)="close()">Close</button>
            <button mat-raised-button type="submit" class="btn btn-fill btn-info">Submit</button>
            
          </div>

        </form>
      </div>


    </div>
  </div>
</div>
<app-search-employee #searchEmployeeDropdownModal (modalSave)="EmployeeId($event)"></app-search-employee>