<div bsModal #editDesignationModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="editDesignationModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">

        <div #modalContent class="modal-content">


                <div class="card">
                        <form *ngIf="active" #addDepartmentForm="ngForm" id="frm_add_pos" novalidate (ngSubmit)="onType()">
     
                            <div class="card-header card-header-rose card-header-icon">
                                <div class="card-icon">
                                        <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
                                </div>
                                <h4 class="card-title">Edit Designation</h4>
                              </div>
                              <br />
                              <div class="card-body ">
                                <form role="form">
                                  <mat-form-field class="example-full-width">
                                
                                    <!-- <input matInput placeholder="Code" type="Code" name="code" id="code" [(ngModel)]="EmployeeDesignation.code" disabled>
                                  -->
                                  <input matInput placeholder="Code" name="docNo" [(ngModel)]="EmployeeDesignation.code" type="text"  *ngIf="isAutoCode"
                                  disabled />
                
                                  <input matInput placeholder="Code" name="docNo" [(ngModel)]="EmployeeDesignation.code"  *ngIf="!isAutoCode" type="text"  />
                             
                                
                                </mat-form-field>
                                  <mat-form-field class="example-full-width" [formGroup]=" _empDesigValidation">
                                    <input matInput placeholder="Title" type="text" name="title" id="code" [(ngModel)]="EmployeeDesignation.employeeDesignationName" formControlName="designationTitle">
                                    <mat-error>  Designation Title field is required </mat-error>
                                </mat-form-field>
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Comments" type="text" name="Comments" id="Comments" [(ngModel)]="EmployeeDesignation.comments">
                                  </mat-form-field>
                                  <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-md-3">
                                                <div class="form-check">
                                                        <label class="form-check-label">
                                                          <input class="form-check-input" type="checkbox" name="Active" id="Active" [(ngModel)]="EmployeeDesignation.isActive"> Active
                                                          <span class="form-check-sign">
                                                            <span class="check"></span>
                                                          </span>
                                                        </label>
                                                      </div>
                                        </div>
                                      <div class="col-md-8">
                                        <mat-form-field class="example-full-width">
                                          <input matInput type="nu" placeholder="Sort Order" name="sortOrder" id="sortOrder" [(ngModel)]="EmployeeDesignation.sortOrder">
                                        </mat-form-field>
                                      </div>
                                    </div>
                                  </div>

                                  
                                </form>
                              </div>
     
                              <div class="card-footer ">
                                    <button mat-raised-button type="button"  class="btn " (click)="close()">Cancle</button>
                                <button mat-raised-button type="submit" class="btn btn-fill btn-info">Submit</button>
                              </div>
     
                        </form>                    
                    </div>
     

            <!-- <form *ngIf="active" #editDesignationForm="ngForm" id="frm_add_pos" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                        <h4 class="modal-title">
                                
                            </h4>
                            
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    
                </div>
                <div class="modal-body">
                    
                    
                    
                    <div class="portlet light ">
                        <div class="portlet-title">
                            <div class="caption font-green">
                                <i class="icon-pin font-green"></i>
                                <span class="caption-subject bold uppercase"> Edit Designation</span>
                            </div>
                            <div class="actions">
                                <div class="btn-group">
                                    <a class="btn btn-sm default dropdown-toggle" href="javascript:;" data-toggle="dropdown"> Settings
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li>
                                            <a href="javascript:;">
                                                <i class="fa fa-pencil"></i> Save </a>
                                        </li>
                                       
                                       
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <form role="form">
                                <div class="form-body">
                                   
                                    <div class="form-group form-md-line-input form-md-floating-label">
                                        <input type="text" class="form-control" id="form_control_1">
                                        <label for="form_control_1">Code</label>
                                        <span class="help-block">Enter Designation Code</span>
                                    </div>

                                    <div class="form-group form-md-line-input form-md-floating-label">
                                        <input type="text" class="form-control" id="form_control_1">
                                        <label for="form_control_1">Designation Title</label>
                                        <span class="help-block">Enter Designation Title</span>
                                    </div>

                                    <div class="form-group form-md-line-input form-md-floating-label">
                                        <input type="text" class="form-control" id="form_control_1">
                                        <label for="form_control_1">Sort Order</label>
                                        <span class="help-block">Enter Sort Order</span>
                                    </div>

                                    <div class="form-group form-md-line-input form-md-floating-label">
                                        <input type="text" class="form-control" id="form_control_1">
                                        <label for="form_control_1">Comments</label>
                                        <span class="help-block">Enter Comments</span>
                                    </div>

                                   

                                    
                                    <div class="form-group form-md-checkboxes">
                                        <div class="md-checkbox-inline">                                           
                                            <div class="md-checkbox">
                                                <input type="checkbox" id="checkbox2_6" name="checkboxes2[]" value="1" class="md-check">
                                                <label for="checkbox2_6">
                                                    <span class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span> Active </label>
                                            </div>
                                        </div>
                                    </div>

                                  
                                </div>
                              
                            </form>
                        </div>
                    </div>



                
                </div>

                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default waves-effect" (click)="close()">
                        {{l("Cancel")}}
                    </button>
                    <button [disabled]="!addSalaryGroupForm.form.valid || saving" type="submit" class="btn btn-primary waves-effect">
                        Save
                    </button>
                </div>
            </form> -->
        </div>
    </div>
</div>