<div bsModal #createSocialModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="createSocialModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">
        
                <div #modalContent class="modal-content">
        
                    <form *ngIf="active" #createUserForm="ngForm" id="frm_create_user" novalidate (ngSubmit)="save()">
                        <div class="modal-header">
                                <h4 class="modal-title">
                                        <!-- <span>{{l("CreateNewUser")}}</span> -->
                                        <span>Social Media Login</span>
                                    </h4>
                                    
                            <button type="button" class="close" (click)="close()" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            
                        </div>
                        <div class="modal-body">
        
                            <!-- <ul class="nav nav-tabs tab-nav-right" role="tablist">
                                <li role="presentation" class="active"><a href="#user-details" data-toggle="tab">User Details</a></li>
                                <li role="presentation"><a href="#user-roles" data-toggle="tab">User Roles</a></li>
                            </ul> -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane animated fadeIn active" id="user-details">
        
                                    <div class="row clearfix" style="margin-top:10px;" *ngIf="isESignin">
                                        <div class="col-sm-12">
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <!-- <label for="username" class="form-label">{{l("UserName")}}</label> -->
                                                    <label for="Email ID" class="form-label">Email ID</label>
                                                    <input id="emailID" type="text" name="EmailID" [(ngModel)]="socialMediaUser.Email" required maxlength="32" minlength="2" class="validate form-control" [readonly]="isERead">
                                                    <div *ngIf="isESignup" class="alert alert-warning">Email is Require for Signup</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row clearfix" style="margin-top:10px;" *ngIf="isUSignin">
                                        <div class="col-sm-12">
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <!-- <label for="username" class="form-label">{{l("UserName")}}</label> -->
                                                    <label for="Username" class="form-label">Username</label>
                                                    <input id="username" type="text" name="username" [(ngModel)]="socialMediaUser.Username" required maxlength="32" minlength="2" class="validate form-control" [readonly]="isURead">
                                                    <div *ngIf="isUSignup" class="alert alert-warning">Username is Require for Signup</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="row clearfix">
                                        <div class="col-sm-12">
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <label for="password" class="form-label">Password</label>
                                                    <input id="password" type="password" name="Password" [(ngModel)]="socialMediaUser.Password" required maxlength="32" class="validate form-control">
                                                    <div *ngIf="isESignup || isUSignup" class="alert alert-warning">Password is Require for Signup</div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="col-sm-6">
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <label for="surname" class="form-label">{{l("Surname")}}</label>
                                                    <input id="surname" type="text" name="Surname" [(ngModel)]="user.surname" required maxlength="32" class="validate form-control">
                                                </div>
                                            </div>
                                        </div> -->
                                    </div>
        
                                 
        
                                
        
                                   
        
                                    <!-- <div class="row clearfix">
                                        <div class="col-sm-12">
                                            <div class="form-group form-float">
                                                <div class="">
                                                    <input id="isactive" type="checkbox" name="IsActive" [(ngModel)]="user.isActive" checked class="form-control" />
                                                    <label for="isactive" class="form-label">{{l("IsActive")}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
        
                              
                            </div>
        
                        </div>
                        <div class="modal-footer">
                            <button [disabled]="saving" type="button" class="btn btn-default waves-effect" (click)="close()">
                                Cancel
                            </button>
                            <button [disabled]="!createUserForm.form.valid || saving" type="submit" class="btn btn-primary waves-effect" (click)="socialMediaLogin()">
                                {{btnText}}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        