<div bsModal #editLeaveQuotaModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="editLeaveQuotaModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">

        <div #modalContent class="modal-content">

            
           
                <div class="card">
                    <form *ngIf="active" #editLeaveQuotaForm="ngForm" id="frm_edit_leave_quota" novalidate (ngSubmit)="save()">

                        <div class="card-header card-header-blue card-header-icon">
                            <div class="card-icon">
                              <i class="material-icons">mail_outline</i>
                            </div>
                            <h4 class="card-title">Edit Leave Quota</h4>
                          </div>
                          <br />
                          <div class="card-body ">
                            <form method="#" action="#">
                              
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Leave Type" type="text" [(ngModel)]="editData.LeaveType" name="LeaveType"/>
                                          </mat-form-field>
                                    </div>

                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Allowed Leaves" type="text" [(ngModel)]="editData.AllowedLeaves" name="AllowedLeaves"/>
                                          </mat-form-field>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field >
                                            <input matInput [matDatepicker]="picker" placeholder="Reset date" (click)="picker.open()" [(ngModel)]="editData.ResetDate" name="ResetDate">
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                          </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Leaves Note" type="text" [(ngModel)]="editData.Note" name="Note"/>
                                          </mat-form-field>
                                    </div>
                                </div>
                       
                              <div class="togglebutton">
                                <label>
                                  <input type="checkbox" checked="">
                                  <span class="toggle"></span>
                                  Active
                                </label>
                              </div>
                              
                            
                            </form>
                          </div>

                          <div class="card-footer ">
                            <button mat-raised-button type="submit" class="btn btn-fill btn-default" (click)="close()">Close</button>  
                            <button mat-raised-button type="submit" class="btn btn-fill btn-info">Submit</button>
                            
                          </div>

                    </form>                    
                </div>

           
        </div>
    </div>
</div>