﻿<div bsModal #editTenantModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="editUserModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">

        <div #modalContent class="modal-content">



            <div class="card">

                <div class="card-header card-header-rose card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">mail_outline</i>
                    </div>

                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <h4 class="card-title">Edit Tenant</h4>
                </div>
                <br />

                <form *ngIf="active" #editTenantForm="ngForm" id="frm_edit_tenant" novalidate (ngSubmit)="save()">

                    <div class="card-body ">


                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Tenancy Name" type="text" name="TenancyName" [(ngModel)]="tenant.tenancyName" />
                        </mat-form-field>


                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Name" type="text" name="Name" [(ngModel)]="tenant.name" />
                        </mat-form-field>


                        <div class="togglebutton">
                            <label>
                              <input type="checkbox" checked="" name="active" [(ngModel)]="tenant.isActive">
                              <span class="toggle"></span>
                              IsActive
                            </label>
                        </div>

                    </div>

                    <div class="card-footer ">
                        <button mat-raised-button type="submit" class="btn btn-fill btn-rose">Submit</button>
                        <button mat-raised-button type="submit" class="btn btn-fill btn-default" (click)="close()">Close</button>
                    </div>

                </form>
            </div>


        </div>
    </div>
</div>