﻿.content.account-forms {
    margin-top: 10px;
}

.content.tenant-change-box {
    padding: 16px 16px 0px 16px;
    margin: 120px auto 0px auto;
    max-width: 400px;

    a {
        cursor: pointer;
    }
}

.tenant-change-box{
    max-width: 300px;
    margin: 0px auto;
}