﻿<!-- <div class="login-box">
    <div class="logo">
        <a href="javascript:void(0);">CloudBaseLine</a>
    </div> -->

    
        <router-outlet></router-outlet>
    
    <div *ngIf="showTenantChange()" class="tenant-change-box">
        <tenant-change></tenant-change>
    </div>
    

    <!-- <account-languages></account-languages>

    <div class="row">
        <div class="col-xs-12 text-center" style="color: #e9e9e9">
            <small>&copy; {{currentYear}} CloudBaseLine. <b>Version </b> {{versionText}}</small>
        </div>
    </div>
    
</div> -->