<style>
  .tab-pane .table tbody > tr > td:first-child {
    width: auto;
}
</style>


<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-blue card-header-icon">
            <div class="card-icon">
              <i class="fa fa-sitemap fa-2x" aria-hidden="true"></i>
            </div>
            <h4 class="card-title">Item Wise Production</h4>
          </div>
          <div class="card-body ">
            <ul class="nav nav-pills nav-pills-info" role="tablist">
              <li class="nav-item">
                <a class="nav-link" [class.active]="isDetail" [class.show]="isDetail" data-toggle="tab" href="#link1"
                  role="tablist" (click)="ActiveDetail()">
                  Detail
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [class.active]="isHistory" data-toggle="tab" href="#link2" role="tablist" (click)="ActiveHistory()">
                  History
                </a>
              </li>

            </ul>
            <div class="tab-content tab-space">
              <div class="tab-pane" [class.active]="isDetail" id="link1">

                <div class="row">
                  <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Document Number" type="text" [(ngModel)]="itemWiserProductionMaster.docNo"
                        name="docNo" />
                    </mat-form-field>
                  </div>

                  <div class="col-md-3">
                    <mat-form-field>
                      <mat-placeholder>Production Date</mat-placeholder>
                      <input matInput [matDatepicker]="docDate" [(ngModel)]="itemWiserProductionMaster.docDate"   name="documentDate"
                      (click)="docDate.open()">
                 <mat-datepicker-toggle matSuffix [for]="docDate"></mat-datepicker-toggle>
                <mat-datepicker #docDate></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <mat-form-field>
                      <mat-select placeholder="Select Item Type" name="itemType" [(ngModel)]="itemWiserProductionMaster.itemTypeId">
                        <mat-option *ngFor="let option of _itemType" [value]="option.id">{{ option.name }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="col-md-3">
                    <mat-form-field>
                      <mat-select placeholder="Select Category" name="category" [(ngModel)]="itemWiserProductionMaster.categoryId">
                        <mat-option *ngFor="let option of _category" [value]="option.id">{{ option.name }}</mat-option>
                      </mat-select>
                    </mat-form-field>

                  </div>

                  <div class="col-md-3">

                    <mat-form-field>
                      <mat-select placeholder="Select Sub Category" name="category" [(ngModel)]="itemWiserProductionMaster.subCategoryId">
                        <mat-option *ngFor="let option of _subCategory" [value]="option.id">{{ option.name }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="col-md-2">

                    <button mat-raised-button class="btn btn-just-icon btn-round btn-info" (click)="addToGrid()">
                      <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                  </div>


                </div>

                <div class="row">
                  <div class="col-md-10">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Remarks" [(ngModel)]="itemWiserProductionMaster.remarks" name="remarks"
                        type="text" />
                    </mat-form-field>
                  </div>
                </div>


                <div class="material-datatables">
                  <table id="datatables" class="table  table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                    <thead>
                      <tr>
                        <th>{{ dataTable.headerRow[0] }}</th>
                        <th>{{ dataTable.headerRow[1] }}</th>
                        <th>{{ dataTable.headerRow[2] }}</th>
                        <th>{{ dataTable.headerRow[3] }}</th>
                        <th>{{ dataTable.headerRow[4] }}</th>
                
                        <th class="disabled-sorting text-right">{{ dataTable.headerRow[5] }}</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>{{ dataTable.footerRow[0] }}</th>
                        <th>{{ dataTable.footerRow[1] }}</th>
                        <th>{{ dataTable.footerRow[2] }}</th>
                        <th>{{ dataTable.footerRow[3] }}</th>
                        <th>{{ dataTable.footerRow[4] }}</th>
                
                        <th class="text-right">{{ dataTable.footerRow[5] }}</th>
                      </tr>
                    </tfoot>
                    <tbody>
                
                      <ng-container *ngFor="let item of DataList ; let i = index">
                        <tr >
                          <td><strong>{{item.itemData.name }}</strong> </td>
                
                        </tr>
                
                       
                          <tr *ngFor="let subitem of item.itemWiseProductListLatest ; let c = index">
                            <td> {{subitem.workGroupItemDetail.workGroupMaster.groupName}}</td>
                
                            <td>{{subitem.quantity}}</td>
                
                            <td>{{subitem.extraQuantity}}</td>
                
                            <td>{{subitem.repairQuantity}}</td>
                
                             <td>{{subitem.total}}</td>
                
                              <td class="text-right">
                               <a class="btn btn-link btn-warning btn-just-icon edit" (click)="EditQuantity(subitem.id, item.itemData.id , i , c)"><i
                                class="material-icons">dvr</i></a>
                               <a class="btn btn-link btn-danger btn-just-icon remove" (click)="DeleteItemWiseProductionDetail(subitem.id, i)"><i
                                class="material-icons">close</i></a>
                             </td>
                            </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </div>



                <!-- <table class="table table-responsive table-hover"  width="100%" style="width:100%">
                    <thead>
                        <tr><th>{{ dataTable.headerRow[0] }}</th>
                            <th>{{ dataTable.headerRow[1] }}</th>
                            <th>{{ dataTable.headerRow[2] }}</th>
                            <th>{{ dataTable.headerRow[3] }}</th>
                            <th>{{ dataTable.headerRow[4] }}</th>
                            <th class="disabled-sorting text-right">{{ dataTable.headerRow[5] }}</th>
                        </tr>
                    </thead>
                   
                      <tbody>
                        <ng-container *ngFor="let item of DataList">
                          <tr class="clickable" data-toggle="collapse" [attr.data-target]="'#' + item.itemData.id" aria-expanded="false" >
                            <td><i class="fa fa-plus"></i>{{item.itemData.name }} </td>
                          </tr>
                          <tr [id]= "item.itemData.id" class="collapse" *ngFor="let subitem of item.itemWiseProductListLatest">
                            <td> {{subitem.workGroupMaster.groupName}}</td>
                      
                            <td>Ab</td>
                      
                            <td>B</td>
                      
                            <td>C</td>
                      
                            <td>D</td>
                      
                            <td>E</td>
                      
                      
                          </tr>
                      
                      
                      
                        </ng-container>
                      </tbody>
                     
                   
                   
                   
                </table>  -->



                <br />

                <!-- <div class="row pull-right">
                  <button mat-raised-button type="submit" class="btn btn-fill btn-info">Save</button>
                </div> -->

                <div class="row pull-right">
                  <button mat-raised-button type="submit" class="btn btn-fill btn-default" (click)="RefreshControls()">Reset</button>
                  <button mat-raised-button type="submit" class="btn btn-fill btn-info" *ngIf="isSaveBtn" (click)="save()">Save</button>
                  <button mat-raised-button type="submit" class="btn btn-fill btn-info" *ngIf="isEditBtn" (click)="edit()">Update</button>
                </div>


              </div>


              <!-- 
              <div class="tab-pane" id="link2">

                <div class="material-datatables">
                  <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0"
                    width="100%" style="width:100%">
                    <thead>
                      <tr>

                          <th>{{ dataTableHistory.headerRow[0] }}</th>
                          <th>{{ dataTableHistory.headerRow[1] }}</th>
                          <th>{{ dataTableHistory.headerRow[2] }}</th>

                        <th class="text-right">{{ dataTableHistory.headerRow[3] }}</th>
                      </tr>
                    </thead>
                    <tfoot>
                    </tfoot>
                    <tbody>
                      <tr *ngFor="let row of dataTableHistory.dataRows">

                        <td>{{row[0]}}</td>
                        <td>{{row[1]}}</td>
                        <td>{{row[2]}}</td>

                        <td class="text-right">
                          <a class="btn btn-link btn-warning btn-just-icon edit" (click)="edit(row[3])"><i class="material-icons">dvr</i></a>
                          <a class="btn btn-link btn-danger btn-just-icon remove"><i class="material-icons">close</i></a>
                        </td>
                      </tr>

                    </tbody>
                  </table>
                </div>



              </div> -->

              <div class="tab-pane" [class.active]="isHistory" id="link2">


                <button mat-raised-button  class="btn btn-fill btn-info"  (click)="filterData()">Filter</button>
               <div class="row">
                 <div class="col-md-3">
                     <mat-form-field>
                         <input matInput #fromDate [matDatepicker]="picker" placeholder="From" name = "fromDate" >
                         <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                         <mat-datepicker #picker></mat-datepicker>
                     </mat-form-field>
                 </div>

                 <div class="col-md-3">
                     <mat-form-field>
                         <input matInput #toDate [matDatepicker]="picker1" placeholder="To" name = "toDate">
                         <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                         <mat-datepicker #picker1></mat-datepicker>
                     </mat-form-field>
                 </div>
                 </div>


                <div class="material-datatables">
                  <table id="datatables1" class="table table-striped table-no-bordered table-hover" cellspacing="0"
                    width="100%" style="width:100%">
                    <thead>
                      <tr>
                        <th>{{ dataTableHistory.headerRow[0] }}</th>
                        <th>{{ dataTableHistory.headerRow[1] }}</th>
                        <th>{{ dataTableHistory.headerRow[2] }}</th>
                        <th class="disabled-sorting text-right">{{ dataTableHistory.footerRow[3] }}</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>{{ dataTableHistory.footerRow[0] }}</th>
                        <th>{{ dataTableHistory.footerRow[1] }}</th>
                        <th>{{ dataTableHistory.footerRow[2] }}</th>
                        <th class="disabled-sorting text-right">{{ dataTableHistory.footerRow[3] }}</th>
                      </tr>
                    </tfoot>
                    <tbody>
                      <tr *ngFor="let row of dataTableHistory.dataRows">
                        <td>{{row[0]}}</td>
                        <td>{{row[1]}}</td>
                        <td>{{row[2]}}</td>
                        <td class="text-right">
                          <a class="btn btn-link btn-warning btn-just-icon edit">
                            <i class="material-icons" (click)="EditMasterDetail(row[3])">dvr</i>
                          </a>
                          <a class="btn btn-link btn-danger btn-just-icon remove">
                            <i class="material-icons" (click)="deleteProductionMasterDetail(row[3])">close</i>
                          </a>
                        </td>
                      </tr>

                    </tbody>
                  </table>
                </div>

              </div>

            </div>
          </div>
          <!-- end content-->
        </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
    </div>
    <!-- end row -->
  </div>
</div>

<edit-quantity #editQuantityModal (modalSave)="updateItemWiseProductionDetail($event)"></edit-quantity>