<div bsModal #editAdvanceRequestModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="editAdvanceRequestModal"
  aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog">

    <div #modalContent class="modal-content">



      <div class="card">
        <div class="card-header card-header-blue card-header-icon">
          <div class="card-icon">
            <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
          </div>
          <h4 class="card-title">Edit Advance Request</h4>
        </div>
        <br />

        <form *ngIf="active" #editAdvanceRequestForm="ngForm" id="frm_edit_AdvanceRequest" novalidate (ngSubmit)="onType()">
          <div class="card-body ">
            <div class="row">
              <!-- <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Document No" name="docNo" [(ngModel)]="AdvanceRequest.documentNo" type="text" disabled />
                </mat-form-field>
              </div> -->


              
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                                
                  <input matInput placeholder="Document No" name="docNo" [(ngModel)]="AdvanceRequest.documentNo" type="text" *ngIf="isAutoCode"
                    disabled />
                
                  <input matInput placeholder="Document No" name="docNo" [(ngModel)]="AdvanceRequest.documentNo" *ngIf="!isAutoCode" type="text" />
                
                </mat-form-field>
              </div>

              <div class="col-md-6">
                <mat-form-field>
                 

                
                  <mat-placeholder>Document Date</mat-placeholder>
                  <input matInput [matDatepicker]="datetimePicker1" required autocomplete="true" [(ngModel)]="AdvanceRequest.documentDate" name="documentDate"> 
                  <mat-datepicker-toggle [for]="datetimePicker1" matSuffix ></mat-datepicker-toggle>
                  <mat-datepicker #datetimePicker1  touchUi = "true" type="datetime" openOnFocus="true" timeInterval="5"  ></mat-datepicker>                                     
          

                  



                  </mat-form-field>


              </div>
            </div>

            <div class="row">
              <div class="col-md-4" [formGroup]="_advnceReq">

                <!-- <mat-form-field>
                  <mat-select placeholder="Select Employee" [(ngModel)]="AdvanceRequest.employeeId" name="employee" formControlName="employeeId">

                    <mat-option *ngFor="let option of employee" [value]="option.id">{{option.employee_Name}}</mat-option>
                  </mat-select>
                  <mat-error>  Employee Name is required </mat-error>
                </mat-form-field> -->

                <mat-form-field class="example-full-width">
                  <input type="text" placeholder="Select Employee" matInput [formControl]="myControl" [matAutocomplete]="auto"
                    [(ngModel)]="empName" name="empName" formControlName="employeeId">
                  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayEmployee">
                    <mat-option *ngFor="let option of filteredOptions | async " [value]="option">
                      {{option.employee_Name}}
                    </mat-option>
                  </mat-autocomplete>
                  <mat-error> Enter Valid employee Name </mat-error>
              </mat-form-field>

              </div>
              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                
                  <mat-placeholder>Deduction Date</mat-placeholder>
                  <input matInput [matDatepicker]="datetimePicker2" required autocomplete="true" [(ngModel)]="AdvanceRequest.deductionDate" name="deductionDate"> 
                  <mat-datepicker-toggle [for]="datetimePicker2" matSuffix ></mat-datepicker-toggle>
                  <mat-datepicker #datetimePicker2  touchUi = "true" type="datetime" openOnFocus="true" timeInterval="5"  ></mat-datepicker>                                     
          
              
                </mat-form-field>
              </div>

              <div class="col-md-4" [formGroup]="_advnceReq">
                  

                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Advance Amount" type="number"  min="0" name="amount" [(ngModel)]="AdvanceRequest.amount" formControlName="advanceAmount">
                  <mat-error>  Advance Amount is required </mat-error>
                </mat-form-field>
              </div>


            </div>


            <div class="row">

              <div class="col-md-12">
                <mat-form-field class="example-full-width">
                 
                  <textarea rows="3" matInput class="form-control" name="detail" placeholder = "Detail" name="detail" [(ngModel)]="AdvanceRequest.detail"  ></textarea>
                </mat-form-field>
              </div>

            </div>

          </div>

          <div class="card-footer ">
            <button mat-raised-button type="submit" class="btn" (click)="close()">Close</button>
            <button mat-raised-button type="submit" class="btn btn-fill btn-info">Submit</button>
          </div>

        </form>
      </div>


    </div>
  </div>
</div>