

  <div bsModal  #searchGratuityConfigDropdownModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="#searchGratuityConfigDropdownModal" aria-hidden="true" [config]="{backdrop: 'static'}">


  <div class="modal-dialog modal-lg">

    <div #modalContent class="modal-content">



      <div class="card">



        <div class="card-header card-header-blue card-header-icon">
          <div class="card-icon">
            <i class="fa fa-floppy-o fa-2x" aria-hidden="true"></i>
          </div>
          <h4 class="card-title">Custom Gratuity</h4>
        </div>
        <br />



        <div class="card-body ">
            <div class="row">
                <div class="col-md-6">
                  Select Salary Type
                  <div style="height: 200px; overflow-y: scroll;">
                    <div *ngFor="let option of resultSalaryType" class="col-md-12">
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" [value]="option.id" >{{ option.salaryExpType}}  
                          <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                        </label>
                      </div>
                    </div>
  
              
  
                  </div>
                </div>
                <div class="col-md-6">
                  Select Allowances
  
                  <div style="height: 200px; overflow-y: scroll;">
  
                    <div class="col-md-12" *ngFor="let option of resultAllowance">
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox"  [value]="option.id" >{{ option.allowanceTitle}}
                          <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                        </label>
                      </div>
                    </div>
  
                  
  
                  </div>
  
                </div>
            
           
              </div>

        </div>
        <div class="card-footer ">
          <button mat-raised-button type="button" class="btn " (click)="close()">Close</button>
         

         

        </div>



      </div>
    </div>
  </div>
</div>
