
<style>
    .tab-pane .table tbody > tr > td:first-child {
    width: auto;
}
</style>



<div class="main-content">
    <div class="container-fluid">
            <div class="row">

               
                <div class="card ">
                    
                        <div class="card-body ">
                        <ul class="nav nav-pills nav-pills-info" role="tablist">
                            <li class="nav-item">
                            <a class="nav-link active" [class.active]="isDetail" [class.show]="isDetail" data-toggle="tab" href="#link1" role="tablist" (click)="ActiveDetail()">
                                Detail
                            </a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link"  [class.active]="isHistory"  [class.show]="isHistory" data-toggle="tab" href="#link2" role="tablist" (click)="ActiveHistory()">
                                History
                            </a>
                            </li>
                        
                        </ul>
                        <div class="tab-content tab-space">
                            <div class="tab-pane active" [class.active]="isDetail" id="link1">

                               <div class="row">

                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Title" name="title" [(ngModel)]="leaveQuota.title" type="text" />
                                      </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <mat-form-field >
                                        <input matInput [matDatepicker]="picker" placeholder="Leave Quota Year" name="resetDate" [(ngModel)]="leaveQuota.leaveQuotaYear" (click)="picker.open()">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                      </mat-form-field>
                                </div>

                               </div>

<!-- 
                                <div class="material-datatables">
                                    <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                          <thead>
                                              <tr>
                                                <th>{{ dataTable.headerRow[0] }}</th>
                                                <th>{{ dataTable.headerRow[1] }}</th>
                                                <th>{{ dataTable.headerRow[2] }}</th>
                                                <th>{{ dataTable.headerRow[3] }}</th>
               
                                                <th class="disabled-sorting text-right">{{ dataTable.headerRow[4] }}</th>
                                              </tr>
                                          </thead>
                                          <tfoot>
                                              <tr>
                                                <th>{{ dataTable.footerRow[0] }}</th>
                                                <th>{{ dataTable.footerRow[1] }}</th>
                                                <th>{{ dataTable.footerRow[2] }}</th>
                                                <th>{{ dataTable.footerRow[3] }}</th>
                                                <th class="text-right">{{ dataTable.footerRow[4] }}</th>
                                              </tr>
                                          </tfoot>
                                          <tbody>
                                              <tr *ngFor="let row of dataTable.dataRows">
                                                  <td>{{row[0]}}</td>
                                                  <td>{{row[1]}}</td>
                                                  <td>{{row[2]}}</td>
                                                  <td>{{row[3]}}</td>
                                                  <td class="text-right">
                                                  <a class="btn btn-link btn-warning btn-just-icon edit" (click)="EditLeaveQuota(row[4])" ><i class="material-icons">dvr</i></a>
                                                    <a  class="btn btn-link btn-danger btn-just-icon remove"    (click)="deleteLeaveQuotaDetail(row[4])"><i class="material-icons">close</i></a>
                                                  </td>
                                              </tr>
                                          </tbody>
                                      </table>
                                </div> -->

                                <div class="main-content">
                                    <div class="container-fluid">
                                            <!-- <button mat-raised-button class="btn btn-success btn-sm" (click)="saveData()">Save</button>
                                            <button mat-raised-button class="btn btn-success btn-sm" (click)="addRow()">Add row </button>
                                            <button mat-raised-button class="btn btn-success btn-sm" (click)="onRemoveSelected()">Delete </button>
                                            --><!--
                                            <label>
                                                    <button onclick="onBtExport()" style="height: 25px; cursor: pointer">EXcel</button>
                                             </label> -->
                                            <button mat-raised-button type="submit" class="btn btn-fill btn-info" (click)="ResetControls()">Reset</button>
                                            <button mat-raised-button class="btn btn-success btn-info" (click)="onRemoveSelected()">Delete </button>
                                            <button mat-raised-button type="submit" class="btn btn-fill btn-info" *ngIf="isSaveBtn" (click)="saveData()">Save</button>
                                            <button mat-raised-button type="submit" class="btn btn-fill btn-info" *ngIf="isEditBtn" (click)="updateData()">Update</button>
    
                                            <div >
                                                    Page Size:
                                                    <select (change)="onPageSizeChanged(PageSize.value)" id="page-size" #PageSize>
                                                        <option value="10" selected="">10</option>
                                                        <option value="100">100</option>
                                                        <option value="500">500</option>
                                                        <option value="1000">1000</option>
                                                    </select>
                                            </div>
                                            <ag-grid-angular style="width: 100%; height: 400px;"
                                                class="ag-theme-balham"
                                                (gridReady)="onGridReady($event)"
                                                (cellValueChanged)="onCellValueChanged($event)"
                                                [columnDefs]="columnDefs"
                                                [enableSorting]="true"
                                                [enableFilter]="true"
                                                [floatingFilter]="true"
                                                [rowData]="rowData"
                                                [pagination]="true"
                                                [animateRows]="true"
                                                [rowSelection]="rowSelection"
                                                [defaultColDef]="defaultColDef">
                                            </ag-grid-angular>       
                                
                                            
                                    </div>
                                    
                                
                                    
                                </div>

                                  <br />
                                  
                                  <div class="row pull-right">


                                        <!-- <button mat-raised-button type="submit" class="btn btn-fill btn-default" (click)="ResetControls()">Reset</button>
                                        <button mat-raised-button type="submit" class="btn btn-fill btn-info" *ngIf="isSaveBtn" (click)="Save()">Save</button>
                                        <button mat-raised-button type="submit" class="btn btn-fill btn-info" *ngIf="isEditBtn" (click)="update()">Update</button> -->
                                </div>

                            </div>
                            


                        <div class="tab-pane" id="link2" [class.active]="isHistory">

                            <div class="material-datatables">
                                <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                      <thead>
                                          <tr>
                                            <th>{{ dataTable1.headerRow[0] }}</th>
                                            <th>{{ dataTable1.headerRow[1] }}</th>
           
                                            <th class="disabled-sorting text-right">{{ dataTable1.headerRow[2] }}</th>
                                          </tr>
                                      </thead>
                                      <tfoot>
                                          <tr>
                                            <th>{{ dataTable1.footerRow[0] }}</th>
                                            <th>{{ dataTable1.footerRow[1] }}</th>
                                            
                                            <th class="text-right">{{ dataTable1.footerRow[2] }}</th>
                                          </tr>
                                      </tfoot>
                                      <tbody>
                                          <tr *ngFor="let row of dataTable1.dataRows">
                                              <td>{{row[0]}}</td>
                                              <td>{{row[1]}}</td>
                                              
                                              <td class="text-right">
                                             
                                                <a class="btn btn-link btn-warning btn-just-icon edit" (click)="EditLeaveQuotaMasterDetail(row[2])" ><i class="material-icons">dvr</i></a>
                                                

                                                 <!-- <a class="btn btn-link btn-warning btn-just-icon edit" (click)="EditLeaveQuota(row[2])" ><i class="material-icons">dvr</i></a>
 -->
                                                <a  class="btn btn-link btn-danger btn-just-icon remove" (click)="deleteLeaveQuotaMaster(row[2])"><i class="material-icons">close</i></a>
                                              </td>
                                          </tr>
                                      </tbody>
                                  </table>
                              </div>
                             

                            </div>
                        
                        </div>
                        </div>

                    </div>

            </div>
    </div>
</div>
<!-- POPUP -->

   <!-- <add-leave-quota #addLeaveQuotaModal ></add-leave-quota>-->
  
   <!-- <edit-leave-quota #editLeaveQuotaModal (modalSave)="setEditData($event)"></edit-leave-quota>  -->