<div bsModal #addWarningModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="addWarningModal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">

        <div #modalContent class="modal-content">



            <div class="card">

                <div class="card-header card-header-blue card-header-icon">
                    <div class="card-icon">
                            <i class="fa fa-floppy-o fa-2x" aria-hidden="true"></i>
                    </div>
                    <h4 class="card-title">Add Warning</h4>
                </div>
                <br />


                <form *ngIf="active" #addWarningForm="ngForm" id="frm_add_warning" novalidate (ngSubmit)="onType()">
                    <div class="card-body ">
                        <div class="row">

                            <div class="col-md-6">
                                <mat-form-field class="example-full-width">

                                    <!-- <input matInput placeholder="Document No" type="text" [(ngModel)]="Warning.documentNo" name="docNo" disabled/> -->
                                    <input matInput placeholder="Document No" name="docNo" [(ngModel)]="Warning.documentNo" type="text"  *ngIf="isAutoCode"
                                    disabled />
                
                                    <input matInput placeholder="Document No" name="docNo" [(ngModel)]="Warning.documentNo"  *ngIf="!isAutoCode" type="text"  />
                               
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                    <!--<input matInput placeholder="Document Date" type="text" />-->
                                    <input matInput [matDatepicker]="picker1" [(ngModel)]="Warning.documentDate" name="documentDate" placeholder="Document date"
                                        (click)="picker1.open()">
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1 touchUi="true" type="datetime" openOnFocus="true" timeInterval="5"></mat-datepicker>

                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row" >
                            <div class="col-md-6" [formGroup]="_warn">
                                <mat-form-field>
                                    <input matInput [matDatepicker]="picker" placeholder="Warning date" [(ngModel)]="Warning.warningDate" name="warningdate"
                                        (click)="picker.open()" formControlName="warningDate">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <!--<mat-datepicker #picker></mat-datepicker>-->
                                    <mat-datepicker #picker touchUi="true" type="datetime" openOnFocus="true" timeInterval="5"></mat-datepicker>
                                    <mat-error>  Warning  Date is required </mat-error>
                                </mat-form-field>
                               
                            </div>
                            
                            <div class="col-md-5" [formGroup]="_warn">

                                <mat-form-field>
                                    <mat-select placeholder="Select Employee" [(ngModel)]="Warning.employeeId" name="employeeId"
                                        formControlName="employeeId">
                                        <mat-option *ngFor="let option of employee" [value]="option.id">{{option.employee_Name}}</mat-option>
                                    </mat-select>
                                    <mat-error> Employee Field is required </mat-error>
                                </mat-form-field>

                            </div>
                            <div class="col-md-1 ">
                                <div style="padding-top: 16px; cursor:pointer;">
                                    <i class="fa fa-search" aria-hidden="true" (click)="addSearchDD()"></i>
                                </div>
                            </div>

                        </div>

                        <div class="row" >
                            <div class="col-md-6" [formGroup]="_warn">
                                <mat-form-field>
                                    <mat-select placeholder="Select Warning Type" name="warningType" [(ngModel)]="Warning.warningType" formControlName="warningType">
                                        <mat-option value="Verbal">Verbal</mat-option>
                                        <mat-option value="FirstWritten">FirstWritten</mat-option>
                                        <mat-option value="SecondWriten">SecondWritten</mat-option>
                                        <mat-option value="Final">Final</mat-option>

                                    </mat-select>
                                    <mat-error>  Warning  Type is required </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6" [formGroup]="_warn">
                                <mat-form-field>
                                    <mat-select placeholder="Select Warning By" name="warningBy" [(ngModel)]="Warning.warningById" formControlName="warningBy">
                                       <!-- <mat-option value="Development">Development</mat-option>
                                         <mat-option value="Support">Support</mat-option>
                                        <mat-option value="Sales and Marketing">Sales and Marketing</mat-option>
                                        <mat-option value="HR">HR</mat-option> -->
                                        <mat-option *ngFor="let option of department" [value]="option.id">{{option.title}}</mat-option>


                                    </mat-select>
                                    <mat-error>  WarningBy is required </mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Warning detail" [(ngModel)]="Warning.detail" name="detail" type="text" />
                                </mat-form-field>
                            </div>
                        </div>


                    </div>

                    <div class="card-footer ">
                        <button mat-raised-button type="submit" class="btn btn-fill btn-default" (click)="close()">Close</button>
                        <button mat-raised-button type="submit" class="btn btn-fill btn-info">Submit</button>
                       
                    </div>

                </form>
            </div>


        </div>
    </div>
</div>


<app-search-employee #searchEmployeeDropdownModal (modalSave)="EmployeeId($event)"></app-search-employee>