

<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Location Information</h4>
          </div>
          <div class="card-body">
            <div class="toolbar">
              <!--        Here you can write extra buttons/actions for the toolbar              -->
              <button mat-raised-button class="btn btn-success btn-sm" (click)="AddLocationInfo()">Add New</button>
            </div>
            <div class="table-responsive">
              <div class="material-datatables" >
                <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                  <thead>
                    <tr>
                      <th>{{ dataTable.headerRow[0] }}</th>
                      <th>{{ dataTable.headerRow[1] }}</th>
                      <th>{{ dataTable.headerRow[2] }}</th>
                      <th>{{ dataTable.headerRow[3] }}</th>
                      <th>{{ dataTable.headerRow[4] }}</th>
                      <th>{{ dataTable.headerRow[5] }}</th>
                      <th>{{ dataTable.headerRow[6] }}</th>
                      <th>{{ dataTable.headerRow[7] }}</th>
                      <th>{{ dataTable.headerRow[8] }}</th>
                      <th>{{ dataTable.headerRow[9] }}</th>
                      <th>{{ dataTable.headerRow[10] }}</th>
                      <th>{{ dataTable.headerRow[11] }}</th>
                      <th>{{ dataTable.headerRow[12] }}</th>
                      <th class="disabled-sorting text-right">{{ dataTable.headerRow[13] }}</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>{{ dataTable.footerRow[0] }}</th>
                      <th>{{ dataTable.footerRow[1] }}</th>
                      <th>{{ dataTable.footerRow[2] }}</th>
                      <th>{{ dataTable.footerRow[3] }}</th>
                      <th>{{ dataTable.footerRow[4] }}</th>
                      <th>{{ dataTable.footerRow[5] }}</th>
                      <th>{{ dataTable.footerRow[6] }}</th>
                      <th>{{ dataTable.footerRow[7] }}</th>
                      <th>{{ dataTable.footerRow[8] }}</th>
                      <th>{{ dataTable.footerRow[9] }}</th>
                      <th>{{ dataTable.footerRow[10] }}</th>
                      <th>{{ dataTable.footerRow[11] }}</th>
                      <th>{{ dataTable.footerRow[12] }}</th>
                      <th class="text-right">{{ dataTable.footerRow[13] }}</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr *ngFor="let row of dataTable.dataRows">
                      <td>{{row[0]}}</td>
                      <td>{{row[1]}}</td>
                      <td>{{row[2]}}</td>
                      <td>{{row[3]}}</td>
                      <td>{{row[4]}}</td>
                      <td>{{row[5]}}</td>
                      <td>{{row[6]}}</td>
                      <td>{{row[7]}}</td>
                      <td>{{row[8]}}</td>
                      <td>{{row[9]}}</td>
                      <td>{{row[10]}}</td>
                      <td>{{row[11]}}</td>
                      <td>{{row[12]}}</td>
                      <td class="td-actions text-right">
                        <!-- <button mat-raised-button type="button" class="btn btn-info {{row[13]}}" >
                          <i class="material-icons">person</i>
                        </button>
                        <button mat-raised-button type="button" class="btn btn-success {{row[13]}}" (click)="EditLocationInfo(row[13])">
                          <i class="material-icons">edit</i>
                        </button> -->

                        <a  (click)="EditLocationInfo(row[13])" class="btn btn-link btn-warning btn-just-icon edit"><i class="material-icons">dvr</i></a>
                        <a  (click) ="delete(row[13])" class="btn btn-link btn-danger btn-just-icon remove"><i class="material-icons">close</i></a>
                        <!-- <button mat-raised-button type="button" class="btn btn-danger {{row[12]}}">
                          <i class="material-icons">close</i>
                        </button> -->
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            
          </div>
          <!-- end content-->
        </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
    </div>
    <!-- end row -->
  </div>
</div>














<!-- ///////////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->


<!-- <div class="wrapper">       
        <div class="container">

                            <br />
                            <div class="col-md-3">
                            <div class="row">
                                    <h4>Location Information</h4>
                                    <div class="pull-right">
                                        <i class="fa fa-plus-circle fa-2x" aria-hidden="true" (click)="AddLocationInfo()" style="cursor: pointer;"></i>
                                    </div>
                                </div>
                     
                                <br /><br />
                     </div>
                
                     <div>           
                     <table class="table table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" >
                            <thead>
                              <tr>
                                <th>Code</th>
                                <th>Name</th>
                                <th>Phone No</th>
                                <th>Fax</th>
                                <th>Url</th>
                                <th>Type</th>
                                <th>Comments</th>
                                <th>Restricted</th>
                                <th>Sort Order</th>
                                <th>Allow Minus Stock</th>
                                <th>Mobile No</th>
                                <th>Address</th>
                                <th>Active</th>
                                <th *ngIf="IsEdit || IsDelete">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let tenant of result | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: pageNumber, totalItems: totalItems }">
                                <td>{{tenant.location_Code}}</td>
                                <td>{{tenant.location_Name}}</td>
                                <td>{{tenant.location_Phone}}</td>
                                <td>{{tenant.location_Fax}}</td>
                                <td>{{tenant.location_Url}}</td>
                                <td>{{tenant.location_Type}}</td>
                                <td>{{tenant.comments}}</td>
                                <td>{{tenant.restrictedItems}}</td>
                                <td>{{tenant.sort_Order}}</td>
                                <td>{{tenant.allowMinusStock}}</td>
                                <td>{{tenant.mobile_No}}</td>
                                <td>{{tenant.location_Address}}</td>
                                <td>{{tenant.isActive}}</td>
                                <td>
                                    <a href="javascript:void(0);" class="waves-effect waves-block" (click)="EditLocationInfo(tenant)" *ngIf="IsEdit" ><img src="./assets/images/edit.png"></a>
                                    <a href="javascript:void(0);" class="waves-effect waves-block" (click)="delete(tenant)" *ngIf="IsDelete"><img src="./assets/images/del.png"></a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
        </div>

</div> -->

<!-- ADD LOCATION INFO POPUP -->
<addlocationinfo #AddLocationInfoModal (modalSave)="getAllRecord()"></addlocationinfo>

<!-- EDIT LOCATION INFO POPUP -->
<editlocation #EditLocationInfoModal (modalSave)="getAllRecord()"></editlocation>
 