<div bsModal #editCountryModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="editCountryModal"
  aria-hidden="true" [config]="{backdrop: 'static'}">


  <div class="modal-dialog">

    <div #modalContent class="modal-content">



      <div class="card">



        <div class="card-header card-header-blue card-header-icon">
          <div class="card-icon">
            <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
          </div>
          <h4 class="card-title">Edit Country</h4>
        </div>
        <br />
        <form *ngIf="active" #editCountryForm="ngForm" id="frm_edit_Type" novalidate (ngSubmit)="onType()">


          <div class="card-body ">

            <div class="row">
              <div class="col-md-12" [formGroup]="_country">
                <mat-form-field class="example-full-width" >
                  
                  <input matInput placeholder="Country Name" type="text" [(ngModel)]="country.name" name="name" formControlName="countryName">
                  <mat-error>Country Name is required </mat-error>
                </mat-form-field>
              </div>
            
            </div>

          </div>
          <div class="card-footer ">
            <button mat-raised-button type="button" class="btn " (click)="close()">Close</button>
            <button mat-raised-button type="submit" class="btn btn-fill btn-info">Submit</button>
          </div>
         
        </form>
        
      </div>
    </div>
  </div>
</div>