<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-blue card-header-icon">
            <div class="card-icon">
              <i class="fa fa-money fa-2x" aria-hidden="true"></i>
            </div>
            <h4 class="card-title">Gratuity Configuration</h4>
          </div>
          <div class="card-body">
            <br />
            <div class="row">
              <div class="col-md-6 togglebutton">
                <label>
                  <input type="checkbox"   checked="" [(ngModel)]=" GradtuityApproved" name="isActive">
                  <span class="toggle"></span>
                  Gratuity
                </label>
              </div>
            </div>
            <hr />
            <div *ngIf=" GradtuityApproved">
            <div class="row" >

              <div class="col-md-3"  >
                <mat-form-field>
                  <mat-select placeholder="Calculate gratuity on"  [(ngModel)]="gratuityConfig.salaryExpType" name="salaryExpType" formControlName="salaryExpType" >
              
                    <mat-option *ngFor="let option of salaryExpType" [value]="option.id">{{option.salaryExpType}}</mat-option>
                    <mat-option value="Custom" (click)="CustomPopUp()">Custom</mat-option>
             
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Minimum years of service for gratuity" name="gratuityYearsOfService" id="gratuityYearsOfService" [(ngModel)]="gratuityConfig.gratuityYearsOfService"/>
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field>
                  <mat-select placeholder="Gratuity applicable date"[(ngModel)]="gratuityConfig.gratuityApplicable" name="gratuityApplicable" formControlName="gratuityApplicable">
                    <mat-option *ngFor="let option of gratuityApplicable" [value]="option.id">{{option.gratuityApplicable}}</mat-option>
                 
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field>
                  <mat-select placeholder="Gratuity due on" [(ngModel)]="gratuityConfig.gratuityDueOn" name="gratuityDueOn" formControlName="gratuityDueOn">
                    <mat-option *ngFor="let option of gratuityDueOn" [value]="option.id">{{option.gratuityDueOn}}</mat-option>
   
                  </mat-select>
                </mat-form-field>
              </div>

            </div>

            <div class="row">

                <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Gratuity Factor" name="gratuityFactor" id="gratuityFactor" [(ngModel)]="gratuityConfig.gratuityFactor"/>
                    </mat-form-field>
                  </div>

              <div class="col-md-6 togglebutton">
                <label>
                  <input type="checkbox" checked=""  [(ngModel)]="gratuityConfig.roundingOffGratuity"  name="gratuityFactor" >
                  <span class="toggle"></span>
                  Rounding of more than 6 months and less than 1 year to 1 year
                </label>
              </div>
            </div>

            <hr />

            <div class="row">
              <div class="col-md-3">
                Select Cost Center Head
                <div style="height: 200px; overflow-y: scroll;">
                  <div *ngFor="let option of resultCost" class="col-md-12">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" [value]="option.id" (change)="CostCenterHead($event ,option.id)">{{ option.costCenterGroup}}  
                        <span class="form-check-sign">
                          <span class="check"></span>
                        </span>
                      </label>
                    </div>
                  </div>

            

                </div>
              </div>
              <div class="col-md-3">
                Select Cost Center

                <div style="height: 200px; overflow-y: scroll;">

                  <div class="col-md-12" *ngFor="let option of CostCenterName">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox"  [value]="option.id" (change)="CostCenterId($event ,option.id)"  >{{ option.name}}
                        <span class="form-check-sign">
                          <span class="check"></span>
                        </span>
                      </label>
                    </div>
                  </div>

                

                </div>

              </div>
              <div class="col-md-3">
                Select Department

                <div style="height: 200px; overflow-y: scroll;">
                  <div class="col-md-12" *ngFor="let option of DepartmentName">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" [value]="option.id" (change)="DepartmentId($event ,option.id)" >{{ option.title}}
                        <span class="form-check-sign">
                          <span class="check"></span>
                        </span>
                      </label>
                    </div>
                  </div>


                </div>

              </div>
              <div class="col-md-3">
                Select Employees

                <div style="height: 200px; overflow-y: scroll;">
                  <div class="col-md-12" *ngFor="let option of empSelected">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="" [value]="option.id" (change)="EmployeesId($event ,option.id)" >{{ option. employee_Name}}
                        <span class="form-check-sign">
                          <span class="check"></span>
                        </span>
                      </label>
                    </div>
                  </div>

                

                </div>

              </div>
            </div>
          </div>


          </div>

          <hr />

          <!-- end content-->
          <div class="card-footer ">
            <button mat-raised-button type="submit" class="btn btn-fill btn-info" (click)="save()">Save</button>

            
          </div>

        </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
    </div>
    <!-- end row -->



  </div>
</div>

<app-config-dropdown #searchGratuityConfigDropdownModal></app-config-dropdown>
