<div class="main-content">
  <div class="container-fluid">

    <div class="card">
      <div class="card-header card-header-blue card-header-icon">
        <div class="card-icon">
          <i class="fa fa-calendar-check-o fa-2x" aria-hidden="true"></i>
        </div>
        <h4 class="card-title">Overtime</h4>
      </div>
      <div class="card-body">
        <div>
          <div class="row">
            <div class="col-md-3">
              <mat-form-field>
                <mat-placeholder>Select Month</mat-placeholder>
                <mat-select #MonthTemplate class="example-full-width" name="month" (selectionChange) = "onMonthChange(MonthTemplate.value)">
                  <mat-option value="1">Janauray</mat-option>
                  <mat-option value="2">February</mat-option>
                  <mat-option value="3">March</mat-option>
                  <mat-option value="4">April</mat-option>
                  <mat-option value="5">May</mat-option>
                  <mat-option value="6">June</mat-option>
                  <mat-option value="7">July</mat-option>
                  <mat-option value="8">August</mat-option>
                  <mat-option value="9">September</mat-option>
                  <mat-option value="10">October</mat-option>
                  <mat-option value="11">November</mat-option>
                  <mat-option value="12">December</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field>
                <mat-placeholder>Select Department</mat-placeholder>
                <mat-select #DepartmentTemplate class="example-full-width" name="department" (selectionChange) = "onDepartmentChange(DepartmentTemplate.value)">
                  <mat-option *ngFor="let option of department" [value]="option.id">{{option.title}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field>
                <mat-placeholder>Select designation</mat-placeholder>
                <mat-select #DesignationTemplate class="example-full-width" name="designation" (selectionChange) = "onDesignationChange(DesignationTemplate.value)">
                  <mat-option *ngFor="let option of designation" [value]="option.id">{{option.employeeDesignationName}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <button mat-raised-button class="btn btn-success btn-sm" (click)=show() >Show</button>
          </div>
        </div>
        <div>
          <ag-grid-angular 
          
          style="width: 100%; height: 400px;" class="ag-theme-balham" 
          (gridReady)="onGridReady($event)" 
          (firstDataRendered)="onFirstDataRendered($event)"
          (cellValueChanged)="onCellValueChanged($event)"
          [enableCellChangeFlash]="true"
          [columnDefs]="columnDefs"
          [enableSorting]="true" 
          [enableFilter]="true" 
          [floatingFilter]="true" 
          [rowData]="rowData" 
          [pagination]="true" 
          [animateRows]="true"
          [defaultColDef]="defaultColDef"
          [stopEditingWhenGridLosesFocus]="true"
          enableCellExpressions="true"
          [enableColResize]="true">
          
          </ag-grid-angular>
        </div>
        <button mat-raised-button class="btn btn-success btn-sm" (click)=save() >Save</button>
      </div>
    </div>
  </div>
</div>