<div bsModal #EditChartOfAccountSubSubMainModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="EditChartOfAccountSubSubMainModal" aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog">

      <div #modalContent class="modal-content">
           
          
            <div class="card">
                    <form *ngIf="active" #addDepartmentForm="ngForm" id="frm_add_pos" novalidate (ngSubmit)="save()">
    
                        <div class="card-header card-header-rose card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">mail_outline</i>
                            </div>
                            <h4 class="card-title">Edit Sub Sub Main</h4>
                        </div>
                        <br />
                        <div class="card-body ">
                            <form method="#" action="#">
                                <div class="row">
                                    <div class="col-md-4">
                                        <mat-form-field>
                                            <mat-select placeholder="Sub Main Account Type" name="subSubMain">
                                                <!-- <mat-option *ngFor="let city of cities" [value]="city.value">
                                                    {{ city.viewValue }}
                                                  </mat-option> -->
                                                <mat-option value="Sub One">Sub One</mat-option>
                                                <mat-option value="Sub Two">Sub Two</mat-option>
                                                <mat-option value="Sub Three">Sub Three</mat-option>
                                                <mat-option value="Sub Four">Sub Four</mat-option>
                                                <mat-option value="Sub Five">Sub Five</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Sub Sub Code" type="text">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Sub Sub Title" type="text">
                                        </mat-form-field>
                                    </div>
                                </div>
    
    
                                <div class="row">
                                    <div class="col-md-4">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Sub Sub Type" type="text">
                                        </mat-form-field>
                                    </div>
    
                                    <div class="col-md-4">
                                        <mat-form-field>
                                            <mat-select placeholder="BS Note" name="subSubMain">
                                                <!-- <mat-option *ngFor="let city of cities" [value]="city.value">
                                                    {{ city.viewValue }}
                                                  </mat-option> -->
                                                <mat-option value="BS One">BS One</mat-option>
                                                <mat-option value="BS Two">BS Two</mat-option>
                                                <mat-option value="BS Three">BS Three</mat-option>
                                                <mat-option value="BS Four">BS Four</mat-option>
                                                <mat-option value="BS Five">BS Five</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
    
                                    <div class="col-md-4">
                                        <mat-form-field>
                                            <mat-select placeholder="PL Note" name="subSubMain">
                                                <!-- <mat-option *ngFor="let city of cities" [value]="city.value">
                                                        {{ city.viewValue }}
                                                      </mat-option> -->
                                                <mat-option value="PL One">PL One</mat-option>
                                                <mat-option value="PL Two">PL Two</mat-option>
                                                <mat-option value="PL Three">PL Three</mat-option>
                                                <mat-option value="PL Four">PL Four</mat-option>
                                                <mat-option value="PL Five">PL Five</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
    
                                <div class="row">
                                    <div class="col-md-4">
                                            <mat-form-field>
                                                    <mat-select placeholder="Company" name="subSubMain">
                                                        <!-- <mat-option *ngFor="let city of cities" [value]="city.value">
                                                            {{ city.viewValue }}
                                                          </mat-option> -->
                                                        <mat-option value="Company One">Company One</mat-option>
                                                        <mat-option value="Company Two">Company Two</mat-option>
                                                        <mat-option value="Company Three">Company Three</mat-option>
                                                        <mat-option value="Company Four">Company Four</mat-option>
                                                        <mat-option value="Company Five">Company Five</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                    </div>
                                </div>
                            </form>
                        </div>
    
                        <div class="card-footer ">
    
                            <button mat-raised-button type="submit" class="btn btn-fill btn-rose">Submit</button>
                            <button mat-raised-button type="button" class="btn " (click)="close()">Cancle</button>
    
                        </div>
    
                    </form>
                </div>
      </div>
  </div>
</div>