<div bsModal #editSubCategoryModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="editSubCategoryModal"
  aria-hidden="true" [config]="{backdrop: 'static'}">


  <div class="modal-dialog">

    <div #modalContent class="modal-content">



      <div class="card">



        <div class="card-header card-header-blue card-header-icon">
          <div class="card-icon">
              <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
          </div>
          <h4 class="card-title">Edit SubCategory</h4>
        </div>
        <br />
        <form *ngIf="active" #editSubCategoryForm="ngForm" id="frm_Edit_Type" novalidate (ngSubmit)="onType()">


          <div class="card-body ">

            <div class="row">
              <div class="col-md-4">
                <mat-form-field class="example-full-width" >

                  <!-- <input matInput placeholder="Code" type="text" [(ngModel)]="SubCategory.code" name="code"> -->
                  <input matInput placeholder="Code" name="docNo" [(ngModel)]="SubCategory.code" type="text"  *ngIf="isAutoCode"
                  disabled />

                  <input matInput placeholder="Code" name="docNo" [(ngModel)]="SubCategory.code"  *ngIf="!isAutoCode" type="text"  />
                </mat-form-field>
              </div>

              <div class="col-md-4" [formGroup]="_subCat">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Name" type="text" [(ngModel)]="SubCategory.name" name="name" formControlName="subCatName">
                  <mat-error>  Sub Category Name is required </mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-4">

                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Sort Order" type="text" [(ngModel)]="SubCategory.sortOrder" name="sortOrder">
                </mat-form-field>
              </div>
            </div>

            <div class="row">


              <div class="col-md-12">

                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Remarks" type="text" [(ngModel)]="SubCategory.remarks" name="remarks">
                </mat-form-field>
              </div>
            </div>


          </div>
          <div class="card-footer ">
            <button mat-raised-button type="button" class="btn" (click)="close()">Close</button>
            <button mat-raised-button type="submit" class="btn btn-fill btn-info">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>