<div bsModal #createUserCostCenterRightsModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="createUserCostCenterRightsModal" aria-hidden="true" [config]="{backdrop: 'static'}">
        <div class="modal-dialog">
    
            <div #modalContent class="modal-content">
    
             <div class="card">
            
                        <div class="card-header card-header-blue card-header-icon">
                                <div class="card-icon">
                                    <i class="fa fa-check-square-o fa-2x" aria-hidden="true"></i>
                                </div>
    
                                <button type="button"  class="close" (click)="close()" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                </button>
    
                                <h4 class="card-title">Cost Center Rights</h4>
    
                              </div>
    
    
                              <br />
                              
                                <form *ngIf="active" #createUserCostCenterRightsForm="ngForm" id="frm_create_user" novalidate (ngSubmit)="save()">
    
                                        <div class="card-body ">

                                    <!-- <div class="row">
                                        <div class="col-md-6" *ngFor="let costCenter of CostCenters">
    
                                                <div class="togglebutton" >
                                                        <label>
                                                          <input type="checkbox" checked="{{setCheckedValue(costCenter.right)}}" (change)="$event.target.checked ? costCenter.right = true : costCenter.right = false" >
                                                          <span class="toggle"></span>
                                                          {{costCenter.name}}
                                                        </label>
                                                </div>
                                        </div>
    
                                    </div> -->

                                    <div class="row" *ngIf="userCostCenterRights">
                                        <div class="col-md-6" *ngFor="let costcenterRights of userCostCenterRights">
    
                                                <div class="togglebutton" >
                                                        <label>
                                                          <input type="checkbox" checked="{{setCheckedValue(costcenterRights.rights)}}" (change)="$event.target.checked ? costcenterRights.rights = true : costcenterRights.rights = false" >
                                                          <span class="toggle"></span>
                                                          {{costcenterRights.costCenter.name}}
                                                        </label>
                                                </div>
                                        </div>
    
                                    </div>
                                  
                               
                              </div>
    
                              <div class="card-footer ">
                              
                                    <button mat-raised-button type="button"  class="btn " (click)="close()">Close</button>
                                    <button mat-raised-button type="submit" class="btn btn-fill btn-info"  (click)="CreateRights()" >Submit</button>

                              </div>

                            </form>

              </div>
            </div>
        </div>
    </div>
    





    <!-- <div class="modal-header">
            <h4 class="modal-title">
                    <span>{{l("Cost Center Rights")}}</span>
                </h4>
                
        <button type="button" class="close" (click)="close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        
    </div>
    <div class="modal-body">

            <div class="row" *ngIf="userCostCenterRights">
                <div class="col-sm-12 ">
                    <ng-template ngFor let-costcenterRights [ngForOf]="userCostCenterRights" let-costcenterRightsIndex="index">
                        <div class="col-sm-12">
                            <input type="checkbox" name="rights" checked ="{{setCheckedValue(costcenterRights.rights)}}" value="{{costcenterRights.rights}}" title="{{costcenterRights.costCenter.name}}" class="filled-in" id="costcenterRights-{{costcenterRightsIndex}}" (change)="$event.target.checked ? costcenterRights.rights = true : costcenterRights.rights = false"  />  
                            <label for="costcenterRights-{{costcenterRightsIndex}}" title="{{costcenterRights.costCenter.name}}">{{costcenterRights.costCenter.name}}</label>
                        </div>
                    </ng-template>
                </div>
            </div>

    </div>
    <div class="modal-footer">
        <button [disabled]="saving" type="button" class="btn btn-default waves-effect" (click)="close()">
            {{l("Cancel")}}
        </button>
        <button [disabled]="(!createUserCostCenterRightsForm.form.valid || saving) && !userCostCenterRights" type="submit" class="btn btn-primary waves-effect">
            {{l("Save")}}
        </button>
    </div> -->