<div bsModal #createUserCompanyRightsModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="createUserCompanyRightsModal" aria-hidden="true" [config]="{backdrop: 'static'}">
        <div class="modal-dialog">
    
            <div #modalContent class="modal-content">
    
             <div class="card">
                
                    <div class="card-header card-header-blue card-header-icon">
                            <div class="card-icon">
                                <i class="fa fa-check-square-o fa-2x" aria-hidden="true"></i>
                            </div>

                            <button type="button"  class="close" (click)="close()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                            </button>

                            <h4 class="card-title">Company Rights</h4>

                          </div>


                          <br />
                         
                            <form *ngIf="active" #createUserCompanyRightsForm="ngForm" id="frm_create_user" novalidate (ngSubmit)="save()">

                                    <div class="card-body ">
                                <!-- <div class="row">
                                    <div class="col-md-6" *ngFor="let company of Companies">

                                            <div class="togglebutton" >
                                                    <label>
                                                      <input type="checkbox" checked="{{setCheckedValue(company.rights)}}" (change)="$event.target.checked ? company.rights = true : company.rights = false" >
                                                      <span class="toggle"></span>
                                                      {{company.name}}
                                                    </label>
                                            </div>
                                    </div>

                                </div> -->
                              

                                <div class="row" *ngIf="userCompanyRights">
                                    <div class="col-md-6" *ngFor="let companyRights of userCompanyRights">

                                            <div class="togglebutton" >
                                                    <label>
                                                      <input type="checkbox" checked="{{setCheckedValue(companyRights.rights)}}" (change)="$event.target.checked ? companyRights.rights = true : companyRights.rights = false" >
                                                      <span class="toggle"></span>
                                                      {{companyRights.companyInfo.companyName}}
                                                    </label>
                                            </div>
                                    </div>

                                </div>

                           
                          </div>

                          <div class="card-footer ">
                          
                                <button mat-raised-button type="button"  class="btn " (click)="close()">Close</button>
                                <button mat-raised-button type="submit" class="btn btn-fill btn-info" (click)="CreateRights()">Submit</button>

                          </div>

                        </form>
              </div>
            </div>
        </div>
    </div>
    





    <!-- <div class="modal-header">
            <h4 class="modal-title">
                    <span>{{l("Company Rights")}}</span>
                </h4>
                
        <button type="button" class="close" (click)="close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        
    </div>
    <div class="modal-body">

            <div class="row" *ngIf="userCompanyRights">
                <div class="col-sm-12 ">
                    <ng-template ngFor let-companyRights [ngForOf]="userCompanyRights" let-companyRightsIndex="index">
                        <div class="col-sm-12">
                            <input type="checkbox" name="rights" checked ="{{setCheckedValue(companyRights.rights)}}" value="{{companyRights.rights}}" title="{{companyRights.companyInfo.companyName}}" class="filled-in" id="companyRights-{{companyRightsIndex}}" (change)="$event.target.checked ? companyRights.rights = true : companyRights.rights = false"  />  
                            <label for="companyRights-{{companyRightsIndex}}" title="{{companyRights.companyInfo.companyName}}">{{companyRights.companyInfo.companyName}}</label>
                        </div>
                    </ng-template>
                </div>
            </div>

    </div>
    <div class="modal-footer">
        <button [disabled]="saving" type="button" class="btn btn-default waves-effect" (click)="close()">
            {{l("Cancel")}}
        </button>
        <button [disabled]="(!createUserCompanyRightsForm.form.valid || saving) && !userCompanyRights" type="submit" class="btn btn-primary waves-effect">
            {{l("Save")}}
        </button>
    </div> -->