<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-blue card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">assignment</i>
                        </div>
                        <h4 class="card-title">Attendance</h4>
                    </div>
                    <div class="card-body">
                        <div class="toolbar">
                            <!--        Here you can write extra buttons/actions for the toolbar              -->
                            <button mat-raised-button class="btn btn-success btn-sm" (click)="AddAttendance()">Add New</button>

                            <button mat-raised-button class="btn btn-success btn-sm" (click)="showFilteredData()">Filter</button>

                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <mat-form-field>
                                    <input matInput #fromDate [matDatepicker]="picker" placeholder="From" name = "fromDate" >
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>

                            <div class="col-md-3">
                                <mat-form-field>
                                    <input matInput #toDate [matDatepicker]="picker1" placeholder="To" name = "toDate">
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>
                            </div>

                            <div class="col-md-3">
                                <mat-form-field>
                                    <input matInput type="text" name = "employee" #employee placeholder="employee">
                                </mat-form-field>
                            </div>


                        </div>

                        <!-- <button mat-raised-button class="btn btn-success btn-sm" (click)="showFilteredData()">Filter</button> -->
                        <div class="material-datatables">
                            <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>{{ dataTable.headerRow[0] }}</th>
                                        <th>{{ dataTable.headerRow[1] }}</th>
                                        <th>{{ dataTable.headerRow[2] }}</th>
                                        <th>{{ dataTable.headerRow[3] }}</th>

                                        <th class="disabled-sorting text-right">{{ dataTable.headerRow[4] }}</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>{{ dataTable.footerRow[0] }}</th>
                                        <th>{{ dataTable.footerRow[1] }}</th>
                                        <th>{{ dataTable.footerRow[2] }}</th>
                                        <th>{{ dataTable.footerRow[3] }}</th>

                                        <th class="text-right">{{ dataTable.footerRow[4] }}</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr *ngFor="let row of dataTable.dataRows">
                                        <td>{{row[0]}}</td>
                                        <td>{{row[1]}}</td>
                                        <td>{{row[2]}}</td>
                                        <td>{{row[3]}}</td>

                                        <td class="text-right">
                                            <!-- <a href="#" class="btn btn-link btn-info btn-just-icon like"><i class="material-icons">favorite</i></a>-->
                                            <a href="#" (click)="EditAttendance(row[4])" class="btn btn-link btn-warning btn-just-icon edit">
                                                <i class="material-icons">dvr</i>
                                            </a>
                                            <a href="#" (click)="delete(row[4])" class="btn btn-link btn-danger btn-just-icon remove">
                                                <i class="material-icons">close</i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- end content-->
                </div>
                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
        </div>
        <!-- end row -->
    </div>
</div>


<add-attendance #addAttendanceModal (modalSave)="getAllAttendance()"></add-attendance>
<edit-attendance #editAttendanceModal (modalSave)="getAllAttendance()"></edit-attendance>