<div bsModal #addLeaveTypeModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="addLeaveTypeModal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">

        <div class="modal-dialog">

            <div #modalContent class="modal-content">



                    <div class="card">
                            <form *ngIf="active" #addJobTypeForm="ngForm" id="frm_Job_Type" novalidate (ngSubmit)="onType()">
        
                                <div class="card-header card-header-blue card-header-icon">
                                    <div class="card-icon">
                                            <i class="fa fa-floppy-o fa-2x" aria-hidden="true"></i>
                                    </div>
                                    <h4 class="card-title">Add Leave type</h4>
                                </div>
                                <br />
                                <div class="card-body ">
                                    <form method="#" action="#">
                                        <div class="row">
        
                                            <div class="col-md-4" >
                                                    <mat-form-field>
                                                            <mat-select placeholder="Leave Type" [(ngModel)]="leaveType.leaveTypeName" name="leaveTypeName">
                                                              <mat-option value = "Half Day">
                                                                Half Day
                                                              </mat-option>
                                                              <mat-option value = "Full Day">
                                                                    Full Day
                                                                  </mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                            </div>
                                            <div class="col-md-4" [formGroup]="_leaveTypeValidation">
                                                <mat-form-field class="example-full-width" >
                                                    <input matInput placeholder="Leave Allowed" type="text" [(ngModel)]="leaveType.leaveAllowed" name="leaveAllowed" formControlName="leaveAllowed">
                                                    <mat-error>  Leave Allowed  Field is required </mat-error>
                                                </mat-form-field>

                                            </div>
                                            <div class="col-md-4">
                                                <mat-form-field>
                                                    <input matInput [matDatepicker]="picker" placeholder="Leave Reset" [(ngModel)]="resetDate" name="resetDate" (click)="picker.open()">
                                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker></mat-datepicker>
                                                </mat-form-field>
                                            </div>
        
        
        
                                        </div>
        
        
                                        <div class="row">
                                            <div class="col-md-12">
                                                <mat-form-field class="example-full-width">
                                                    <textarea matInput placeholder="Detail" rows="2" (change)="doTextareaValueChange($event)"></textarea>
                                                </mat-form-field>
        
                                            </div>
                                        </div>
        
        
        
                                    </form>
                                </div>
        
                                <div class="card-footer ">
        
                                    <button mat-raised-button type="button" class="btn " (click)="close()">Close</button>
                                    <button mat-raised-button type="submit" class="btn btn-fill btn-info">Submit</button>
        
        
                                </div>
        
                            </form>
                        </div>


            </div>
        </div>
    </div>
</div>