<div bsModal #editOvertimeModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog"
  aria-labelledby="editOvertimeModal" aria-hidden="true" [config]="{backdrop: 'static'}">

  <div class="modal-dialog">

    <div #modalContent class="modal-content">

      <div class="card">

        <div class="card-header card-header-blue card-header-icon">
          <div class="card-icon">
            <i class="material-icons">mail_outline</i>
          </div>
          <h4 class="card-title">Edit Overtime</h4>
        </div>
        <br />
        <div class="card-body">
          <div class="toolbar">
          
          
          </div>

          <div class="material-datatables">
            <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%"
              style="width:100%">
              <thead>
                <tr>
                  <th>{{ dataTable.headerRow[0] }}</th>
                  <th>{{ dataTable.headerRow[1] }}</th>
                  <th>{{ dataTable.headerRow[2] }}</th>
                  <th class="disabled-sorting text-right">{{ dataTable.headerRow[3] }}</th>
                </tr>
              </thead>
              
              <tbody>
                <tr *ngFor="let row of dataTable.dataRows">
                  <td>{{row[0]}}</td>
                  <td>{{row[1]}}</td>
                  <td>{{row[2]}}</td>

                  <td class="text-right">
                    <a (click)=" EditOvertime(row[3]) " class="btn btn-link btn-warning btn-just-icon edit"><i class="material-icons">dvr</i></a>
                    <a class="btn btn-link btn-danger btn-just-icon remove" (click)="delete(row[3])"><i class="material-icons">close</i></a>
                  </td>
                </tr>   
              
              </tbody>
            </table>
          </div>
        </div>

      </div>

      <div class="card-footer ">
        <button mat-raised-button type="button" class="btn " (click)="close()">Cancle</button>
      </div>

    </div>
  </div>
</div> 

<child-edit-overtime #childEditOvertimeModal > </child-edit-overtime>
 



