<div bsModal #addAttendanceTypeModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog"
  aria-labelledby="addAttendanceTypeModal" aria-hidden="true" [config]="{backdrop: 'static'}">


  <div class="modal-dialog">

    <div #modalContent class="modal-content">



      <div class="card">



        <div class="card-header card-header-blue card-header-icon">
          <div class="card-icon">
            <i class="fa fa-floppy-o fa-2x" aria-hidden="true"></i>
          </div>
          <h4 class="card-title">Add AttendanceType</h4>
        </div>
        <br />
        <form *ngIf="active" #addAttendanceTypeForm="ngForm" id="frm_Add_Type" novalidate (ngSubmit)="onType()">


          <div class="card-body ">

            <div class="row">


              <div class="col-md-6" [formGroup]="_AttendanceType">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Status" type="text" [(ngModel)]="AttendanceType.status" name="status"
                    formControlName="AttendanceTypeName">
                  <mat-error> AttendanceType Status is required </mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-6">

                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Sort Order" type="text" [(ngModel)]="AttendanceType.comments" name="comments">
                </mat-form-field>
              </div>
            </div>

          </div>
          <div class="card-footer ">
            <button mat-raised-button type="button" class="btn " (click)="close()">Close</button>
            <button mat-raised-button type="submit" class="btn btn-fill btn-info">Submit</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>