<div bsModal #addTerminationModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="addTerminationModal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">

        <div #modalContent class="modal-content">



            <div class="card">
                <div class="card-header card-header-blue card-header-icon">
                    <div class="card-icon">
                        <i class="fa fa-floppy-o fa-2x" aria-hidden="true"></i>
                    </div>
                    <h4 class="card-title">Add Termination</h4>
                </div>
                <br />

                <form *ngIf="active" #addTerminationForm="ngForm" id="frm_add_termination" novalidate (ngSubmit)="onType()">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="example-full-width">

                                    <!-- <input matInput placeholder="Document No" name="docNo" [(ngModel)]="Termination.documentNo" type="text" disabled /> -->
                                    <input matInput placeholder="Document No" name="docNo" [(ngModel)]="Termination.documentNo" type="text"  *ngIf="isAutoCode"
                                     disabled />
                 
                                    <input matInput placeholder="Document No" name="docNo" [(ngModel)]="Termination.documentNo"  *ngIf="!isAutoCode" type="text"  />

                                </mat-form-field>
                            </div>

                            <div class="col-md-6">
                                <mat-form-field>
                                    <!--<input matInput  placeholder="Document Date" type="text" (click)="picker.open()" />  -->
                                    <input matInput [matDatepicker]="picker1" [(ngModel)]="Termination.documentDate" name="documentDate" placeholder="Document date"
                                        (click)="picker1.open()">
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1 touchUi="true" type="datetime" openOnFocus="true" timeInterval="5"></mat-datepicker>
                                </mat-form-field>




                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6" [formGroup]="_term">
                                <mat-form-field>
                                    <input matInput [matDatepicker]="picker" [(ngModel)]="Termination.terminationDate" name="terminationDate" placeholder="Termination date"
                                        (click)="picker.open()" formControlName="terminationDate">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>

                                    <mat-error>
                                        <strong> Termination Date</strong> is required </mat-error>
                                </mat-form-field>


                            </div>
                            <div class="col-md-5" [formGroup]="_term">

                                <mat-form-field>
                                    <mat-select placeholder="Select Employee" [(ngModel)]="Termination.employeeId" name="employeeId"
                                        formControlName="employeeId">
                                        <mat-option *ngFor="let option of employee" [value]="option.id">{{option.employee_Name}}</mat-option>
                                    </mat-select>
                                    <mat-error> Employee Field is required </mat-error>
                                </mat-form-field>

                            </div>
                            <div class="col-md-1 ">
                                <div style="padding-top: 16px; cursor:pointer;">
                                    <i class="fa fa-search" aria-hidden="true" (click)="addSearchDD()"></i>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                    <!-- <input matInput placeholder="Notice Date" type="text" (click)="picker.open()"/> -->

                                    <input matInput [matDatepicker]="picker2" [(ngModel)]="Termination.noticeDate" name="noticeDate" placeholder="Notice date"
                                        (click)="picker2.open()">
                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <mat-datepicker #picker2></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6" [formGroup]="_term">
                                <mat-form-field>
                                    <mat-select placeholder="Select Termination Type" name="terminationtype" [(ngModel)]="Termination.terminationType" formControlName="terminationType">
                                        <mat-option value="Voluntary">Voluntary</mat-option>
                                        <mat-option value="Involuntary">Involuntary</mat-option>

                                    </mat-select>
                                    <mat-error> Please Select
                                        <strong>Termination Type</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Detail" [(ngModel)]="Termination.detail" name="detail" type="text" />
                                </mat-form-field>
                            </div>

                        </div>



                        <!-- <div class="togglebutton">
                                <label>
                                  <input type="checkbox" checked="">
                                  <span class="toggle"></span>
                                  Active
                                </label>
                              </div> -->

                    </div>

                    <div class="card-footer ">

                        <button mat-raised-button type="submit" class="btn" (click)="close()">Close</button>
                        <button mat-raised-button type="submit" class="btn btn-fill btn-info">Submit</button>
                    </div>
                </form>
            </div>


        </div>


    </div>
</div>
<app-search-employee #searchEmployeeDropdownModal (modalSave)="EmployeeId($event)"></app-search-employee>