<!-- <div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                  <div class="card-header card-header-blue card-header-icon">
                    <div class="card-icon"> -->
<!-- <i class="material-icons">assignment</i> -->
<!-- <i class="fa fa-clock-o fa-2x" aria-hidden="true"></i>
                    </div>
                    <h4 class="card-title" (click)="EditOvertime()">Overtime</h4>
                  </div>
                  <div class="card-body">
                    <div class="toolbar"> -->
<!--        Here you can write extra buttons/actions for the toolbar              -->
<!-- <button mat-raised-button class="btn btn-success btn-sm" >Add New</button> -->

<!-- <div class="row">
                            <div class="col-md-3">
                                <mat-form-field>
                                    <mat-select placeholder="Select Cost Center" name="costcenter">
                                      <mat-option value="city value">Lahore</mat-option>
                                      <mat-option value="city value">Islamabad</mat-option>
                                      <mat-option value="city value">Karachi</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col-md-3">
                                <mat-form-field>
                                    <mat-select placeholder="Select Department" name="department">
                                      <mat-option value="city value">Administration</mat-option>
                                      <mat-option value="city value">Management</mat-option>
                                      <mat-option value="city value">Labour</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col-md-3">
                                <mat-form-field>
                                    <mat-select placeholder="Select Employee" name="employee">
                                      <mat-option value="city value">Alpha</mat-option>
                                      <mat-option value="city value">Bravo</mat-option>
                                      <mat-option value="city value">Charlie</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col-md-3">
                                <mat-form-field >
                                    <input matInput [matDatepicker]="picker" placeholder="Over Time Month" (click)="picker.open()">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                  </mat-form-field>
                            </div>

                        </div>
                    
                    </div>
                    <div class="material-datatables ">
                      <table id="datatables" class="table table-striped table-no-bordered table-hover table-responsive compact nowrap" cellspacing="0" width="100%" style="width:100%">
                            <thead>
                                <tr>
                                  <th>{{ dataTable.headerRow[0] }}</th>
                                  <th>{{ dataTable.headerRow[1] }}</th>
                                  <th>{{ dataTable.headerRow[2] }}</th>
                                  <th>{{ dataTable.headerRow[3] }}</th>
                                  <th>{{ dataTable.headerRow[4] }}</th>
                                  <th>{{ dataTable.headerRow[5] }}</th>
                                  <th>{{ dataTable.headerRow[6] }}</th>
                                  <th>{{ dataTable.headerRow[7] }}</th>
                                  <th>{{ dataTable.headerRow[8] }}</th>
                                  <th>{{ dataTable.headerRow[9] }}</th>
                                  <th>{{ dataTable.headerRow[10] }}</th>
                                  <th>{{ dataTable.headerRow[11] }}</th>
                                  <th>{{ dataTable.headerRow[12] }}</th>
                                  <th>{{ dataTable.headerRow[13] }}</th>
                                  <th>{{ dataTable.headerRow[14] }}</th>
                                  <th>{{ dataTable.headerRow[15] }}</th>
                                  <th>{{ dataTable.headerRow[16] }}</th>
                                  <th>{{ dataTable.headerRow[17] }}</th>
                                  <th>{{ dataTable.headerRow[18] }}</th>
                                  <th>{{ dataTable.headerRow[19] }}</th>
                                  <th>{{ dataTable.headerRow[20] }}</th>
                                  <th>{{ dataTable.headerRow[21] }}</th>
                                  <th>{{ dataTable.headerRow[22] }}</th>
                                  <th>{{ dataTable.headerRow[23] }}</th>
                                  <th>{{ dataTable.headerRow[24] }}</th>
                                  <th>{{ dataTable.headerRow[25] }}</th>
                                  <th>{{ dataTable.headerRow[26] }}</th>
                                  <th>{{ dataTable.headerRow[27] }}</th>
                                  <th>{{ dataTable.headerRow[28] }}</th>
                                  <th>{{ dataTable.headerRow[29] }}</th>
                                  <th>{{ dataTable.headerRow[30] }}</th>
                                  <th>{{ dataTable.headerRow[31] }}</th>
                                  <th>{{ dataTable.headerRow[32] }}</th>
                                  <th>{{ dataTable.headerRow[33] }}</th>
                                  <th>{{ dataTable.headerRow[34] }}</th>
                                  <th>{{ dataTable.headerRow[35] }}</th>
                                  <th>{{ dataTable.headerRow[36] }}</th>
                                  <th>{{ dataTable.headerRow[37] }}</th>
                                  <th>{{ dataTable.headerRow[38] }}</th>

                                  <th class="disabled-sorting text-right">{{ dataTable.headerRow[39] }}</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                  <th>{{ dataTable.footerRow[0] }}</th>
                                  <th>{{ dataTable.footerRow[1] }}</th>
                                  <th>{{ dataTable.footerRow[2] }}</th>
                                  <th>{{ dataTable.footerRow[3] }}</th>
                                  <th>{{ dataTable.footerRow[4] }}</th>
                                  <th>{{ dataTable.footerRow[5] }}</th>
                                  <th>{{ dataTable.footerRow[6] }}</th>
                                  <th>{{ dataTable.footerRow[7] }}</th>
                                  <th>{{ dataTable.footerRow[8] }}</th>
                                  <th>{{ dataTable.footerRow[9] }}</th>
                                  <th>{{ dataTable.footerRow[10] }}</th>
                                  <th>{{ dataTable.footerRow[11] }}</th>
                                  <th>{{ dataTable.footerRow[12] }}</th>
                                  <th>{{ dataTable.footerRow[13] }}</th>
                                  <th>{{ dataTable.footerRow[14] }}</th>
                                  <th>{{ dataTable.footerRow[15] }}</th>
                                  <th>{{ dataTable.footerRow[16] }}</th>
                                  <th>{{ dataTable.footerRow[17] }}</th>
                                  <th>{{ dataTable.footerRow[18] }}</th>
                                  <th>{{ dataTable.footerRow[19] }}</th>
                                  <th>{{ dataTable.footerRow[20] }}</th>
                                  <th>{{ dataTable.footerRow[21] }}</th>
                                  <th>{{ dataTable.footerRow[22] }}</th>
                                  <th>{{ dataTable.footerRow[23] }}</th>
                                  <th>{{ dataTable.footerRow[24] }}</th>
                                  <th>{{ dataTable.footerRow[25] }}</th>
                                  <th>{{ dataTable.footerRow[26] }}</th>
                                  <th>{{ dataTable.footerRow[27] }}</th>
                                  <th>{{ dataTable.footerRow[28] }}</th>
                                  <th>{{ dataTable.footerRow[29] }}</th>
                                  <th>{{ dataTable.footerRow[30] }}</th>
                                  <th>{{ dataTable.footerRow[31] }}</th>
                                  <th>{{ dataTable.footerRow[32] }}</th>
                                  <th>{{ dataTable.footerRow[33] }}</th>
                                  <th>{{ dataTable.footerRow[34] }}</th>
                                  <th>{{ dataTable.footerRow[35] }}</th>
                                  <th>{{ dataTable.footerRow[36] }}</th>
                                  <th>{{ dataTable.footerRow[37] }}</th>
                                  <th>{{ dataTable.footerRow[38] }}</th>

                                  <th class="text-right">{{ dataTable.footerRow[39] }}</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr *ngFor="let row of dataTable.dataRows">
                                    <td>{{row[0]}}</td>
                                    <td>{{row[1]}}</td>
                                    <td>{{row[2]}}</td>
                                    <td>{{row[3]}}</td>
                                    <td>{{row[4]}}</td>
                                    <td>{{row[5]}}</td>
                                    <td>{{row[6]}}</td>
                                    <td>{{row[7]}}</td>
                                    <td>{{row[8]}}</td>
                                    <td>{{row[9]}}</td>
                                    <td>{{row[10]}}</td>
                                    <td>{{row[11]}}</td>
                                    <td>{{row[12]}}</td>
                                    <td>{{row[13]}}</td>
                                    <td>{{row[14]}}</td>
                                    <td>{{row[15]}}</td>
                                    <td>{{row[16]}}</td>
                                    <td>{{row[17]}}</td>
                                    <td>{{row[18]}}</td>
                                    <td>{{row[19]}}</td>
                                    <td>{{row[20]}}</td>
                                    <td>{{row[21]}}</td>
                                    <td>{{row[22]}}</td>
                                    <td>{{row[23]}}</td>
                                    <td>{{row[24]}}</td>
                                    <td>{{row[25]}}</td>
                                    <td>{{row[26]}}</td>
                                    <td>{{row[27]}}</td>
                                    <td>{{row[28]}}</td>
                                    <td>{{row[29]}}</td>
                                    <td>{{row[30]}}</td>
                                    <td>{{row[31]}}</td>
                                    <td>{{row[32]}}</td>
                                    <td>{{row[33]}}</td>
                                    <td>{{row[34]}}</td>
                                    <td>{{row[35]}}</td>
                                    <td>{{row[36]}}</td>
                                    <td>{{row[37]}}</td>
                                    <td>{{row[38]}}</td>

                                    <td class="text-right">
                                      <a href="#" class="btn btn-link btn-warning btn-just-icon edit" (click)="EditOvertime()" ><i class="material-icons">dvr</i></a>
                                      <a href="#" class="btn btn-link btn-danger btn-just-icon remove"><i class="material-icons">close</i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div> -->
<!-- end content-->
<!-- </div> -->
<!--  end card  -->
<!-- </div> -->
<!-- end col-md-12 -->
<!-- </div> -->
<!-- end row -->
<!-- </div> -->
<!-- </div> -->

<!-- POPUP -->

<!-- <edit-overtime #editOvertimeModal (modalSave)="refresh()"></edit-overtime> -->

<!-- 

<div class="main-content">
    <div class="container-fluid">
        <div class="header text-center">

                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field>
                            <mat-select placeholder="Select Cost Center">

                                <mat-select class="example-full-width" [(ngModel)]="overTime.costCenterId" name="costCenterName">
                                    <mat-option *ngFor="let option of costCenter" [value]="option.id">{{option.name}}</mat-option>
                                </mat-select>

                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-md-3">
                        <mat-form-field>
                          
                            <mat-select placeholder="Select Department"></mat-select>
                            <mat-select class="example-full-width" [(ngModel)]="overTime.departmentId" name="departmentName">
                                <mat-option *ngFor="let option of department" [value]="option.id">{{option.name}}</mat-option>
                            </mat-select>

                        </mat-form-field>
                    </div>

                    <div class="col-md-3">
                        <mat-form-field>
                           

                            <mat-select placeholder="Select Employee"></mat-select>
                            <mat-select class="example-full-width" [(ngModel)]="overTime.employeeId" name="employeeId">
                                <mat-option *ngFor="let option of employee" [value]="option.id">{{option.name}}</mat-option>
                            </mat-select>

                        </mat-form-field>
                    </div>

                    <div class="col-md-3">
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker" placeholder="Over Time Month" [(ngModel)]="overTime.overTimeMonth"
                                (click)="picker.open()">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>

                </div>

        </div>

         <div class="row">
            <div class="col-md-10 ml-auto mr-auto">
                <div class="card card-calendar">
                    <div class="card-body ">
                        <div id="fullCalendar"></div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>
 -->

<div class="main-content">
    <div class="container-fluid">
       
            
            <div class="header text-center">
            
                <div class="row">
                    <div class="col-md-1 "> </div>
                    <div class="col-md-1 ">
                        <button mat-raised-button class="btn btn-fill btn-info" (click)="AddOvertime()">Add New</button>
                    </div>
                    <div class="col-md-1 ">
                        <button mat-raised-button class="btn btn-fill btn-info" (click)="resetInput()">Reset Fields</button>
                    </div>

                </div>
                <form  #overtimeForm="ngForm" id="frm_Add_Type"  >
                    <div class="row">

                        
                        <div class="col-md-1">  </div>

                        <div class="col-md-2"  >
                            
                             <mat-form-field>
                                <mat-placeholder>Select Cost Center</mat-placeholder>
                                <mat-select class="example-full-width" [(ngModel)]="overTime.costCenterId" name="costCenterName">
                                    <mat-option *ngFor="let option of costCenter" [value]="option.id">{{option.name}}</mat-option>
                                </mat-select> 
                            </mat-form-field> 

                            <!-- <mat-form-field >
                                <input type="text" placeholder="Select Cost Center" matInput [formControl]="myControl1" [matAutocomplete]="auto"
                                    [(ngModel)]="costCenterName" name="costCenterName" formControlName="costCenterId">
                                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayCostCenter">
                                    <mat-option *ngFor="let option of filteredOption1 | async " [value]="option">
                                        {{option.name}}
                                    </mat-option>
                                </mat-autocomplete>
                                <mat-error> Enter Valid Cost Center Name </mat-error>
                            </mat-form-field> -->


                        </div>
            
                        <!-- <div class="col-md-2" [formGroup]="_overtimeEditValidation">
                            <mat-form-field>
                                <mat-placeholder>Select Department</mat-placeholder>
                                <mat-select class="example-full-width" [(ngModel)]="overTime.departmentId" name="departmentName"  formControlName="departmentId">
                                    <mat-option *ngFor="let option of department" [value]="option.id">{{option.title}}</mat-option>
                                </mat-select>
                                <mat-error>  Department Field is required for edit </mat-error>
            
                            </mat-form-field>
                        </div> -->

                        <div class="col-md-2">
                            <mat-form-field>
                                <mat-placeholder>Select Department</mat-placeholder>
                                <mat-select class="example-full-width" [(ngModel)]="overTime.departmentId" name="departmentName" >
                                    <mat-option *ngFor="let option of department" [value]="option.id">{{option.title}}</mat-option>
                                </mat-select>
                                
                            </mat-form-field>
                        </div>
            
                        <div class="col-md-2" [formGroup]="_overtimeEditValidation">
                             
                            <!-- <mat-form-field>
                                <mat-placeholder>Select Employee</mat-placeholder>
                                <mat-select class="example-full-width" [(ngModel)]="overTime.employeeId" name="employeeId" formControlName="employeeId">
                                    <mat-option *ngFor="let option of employee" [value]="option.id">{{option.employee_Name}}</mat-option>
                                </mat-select>
                                <mat-error> Employee Field is required edit </mat-error>
                            </mat-form-field> -->

                             <mat-form-field class="example-full-width">
                                <input type="text" placeholder="Select Employee" matInput [formControl]="myControl" [matAutocomplete]="auto"
                                  [(ngModel)]="empName" name="empName" formControlName="employeeId">
                                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayEmployee">
                                  <mat-option *ngFor="let option of filteredOptions | async " [value]="option">
                                    {{option.employee_Name}}
                                  </mat-option>
                                </mat-autocomplete>
                                <mat-error> Valid Employee Name is required for edit </mat-error>
                            </mat-form-field> 


                        </div>
            
                        <div class="col-md-2" [formGroup]="_overtimeEditValidation">
                            <mat-form-field>
                                <input matInput [matDatepicker]="picker" placeholder="Over Time Date"  name= "OvertimeMonth" [(ngModel)]="overTime.overTimeDate" formControlName="overTimeDate"
                                    (click)="picker.open()">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                                <mat-error>  OverTime Date Field is required for edit </mat-error>
                            </mat-form-field>
                        </div>
            
                        <div class="col-md-2">
                            <button mat-raised-button type="submit" class="btn btn-fill btn-info" (click)="checkOverTime()">Check</button>
                            
                            <button mat-raised-button class="btn btn-fill btn-info" (click)="onType()">Edit</button>
                           
                            
                        </div>
                                    
                    </div>
                </form>
                
            </div>
       
        <div class="row">
            <div class="col-md-10 ml-auto mr-auto">
                <div class="card card-calendar">
                    <div class="card-body ">
                        <div id="fullCalendar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<add-overtime #addOvertimeModal> </add-overtime>
<edit-overtime #editOvertimeModal> </edit-overtime>