<style>
    .tab-pane .table tbody>tr>td:first-child {
        width: auto;
    }
</style>

<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div class="card ">

                <div class="card-header card-header-blue card-header-icon">
                    <div class="card-icon">
                        <!-- <i class="material-icons">assignment</i> -->
                        <i class="fa fa-money fa-2x" aria-hidden="true"></i>
                    </div>
                    <h4 class="card-title">Work Group</h4>
                </div>

                <div class="card-body ">
                    <ul class="nav nav-pills nav-pills-info" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" [class.active]="isDetail" [class.show]="isDetail" data-toggle="tab" href="#link1" role="tablist" (click)="ActiveDetail()">
                                Detail
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [class.active]="isHistory" [class.show]="isHistory" data-toggle="tab" href="#link2" role="tablist" (click)="ActiveHistory()">
                                History
                            </a>
                        </li>

                    </ul>
                    <div class="tab-content tab-space">
                        <div class="tab-pane" [class.active]="isDetail" id="link1">

                            <div class="row">

                                <div class="col-md-3">
                                    <mat-form-field>
                                        <mat-select placeholder="Select Type" name="Type" #itemtypeId [(ngModel)]="WorkGroupMaster.itemTypeId"
                                       (selectionChange)="onitemTypeChange($event ,itemtypeId.id)">

                                           <mat-option *ngFor="let option of ItemType" [value]="option.id">{{ option.name }}</mat-option>
                                       </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <mat-form-field>
                                        <mat-select placeholder="Select Category" name="Category" #categoryId [(ngModel)]="WorkGroupMaster.categoryId"
                                       (selectionChange)=" onCategoryChange($event ,categoryId.id)">
                                           <mat-option *ngFor="let option of Category" [value]="option.id">{{ option.name }}</mat-option>
                                       </mat-select>
                                        
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <mat-form-field>
                                        <mat-select placeholder="Select Sub Category" name="SubCategory" #subCategoryId [(ngModel)]="WorkGroupMaster.subCategoryId"
                                       (selectionChange)="onSubCategoryChange($event ,subCategoryId .id)">
                                           <mat-option *ngFor="let option of SubCategory" [value]="option.id">{{ option.name }}</mat-option>
                                       </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Group Name" type="text" [(ngModel)]="WorkGroupMaster.groupName"/>
                                    </mat-form-field>
                                </div>

                            </div>
                            <mat-divider></mat-divider>
                            <div class="row">

                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-select  multiple placeholder="Select Item" name="Item" #i [(ngModel)]="WorkGroupItemDetail.itemId">
                                            <mat-option *ngFor="let option of Item" [value]="option.id">{{ option.name }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <!-- <div class="col-md-6">
                                    <mat-form-field>
                                    <mat-select  placeholder="Select Employee" name="Employeee"  #e [(ngModel)]="WorkGroupEmployeeDetail.employeeId" (selectionChange)="employeeIndexChanged(e.value)">
                                        <mat-option *ngFor="let option of Employee" [value]="option.id">{{ option.employee_Name }}</mat-option>
                                    </mat-select>
                                    </mat-form-field>
                                </div> -->

                                <div class="col-md-5">
                                    <mat-form-field>
                                    <mat-select  placeholder="Select Employee" name="Employeee"  #e [(ngModel)]="WorkGroupEmployeeDetail.employeeId" (selectionChange)="employeeIndexChanged(e.value)">
                                        <mat-option *ngFor="let option of Employee" [value]="option.id">{{ option.employee_Name }}</mat-option>
                                    </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-1 ">
                                        <div style="padding-top: 16px; cursor:pointer;">
                                            <i class="fa fa-search" aria-hidden="true"(click)="addSearchDD()"></i>
                                        </div>
                                        </div>




                            </div>

                            <div class="material-datatables">
                                <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>{{ dataTable.headerRow[0] }}</th>
                                            <th>{{ dataTable.headerRow[1] }}</th>
                                            <th>{{ dataTable.headerRow[2] }}</th>
                                            <th>{{ dataTable.headerRow[3] }}</th>
                                            <th class="disabled-sorting text-right">{{ dataTable.footerRow[4] }}</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>{{ dataTable.footerRow[0] }}</th>
                                            <th>{{ dataTable.footerRow[1] }}</th>
                                            <th>{{ dataTable.footerRow[2] }}</th>
                                            <th>{{ dataTable.footerRow[3] }}</th>
                                            <th class="disabled-sorting text-right">{{ dataTable.footerRow[4] }}</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr *ngFor="let row of dataTable.dataRows">
                                            <td>{{row[0]}}</td>
                                            <td>{{row[1]}}</td>
                                            <td>{{row[2]}}</td>
                                            <td>{{row[3]}}</td>
                                            <td class="text-right">

                                                <a class="btn btn-link btn-warning btn-just-icon edit" (click)="EditEmployeeDetail(row[4])">
                                                    <i class="material-icons">dvr</i>
                                                </a>

                                                <a  class="btn btn-link btn-danger btn-just-icon remove">
                                                    <i class="material-icons" (click) = "DeleteWorkGroupEmployeeDetail(row[4])">close</i>
                                                </a>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <br />

                            <div class="row pull-right">
                                <button mat-raised-button type="submit" class="btn btn-fill btn-default" (click)="RefreshControls()">Reset</button>
                                <button mat-raised-button type="submit" class="btn btn-fill btn-info" *ngIf="isSaveBtn" (click)="save(i.value)">Save</button>
                                <button mat-raised-button type="submit" class="btn btn-fill btn-info" *ngIf="isEditBtn" (click)="edit()">Update</button>
                            </div>

                        </div>

                        <div class="tab-pane" [class.active]="isHistory" id="link2">

                            <div class="material-datatables">
                                <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                    <thead>
                                        <tr>
                                                <th>{{ dataTableHistory.headerRow[0] }}</th>
                                                <th>{{ dataTableHistory.headerRow[1] }}</th>
                                                <th>{{ dataTableHistory.headerRow[2] }}</th>
                                                <th>{{ dataTableHistory.headerRow[3] }}</th>
                                                <th class="disabled-sorting text-right">{{ dataTableHistory.footerRow[4] }}</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                                <th>{{ dataTableHistory.footerRow[0] }}</th>
                                                <th>{{ dataTableHistory.footerRow[1] }}</th>
                                                <th>{{ dataTableHistory.footerRow[2] }}</th>
                                                <th>{{ dataTableHistory.footerRow[3] }}</th>
                                                <th class="disabled-sorting text-right">{{ dataTableHistory.footerRow[4] }}</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr *ngFor="let row of dataTableHistory.dataRows">
                                                <td>{{row[0]}}</td>
                                                <td>{{row[1]}}</td>
                                                <td>{{row[2]}}</td>
                                                <td>{{row[3]}}</td>
                                            <td class="text-right">
                                                <a  class="btn btn-link btn-warning btn-just-icon edit">
                                                    <i class="material-icons" (click)="EditMasterDetail(row[4])">dvr</i>
                                                </a>
                                                <a  class="btn btn-link btn-danger btn-just-icon remove">
                                                    <i class="material-icons" (click) = "deleteWorkGroupMasterDetail(row[4])">close</i>
                                                </a>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<!-- POPUP -->

<edit-group #editGroupModal (modalSave)="updateWorkGroupEmployeeDetail()"></edit-group>
<app-search-employee #searchEmployeeDropdownModal (modalSave)="EmployeeId($event)"></app-search-employee>