<div bsModal #addZoneModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog"
  aria-labelledby="addZoneModal" aria-hidden="true" [config]="{backdrop: 'static'}">


  <div class="modal-dialog">

    <div #modalContent class="modal-content">



      <div class="card">



        <div class="card-header card-header-blue card-header-icon">
          <div class="card-icon">
              <i class="fa fa-floppy-o fa-2x" aria-hidden="true"></i>
          </div>
          <h4 class="card-title">Add Zone</h4>
        </div>
        <br />
        <form *ngIf="active" #addZoneForm="ngForm" id="frm_Add_Type" novalidate (ngSubmit)="onType()">


          <div class="card-body ">

            <div class="row">
              <div class="col-md-4" [formGroup]="_zone">

                <!-- <mat-form-field>
                  <mat-placeholder>Select Region</mat-placeholder>
                  <mat-select class="example-full-width" [(ngModel)]="Zone.regionId" name="regionId" formControlName="regionId">
                    <mat-option *ngFor="let option of Region" [value]="option.id">{{option.regionName}}</mat-option>
                  </mat-select>
                  <mat-error>  Region Name is required </mat-error>
                </mat-form-field> -->

                <mat-form-field class="example-full-width">
                  <input type="text" placeholder="Select Region" matInput [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]="regionName" name="regionName"
                     formControlName="regionName">
                  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayRegion">
                    <mat-option *ngFor="let option of filteredOptions | async " [value]="option">
                      {{option.regionName}}
                    </mat-option>
                  </mat-autocomplete>
                  <mat-error> Enter Valid Region Name </mat-error>
                </mat-form-field>


              </div>

              <div class="col-md-4" [formGroup]="_zone">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Zone Name" type="text" [(ngModel)]="Zone.zoneName" name="zoneName" formControlName="zoneName">
                  <mat-error>  Zone Name is required </mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-4">

                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Sort Order" type="number" [(ngModel)]="Zone.sortOrder" name="sortOrder">
                </mat-form-field>
              </div>
            </div>

            <div class="row">


              <div class="col-md-12">

                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Comments" type="text" [(ngModel)]="Zone.comments" name="comments">
                </mat-form-field>
              </div>
            </div>

            <div class="row">

              <div class="togglebutton">
                <label>
                  <input type="checkbox" checked [(ngModel)]="isActive" name="isActive">
                  <span class="toggle"></span>
                  Active
                </label>
              </div>
            </div>

          </div>
          <div class="card-footer ">
            <button mat-raised-button type="button" class="btn " (click)="close()">Close</button>
            <button mat-raised-button type="submit" class="btn btn-fill btn-info">Submit</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>