body{
	/*font-family: 'Roboto', sans-serif;
	font-size: 15px; */
}

h1{
	font-size: 1.5em;
	font-weight: bold;
	padding-bottom: 10px;
}

h2{
	font-size: 1.2em;
	font-weight: light;
	padding-bottom: 5px;	
}

h4{
	font-size: 1.2em;
	font-weight: light;
    color: #004085;
    padding-right: 5px;
    padding-top: 5px;


}

h3{
	font-size: 1em;
	font-weight: bold;
}

h5{
	font-size: 1.5em;
	font-weight: light;
	padding-bottom: 5px;
	padding-top: 3px;
	color: #0078d7;
}

a{
	color: #0078d7;
}

hr{
	background-color: #56bddb;
	width: 50%;
}


footer.page-footer .footer-copyright{
	background-color: #323232;
/*	position:absolute;
	width: 100%;
   bottom:0;*/
}


/* Scroolbar */

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.navbar
{
	color: #fff;
}

p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #0078d7;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: #3b3b3b;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #0078d7;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#dismiss:hover {
    background: #fff;
    color: #0078d7;
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    display: none;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #0078d7;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #0078d7;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #0078d7;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    /*content: '\e259';*/
    content: ">";
    display: block;
    position: absolute;
    right: 20px;
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    /*content: '\e260';*/
    content: "v";
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}
a.download {
    background: #fff;
    color: #7386D5;
}
a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

/* btn toggle */

.btn-toggle{
	background-color: transparent;
	border: none;
	color: #fff;
}

/*     USER GROUP  */

.blue-panel{
	background-color: #f1f5f8;
}

.blue-panel ul{
	list-style: none;
	padding: 15px;
}

.blue-panel li{
	padding-bottom: 30px;
	}

/* CONFIG MENU */

.config-nav{
	background-color: #0078d7;
	list-style: none;
	width: 50px;
    padding-left: 10px;
}

.config-nav li{
	padding-bottom: 10px;
	padding-top: 10px;
	display: block;
}

.hidden{
    display: none;
}

.nav-tabs {
  margin-bottom: 1rem;
}

.save-panel{
    background-color: #0078d7;
    width: 100%;
    color: #fff;
    padding: 10px;
    margin-top: 50px;
}

.center{
    margin-left: auto;
    margin-right: auto;
    float: none;
    width: auto;
    text-align: center;
}

/* POP STYLE */

.modal-header{
    background-color: #87b9f3;
    color: #FFF;
}

.modal-header h4{
    color: #082a51;
}

.modal-footer{
    background-color: #f8f9f8;
}