<div bsModal #addCategoryModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="addCategoryModal"
  aria-hidden="true" [config]="{backdrop: 'static'}">


  <div class="modal-dialog">

    <div #modalContent class="modal-content">



      <div class="card">



        <div class="card-header card-header-blue card-header-icon">
          <div class="card-icon">
            <i class="fa fa-floppy-o fa-2x" aria-hidden="true"></i>
          </div>
          <h4 class="card-title">Add Category</h4>
        </div>
        <br />
        <form *ngIf="active" #addCategoryForm="ngForm" id="frm_Add_Type" novalidate (ngSubmit)="onType()">


          <div class="card-body ">

            <div class="row">
              <div class="col-md-4">
                <mat-form-field class="example-full-width" >
                  
                  <!-- <input matInput placeholder="Code" type="text" [(ngModel)]="Category.code" name="code" disabled> -->

                  <input matInput placeholder="Document No" name="docNo" [(ngModel)]="Category.code" type="text"  *ngIf="isAutoCode"
                  disabled />

                  <input matInput placeholder="Document No" name="docNo" [(ngModel)]="Category.code"  *ngIf="!isAutoCode" type="text"  />
             
                  <!--
                  <input matInput placeholder="Code" type="text" [(ngModel)]="Category.code" name="code" #code="ngModel" [ngClass]="{'is-invalid':addCategoryForm.submitted && code.invalid}" required>
                  <div class="invalid-feeedback">
                    <div>
                      Cat-code is required
                    </div>
                  </div>-->
                </mat-form-field>
              </div>

              <div class="col-md-4"  [formGroup]="_cat">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Name" type="text" [(ngModel)]="Category.name" name="name"  formControlName="categoryName" >
                  <mat-error>  Category Name is required </mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-4">

                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Sort Order" type="number" [(ngModel)]="Category.sortOrder" name="sortOrder">
                </mat-form-field>
              </div>
            </div>

            <div class="row">


              <div class="col-md-12">

                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Remarks" type="text" [(ngModel)]="Category.remarks" name="remarks">
                </mat-form-field>
              </div>
            </div>


          </div>
          <div class="card-footer ">
            <button mat-raised-button type="button" class="btn " (click)="close()">Close</button>
            <button mat-raised-button type="submit" class="btn btn-fill btn-info">Submit</button>
          </div>
         
        </form>
        
      </div>
    </div>
  </div>
</div>