<div bsModal #editStateModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog"
  aria-labelledby="editStateModal" aria-hidden="true" [config]="{backdrop: 'static'}">


  <div class="modal-dialog">

    <div #modalContent class="modal-content">



      <div class="card">



        <div class="card-header card-header-blue card-header-icon">
          <div class="card-icon">
              <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
          </div>
          <h4 class="card-title">Edit State</h4>
        </div>
        <br />
        <form *ngIf="active" #editStateForm="ngForm" id="frm_edit_Type" novalidate (ngSubmit)="onType()">


          <div class="card-body ">

            <div class="row">
              <div class="col-md-4" [formGroup]="type" > 

                <!-- <mat-form-field>
                  <mat-placeholder>Select Country</mat-placeholder>
                  <mat-select class="example-full-width" [(ngModel)]="State.countryId" name="CountryID" formControlName="CountryID">
                    <mat-option *ngFor="let option of Country" [value]="option.id">{{option.name}}</mat-option>
                  </mat-select>
                  <mat-error> <strong> Please Select Country</strong>  </mat-error>
                </mat-form-field> -->

                <mat-form-field class="example-full-width">
                  <input type="text" placeholder="Select Country"   matInput [formControl]="myControl"  [(ngModel)]="cName" name="cName"
                     [matAutocomplete]="auto" [(ngModel)]="countryName" name="countryName" formControlName="countryName">
                  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayCountry">
                    <mat-option *ngFor="let option of filteredOptions | async " [value]="option">
                      {{option.name}}
                    </mat-option>
                  </mat-autocomplete>
                  <mat-error>  Enter Valid Country Name  </mat-error>
                </mat-form-field>

              </div>

              <div class="col-md-4" [formGroup]="type">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="State Name" type="text" [(ngModel)]="State.state_Name" name="State_name" formControlName="state_Name">
                  <mat-error> <strong> State name  is required</strong>  </mat-error>
                </mat-form-field>

              </div>

              <div class="col-md-4">

                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Sort Order" type="number" [(ngModel)]="State.sortOrder" name="sortOrder" >        
                </mat-form-field>
              </div>
            </div>

            <div class="row">


              <div class="col-md-12">

                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Comments" type="text" [(ngModel)]="State.comments" name="comments">
                </mat-form-field>
              </div>
            </div>

            <div class="row">

              <div class="togglebutton">
                <label>
                  <input type="checkbox" checked="" [(ngModel)]="State.isActive" name="isActive">
                  <span class="toggle"></span>
                  Active
                </label>
              </div>
            </div>

          </div>
          <div class="card-footer ">
            <button mat-raised-button type="button" class="btn " (click)="close()">Close</button>
            <button mat-raised-button type="submit" class="btn btn-fill btn-info">Submit</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>