
<div bsModal #AddLocationInfoModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="AddLocationInfoModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">

        <div #modalContent class="modal-content">

            <div class="card">
                <form *ngIf="active" #addDepartmentForm="ngForm" id="frm_add_pos" novalidate (ngSubmit)="save()">

                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">mail_outline</i>
                        </div>
                        <h4 class="card-title">Add Locatoin Information</h4>
                    </div>
                    <br />
                    <div class="card-body ">
                        <form method="#" action="#">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Code" name="code" [(ngModel)]="locationInfo.location_Code"  type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Name" name="name"  [(ngModel)]="locationInfo.location_Name" type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Phone No" name="phoneNo" [(ngModel)]="locationInfo.location_Phone" type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Fax" name="fax" [(ngModel)]="locationInfo.location_Fax" type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="URL" name="url" [(ngModel)]="locationInfo.location_Url" type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Type" name="type" [(ngModel)]="locationInfo.location_Type" type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Address" name="address" [(ngModel)]="locationInfo.location_Address" type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Mobil Number" name="mobileNo" [(ngModel)]="locationInfo.mobile_No" type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Comments" name="comments" [(ngModel)]="locationInfo.comments" type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Sort Order" name="sortOrder" [(ngModel)]="locationInfo.sort_Order" type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="togglebutton">
                                        <label>
                                            <input type="checkbox" name="allowMinus" [(ngModel)]="locationInfo.allowMinusStock"  checked="">
                                            <span class="toggle"></span>
                                            Minus Stock
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="togglebutton">
                                        <label>
                                            <input type="checkbox" checked name="active" [(ngModel)]="locationInfo.isActive" >
                                            <span class="toggle"></span>
                                            Active
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="togglebutton">
                                        <label>
                                            <input type="checkbox" name="selectAll" checked="">
                                            <span class="toggle"></span>
                                            Select All
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="togglebutton">
                                        <label>
                                            <input type="checkbox" checked="" name="restrictedItems" [(ngModel)]="locationInfo.restrictedItems">
                                            <span class="toggle"></span>
                                            Restricted Items
                                        </label>
                                    </div>
                                </div>
                            </div>
                            
                        </form>
                    </div>

                    <div class="card-footer ">

                        <button mat-raised-button type="submit" class="btn btn-fill btn-rose">Submit</button>
                        <button mat-raised-button type="button" class="btn " (click)="close()">Cancle</button>

                    </div>

                </form>
            </div>
            
        </div>
    </div>
</div>

<!-- //////////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->


<!-- <div bsModal #AddLocationInfoModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="AddLocationInfoModal" aria-hidden="true" [config]="{backdrop: 'static'}">
        <div class="modal-dialog">
    
            <div #modalContent class="modal-content">
    
                <form *ngIf="active" #LocationInfoForm="ngForm" id="frm_add_company" novalidate (ngSubmit)="save()">
                    <div class="modal-header">
                            <h4 class="modal-title">
                                    <span>Add Location Info</span>
                                </h4>
                                
                        <button type="button" class="close" (click)="close()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        
                    </div>
                    <div class="modal-body">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane animated fadeIn active" id="user-details">
    
                                <div class="row clearfix">
                                    <div class="col-sm-6">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                    <label for="name" class="form-label">Code</label>
                                                    <input id="name" type="text" name="name" [(ngModel)]="locationInfo.location_Code" required maxlength="32" minlength="2" class="validate form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <label for="Code" class="form-label">Name</label>
                                                <input id="Code" type="text" name="Code" [(ngModel)]="locationInfo.location_Name" required maxlength="32" class="validate form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="row clearfix">
                                    <div class="col-sm-6">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <label for="phoneNo" class="form-label">Phone No</label>
                                                <input id="phoneNo" type="text" name="phoneNo" [(ngModel)]="locationInfo.location_Phone" maxlength="256" class="validate form-control">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <label for="fax" class="form-label">FAX</label>
                                                    <input id="fax" type="text" name="fax" [(ngModel)]="locationInfo.location_Fax" maxlength="256" class="validate form-control">
                                                </div>
                                            </div>
                                        </div>

                                </div>
    
                                <div class="row clearfix">
                                    <div class="col-sm-6">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <label for="url" class="form-label">URL</label>
                                                <input id="url" type="text" name="url" [(ngModel)]="locationInfo.location_Url" required maxlength="32" class="validate form-control">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <label for="type" class="form-label">Type</label>
                                                    <input id="type" type="text" name="type" [(ngModel)]="locationInfo.location_Type" required maxlength="32" class="validate form-control">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                </div>
    
                              
                                    <div class="row clearfix">
                                            <div class="col-sm-12">
                                                <div class="form-group form-float">
                                                    <div class="form-line">
                                                            <label for="address" class="form-label">Address</label>
                                                            <input id="address" type="text" name="address" [(ngModel)]="locationInfo.location_Address" checked class="form-control" />
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row clearfix">
                                                <div class="col-sm-6">
                                                    <div class="form-group form-float">
                                                        <div class="form-line">
                                                                <label for="mobile" class="form-label">Mobile</label>
                                                                <input id="mobile" type="text" name="mobile" [(ngModel)]="locationInfo.mobile_No" checked class="form-control" />
                                                            
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-6">
                                                        <div class="form-group form-float">
                                                            <div class="form-line">
                                                                    <label for="comments" class="form-label">Comments</label>
                                                                    <input id="comments" type="text" name="comments" [(ngModel)]="locationInfo.comments" checked class="form-control" />
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>

                                            <div class="row clearfix">
                                                    <div class="col-sm-6">
                                                        <div class="form-group form-float">
                                                            <div class="form-line">
                                                                    <label for="sortorder" class="form-label">Sort Order</label>
                                                                    <input id="sortorder" type="text" name="sortorder" [(ngModel)]="locationInfo.sort_Order" checked class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
    
                                                    <div class="col-sm-6">
                                                            <div class="form-group form-float">
                                                                <div class="form-line">
                                                                        <div class="">
                                                                                <input id="allowminusstock" type="checkbox" name="allowminusstock" [(ngModel)]="locationInfo.allowMinusStock" checked class="form-control" />
                                                                                <label for="allowminusstock" class="form-label">Allow Minus Stock</label>
                                                                        </div>
                                                                        <div class="">
                                                                                <input id="restricteditems" type="checkbox" name="restricteditems" [(ngModel)]="locationInfo.restrictedItems" checked class="form-control" />
                                                                                <label for="restricteditems" class="form-label">Restricted Items</label>
                                                                        </div>
                                                                        <div class="">
                                                                                <input id="selectall" type="checkbox" name="selectall"  checked class="form-control" />
                                                                                <label for="selectall" class="form-label">Select All</label>
                                                                        </div>

                                                                        <div class="">
                                                                                <input id="active" type="checkbox" name="active" [(ngModel)]="locationInfo.isActive" checked class="form-control" />
                                                                                <label for="active" class="form-label">Active </label>
                                                                        </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </div>
                            </div>
                        </div>
    
                    </div>
                    <div class="modal-footer">
                        <button [disabled]="saving" type="button" class="btn btn-default waves-effect" (click)="close()">
                            Cancel
                        </button>
                        <button [disabled]="!LocationInfoForm.form.valid || saving" type="submit" class="btn btn-primary waves-effect">
                            Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
</div> -->