<div bsModal #editChartAccountSubSubDetailModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="editChartAccountSubSubDetailModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">
  
        <div #modalContent class="modal-content">
  
            <form *ngIf="active" #SubSubDetailModal="ngForm" id="frm_edit_sub_sub_detail" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                        <h4 class="modal-title">
                                <span>Edit Sub Sub Detail Account</span>
                            </h4>
                             
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    
                </div>
                <div class="modal-body">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane animated fadeIn active" id="user-details">
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                      <div class="form-line">
                                        <label for="chart_Of_Account_Type" class="form-label">Sub Sub A/C</label>
                                        <select name="chart_Of_Account_Type" [(ngModel)]="coaSubSubDetailAccount.mainSubSubId" 
                                                      class="form-control" id="chart_Of_Account_Type" 
                                                      (change)="onChartSubChange()">
                                            <option value="select">Select type</option>
                                            <option *ngFor='let option of AllSubAccount' [value]="option.id">{{ option.sub_sub_title }}</option>
                                        </select>
                                </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                  <div class="form-group form-float">
                                    <div class="form-line">
                                      <label for="parentAccount" class="form-label">Parent A/C</label>
                                      <select name="parentAccount" [(ngModel)]="coaSubSubDetailAccount.parentId" 
                                                    class="form-control" id="parentAccount" >
                                          <option value="select">Select type</option>
                                          <option *ngFor='let option of AllSubAccount' [value]="option.id">{{ option.detailTitle }}</option>
                                      </select>
                              </div>
                                  </div>
                              </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <label for="DetailTitle" class="form-label">Detail Title</label>
                                            <input id="DetailTitle" type="text" name="DetailTitle" [(ngModel)]="coaSubSubDetailAccount.detailTitle" required maxlength="32" class="validate form-control">
                                        </div>  
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                  <div class="form-group form-float">
                                      <div class="form-line">
                                          <label for="Code" class="form-label">Detail Code</label>
                                          <input id="Code" type="text" name="Code" [(ngModel)]="coaSubSubDetailAccount.detailCode" required maxlength="32" class="validate form-control">
                                      </div>
                                  </div>
                              </div>
                            </div> 
  
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <label for="Code" class="form-label">Opening Balance</label>
                                            <input id="Code" type="text" name="Code" [(ngModel)]="coaSubSubDetailAccount.openingBalance" required maxlength="32" class="validate form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                      <div class="form-line">
                                        <label for="accessLevel" class="form-label">Access level</label>
                                        <select name="accessLevel" [(ngModel)]="coaSubSubDetailAccount.accessLevel" 
                                                      class="form-control" id="accessLevel" >
                                            <option value="select">Select type</option>
                                            <option value="select">Everyone</option>
                                            <option value="select">Limited</option>
                                        </select>
                                </div>
                                    </div>
                                </div>
                            </div>
                          <div class="row clearfix">
                            <div class="col-sm-6">
                              <div class="form-group form-float">
                                  <div class="form-line">
                                      <input id="active" type="checkbox" name="active" [(ngModel)]="coaSubSubDetailAccount.isActive"   checked class="form-control" />
                                      <label for="active" class="form-label">Active</label>   
                                  </div>
                              </div>
                          </div>
                          </div>
                        </div>
  
                        </div>
                    </div>
  
                <!-- </div> -->
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default waves-effect" (click)="close()">
                        Cancel
                    </button>
                    <button [disabled]="!SubSubDetailModal.form.valid || saving" type="submit" class="btn btn-primary waves-effect">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
  </div>
  