<div bsModal #AddLoanRequestModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog"
    aria-labelledby="AddLoanRequestModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">

        <div #modalContent class="modal-content">

           <div class="card">
               
                    <div class="card-header card-header-blue card-header-icon">
                            <div class="card-icon">
                                    <i class="fa fa-floppy-o fa-2x" aria-hidden="true"></i>
                            </div>
                            <h4 class="card-title">Add Loan Request</h4>
                    </div>
            
                <br />

                <form *ngIf="active" #AddLoanRequestForm="ngForm" id="frm_add_company" novalidate (ngSubmit)="onType()">
                    <div class="card-body ">


                        <div class="row">

                            <div class="col-md-6 mr-auto">
                                <mat-form-field class="example-full-width">

                                    <!-- <input matInput placeholder="Document No" name="docNo" [(ngModel)]="loanRequest.docNo"
                                        type="text" disabled>
                                 -->

                                 <input matInput placeholder="Document No" name="docNo" [(ngModel)]="loanRequest.docNo" type="text"  *ngIf="isAutoCode"
                                 disabled />
             
                                 <input matInput placeholder="Document No" name="docNo" [(ngModel)]="loanRequest.docNo"  *ngIf="!isAutoCode" type="text"  />

                                </mat-form-field>
                            </div>

                            <div class="col-md-6 mr-auto">

                                <mat-form-field>
                                    <mat-placeholder>Document Date</mat-placeholder>
                                    <input matInput [matDatetimepicker]="datetimePicker" required autocomplete="true"
                                        [(ngModel)]="docDate" name="myDate">
                                    <mat-datetimepicker-toggle [for]="datetimePicker" matSuffix></mat-datetimepicker-toggle>
                                    <mat-datetimepicker #datetimePicker touchUi="true" type="datetime" openOnFocus="true"
                                        timeInterval="5"></mat-datetimepicker>
                                </mat-form-field>

                                <!-- <mat-form-field >
                                      <input matInput [matDatepicker]="picker" placeholder="Document Date" (click)="picker.open()">
                                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                      <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field> -->
                            </div>
                        </div>

                        <div class="row" >

                            <div class="col-md-5" [formGroup]="_loanRequestValidation">

                                <mat-form-field>
                                    <mat-select placeholder="Select Employee" [(ngModel)]="loanRequest.employeeId" name="employeeId"
                                        formControlName="employeeId">
                                        <mat-option *ngFor="let option of employee" [value]="option.id">{{option.employee_Name}}</mat-option>
                                    </mat-select>
                                    <mat-error> Employee Field is required </mat-error>
                                </mat-form-field>

                            </div>
                            <div class="col-md-1 ">
                                <div style="padding-top: 16px; cursor:pointer;">
                                    <i class="fa fa-search" aria-hidden="true" (click)="addSearchDD()"></i>
                                </div>
                            </div>

                            <div class="col-md-6 mr-auto"  [formGroup]="_loanRequestValidation" >
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Loan Amount" type="number" min="0" name="loanAmount"
                                        [(ngModel)]="loanRequest.loadAmount" formControlName="loanAmount">
                                    <mat-error> Loan Amount is required </mat-error>
                                </mat-form-field>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-6 " [formGroup]="_loanRequestValidation">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="number" placeholder="Monthly Repayement Amount" min="0" name="monthlyRepayementAmount"
                                        [(ngModel)]="loanRequest.monthlyRepayementAmount" formControlName="repaymentAmount">
                                    <mat-error> Repayment Monthly Amount is required </mat-error>
                                </mat-form-field>
                            </div>


                            <div class="col-md-6 mr-auto">

                                <mat-form-field>
                                    <mat-placeholder>Repayement Start Date</mat-placeholder>
                                    <input matInput [matDatetimepicker]="datetimePicker1" required autocomplete="true"
                                        [(ngModel)]="repayementStartDate" name="myDate">
                                    <mat-datetimepicker-toggle [for]="datetimePicker1" matSuffix></mat-datetimepicker-toggle>
                                    <mat-datetimepicker #datetimePicker1 touchUi="true" type="datetime" openOnFocus="true"
                                        timeInterval="5"></mat-datetimepicker>
                                </mat-form-field>

                                <!-- <mat-form-field >
                                                  <input matInput [matDatepicker]="picker1" placeholder="Repayement Start Date" (click)="picker1.open()">
                                                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                                  <mat-datepicker #picker1></mat-datepicker>
                                                </mat-form-field> -->
                            </div>

                        </div>


                        <mat-form-field class="example-full-width">
                            <textarea rows="2" matInput class="form-control" name="detail" placeholder="Detail"
                                (change)="doTextareaValueChange($event)" id="detail"></textarea>

                        </mat-form-field>

                    </div>

                    <div class="card-footer ">
                        <!-- <div class="row">
                              <div class="col-md-12" > -->
                        <button mat-raised-button type="button" class="btn " (click)="close()">Cancel</button>
                        <button mat-raised-button type="submit" class="btn btn-fill btn-rose">Submit</button>
                        <!-- </div>
                            </div> -->
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>


<app-search-employee #searchEmployeeDropdownModal (modalSave)="EmployeeId($event)"></app-search-employee>


<!-- <div class="modal-header">
        <h4 class="modal-title">
                <span>Add Loan Request</span>
        </h4>
            
    <button type="button" class="close" (click)="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    
</div>
<div class="modal-body">

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane animated fadeIn active" id="user-details">

            <div class="row clearfix">
                <div class="col-sm-6">
                    <div class="form-group form-float">
                        <div class="form-line">
                                <label for="name" class="form-label">Document No</label>
                                <input id="name" type="text" name="docNo" [(ngModel)]="loanRequest.docNo"  required maxlength="32" minlength="2" class="validate form-control">
                        </div>
                    </div>
                </div>
            </div>


                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label for="detail" class="form-label">Document Date</label>
                                
                            </div>
                        </div>
                    </div>
                </div> 
                
                <owl-date-time-inline [(ngModel)]="docDate" name = "docDate"></owl-date-time-inline>



               
                <br>
                <br>
                <br>

                <div class="row clearfix">
                    <div class="col-sm-7">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label for="applyvalue" class="form-label">Employee Name</label>
                               
                                <select name="employeeId" class="validate form-control" [(ngModel)]="loanRequest.employeeId" id="employeeId" >
                                    <option value="0" >Select Any Employee</option>
                                    <option *ngFor="let employee of employeeDropDown" class='' [value]="employee.id">{{employee.employee_Name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
            
                <div class="col-sm-5">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <label for="Value" class="form-label">Loan Amount</label>
                            <input id="Value" type="number" name="loadAmount" [(ngModel)]="loanRequest.loadAmount" required maxlength="32" class="validate form-control" min="0">
                        </div>
                    </div>
                </div>
                </div>
            

            <div class="row clearfix">
                <div class="col-sm-12">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <label for="monthlyRepayementAmount" class="form-label">Monthly Repayement Amount</label>
                            <input id="monthlyRepayementAmount" type="number" name="monthlyRepayementAmount" [(ngModel)]="loanRequest.monthlyRepayementAmount" required maxlength="32" class="validate form-control" min="0">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-sm-12">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <label for="detail" class="form-label">Repayement Start Date</label>
                            
                        </div>
                    </div>
                </div>
            </div> 
            
            <owl-date-time-inline [(ngModel)]="repayementStartDate" name = "repayementStartDate"></owl-date-time-inline>


            <br>
            <br>
            <br>

            <div class="row clearfix">
                <div class="col-sm-12">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <label for="detail" class="form-label">Detail</label>
                            <textarea class="form-control" rows="5" name="detail" (change)="doTextareaValueChange($event)" id="detail"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            
           

        </div>
    </div>

</div>
<div class="modal-footer">
    <button [disabled]="saving" type="button" class="btn btn-default waves-effect" (click)="close()">
        Cancel
    </button>
    <button [disabled]="!AddLoanRequestForm.form.valid || saving" type="submit" class="btn btn-primary waves-effect">
        Save
    </button>
</div> -->