<div bsModal #addLeaveQuotaModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="addLeaveQuotaModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">

        <div #modalContent class="modal-content">

            
           
                <div class="card">
                    <form *ngIf="active" #addLeaveQuotaForm="ngForm" id="frm_add_Leave_quota" novalidate (ngSubmit)="save()">

                        <div class="card-header card-header-blue card-header-icon">
                            <div class="card-icon">
                              <i class="material-icons">mail_outline</i>
                            </div>
                            <h4 class="card-title">Add Leave Quota</h4>
                          </div>
                          <br />
                          <div class="card-body ">
                            <form method="#" action="#">
                              
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Leave Type" type="text" />
                                          </mat-form-field>
                                    </div>

                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Allowed Leaves" type="text" />
                                          </mat-form-field>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field >
                                            <input matInput [matDatepicker]="picker" placeholder="Reset date" (click)="picker.open()">
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                          </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Leaves Note" type="text" />
                                          </mat-form-field>
                                    </div>
                                </div>
                       
                              <div class="togglebutton">
                                <label>
                                  <input type="checkbox" checked>
                                  <span class="toggle"></span>
                                  Active
                                </label>
                              </div>
                              
                            
                            </form>
                          </div>

                          <div class="card-footer ">
                              <button mat-raised-button type="submit" class="btn btn-fill btn-default" (click)="close()">Close</button> 
                            <button mat-raised-button type="submit" class="btn btn-fill btn-info">Submit</button>
                           
                          </div>

                    </form>                    
                </div>

           
        </div>
    </div>
</div>