<div bsModal #createUserImgModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="createUserImgModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">

        <div #modalContent class="modal-content">

          <div class="card">
          
                <div class="card-header card-header-blue card-header-icon">
                    <div class="card-icon">
                        <i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i>
                    </div>

                    <button type="button"  class="close" (click)="close()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                    </button>

                    <h4 class="card-title">User Profile Image</h4>

                  </div>


                  <br />
                  
                    <form *ngIf="active" #createUserImgForm="ngForm" id="frm_create_user_img" novalidate (ngSubmit)="uploadUserPic()">
                       
                            <div class="card-body ">
                        <div class="row">
                            
                                <div class="col-md-4 col-sm-3">
     
                                </div>
                                <div class="col-md-4 col-sm-3" >
                                    
                                        
                                        <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                            <div class="fileinput-new thumbnail img-circle"  >
                                                <img src="./assets/img/placeholder.jpg" alt="...">
                                            </div>
                                            <div class="fileinput-preview fileinput-exists thumbnail img-circle" ></div>
                                            <div>
                                                <span class="btn btn-round btn-rose btn-file">
                                                    <span class="fileinput-new">Add Photo</span>
                                                    <span class="fileinput-exists">Change</span>
                                                    <input type="file" #userPic (change)="onSelectFile($event)">
                                                </span>
                                                <br />
                                                <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                                            </div>
                                        </div>
                                    
                                    
                                </div>
                                <div class="col-md-4 col-sm-3" ></div>
                            
                        </div>
                    
                  </div>

                  <div class="card-footer ">
                        <button mat-raised-button type="button"  class="btn " (click)="close()">Close</button>
                        <button mat-raised-button type="submit" [disabled]="isDisable" class="btn btn-fill btn-info">Save</button>
                  </div>

                </form>

          </div>
        </div>
    </div>
</div>






<!-- <div class="modal-header">
    <h4 class="modal-title">
            <span>{{l("User Image")}}</span>
        </h4>
        
<button type="button" class="close" (click)="close()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
</button>

</div>
<div class="modal-body">

<div class="row clearfix">
    <div class="col-md-12">
        <label style="font-size: 1.2em; font-weight: bolder;">Profile Picture</label> 
        <input type='file' #userPic class="form-control"  placeholder="Image" (change)="onSelectFile($event)" >
    </div>
</div>

</div>
<div class="modal-footer">
<button [disabled]="saving" type="button" class="btn btn-default waves-effect" (click)="close()">
    {{l("Cancel")}}
</button>
<button [disabled]="isDisable" type="submit" class="btn btn-primary waves-effect">
    {{l("Save")}}
</button>
</div> -->