<div bsModal #addBonusModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog"
    aria-labelledby="addBonusModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">

        <div #modalContent class="modal-content">



            <div class="card">
                <form *ngIf="active" #addBonusForm="ngForm" id="frm_add_bonus" novalidate (ngSubmit)="onType()">

                    <div class="card-header card-header-blue card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-floppy-o fa-2x" aria-hidden="true"></i>
                        </div>
                        <h4 class="card-title">Add Bonus</h4>
                    </div>
                    <br />
                    <div class="card-body ">
                       
                        <!-- <form role="form"> -->

                            <div class="row">
                                <div class="col-md-6">
                                    <!-- <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Document No" type="text" name="documentNo" id="documentNo"
                                            [(ngModel)]="Bonus.documentNo" disabled />
                                    </mat-form-field> -->


                                    <mat-form-field class="example-full-width">

                                        <input matInput placeholder="Document No" name="docNo" [(ngModel)]="Bonus.documentNo" type="text"  *ngIf="isAutoCode"
                                          disabled />
                      
                                          <input matInput placeholder="Document No" name="docNo" [(ngModel)]="Bonus.documentNo"  *ngIf="!isAutoCode" type="text"  />
                                     
                                    </mat-form-field>



                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <input matInput [matDatepicker]="picker" placeholder="Document Date" (click)="picker.open()"
                                            name="documentDate" id="documentDate" [(ngModel)]="Bonus.documentDate">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6" [formGroup]="_bonusValidation">
                                    <mat-form-field>
                                        <input matInput [matDatepicker]="picker1" placeholder="Bonus Date" (click)="picker1.open()"
                                            name="BonusDate" id="documentDate" [(ngModel)]="Bonus.bonusDate"
                                            formControlName="bonusDate">
                                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                        <mat-datepicker #picker1></mat-datepicker>
                                        <mat-error> Bonus Date is required </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6" [formGroup]="_bonusValidation">
                                    <!-- <mat-form-field>
                                            <mat-select placeholder="Select Employee" name="Employee" id="Employee" [(ngModel)]="Bonus.employeeId">
                                              <mat-option *ngFor="let option of employee" [value]="option.id">{{option.employee_Name}}</mat-option>
                                            </mat-select>
                                        </mat-form-field> -->
                                    <mat-form-field class="example-full-width">
                                        <input type="text" placeholder="Select Employee" matInput [formControl]="myControl"
                                            [matAutocomplete]="auto" [(ngModel)]="empName" name="empName"
                                            formControlName="employeeId">
                                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayEmployee">
                                            <mat-option *ngFor="let option of filteredOptions | async " [value]="option">
                                                {{option.employee_Name}}
                                            </mat-option>
                                        </mat-autocomplete>
                                        <mat-error> Enter Valid employee Name </mat-error>
                                    </mat-form-field>


                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-6" [formGroup]="_bonusValidation">
                                    <mat-form-field>
                                        <mat-select placeholder="Select Bonus Type" name="BonusType" id="allowance-type"
                                            [(ngModel)]="Bonus.bonusTypeId" formControlName="bonusTypeId">
                                            <mat-option *ngFor="let option of BonusType" [value]="option.id">{{option.bonusTitle}}</mat-option>
                                        </mat-select>
                                        <mat-error> Bonus Type is required </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Percentage" type="text" name="percentage" id="percentage"
                                            [(ngModel)]="Bonus.percentage" />
                                    </mat-form-field>
                                </div>
                            </div>


                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Bonus detail" type="text" name="detail " id="detail"
                                    [(ngModel)]="Bonus.detail" />
                            </mat-form-field>


                        <!-- </form> -->
                    </div>

                    <div class="card-footer ">
                        <button mat-raised-button type="submit" class="btn" (click)="close()">Close</button>
                        <button mat-raised-button type="submit" class="btn btn-fill btn-info">Submit</button>
                    </div>

                </form>
            </div>


        </div>
    </div>
</div>