﻿<!-- <span class="fa fa-facebook" (click)="signInWithFB()"></span>
                    <span class="fa fa-twitter" (click)="signInWithTwitter()"></span>
                    <span class="fa fa-google" (click)="signInWithGoogle()"></span>
                    <span class="fa fa-linkedin" (click)="signInWithLinkedIn()"></span> -->




<div class="wrapper wrapper-full-page">
  <div class="page-header login-page header-filter" filter-color="black" style="background-image: url('./assets/img/login-back-cover.png'); background-size: cover; background-position: top center;">
    <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
    <div class="container">
      <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
        <form class="form" method="" action="">
          <div class="card card-login card-hidden">
            <div class="card-header card-header-blue text-center">
              <h4 class="card-title">Log in</h4>
              <div class="social-line">
                <a (click)="signInWithFB()" class="btn btn-just-icon btn-link btn-white">
                  <i class="fa fa-facebook-square"></i>
                </a>
                <a (click)="signInWithTwitter()" class="btn btn-just-icon btn-link btn-white">
                  <i class="fa fa-twitter"></i>
                </a>
                <a (click)="signInWithGoogle()" class="btn btn-just-icon btn-link btn-white">
                  <i class="fa fa-google-plus"></i>
                </a>
                <a (click)="signInWithLinkedIn()" class="btn btn-just-icon btn-link btn-white">
                  <!-- subscribeToLogin()() -->
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <div class="card-body ">
              <!-- <p class="card-description text-center">Or Be Classical</p> -->
              <span class="bmd-form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">email</i>
                    </span>
                  </div>
                  <input type="text" class="form-control" placeholder="UserNameOrEmail" [(ngModel)]="loginService.authenticateModel.userNameOrEmailAddress"
                    name="userNameOrEmailAddress">
                </div>
              </span>
              <span class="bmd-form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">lock_outline</i>
                    </span>
                  </div>
                  <input type="password" [(ngModel)]="loginService.authenticateModel.password" name="password" class="form-control" placeholder="Password...">
                </div>
              </span>
              <span class="bmd-form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <mat-checkbox class="example-margin" [(ngModel)]="loginService.rememberMe" name = "rememberMe">
                        Remember Me
                        </mat-checkbox>
                    </span>
                  </div>
                  
                </div>
              </span>
            </div>
            <div class="card-footer justify-content-center" (click)="login()" style="cursor: pointer;">
              <button class="btn btn-info">Lets Go</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <footer class="footer ">
      <div class="container">
        <nav class="pull-left">
          <ul>

            <li>
              <a href="https://softbeats.net/about-us">
                About Us
              </a>
            </li>
            <li>
              <a href="http://softbeats.net/blog/">
                Blog
              </a>
            </li>

          </ul>
        </nav>
        <div class="copyright pull-right">
          &copy; {{test | date: 'yyyy'}}, made with
          <i class="material-icons">favorite</i> by
          <a href="https://www.softbeats.net" target="_blank">Softbeats</a>.
        </div>
      </div>
    </footer>
  </div>
</div>


<social #createSocialModal (modalSave)="socialMediaLogin($event)"></social>