<div bsModal #createRoleModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="createRoleModal" aria-hidden="true" [config]="{backdrop: 'static'}">
        <div class="modal-dialog">
    
            <div #modalContent class="modal-content">
    
                <div class="card">
    
                        <div class="card-header card-header-blue card-header-icon">
                                <div class="card-icon">
                                    <i class="fa fa-user-o fa-2x" aria-hidden="true"></i>
                                </div>

                                <button type="button"  class="close" (click)="close()" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                </button>

                                <h4 class="card-title">Add Role</h4>

                              </div>


                              <br />
                             
                                <form *ngIf="active" #createRoleForm="ngForm" id="frm_create_role" novalidate (ngSubmit)="save()">
                                  
                                        <div class="card-body ">

                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Role Name" name="RoleName" [(ngModel)]="role.name" type="text">
                                  </mat-form-field>

                                  <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Display Name" name="DisplayName" [(ngModel)]="role.displayName" type="text">
                                  </mat-form-field>

                                  <mat-form-field class="example-full-width">
                                    <textarea rows="2" matInput class="form-control" name="Description" [(ngModel)]="role.description" name="Description" placeholder = "Description"  id="description"></textarea>
                                  </mat-form-field>
                                  
                                  <div class="row">
                                    <div class="col-sm-12">
                                            <h4>Permissions</h4>
                        
                                            <div #jstreearea id="data" name="permission" >
                                                <ul *ngFor="let v of rootnode">
                                                    <li id='{{v.value}}'>
                                                        {{v.name}}
                                                        <ul *ngFor="let v1 of v.children">
                        
                                                            <li data-jstree='{ "selected" :false}' id='{{v1.value}}'>{{v1.name}}</li>
                                                        </ul>
                                                    </li>
                                                </ul>
                        
                                            </div>
                                            
                                    </div>
                                </div>
                                  
                               
                              </div>

                              <div class="card-footer ">
                                    <button mat-raised-button type="button"  class="btn " (click)="close()">Close</button>
                                    <button mat-raised-button type="submit" class="btn btn-fill btn-info">Submit</button>
                              </div> 

                            </form>

                </div>
            </div>
        </div>
    </div>







    <!-- <div class="modal-header">
            <button type="button" class="close" (click)="close()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">
                <span>{{l("CreateNewRole")}}</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="row clearfix">
                <div class="col-sm-12">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input id="rolename" type="text" name="RoleName" [(ngModel)]="role.name" required maxlength="32" minlength="2" class="validate form-control">
                            <label for="rolename" class="form-label">{{l("RoleName")}}</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-sm-12">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input id="displayname" type="text" name="DisplayName" [(ngModel)]="role.displayName" required maxlength="32" minlength="2" class="validate form-control">
                            <label for="displayname" class="form-label">{{l("DisplayName")}}</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <textarea id="role-description" name="Description" [(ngModel)]="role.description" class="validate form-control"></textarea>
                            <label for="role-description" class="form-label">Role Description</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-sm-12">
                    <h4>Permissions</h4>

                    <div #jstreearea id="data" name="permission" >
                        <ul *ngFor="let v of rootnode">
                            <li id='{{v.value}}'>
                                {{v.name}}
                                <ul *ngFor="let v1 of v.children">

                                    <li data-jstree='{ "selected" :false}' id='{{v1.value}}'>{{v1.name}}</li>
                                </ul>
                            </li>
                        </ul>

                    </div>
                    
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button [disabled]="saving" type="button" class="btn btn-default waves-effect" (click)="close()">
                {{l("Cancel")}}
            </button>
            <button [disabled]="!createRoleForm.form.valid || saving" type="submit" class="btn btn-primary waves-effect">
                {{l("Save")}}
            </button>
        </div> -->