<div bsModal #editJobTypeModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="editJobTypeModal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">

        <div class="modal-dialog">

            <div #modalContent class="modal-content">



                <div class="card">
                    <form *ngIf="active" #addJobTypeForm="ngForm" id="frm_Job_Type" novalidate (ngSubmit)="onType()">

                        <div class="card-header card-header-blue card-header-icon">
                            <div class="card-icon">
                                    <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
                            </div>
                            <h4 class="card-title">Edit Job type</h4>
                        </div>
                        <br />
                        <div class="card-body ">
                            <form method="#" action="#">
                                <mat-form-field class="example-full-width">
                            
                                <!-- <input matInput placeholder="Code" name="code" [(ngModel)]="jobType.code"  type="Code" disabled>
                                                             -->
                            
                                <input matInput placeholder="Code" name="docNo" [(ngModel)]="jobType.code" type="text" *ngIf="isAutoCode" disabled />
                            
                                <input matInput placeholder="Code" name="docNo" [(ngModel)]="jobType.code" *ngIf="!isAutoCode" type="text" />
                            
                            </mat-form-field>
                                <mat-form-field class="example-full-width" [formGroup]="_jobTypeValidation">
                                    <input matInput placeholder="Job Type Title" name="title" [(ngModel)]="jobType.jobTypeTitle"  type="text" formControlName="jobType">
                                    <mat-error>Job Type Title Field is required </mat-error>
                                </mat-form-field>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Comments" name="comments" [(ngModel)]="jobType.comments" type="text">
                                </mat-form-field>
                                <mat-form-field class="example-full-width">
                                    <input matInput type="number" min="0" max="2" name="sortOrder" [(ngModel)]="jobType.sortOrder" placeholder="Sort Order">
                                </mat-form-field>
                                <div class="togglebutton">
                                    <label>
                                        <input type="checkbox" checked="" name="active" [(ngModel)]="jobType.isActive" >
                                        <span class="toggle"></span>
                                        Active
                                    </label>
                                </div>


                            </form>
                        </div>

                        <div class="card-footer ">

                            <button mat-raised-button type="button" class="btn " (click)="close()">Cancel</button>
                            <button mat-raised-button type="submit" class="btn btn-fill btn-rose">Submit</button>


                        </div>

                    </form>
                </div>


            </div>
        </div>
    </div>
</div>