<div bsModal #addBeltModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog"
  aria-labelledby="addBeltModal" aria-hidden="true" [config]="{backdrop: 'static'}">


  <div class="modal-dialog">

    <div #modalContent class="modal-content">



      <div class="card">



        <div class="card-header card-header-blue card-header-icon">
          <div class="card-icon">
            <i class="fa fa-floppy-o fa-2x" aria-hidden="true"></i>
          </div>
          <h4 class="card-title">Add Belt</h4>
        </div>
        <br />
        <form *ngIf="active" #addBeltForm="ngForm" id="frm_Add_Type" novalidate (ngSubmit)="onType()">


          <div class="card-body ">

            <div class="row">
              <div class="col-md-4"  [formGroup]="_belt">

                <!-- <mat-form-field>
                  <mat-placeholder>Select Zone</mat-placeholder>
                  <mat-select class="example-full-width" [(ngModel)]="Belt.zoneId" name="zoneId" formControlName="zoneId">
                    <mat-option *ngFor="let option of Zone" [value]="option.id">{{option.zoneName}}</mat-option>
                  </mat-select>
                  <mat-error>  Zone Name is required </mat-error>
                </mat-form-field> -->
                <mat-form-field class="example-full-width">
                  <input type="text" placeholder="Select Zone" matInput [formControl]="myControl" [matAutocomplete]="auto"
                    [(ngModel)]="zoneName" name="zoneName" formControlName="zoneId">
                  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayZone">
                    <mat-option *ngFor="let option of filteredOptions | async " [value]="option">
                      {{option.zoneName}}
                    </mat-option>
                  </mat-autocomplete>
                  <mat-error> Enter Valid Zone Name </mat-error>
                </mat-form-field>

              </div>

              <div class="col-md-4"  [formGroup]="_belt">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Belt Name" type="text" [(ngModel)]="Belt.belt_Name" name="name" formControlName="beltName">
                  <mat-error>  Belt Name is required </mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-4">

                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Sort Order" type="number" [(ngModel)]="Belt.sortOrder" name="sortOrder">
                </mat-form-field>
              </div>
            </div>

            <div class="row">


              <div class="col-md-12">

                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Comments" type="text" [(ngModel)]="Belt.comments" name="comments">
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              
              <div class="togglebutton">
                <label>
                  <input type="checkbox" checked [(ngModel)]="isActive" name="isActive">
                  <span class="toggle"></span>
                  Active
                </label>
              </div>
            </div>

          </div>
          <div class="card-footer ">
            <button mat-raised-button type="button" class="btn " (click)="close()">Close</button>
            <button mat-raised-button type="submit" class="btn btn-fill btn-info">Submit</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>