<div bsModal #editDeductionTypeModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="editDeductionTypeModal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">

        <div class="modal-dialog">

            <div #modalContent class="modal-content">



                <div class="card">
                    <form *ngIf="active" #editDeductionTypeForm="ngForm" id="frm_Deduction_Type" novalidate (ngSubmit)="onType()">

                        <div class="card-header card-header-blue card-header-icon">
                            <div class="card-icon">
                                    <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
                            </div>
                            <h4 class="card-title">Edit Deduction Type</h4>
                        </div>
                        <br />
                        <div class="card-body ">
                            <form method="#" action="#">
                                <div class="row" [formGroup]="_deductionTypeValidation">
                                    <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Deduction Type" name="deductionType" [(ngModel)]="deduction.deductionTitle" type="Code" formControlName="deductionTitle">
                                                    <mat-error>Deduction Type title field is required</mat-error>
                                            </mat-form-field>
                                    </div>

                                    <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Deduction Amount" name="deductionTitle" [(ngModel)]="deduction.deductionAmmount" type="number" formControlName="deductionAmount">
                                                    <mat-error>Deduction Amount field is required</mat-error>
                                            </mat-form-field>
                                    </div>
                                </div>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Detail" name="deductionDetail" [(ngModel)]="deduction.deductionDetail" type="text">
                                </mat-form-field>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Sort Order" name="sortOrder" [(ngModel)]="deduction.sortOrder" type="number" min="0" max="2">
                                </mat-form-field>
                            </form>
                        </div>

                        <div class="card-footer ">

                            <button mat-raised-button type="button" class="btn " (click)="close()">Close</button>
                            <button mat-raised-button type="submit" class="btn btn-fill btn-info">Submit</button>


                        </div>

                    </form>
                </div>


            </div>
        </div>
    </div>
</div>