<div bsModal #addDepartmentModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="addDepartmentModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">

        <div #modalContent class="modal-content">

            
           
                <div class="card">
                    <form *ngIf="active" #addDepartmentForm="ngForm" id="frm_add_pos" novalidate (ngSubmit)="onType()">

                        <div class="card-header card-header-blue card-header-icon">
                            <div class="card-icon">
                              <i class="fa fa-floppy-o fa-2x" aria-hidden="true"></i>
                            </div>
                            <h4 class="card-title">Add Department</h4>
                          </div>
                          <br />
                          <div class="card-body ">
                            <form method="#" action="#">
                              
                              <mat-form-field class="example-full-width">

                                <!-- <input matInput placeholder="Code" name="code" [(ngModel)]="department.code"  type="text" disabled />
                               -->
                               <input matInput placeholder="Code" name="docNo" [(ngModel)]="department.code" type="text"  *ngIf="isAutoCode"
                               disabled />
             
                               <input matInput placeholder="Code" name="docNo" [(ngModel)]="department.code"  *ngIf="!isAutoCode" type="text"  />
                          
        
                              </mat-form-field>

                              <mat-form-field class="example-full-width"  [formGroup]="_departmentValidation">
                                <input matInput placeholder="Department Title" name="title" [(ngModel)]="department.title" type="text"  formControlName="departmentTitle"/>
                                <mat-error>  Department Title is required </mat-error>
                              </mat-form-field>

                              <mat-form-field>
                                <mat-select placeholder="Salary Group" name="salary-group" [(ngModel)]="department.salaryGroup" >
                                  <mat-option value="Development">Development</mat-option>
                                  <mat-option value="Support">Support</mat-option>
                                  <mat-option value="Sales">Sales and Marketing</mat-option>
                                </mat-select>
                            </mat-form-field>
                              
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Sort Order" [(ngModel)]="department.sortOrder" name="sortOrder" type="text">
                              </mat-form-field>

                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Comments" name="comments" [(ngModel)]="department.comments" type="text">
                              </mat-form-field>
                              
                              <div class="togglebutton">
                                <label>
                                  <input type="checkbox" checked name="active" [(ngModel)]="department.isActive">
                                  <span class="toggle"></span>
                                  Active
                                </label>
                              </div>
                            
                            </form>
                          </div>

                          <div class="card-footer ">
                            <button mat-raised-button type="button"  class="btn" (click)="close()">Close</button>
                            <button mat-raised-button type="submit" class="btn btn-fill btn-info">Submit</button>
                           
                          </div>

                    </form>                    
                </div>

           
        </div>
    </div>
</div>