<div bsModal #addAdditionalLeaveModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="addAdditionalLeaveModal"
  aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog">

    <div class="modal-dialog">

      <div #modalContent class="modal-content">



        <div class="card">
          <form *ngIf="active" #addAdditionalLeaveForm="ngForm" id="frm_Additional_Leave" novalidate (ngSubmit)="onType()">

            <div class="card-header card-header-blue card-header-icon">
              <div class="card-icon">
                <i class="fa fa-floppy-o fa-2x" aria-hidden="true"></i>
              </div>
              <h4 class="card-title">Add Additional Leave</h4>
            </div>
            <br />
            <div class="card-body ">
              <form method="#" action="#">
                <div class="row">

                  <div class="col-md-4" [formGroup]="_additionalLeave">
                    <!-- <mat-form-field>
                      <mat-select placeholder="Employee" [(ngModel)]="additionalLeave.employeeId" name="employee" formControlName="employeeId">
                        <mat-option *ngFor="let option of employeeDDList" [value]="option.id">
                          {{option.employee_Name}}
                        </mat-option>
                      </mat-select>
                      <mat-error>  Employee Name is required </mat-error>
                    </mat-form-field> -->

                    <mat-form-field class="example-full-width">
                      <input type="text" placeholder="Select Employee" matInput [formControl]="myControl" [matAutocomplete]="auto"
                        [(ngModel)]="empName" name="empName" formControlName="employeeId">
                      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayEmployee">
                        <mat-option *ngFor="let option of filteredOptions | async " [value]="option">
                          {{option.employee_Name}}
                        </mat-option>
                      </mat-autocomplete>
                      <mat-error> Enter Valid employee Name </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4" [formGroup]="_additionalLeave">
                    <mat-form-field>
                      <mat-select placeholder="Leave Type" [(ngModel)]="additionalLeave.leaveTypeId" name="leavetype" formControlName="leaveTypeId">
                        <mat-option *ngFor="let option of leaveTypeDDList" [value]="option.id">
                          {{option.leaveTypeName}}
                        </mat-option>
                      </mat-select>
                      <mat-error>  Leave Type is required </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Additional Leave" name="additionalLeave" [(ngModel)]="additionalLeave.additionalLeaves" type="number">
                    </mat-form-field>
                  </div>


                </div>


                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                      <textarea matInput placeholder="Detail" name="detail" [(ngModel)]="additionalLeave.detail" rows="2"></textarea>
                    </mat-form-field>

                  </div>
                </div>



              </form>
            </div>

            <div class="card-footer ">

              <button mat-raised-button type="button" class="btn " (click)="close()">Close</button>
              <button mat-raised-button type="submit" class="btn btn-fill btn-info">Submit</button>


            </div>

          </form>
        </div>


      </div>
    </div>
  </div>
</div>